.w-30 {
    width: 20%;
}

.nav-pills .nav-link.active {
    background: transparent;
    color: #ff6633;
    font-weight: 500;
    border-bottom: 2px solid #ff6633;
    border-radius: 0;
    font-size: 16px;
}

.nav-pills .nav-link {
    font-size: 16px;
    color: #ff6633;
}

.orangeb-btn {
    padding: 5px 10px;
    border: 2px solid #ff6633;
    background: transparent;
    color: #ff6633;
    border-radius: 5px;
    font-weight: 500;
}

.orangeb-btn:hover {
    background-color: #ff6633;
    color: #fff;
    transition: .3s;
}

.accordion-item {
    border: 1px solid #EEEEEE;
}

.accordion-button {
    font-size: 17px;
    font-weight: 500;
    padding: 15px 20px;
}

.accordion-button:not(.collapsed) {
    background-color: #F9D9CC;
    color: #ff6633;
}


.accordion-button.collapsed::after {

    // background: url("../../assets/imgs/fi_chevron-down.png"); 
    width: 30px;
    background-repeat: no-repeat;
    height: 30px;
    background-size: auto;

}

.accordion-button:not(.collapsed)::after {
    // background: url("../../assets/imgs/fi_chevron-down.png"); 
    transform: rotate(-180deg);
    width: 30px;
    background-repeat: no-repeat;
    height: 30px;
    background-size: auto;
}

.accordion-body {
    color: #201E1F;
    font-size: 20px;
}

.accordion {
    margin-bottom: 30px;
}

.text-p {
    color: #483D53;
    font-size: 15px;
    font-weight: 400;
}

// .accordion-button:not(.collapsed)::after {
//     background-image: var(--bs-accordion-btn-icon);
// }

.form-control:focus {
    border-color: #faddd1;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 142 95 / 39%)
}

.btn-close:focus {
    border-color: #faddd1;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 142 95 / 39%)
}

.form-check-input:focus {
    border-color: #faddd1;
    box-shadow: 0 0 0 0.25rem rgb(255 142 95 / 39%)
}

.form-check-input:checked {
    background-color: #FF6633;
    border-color: #FF6633;
}

.accordion-button:focus {
    border-color: #faddd1;
    box-shadow: 0 0 0 0.25rem rgb(255 142 95 / 39%)
}

.accordion-collapse{
    padding: 15px;
}

.f-18{
    font-size: 18px;
    font-weight: 500;
}

@media (max-width:765px) {
    .purple-text {
        font-size: 15px;
    }

    .accordion-button {
        padding: 10px 15px;
    }

    .text-p {
        font-size: 11px;
    }

    .heading {
        width: 100%;
    }

    .accordion-button,
    .accordion-body {
        font-size: 12px;
    }


    .accordion-button:not(.collapsed)::after {
        width: 20px;
        height: 20px;
    }

    .accordion-button.collapsed::after {
        width: 20px;
        height: 20px;
    }
}