<div class="page-header">
    <div class="page-title">
        <h4> Add Membership</h4>
        <h6>Create new Membership </h6>
    </div>
</div>
<!-- /add -->
<div class="card">
    <div class="card-body">
        <form [formGroup]="membershipForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Title*</label>
                        <input type="text" formControlName="title" placeholder="Enter title" id="title" [ngClass]="{
                      'is-invalid': f['title'].touched && f['title'].invalid}">
                        <span class="text-danger" *ngIf="title && title.invalid && title.touched">Enter your Title </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Points Per 100*</label>
                        <input type="number" formControlName="points_per_100" placeholder="Enter Points Per 100" id="points_per_100" [ngClass]="{
                      'is-invalid': f['points_per_100'].touched && f['points_per_100'].invalid}">
                        <span class="text-danger" *ngIf="points_per_100 && points_per_100.invalid && points_per_100.touched">Enter your Points per 100 </span>    
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Purchase From*</label>
                        <input type="number" formControlName="purchase_from" (blur)="errorMsg()" placeholder="Enter Mobile No." id="Purchase From" [ngClass]="{
                      'is-invalid': f['purchase_from'].touched && f['purchase_from'].invalid}">
                        <span class="text-danger" *ngIf="purchase_from&& purchase_from.invalid && purchase_from.touched">Enter your Purchase From</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Purchase To</label>
                        <input type="number" formControlName="purchase_to" (blur)="errorMsg()" placeholder="Enter Valid Purchase To" id="purchase_to" [ngClass]="{
                      'is-invalid': f['purchase_to'].touched && f['purchase_to'].invalid}">
                        <span class="text-danger" *ngIf="purchase_to && purchase_to.invalid && purchase_to.touched">Enter Purchase To</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Validity of Points*</label>
                        <input type="number" formControlName="validity_of_points" placeholder="Enter Validity of Points" id="Validity of Points" [ngClass]="{
                      'is-invalid': f['validity_of_points'].touched && f['validity_of_points'].invalid}">
                        <span class="text-danger" *ngIf="validity_of_points && validity_of_points.invalid && validity_of_points.touched">Select Validity of Points </span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Maximum Redemption Points*</label>
                        <input type="number" formControlName="maximum_redemption_points" placeholder="Enter Maximum Redemption Points" id="maximum_redemption_points" [ngClass]="{
                      'is-invalid': f['maximum_redemption_points'].touched && f['maximum_redemption_points'].invalid}">
                        <span class="text-danger" *ngIf="maximum_redemption_points && maximum_redemption_points.invalid && maximum_redemption_points.touched">Enter your Maximum Redemption Points </span>
                    </div>
                </div>

              
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="image-upload">
                            <input type="file" formControlName="attachment" (change)="onSelect($event)">
                            <div class="image-uploads">
                                <img src="assets/img/icons/upload.svg" alt="img">
                                <h4>Drag and drop a file to upload</h4>
                            </div>
                          
                        </div>
                        <span class="text-danger" *ngIf="attachment && attachment.invalid && attachment.touched">Select
                            attachment</span>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <svg *ngIf="!url" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-image mx-5 svg" viewBox="0 0 16 16" style="height: 100px; width: 100px;">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
                        </svg>
                        <img [src]="url" *ngIf="url" alt="" class="p_img">
                    </div>
                </div>

                <div class="col-lg-12">
                    <button class="btn btn-submit me-2" *ngIf="!loader">Submit</button>
                    <button class="btn btn-submit me-2" type="submit" *ngIf="loader" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp; Submit</button>
                    <a routerLink="//settings/membership" class="btn btn-cancel">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /add -->