<div class="container">
    <div class="row mt-3">
        <div class="col-md-7 border">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-thumbnail mt-3"
                        src="https://img.freepik.com/free-photo/beautiful-young-female-doctor-looking-camera-office_1301-7807.jpg"
                        alt="" srcset="">
                </div>
                <div class="col-md-10 ">
                    <ul style="list-style-type: none;">
                        <li>
                            <h3 class="mt-3"> Dr. Janesha H.C</h3>
                        </li>
                        <li>MBBS, DGO</li>
                        <li>Gynecologist,Obstetrician,Infertility Specialist</li>
                        <li>34 Years Experience Overall (28 years as specialist)</li>
                        <li><i class="fa-solid fa-check"
                                style=
                                "background-color:#01A400;
                                 color: #ffffff;
                                 border-radius: 8px;
                                 padding: 3px;
                                 margin: 4px;
                                "></i>
                                Medical
                            Registration Verified
                        </li>
                        <li>The founder member of the Queens Hospital Dr. M. Gowri has led the hospital since its
                            inception. It is because of her vision, dynamism, leadership skills, dedicated and devoted
                            services, She has great surgical experience in Caesarian Sections, Hysterectomies and
                            other OBG Surgeries. High Risk Pregnancies and Infertility and Gynecological Oncology.
                            That the hospital has achieved its brand name.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 border ms-3 ">
            <h3 class="mt-3">Pick a time slot</h3>
            <div style="background-color:#D7F5FE ;" class="p-3">
               
                <span class="h6" >
                    Clinic Appointment 
                    
                </span>
                <span class="h6 float-end">
                    ₹ 700 fee
                </span>
            </div>
            <div class="mt-3">
                <ul style="list-style-type: none;">
                    <li>
                        <h6>Ovum Woman and Child Speciality Hospital</h6>
                    </li>
                    <li>
                        4.5 <i class="fa-solid fa-star"></i> ₹700 Max 15 mins wait
                    </li>
                    <li>
                        HSR layout
                    </li>
                </ul>

            </div>
            <hr>
            <div class="mt-3 bg-light">
                <p class="text-center">Book an appointment for Consultation</p>
                <div class="row ">
                    <!-- <div class="col-md-4"> -->
                    <div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-theme="dark">
                      
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row offset-md-1">
                                    <div class="col-md-4 ">
                                        <p class="m-0 p-0"  style="font-size: 14px;" >Mon, 19Feb</p>
                                        <span class="text-success m-0 p-0" style="font-size: 12px;">10 Slot Available</span>
                                    </div>

                                    <div class="col-md-4">
                                        <p class="m-0 p-0"  style="font-size: 14px;" >Mon, 19Feb</p>
                                        <span class="text-success m-0 p-0" style="font-size: 12px;">10 Slot Available</span>
                                    </div>

                                    <div class="col-md-4">
                                        <p class="m-0 p-0"  style="font-size: 14px;" >Mon, 19Feb</p>
                                        <span class="text-success m-0 p-0" style="font-size: 12px;">10 Slot Available</span>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row offset-2">
                                    <div class="col-md-4 ">
                                        <p class="m-0 p-0"  style="font-size: 14px;" >Mon, 19Feb</p>
                                        <span class="text-success m-0 p-0" style="font-size: 12px;">10 Slot Available</span>
                                    </div>

                                    <div class="col-md-4">
                                        <p class="m-0 p-0"  style="font-size: 14px;" >Mon, 19Feb</p>
                                        <span class="text-success m-0 p-0" style="font-size: 12px;">10 Slot Available</span>
                                    </div>

                                    <div class="col-md-4">
                                        <p class="m-0 p-0"  style="font-size: 14px;" >Mon, 19Feb</p>
                                        <span class="text-success m-0 p-0" style="font-size: 12px;">10 Slot Available</span>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row offset-md-2">
                                    <div class="col-md-4 ">
                                        <p class="m-0 p-0"  style="font-size: 14px;" >Mon, 19Feb</p>
                                        <span class="text-success m-0 p-0" style="font-size: 12px;">10 Slot Available</span>
                                    </div>

                                    <div class="col-md-4">
                                        <p class="m-0 p-0"  style="font-size: 14px;" >Mon, 19Feb</p>
                                        <span class="text-success m-0 p-0" style="font-size: 12px;">10 Slot Available</span>
                                    </div>

                                    <div class="col-md-4">
                                        <p class="m-0 p-0"  style="font-size: 14px;" >Mon, 19Feb</p>
                                        <span class="text-success m-0 p-0" style="font-size: 12px;">10 Slot Available</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" style="font-size: 8px;" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" style="color: #01A400;" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
<hr>
        <div>
         <h6>Morning</h6>
         <ng-container *ngFor="let t of timeSLOT">
            <input type="button" class="btn btn-outline-primary m-1" [value]="t" (click)="toPatientDetail()">
         </ng-container>
       
        </div>
        <hr>
        <div>
            <h6>Afternoon</h6>
            <ng-container *ngFor="let t of timeSLOT">
                <input type="button" class="btn btn-outline-primary m-1" [value]="t"  (click)="toPatientDetail()">
             </ng-container>
        </div>
        <hr>
        <div>
            <h6>Evening</h6>
            <ng-container *ngFor="let t of timeSLOT">
                <input type="button" class="btn btn-outline-primary m-1" [value]="t"  (click)="toPatientDetail()">
             </ng-container>
        </div>

        </div>
    </div>
</div>