<div class="row">
    <div class="col-lg-7 col-sm-7 col-12">
        <div class="page-header">
            <div class="page-title">
                <h4>City list</h4>
                <h6>Manage your City</h6>
            </div>
            <div class="page-btn" *ngIf="!addForm">
                <a class="btn btn-added" (click)="openaddForm()">
                    <img src="assets/img/icons/plus.svg"  class="me-1" alt="img">Add City
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">

                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="assets/img/icons/filter.svg" alt="img">
                                <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                        src="assets/img/icons/pdf.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                        src="assets/img/icons/excel.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                        src="assets/img/icons/printer.svg" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" class="table  datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs" (click)="selectAll(initChecked)">
                                        <input type="checkbox" [(ngModel)]="initChecked">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>City</th>
                                <th>City Code</th>
                                <th>State</th>
                                <th>Is Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let products of tableData; let i = index">

                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox" [(ngModel)]="products.is_active">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <td class="productimgname">

                                    <a href="javascript:void(0);" style="line-height: 3;">{{products.city}}</a>
                                </td>
                                <td>{{products.city_code}}</td>
                                <td>{{products.state}}</td>
                                <td><span
                                        [ngClass]="{'bg-lightgreen': products.is_active === true, 'bg-lightred' : products.is_active === false,'bg-lightyellow' : products.is_active === 'Partial' }"
                                        class="badges">{{products.is_active}}</span></td>
                                <td>

                                    <a class="me-3" (click)="editForm(products.id)">
                                        <img src="assets/img/icons/edit.svg" alt="img">
                                    </a>

                                    <a (click)="confirmText(i,products.id)" class="me-3 confirm-text"
                                        href="javascript:void(0);">
                                        <img src="assets/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


    </div>
    <div class="col-lg-5 col-sm-5 col-12">
        <div class="page-header">
            <div class="page-title" *ngIf="addForm">
                <h4>City </h4>
                <h6>Create new City </h6>
            </div>
            <div class="page-title" *ngIf="!addForm">
                <h4> City Edit</h4>
                <h6> Update City </h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body" *ngIf="addForm">
                <form [formGroup]="cityForm" (ngSubmit)="submit()">
                    <div class="row">

                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>City*</label>
                                <input type="text" formControlName="city" id="city" [ngClass]="{
                                    'is-invalid': f['city'].touched && f['city'].invalid
                                  }">
                                <span class="text-danger" *ngIf="city && city.invalid && city.touched">Enter city
                                </span>

                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>City Code*</label>
                                <input type="text" formControlName="city_code" id="city_code" [ngClass]="{
                                    'is-invalid': f['city_code'].touched && f['city_code'].invalid
                                  }">
                                <span class="text-danger" *ngIf="city_code && city_code.invalid && city_code.touched">Enter City Code
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Select State*</label>
                                <!-- <input type="text" formControlName="feature_group" id="feature_group" [ngClass]="{
                                    'is-invalid': f['feature_group'].touched && f['feature_group'].invalid
                                  }"> -->
                                <select formControlName="state" class="w-100 h-100 border" required
                                    #stateValue id="state" [ngClass]="{
                            'is-invalid': f['state'].touched && f['state'].invalid
                          }">
                                    <option value="" selected disabled>State</option>
                                    <option value="{{state.id}}" *ngFor="let state of stateList">
                                        {{state.state}}
                                    </option>
                                </select>

                                <span class="text-danger"
                                    *ngIf="state && state.invalid && state.touched">Select
                                    state
                                </span>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button class="btn btn-submit me-2">Submit</button>
                            <a routerLink="/product/units" class="btn btn-cancel">Cancel</a>
                        </div>

                    </div>
                </form>
            </div>
            <div class="card-body" *ngIf="!addForm">
                <form [formGroup]="cityForm" (ngSubmit)="update()">
                    <div class="row">

                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>City*</label>
                                <input type="text" formControlName="city" id="city" [ngClass]="{
                                    'is-invalid': f['city'].touched && f['city'].invalid
                                  }">
                                <span class="text-danger" *ngIf="city && city.invalid && city.touched">Enter city
                                </span>

                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>City Code*</label>
                                <input type="text" formControlName="city_code" id="city_code" [ngClass]="{
                                    'is-invalid': f['city_code'].touched && f['city_code'].invalid
                                  }">
                                <span class="text-danger" *ngIf="city_code && city_code.invalid && city_code.touched">Enter City Code
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Select State*</label>
                                <!-- <input type="text" formControlName="feature_group" id="feature_group" [ngClass]="{
                                    'is-invalid': f['feature_group'].touched && f['feature_group'].invalid
                                  }"> -->
                                <select formControlName="state" class="w-100 h-100 border" required
                                    #stateValue id="state" [ngClass]="{
                            'is-invalid': f['state'].touched && f['state'].invalid
                          }">
                                    <option value="" selected disabled>State</option>
                                    <option value="{{state.id}}" *ngFor="let state of stateList">
                                        {{state.state}}
                                    </option>
                                </select>
                                <span *ngIf="stateError" class="text-danger">{{stateError}}</span>
                                <span class="text-danger"
                                    *ngIf="state && state.invalid && state.touched">Select
                                    state
                                </span>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button class="btn btn-submit me-2">Submit</button>
                            <a routerLink="/product/units" class="btn btn-cancel">Cancel</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>