<div class="print-area" id="printContent">
    <div class="main-container">
        <div *ngFor="let cart of array" class="label-container">
            <div class="label-header">
              Hello Brother
            </div>
            <div class="label-body">
              <div class="label-row">
                <span>MRP : ₹ 2,000.00</span>
                <span>Incl. all taxes</span>
              </div>
              <div class="label-row">
                <span>Product : Clothing Sets</span>
                <span>Net Qty : 1</span>
              </div>
              <div class="label-row">
                <span>Style : W024-119</span>
                <span>Variant : Pink - 32</span>
                
              </div>
              <div class="label-row">
                <span>Price: ₹ 1,500.00</span>
                <span>Discount : 00</span>
              </div>
              <div class="label-barcode">
                <app-real-barcode [product]="obj"></app-real-barcode>
              </div>
            </div>
        </div>
   
    </div>
    
      
      
  </div>
<button (click)="printPage()">Print</button>