.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 999;
}

.spinner-border {
    width: 100px;
    height: 100px;
    color: #FF9F43 !important;
}