
<div class="container-fluid"  style="background-color: rgb(203, 228, 238);">
  <div class="container">
        <div class="row"> 
          <h2><b>Blog</b></h2>
          <p style="font-size: 26px;">We have the biggest collection of physio blogs online. Explore 367 blogs now!</p>
          <div class="input-group mb-3 ">
            <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-magnifying-glass"></i></span>
          </div>
          
            
        </div>
  </div>
</div>

<div class="container-fluid mt-3">
    <div class="container">
        <div class="row">
            <div align ='center' class="my-2" >
                <h3><b>Most popular</b></h3>
            </div>
           
            <div class="row">
                <div *ngFor="let item of mostpopular" class="col-md-4 mt-3" >
                    <div class="card shadow" style="border: none;height: 300px; border-radius: 10%;" >
                        <div class="card-header card1 rounded-5" style="height: 200px;background-image: url({{item.img}});" >
                            </div>
                        <div class="card-body">
                            <h6 class="card-title text-center" style=" margin-top: 0;
                             font-family:Roboto Condensed, sans-serif; font-weight: 700;
                                     line-height: 1.2;
                          color: #1D2A4D;">{{item.title}}</h6>
                        </div>
                      </div>
                   
                    
                </div>
              
               

            </div>

            <div align ='center' class="mt-5">
                <h3><b>Most Recent</b></h3>
            </div>
           

            <div class="row my-3">
                <div *ngFor="let item of MostRecent" class="col-md-4 mt-3" >
                    <div class="card shadow" style="border: none;height: 300px; border-radius: 10%;" >
                        <div class="card-header card1 rounded-5" style="height: 200px;background-image: url({{item.img}});" >
                            </div>
                        <div class="card-body">
                            <h6 class="card-title text-center" style=" margin-top: 0;
                             font-family:Roboto Condensed, sans-serif; font-weight: 700;
                                     line-height: 1.2;
                          color: #1D2A4D;">{{item.title}}</h6>
                        </div>
                      </div>
                   
                    
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="card" style="border: none; box-shadow: none;"> 
              <div class="card-body">
                <h2 class="card-title  text-center mt-3" style="font-size: 25px;">Elevate Your Physio Knowledge Every Month!</h2>
                <h4
                 class="card-text text-center" style="font-size:20px;"><i>Get free blogs, infographics, research reviews, podcasts & more.</i></h4>
    
                 <div class="input text-center mt-4">
                  <input type="text" placeholder="Your email address..." class="w-25 rounded-2  rounded-md  text-md  py-2 px-3 " >
                  <button type="button" class="btn btn-outline-primary py-1 mx-1 text-light border-0 " style="font-size: 25px; background-color: rgb(9, 156, 149);">Subscribe</button>
                 </div>
              </div>
            </div>
          </div>
        
            </div>
        </div>
        

