<div class="row bg">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="page-title">
                    <h6 class="subhead-color" (click)="location.back()"><mat-icon
                            style="vertical-align: middle;">keyboard_backspace</mat-icon>
                        Back to Stock Transfer</h6>
                    <h4>New Stock Transfer</h4>
                </div>
                <div class="page-btn" *ngIf="stockTransferDetail?.status=='Dispatched'">
                    <a routerLink="//inventory/update-stock-transfer/{{stockTransferDetail ?.id}}"
                        class="btn btn-added">
                        <img src="assets/img/icons/edit.svg" class="me-1" alt="img">Edit Stock Transfer
                    </a>
                </div>
            </div>
            <!-- details save & print -->
            <mat-tab-group animationDuration="0ms" #tabGroup>
                <mat-tab label="Purchase Order">
                    <div class="company-details-card card" *ngIf="stockTransferDetail">
                        <div class="sub-card row">
                            <div class="content-part my-3">
                                <div class="container py-10">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h3>Invoice</h3>
                                        <button class="btn btn-primary" (click)="generatePdf()"
                                            *ngIf="!loaderPdf">Download
                                            Document</button>
                                        <button class="btn btn-primary" *ngIf="loaderPdf" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>&nbsp; Download Document</button>
                                    </div>
                                    <p style="margin-bottom: 0;">
                                        <button class="btn btn" (click)="printForm()"
                                            style="border: 1px solid antiquewhite;">Print Document</button>
                                    </p>

                                    <div class="outer container" id="debitNote">
                                        <div class="pdf-div" id="doc-target">

                                            <div class="page-title mb-3">
                                                <p class="heading">Stock Transfer Details</p>
                                            </div>
                                            <div class="pdf-table1 mb-4">
                                                <div class="container">
                                                    <div class="col-sm-12">
                                                        <div class="table-responsive">
                                                            <table class="table datanew">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Sr.No.</th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Transfer
                                                                            Number No.</th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Transfer
                                                                            Date</th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">From
                                                                            Branch
                                                                        </th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">To
                                                                            Branch
                                                                        </th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Status</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>{{1}}</td>
                                                                        <td style="color:black">
                                                                            {{stockTransferDetail?.transfer_number}}
                                                                        </td>
                                                                        <td style="color:black">
                                                                            {{stockTransferDetail?.transfer_date}}</td>
                                                                        <td style="color:black">
                                                                            {{stockTransferDetail?.from_branch?.title}}
                                                                        </td>
                                                                        <td style="color:black">
                                                                            {{stockTransferDetail?.to_branch?.title}}
                                                                        </td>
                                                                        <td style="color:black"><span
                                                                                [ngClass]="{'bg-lightgreen': stockTransferDetail?.status === 'Dispatched','bg-lightyellow' : stockTransferDetail?.status === 'Received'}"
                                                                                class="badges">{{stockTransferDetail?.status}}</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="pdf-table2 mb-4">
                                                <div class="container">
                                                    <div class="page-title">
                                                        <p class="mb-2" style="color:#FF9F43;font-size: 16px;">Product
                                                            Details</p>
                                                    </div>
                                                    <div class="col-sm-12 mb-3">
                                                        <div>
                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Barcode/SKU</th>
                                                                        <th>Product Name</th>
                                                                        <th>Varient</th>
                                                                        <th>QTY</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr
                                                                        *ngFor="let cart of stockTransferDetail?.cart; let i =index">
                                                                        <td>{{i+1}}</td>
                                                                        <td>{{cart?.barcode?.sku}}</td>
                                                                        <td>{{cart?.barcode?.product_title}}</td>
                                                                        <td>{{cart?.barcode?.variant_name}}</td>
                                                                        <td>{{cart?.quantity}}</td>
                                                                    </tr>
                                                                    <tr style=" background: rgba(145, 158, 171, 0.32);">
                                                                        <td class="text-center" colspan="4">
                                                                            <strong>Total</strong>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{stockTransferDetail?.total_qty}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <p>Please notify us on any disrepancies within 3 days of receipt
                                                            <br />
                                                            Overdue invoices will be charged 24% interest.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row container">
                                                <div class="col-lg-6 col-sm-6 col-12">
                                                    <!-- <div class="form-group">
                                                <strong>Note:</strong>
                                                <div style="white-space: break-spaces; border: 1px solid rgb(234, 232, 232); border-radius: 4%;" class="py-3 px-2">
                                                    <p>{{stockTransferDetail?.note}}</p>
                                                </div>
                                            </div> -->
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-12" style="float: inline-end;">
                                                    <div class="form-group text-end">
                                                        <div class="total-order">
                                                            <ul>
                                                                <li class="total">
                                                                    <h4>Total Product</h4>
                                                                    <h5>{{ stockTransferDetail?.total_product}}
                                                                    </h5>
                                                                </li>
                                                                <li class="total">
                                                                    <h4>Total QTY</h4>
                                                                    <h5>{{ stockTransferDetail?.total_qty}}
                                                                    </h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-6 col-12">
                                                            <div class="form-group"
                                                                *ngIf="stockTransferDetail?.status!=='Received'">
                                                                <label>Change Status</label>
                                                                <select class="select" (change)="changeStatus() ">
                                                                    <option value="" selected disabled>Select Status
                                                                    </option>
                                                                    <option value="Received">Received</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6 col-12">
                                                            <div class="mt-4">
                                                                <strong>Current Status : </strong> <span
                                                                    [ngClass]="{'bg-lightgreen': stockTransferDetail?.status === 'Dispatched','bg-lightyellow' : stockTransferDetail?.status === 'Received'}"
                                                                    class="badges">{{stockTransferDetail?.status}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Logs">
                    <div class="pdf-table2 mb-4" *ngIf="stockTransferDetail?.logs?.length>0">
                        <div class="container">
                            <div class="page-title">
                                <p style="color:#FF9F43;font-size: 16px;">Logs Details</p>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <div>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>User</th>
                                                <th>Operation Type</th>
                                                <th>Date Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let log of stockTransferDetail?.logs; let i =index">
                                                <td>{{i+1}}</td>
                                                <td>{{log?.userid}}</td>
                                                <td>{{log?.operation_type}}</td>
                                                <td>{{log?.date_time | date:'dd-MM-yyyy hh:mm:ss a'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>


        </div>
    </div>
</div>