<div class="row bg" [ngClass]="!!isSyncLoading ? 'blur-modal' : ''">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="page-title">
                    <h6 class="subhead-color" (click)="goBack()"><mat-icon
                            style="vertical-align: middle;">keyboard_backspace</mat-icon>
                        Back to Delivery Challan</h6>
                    <h4>New Delivery Challan</h4>
                </div>
                <div class="page-btn">
                    <a routerLink="//sales/update-delivery-challan/{{deliveryChallanDetail ?.id}}"
                        class="btn btn-added">
                        <img src="assets/img/icons/edit.svg" class="me-1" alt="img">Edit Delivery Challan
                    </a>
                </div>
            </div>

            <mat-tab-group animationDuration="0ms" #tabGroup>
                <mat-tab label="Delivery Challan">
                    <div class="company-details-card card" *ngIf="deliveryChallanDetail">
                        <div class="sub-card row">
                            <div class="content-part my-3">
                                <div class="container py-10">
                                    <div class="d-flex justify-content-between align-items-center container mb-3">
                                        <div class="ps-2 ms-1">
                                            <span [ngClass]="getBadgeClass(deliveryChallanDetail?.status)"
                                                class="badge p-2">{{deliveryChallanDetail?.status}}</span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div *ngIf="userDetails?.role === 'admin' && deliveryChallanDetail?.status === 'Pending'"
                                                class="me-3">
                                                <button class="btn delivered-status-badge me-3" data-bs-toggle="modal"
                                                    data-bs-target="#delivered_modal">
                                                    Delivered
                                                </button>
                                                <button class="btn pending-status-badge me-3" data-bs-toggle="modal"
                                                    data-bs-target="#partially_delivered_modal">
                                                    Partially Delivered
                                                </button>
                                                <button class="btn cancelled-status-badge me-3" data-bs-toggle="modal"
                                                    data-bs-target="#cancelled_modal">
                                                    Cancelled
                                                </button>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <button data-bs-toggle="tooltip" class="me-3 d-flex border-0 bg-white"
                                                    title="print" (click)="printForm()"><img
                                                        src="assets/img/icons/printer.svg" class="print-icon-wrapper"
                                                        alt="img"></button>

                                                <button class="chat-attach-download border-0 bg-white"
                                                    (click)="generatePdf()">
                                                    <i class="fas fa-download download-icon"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="outer container" id="debitNote">
                                        <div class="pdf-div" id="doc-target">
                                            <div class="top mb-4">
                                                <div class="container">
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-7">
                                                                <div class="d-flex justify-content-between align-items-center top-div"
                                                                    style="float: inline-start;">
                                                                    <div class="left-top">
                                                                        <img src="assets/dummy/pos.png" alt="">
                                                                        <p class="gst"><span>GST</span>
                                                                            {{companyDetails?.gst}}</p>
                                                                        <p><span>Company Name </span>:
                                                                            {{companyDetails?.name}}</p>
                                                                        <p><span>Financial Year</span> :
                                                                            {{companyDetails?.financial_year?.financial_year}}
                                                                        </p>
                                                                        <p><span>Address</span> :
                                                                            {{companyDetails?.address+' ,
                                                                            '+companyDetails?.city?.city+' ,
                                                                            '+companyDetails?.state?.state+' ,
                                                                            '+companyDetails?.country?.country_name+' ,
                                                                            '+companyDetails?.pincode}}
                                                                        </p>
                                                                        <p><span>Phone</span> :
                                                                            {{companyDetails?.phone}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <div class="d-flex justify-content-between align-items-center top-div my-3"
                                                                    style=" float: inline-end;">
                                                                    <div class="right-top">
                                                                        <!-- <p>GST {{deliveryChallanDetail?.party?.gstin}}</p> -->
                                                                        <h1 class="pb-4" style="font-size:35px">Delivery
                                                                            Challan</h1>
                                                                        <p><span>Delivery Challan Date</span> :
                                                                            {{deliveryChallanDetail?.bill_date| date:
                                                                            'dd-MMMM-yyyy'}}</p>
                                                                        <p><span>Delivery Challan NO</span> :
                                                                            {{deliveryChallanDetail?.delivery_challan_bill_no}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="page-title">
                                                <p class="heading">Sales Delivery Challan Details</p>
                                            </div>
                                            <div class="pdf-address mb-4">
                                                <div class="container">
                                                    <div class="col-sm-12">
                                                        <div
                                                            class="d-flex justify-content-between align-items-center top-div container">
                                                            <div >
                                                                <p class="heading">Billing Address</p>
                                                                <p class="heading2">
                                                                    {{companyDetails?.name}}
                                                                    {{selectedAddressBilling?.address_line_1==null?'':selectedAddressBilling?.address_line_1
                                                                    + ' , ' +
                                                                    selectedAddressBilling?.address_line_2==null?'':selectedAddressBilling?.address_line_2
                                                                    +' , ' +
                                                                    selectedAddressBilling?.city?.city}}
                                                                    <br>
                                                                    {{selectedAddressBilling?.state?.state ?? '' + ' , ' +
                                                                    selectedAddressBilling?.country?.country_name ?  selectedAddressBilling?.country?.country_name : ''}}
                                                                    <br />
                                                                    Phone:
                                                                    {{deliveryChallanDetail?.customer?.phone_number}}
                                                                    <br />
                                                                    {{deliveryChallanDetail?.customer?.email}}
                                                                </p>
                                                            </div>
                                                            <div >
                                                                <p class="heading">Shipping Address</p>
                                                                <p class="heading2">
                                                                    {{companyDetails?.name}}
                                                                    {{selectedAddressShipping?.address_line_1==null?'':selectedAddressShipping?.address_line_1
                                                                    + ' , ' +
                                                                    selectedAddressShipping?.address_line_2==null?'':selectedAddressShipping?.address_line_2
                                                                    +' , ' +
                                                                    selectedAddressShipping?.city?.city}}
                                                                    <br>
                                                                    {{selectedAddressBilling?.state?.state ?? '' + ' , ' +
                                                                    selectedAddressBilling?.country?.country_name ?  selectedAddressBilling?.country?.country_name : ''}}
                                                                    <br />
                                                                    Phone:
                                                                    {{deliveryChallanDetail?.customer?.phone_number}}
                                                                    <br />
                                                                    {{deliveryChallanDetail?.customer?.email}}
                                                                </p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pdf-table1 mb-4">
                                                <div class="container">
                                                    <div class="col-sm-12">
                                                        <div class="table-responsive">
                                                            <table class="table datanew">
                                                                <thead>
                                                                    <tr>
                                                                        <!-- <th class="thone" style="white-space: normal !important;">Sr.No.</th> -->
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Delivery Challan No.</th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Account</th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">Sale
                                                                            Bill</th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Transporter Account</th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Total QTY</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <!-- <td>{{1}}</td> -->
                                                                        <td style="color:black">
                                                                            {{deliveryChallanDetail?.delivery_challan_bill_no}}
                                                                        </td>
                                                                        <td style="color:black">
                                                                            {{deliveryChallanDetail?.account?.title+ '
                                                                            (' +
                                                                            deliveryChallanDetail?.account?.accounts_type
                                                                            + ')'}}</td>
                                                                        <td style="color:black">
                                                                            {{deliveryChallanDetail?.sale_bill?.customer_bill_no}}
                                                                        </td>
                                                                        <td style="color:black">
                                                                            {{deliveryChallanDetail?.account?.title+ '
                                                                            (' +
                                                                            deliveryChallanDetail?.account?.accounts_type
                                                                            + ')'}}</td>
                                                                        <td style="color:black" class="text-center">
                                                                            {{deliveryChallanDetail?.total_qty}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pdf-table2 mb-4">
                                                <div class="container">
                                                    <div class="page-title">
                                                        <p style="color:#FF9F43;font-size: 16px;">Product Details</p>
                                                    </div>
                                                    <div class="col-sm-12 mb-3">
                                                        <div>
                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Barcode/SKU</th>
                                                                        <th>Product Name</th>
                                                                        <th>Sub Category</th>
                                                                        <th>Brand</th>
                                                                        <th>HSN Code</th>
                                                                        <th>QTY</th>
                                                                        <th>MRP</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr
                                                                        *ngFor="let cart of deliveryChallanDetail?.cart; let i =index">
                                                                        <td>{{i+1}}</td>
                                                                        <td>{{cart?.barcode.sku}}</td>
                                                                        <td>{{cart?.item_name}}</td>
                                                                        <td>{{cart?.barcode?.product?.subcategory?.title}}</td>
                                                                        <td>{{cart?.barcode?.product?.brand?.title}}</td>
                                                                        <td>{{cart?.barcode?.product?.hsncode?.hsn_code}}</td>

                                                                        <td>{{cart?.qty}}</td>
                                                                        <td>{{cart?.mrp}}</td>
                                                                    </tr>
                                                                    <tr style=" background: rgba(145, 158, 171, 0.32);">
                                                                        <td class="text-center" colspan="6">
                                                                            <strong>Total: : {{totalItems}}</strong>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{deliveryChallanDetail?.total_qty}}</td>
                                                                        <td class="text-center">{{totalMrp}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <p>Please notify us on any disrepancies within 3 days of receipt
                                                            <br />
                                                            Overdue Delivery Challans will be charged 24% interest.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row container">
                                                <div class="col-lg-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <strong>Note:</strong>
                                                        <div style="white-space: break-spaces; border: 1px solid rgb(234, 232, 232); border-radius: 4%;"
                                                            class="py-3 px-2">
                                                            <p>{{deliveryChallanDetail?.note}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-lg-6 col-sm-6 col-12" style="float: inline-end;">
                                            <div class="form-group text-end">
                                                <div class="total-order">
                                                    <ul>
                                                        <li class="total">
                                                            <h4>Sub Total</h4>
                                                            <h5>{{ deliveryChallanDetail?.subtotal}}
                                                            </h5>
                                                        </li>
                                                      
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> -->
                                            </div>

                                            <div class="d-flex">
                                                <p><strong class="me-2">Status : </strong><span [ngClass]="{
                                                        'bg-lightgreen': deliveryChallanDetail.status === 'Delivered',
                                                        'bg-lightred': deliveryChallanDetail.status === 'Cancelled',
                                                        'bg-lightyellow': ['Pending', 'Partially Delivered', 'Draft'].includes(deliveryChallanDetail.status)
                                                      }" class="badges">{{deliveryChallanDetail?.status}}</span></p>
                                                <!-- <p class="mx-3"><strong>IS Active : </strong> <span [ngClass]="{'bg-lightgreen': deliveryChallanDetail?.is_active === true, 'bg-lightred' : deliveryChallanDetail?.is_active === false,'bg-lightyellow' : deliveryChallanDetail?.is_active === 'Partial' }"
                                            class="badges">{{deliveryChallanDetail?.is_active}}</span> </p> -->
                                            </div>

                                            <div class="pdf-footer">
                                                <p>Please make cheques payable to <span>PV LTD.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Logs">
                    <div class="pdf-table2 mb-4" *ngIf="deliveryChallanDetail?.logs?.length>0">
                        <div class="container">
                            <div class="page-title">
                                <p style="color:#FF9F43;font-size: 16px;">Logs Details</p>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <div>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th (click)="sort('id')">#</th>
                                                <th (click)="sort('id')">User</th>
                                                <th (click)="sort('id')">Operation Type</th>
                                                <th (click)="sort('id')">Date Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let log of deliveryChallanDetail?.logs | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p}; index as i">
                                                <td>{{i+1}}</td>
                                                <td>{{log?.userid}}</td>
                                                <td>{{log?.operation_type}}</td>
                                                <td>{{log?.date_time | date:'dd-MM-yyyy hh:mm:ss a'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 col-12 mt-2">
                                            <div class="entries"> Show per page
                                                <select [(ngModel)]="itemsPerPage" class="pagination" #v
                                                    (change)="changePg(v.value)">
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                    <option value="-1">All</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-8 col-12 mt-2">
                                            <div class="f-right">
                                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                                <div class="entries f-right">Showing {{itemsPerPage}} to
                                                    {{deliveryChallanDetail?.logs?.length}} of {{p}} entries</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" *ngIf="deliveryChallanDetail?.logs?.length==0">
                        <span class="text-danger">Logs Not Available</span>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<div id="delivered_modal" [ngClass]="!!isSyncLoading ? 'blur-modal' : ''" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header approve-modal-wrapper">
                <button type="button" class="btn-close deliveredChallanModal close-wrapper" data-bs-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Are you sure you want to mark this delivery challan as delivered?</h5>
            </div>
            <div class="modal-body approve-modal-wrapper">
                <div class="mt-2 d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary me-3" (click)="deliveredChallan()">Submit</button>
                    <button class="btn btn-danger m-0" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="partially_delivered_modal" [ngClass]="!!isSyncLoading ? 'blur-modal' : ''" class="modal custom-modal fade"
    role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header approve-modal-wrapper">
                <button type="button" class="btn-close partiallyDeliveredChallanModal close-wrapper"
                    data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Are you sure you want to mark this delivery challan as partially delivered?</h5>
            </div>
            <div class="modal-body approve-modal-wrapper">
                <div class="mt-2 d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary me-3" (click)="partiallyDeliveredChallan()">Submit</button>
                    <button class="btn btn-danger m-0" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cancelled_modal" [ngClass]="!!isSyncLoading ? 'blur-modal' : ''" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header approve-modal-wrapper">
                <button type="button" class="btn-close cancelledChallanModal close-wrapper" data-bs-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Are you sure you want to mark this delivery challan as cancelled?</h5>
            </div>
            <div class="modal-body approve-modal-wrapper">
                <div class="mt-2 d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary me-3" (click)="cancelledChallan()">Submit</button>
                    <button class="btn btn-danger m-0" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>