   
        <div class="page-header">
            <div class="page-title">
                <h4>Expence</h4>
            </div>
        </div>
        <!-- /add -->
        <div class="card">
            <div class="card-body">
                <form [formGroup]="expenceForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="form-group">
                            <label>Party Name*</label>
                            <mat-form-field class="w-100" style="padding: 0;
                            width: 100%;
                            min-width: 100%;border-top: none;">
                                <input type="text" placeholder="Search Party" aria-label="Party" matInput
                                    [formControl]="supplierControl" [matAutocomplete]="auto" style="box-sizing: border-box;"
                                    [ngClass]="{'is-invalid': f['party'].touched && f['party'].invalid}">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let supplier of filteredSuppliers | async" [value]="supplier.name"
                                        (onSelectionChange)="oncheck(supplier.id)" style="color:#FF9F43">{{ supplier.name }}</mat-option>
    
                                    <ng-container *ngIf="(filteredSuppliers | async) as suppliers">
                                        <!-- <mat-option *ngIf="suppliers.length === 0" [value]="'No data found'">
                                            <a routerLink="//contacts/addSupplier" style="color:#FF9F43">+ Add Supplier</a>
                                        </mat-option> -->
                                        <mat-option *ngIf="supplierControl.value?.length < 3" class="is-loading">Please Enter 3 or more characters</mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                            <span class="text-danger" *ngIf="supplier && supplier.invalid && supplier.touched">Select 
                                supplier
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-12">
                      <div class="form-group">
                          <label>Amount</label>
                          <input type="text" formControlName="amount" id="amount"
                          [ngClass]="{'is-invalid': f['amount'].touched && f['amount'].invalid}">
                          <span class="text-danger"*ngIf="amount && amount.invalid && amount.touched">Enter Amount</span>
                      </div>
                  </div> 
                    <div class="col-lg-3 col-sm-3 col-12">
                      <div class="form-group">
                          <label>Remarks*</label>
                          <input type="text" formControlName="remarks" id="remarks"
                          [ngClass]="{'is-invalid': f['remarks'].touched && f['remarks'].invalid}">
                          <span class="text-danger"*ngIf="remarks && remarks.invalid && remarks.touched">Enter Remark</span>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Payment Account*</label>
                        <select class="form-select" formControlName="payment_account" [ngClass]="{'is-invalid': f['payment_account'].touched && f['payment_account'].invalid}">
                            <option value="" selected disabled>Select Payment Account</option>
                            <option value="{{bank.id}}" *ngFor="let bank of bankList">{{bank.name}}</option>
                        </select>
                        <span class="text-danger"*ngIf="payment_account && payment_account.invalid && payment_account.touched">Select Bank</span>
                    </div>
               </div>
                   
                    <div class="col-lg-3 col-sm-3 col-12">
                      <div class="form-group my-4">
                          <div class="d-flex">
                              <input type="checkbox" formControlName="non_gst" [id]="'checkboxMeasure-'" [ngModel]="true">
                              <label [for]="'checkboxMeasure-'" class="d_flex" style="margin-bottom: 0; margin-left: 5px;">Non GST</label>
                          </div>
                      </div>
                  </div>
                    
                    <div class="col-lg-12">
                      <button class="btn btn-submit me-2" *ngIf="!loaders">Submit</button>
                      <button class="btn btn-submit me-2" type="submit" *ngIf="loaders" disabled>
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                         &nbsp; Submit</button>
                          <a routerLink="//bank/expense" class="btn btn-cancel">Cancel</a>
                  </div>
              </div>
            </form>
            </div>
        </div>
        <!-- /add -->