<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                style="color: #13C5DD !important;">
                Stroke and Paralysis

            </h5>
            <ul>
                <h6 style="color: #37B5B6;"><b>Types of Stroke:</b></h6>
                <li><b>Ischemic Stroke:</b> Caused by a blockage in a blood vessel supplying the brain.</li>
                <li><b>Hemorrhagic Stroke:</b>Caused by bleeding in the brain</li>
             
            </ul>

        </div>
        <div class="row">
            <div class="col-md-7 col-sm-6">

                <ul>
                    <li style="color: #37B5B6; "><b>Effects on Mobility:</b></li>
                    <li> <b>Hemiplegia: </b> : Total paralysis on one side of the body.
                    </li>
                    <li><b>Hemiparesis: </b> Weakness on one side of the body.
                    </li>

                </ul>

                <ul>
                    <li style="color: #37B5B6;"><b>Functional Impairments:
                        </b></li>
                    <li> <b>Difficulty Walking: </b> Challenges with balance and coordination.
                    </li>
                    <li> <b>Impaired Arm Function: </b>Difficulty with reaching, grasping, and fine motor skills.</li>
                    <li> <b>Muscle Stiffness: </b> Increased muscle tone (spasticity) in affected limbs.
                    </li>

                </ul>

                <ul>
                    <h6 style="color: #37B5B6;"><b>Physiotherapy Management:</b></h6>
                    <li style="color: #37B5B6;"><b>Early Mobilization:</b></li>
                    <li> <b>Bed Mobility Exercises: </b> Gentle exercises to improve turning and rolling in bed.
                    </li>
                    <li> <b>Sitting Balance Activities: </b>Promoting stability in a seated position.
                    </li>
                </ul>
                <!-- <h6>4.TFCC (Triangular Fibrocartilage Complex) Injury:</h6> -->
                <ul>
                    <li style="color: #37B5B6;"><b>Range of Motion Exercises:</b></li>
                    <li><b>Passive Range of Motion (PROM): </b>Gentle movements of the affected limbs to maintain joint
                        flexibility.
                    </li>
                    <li> <b>Active-Assisted Range of Motion (AAROM): </b> Encouraging the individual to participate in
                        moving their limbs with assistance.
                    </li>
                    <!-- <li> <b>Symptoms:</b>Pain on the pinky side of the wrist, clicking or popping sensations</li> -->
                </ul>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="">
                    <img src="../../../../assets/img/strok.jpg"
                        class="img-fluid shadow " style="border-radius: 20px;" width="90%" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="img mt-5 mb-2">
                    <img src="../../../../assets/img/strok1.jpg"
                        class="img-fluid shadow 1px solid black  mb-4" style="border-radius: 20px;" width="80%">
                </div>
            </div>
            <div class="col-md-7">
                <!-- <h6 class=" mt-2">1.Types of Stroke:</h6> -->
                <ul>
                    <li style="color: #37B5B6;"><b>Strengthening Exercises:</b></li>
                    <li><b>Isometric Exercises: </b> : Muscle contractions without joint movement to maintain strength.
                    </li>
                    <li><b>Progressive Resistance Training: </b> Gradual introduction of resistance for muscle
                        strengthening.
                    </li>
                    <!-- <h6>Carpal Tunnel Syndrome:</h6> -->
                </ul>
                <!-- <h6 style="color: #37B5B6;"><b>Balance and Coordination Training:</b></h6> -->
                <ul>
                    <li style="color: #37B5B6;"><b>Balance and Coordination Training:</b></li>
                    <li> <b>Weight-Shifting Exercises: </b>Promoting weight-bearing on the affected side.
                    </li>
                    <li> <b>Dynamic Balance Activities:</b> Activities that challenge balance and coordination.
                    </li>
                    <!-- <h6>Carpal Tunnel Syndrome:</h6> -->
                </ul>
                <!-- <h6>3. Strengthening Exercises</h6> -->
                <ul>
                    <li style="color: #37B5B6;"><b>Gait Training:</b></li>
                    <li> <b>Supported Ambulation:</b> Using assistive devices or support to facilitate walking.</li>
                    <li> <b>Treadmill Training: </b> Gradual progression to walking on a treadmill with support.
                    </li>
                </ul>
                <!-- <h6>4. Splinting and Bracing:</h6> -->
                <ul>
                    <li style="color: #37B5B6;"><b>Functional Tasks:</b></li>
                    <li> <b>Activities of Daily Living (ADL) Training: </b> : Practicing tasks like dressing, grooming,
                        and eating.
                    </li>
                    <li> <b>Functional Reach Exercises: </b>: Improving arm and hand function for daily tasks.</li>
                </ul>
                <ul>
                    <li style="color: #37B5B6;"><b>Constraint-Induced Movement Therapy (CIMT):</b></li>
                    <li><b>Forced Use: </b> : Restraining the unaffected limb to encourage use and improvement of the
                        affected limb.
                    </li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li style="color: #37B5B6;"><b>Neuromuscular Electrical Stimulation (NMES):</b></li>
                    <li><b>Stimulation: </b>: Applying electrical impulses to stimulate muscle contractions and improve
                        muscle strength.
                    </li>

                </ul>
                <ul>
                    <li style="color: #37B5B6;"><b>Task-Specific Training:</b></li>
                    <li><b>Repetition: </b> Repeated practice of specific functional tasks to enhance motor learning.
                    </li>
                </ul>
                <ul>
                    <li style="color: #37B5B6;"><b>Community Reintegration:</b></li>
                    <li><b>Outdoor Mobility Practice:</b> Preparing individuals to navigate varied terrains and
                        environments.
                    </li>
                    <li><b>Public Transportation Skills:</b>Training for safe use of public transportation.
                    </li>
                </ul>
                <ul>
                    <li style="color: #37B5B6;"><b>Home Exercise Program:</b></li>
                    <li><b>Independence at Home: </b>Prescribing exercises and activities for individuals to perform
                        independently at home.
                    </li>
                </ul>
                <ul>
                    <li style="color: #37B5B6;"><b>Education and Support:</b></li>
                    <li><b>Education on Recovery: </b>Providing information on the recovery process and setting
                        realistic expectations.
                    </li>
                    <li><b>Family/Caregiver Training:</b>Involving family members or caregivers in the rehabilitation
                        process.
                    </li>
                </ul>

            </div>
            <div class="col-md-4">
             <div class="">
                <img src="../../../../assets/img/stroke4.jpg"  class="img-fluid shadow " style="border-radius: 20px;" width="100%" alt="">
             </div>
            </div>

        </div>

        <h6><b>Ongoing Rehabilitation:</b></h6>
        <p class="p-2">Physiotherapy for stroke is often an ongoing process, adapted to the individual's progress. The
            focus is on maximizing independence and optimizing the quality of life for individuals who have experienced
            a stroke. A multidisciplinary approach involving physiotherapists, occupational therapists, speech
            therapists, and other healthcare professionals is often beneficial in addressing various aspects of
            recovery.
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>