<div class="page-header">
    <div class="page-title">
        <h4> Add Batch</h4>
        <h6>Create new Batch </h6>
    </div>
</div>
<!-- /add -->
<div class="card">
    <div class="card-body">
        <form [formGroup]="batchForm" (ngSubmit)="submit()">
            <div class="row">
                <!-- <div class="col-lg-3 col-sm-3 col-12" style="display:none">
                    <div class="form-group">
                        <label>Variant id*</label>
                        <input type="text" formControlName="variant" id="variant" [ngClass]="{
                      'is-invalid': f['variant'].touched && f['variant'].invalid}" [ngModel]="id" readonly placeholder="0"> 
                        <span class="text-danger" *ngIf="variant && variant.invalid && variant.touched">Enter variant</span>
                    </div>
                </div> -->
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>MRP*</label>
                        <input type="text" formControlName="mrp" id="mrp" [ngClass]="{'is-invalid': f['mrp'].touched && f['mrp'].invalid}" placeholder="0" [(ngModel)]="mrpN">
                        <span class="text-danger" *ngIf="mrp && mrp.invalid && mrp.touched">Enter MRP </span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Cost Price</label>
                        <input type="text" formControlName="cost_price" id="cost_price" [ngClass]="{'is-invalid': f['cost_price'].touched && f['cost_price'].invalid}" placeholder="0">
                        <span class="text-danger" *ngIf="cost_price && cost_price.invalid && cost_price.touched">Enter Cost Price</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Selling Price Online</label>
                        <input type="text" formControlName="selling_price_online" id="selling_price_online" [ngModel]="mrpN" [ngClass]="{'is-invalid': f['selling_price_online'].touched && f['selling_price_online'].invalid}" placeholder="0">
                        <span class="text-danger"*ngIf="selling_price_online && selling_price_online.invalid && selling_price_online.touched">Enter Selling Price Online
                        </span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Selling Price Offline</label>
                        <input type="text" formControlName="selling_price_offline" id="selling_price_offline" [ngModel]="mrpN" [ngClass]="{'is-invalid': f['selling_price_offline'].touched && f['selling_price_offline'].invalid}" placeholder="0">
                        <span class="text-danger"*ngIf="selling_price_offline && selling_price_offline.invalid && selling_price_offline.touched">Enter Selling Price Offline
                        </span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Selling Price Dealer</label>
                        <input type="text" formControlName="selling_price_dealer" id="selling_price_dealer" [ngModel]="mrpN" [ngClass]="{'is-invalid': f['selling_price_dealer'].touched && f['selling_price_dealer'].invalid}" placeholder="0">
                        <span class="text-danger"*ngIf="selling_price_vendor && selling_price_vendor.invalid && selling_price_vendor.touched">Enter Selling Price Vendor
                        </span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Selling Price Employee</label>
                        <input type="text" formControlName="selling_price_employee" id="selling_price_employee" [ngModel]="mrpN" [ngClass]="{'is-invalid': f['selling_price_employee'].touched && f['selling_price_employee'].invalid}" placeholder="0">
                        <span class="text-danger"*ngIf="selling_price_employee && selling_price_employee.invalid && selling_price_employee.touched">Enter Selling Price Employee
                        </span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Stock*</label>
                        <input type="text" formControlName="stock" id="stock" [ngClass]="{'is-invalid': f['stock'].touched && f['stock'].invalid}" placeholder="0">
                        <span class="text-danger"*ngIf="stock && stock.invalid && stock.touched">Enter Stock</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Opening Stock*</label>
                        <input type="text" formControlName="opening_stock" id="opening_stock" [ngClass]="{'is-invalid': f['opening_stock'].touched && f['opening_stock'].invalid}" placeholder="0">
                        <span class="text-danger"*ngIf="opening_stock && opening_stock.invalid && opening_stock.touched">Enter opening stock</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Minimum Stock Threshold*</label>
                        <input type="text" formControlName="minimum_stock_threshold" id="minimum_stock_threshold" [ngClass]="{'is-invalid': f['minimum_stock_threshold'].touched && f['minimum_stock_threshold'].invalid}" placeholder="0">
                        <span class="text-danger"*ngIf="minimum_stock_threshold && minimum_stock_threshold.invalid && minimum_stock_threshold.touched">Enter Minimum Stock Threshold</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Max Order Quantity</label>
                        <input type="text" formControlName="max_order_quantity" id="max_order_quantity" [ngClass]="{'is-invalid': f['max_order_quantity'].touched && f['max_order_quantity'].invalid}" placeholder="0">
                        <span class="text-danger"*ngIf="max_order_quantity && max_order_quantity.invalid && max_order_quantity.touched">Enter Max Order Quantity</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Discount %</label>
                        <input type="text" formControlName="discount" id="discount" [ngClass]="{'is-invalid': f['discount'].touched && f['discount'].invalid}" placeholder="0">
                        <span class="text-danger"*ngIf="discount && discount.invalid && discount.touched">Enter discount (ex:0-100)</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Additional Discount %</label>
                        <input type="text" formControlName="additional_discount" id="additional_discount" [ngClass]="{'is-invalid': f['additional_discount'].touched && f['additional_discount'].invalid}" placeholder="0">
                        <span class="text-danger"*ngIf="additional_discount && additional_discount.invalid && additional_discount.touched">Enter Enter discount (ex:0-100)</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-12">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label>Employee Incentive*</label>
                        <div class="input-group">
                            <div>
                                <select formControlName="employee_incentive_type" class=" border hov" required
                                    id="employee_incentive_type"
                                    [ngClass]="{'is-invalid': f['employee_incentive_type'].touched && f['employee_incentive_type'].invalid}">
                                    <option class="unhov" value="" selected disabled>Employee Incentive Type</option>
                                    <option class="unhov" value="%">%</option>
                                    <option class="unhov" value="Rs">Rs</option>
                                </select>
                                <span class="text-danger d-block" *ngIf="employee_incentive_type && employee_incentive_type.invalid && employee_incentive_type.touched">Select Employee Incentive Type</span>
                            </div>
                            <div>
                                <input type="text" formControlName="employee_incentive" id="em-ployee_incentive"
                                    [ngClass]="{'is-invalid': f['employee_incentive'].touched && f['employee_incentive'].invalid}">
                                <span class="text-danger ml-5 pl-5" *ngIf="employee_incentive && employee_incentive.invalid && employee_incentive.touched">Employee Incentive</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- <div class="col-lg-12">
                    <button class="btn btn-submit me-2">Submit</button>
                    <a routerLink="//product/{{id}}" class="btn btn-cancel">Cancel</a>
                </div> -->
                <div class="col-lg-12">    
                    <button class="btn btn-submit me-2" *ngIf="!loader">Submit</button>
                    <button class="btn btn-submit me-2" type="submit" *ngIf="loader" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Submit</button>
                    <a routerLink="//product/{{id}}" class="btn btn-cancel">Cancel</a>
                </div>

            </div>
        </form>
    </div>
</div>
<!-- /add -->