<div class="row">
  <div class="col-lg-8 col-sm-8 col-12">
    <!-- <div class="page-header">
      <div class="page-title">
        <h4>Sub Category Group list</h4>
        <h6>View/Search Sub Category Group</h6>
        <div class="page-btn" *ngIf="editMode">
          <a class="btn btn-added" (click)="openaddForm()">
            <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Add Sub Category Group
          </a>
        </div>
      </div>
    </div> -->
    <div class="page-header">
      <div class="page-title">
          <h4>Sub Category Group list</h4>
          <h6>View/Search Sub Category Group</h6>
      </div>
      <div class="page-btn" *ngIf="!addForm">
          <a class="btn btn-added" (click)="openaddForm()">
              <img src="assets/img/icons/plus.svg"  class="me-1" alt="img">Add Sub Category Group
          </a>
      </div>
  </div>


      <!-- /product list -->
      <div class="card">

        <div class="card-body">
          <div class="table-top">
            <div class="search-set">
              <div class="search-path">
                <a class="btn btn-filter" id="filter_search">
                  <img src="assets/img/icons/filter.svg" alt="img">
                  <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                </a>
              </div>
              <!-- <div class="search-input">
                <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
              </div> -->
              <div class="search-input">
                <a class="btn btn-searchset">
                    <img src="assets/img/icons/search-white.svg" alt="img"></a>
                <div class="dataTables_filter"><label>
                        <input type="search" class="form-control form-control-sm" placeholder="Search..."
                            [(ngModel)]="titlee" (ngModelChange)="search()" placeholder="search">
                    </label>
                </div>

            </div>
            </div>
            <div class="wordset">
              <ul>
                <li>
                  <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="assets/img/icons/pdf.svg"
                      alt="img"></a>
                </li>
                <li>
                  <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                      src="assets/img/icons/excel.svg" alt="img"></a>
                </li>
                <li>
                  <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                      src="assets/img/icons/printer.svg" alt="img"></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Filter -->


          <div class="card" id="filter_inputs">
            <div class="card-body pb-0">
              <div class="row">
                <div class="col-lg-2 col-sm-6 col-12">
                  <div class="form-group">
                    <select class="form-select">
                      <option>Choose Category</option>
                      <option>Computers</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-12">
                  <div class="form-group">
                    <select class="form-select">
                      <option>Choose Sub Category</option>
                      <option>Fruits</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-12">
                  <div class="form-group">
                    <select class="form-select">
                      <option>Choose Sub Brand</option>
                      <option>Iphone</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                  <div class="form-group">
                    <a class="btn btn-filters ms-auto"><img src="assets/img/icons/search-whites.svg" alt="img"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Filter -->
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table  datanew">
              <thead>
                <tr>
                  <th (click)="sort('id')" class="thone">
                    <label class="checkboxs mb-0 d-inline" (click)="selectAll(initChecked)">
                        <input type="checkbox" [(ngModel)]="allSelected" (change)="selectAlll()">
                        <span class="checkmarks"></span>
                    </label>
                    <i class="fa fa-sort"></i>
                </th>
                  <th (click)="sort('id')" class="thone">Title <i class="fa fa-sort"></i></th>
                  <th (click)="sort('id')" class="thone">Category <i class="fa fa-sort"></i></th>
                  <th (click)="sort('id')" class="thone">Subcategories <i class="fa fa-sort"></i></th>
                  <th (click)="sort('id')" class="thone">Feature Group <i class="fa fa-sort"></i></th>
                  <th (click)="sort('id')" class="thone">Is Active <i class="fa fa-sort"></i></th>
                  <th (click)="sort('id')" class="thone">Actions <i class="fa fa-sort"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let products of tableData | orderBy:key:reverse | paginate:{itemsPerPage:pageSize,currentPage:p} let i = index">
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" [(ngModel)]="selectedRows[i]">
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td class="productimgname">
                    <a routerLink="/product/subCategoryDetails/{{products.id}}" style="line-height: 3;">{{products.title}}</a>
                  </td>

                  <td>{{products.category.title}}</td>

                  <td>{{products.subcategories[0]?.title}}</td>
                  <td>{{products.feature_group[0]?.title}}</td>
                  <td>
                    <!-- <span [ngClass]="{'bg-lightgreen': products.is_active === true, 'bg-lightred' : products.is_active === false,'bg-lightyellow' : products.is_active === 'Partial' }"
                      class="badges">{{products.is_active}}</span> -->
                      <mat-slide-toggle (click)="products.is_active ? deActivate(i,products.id):Active(i,products.id)" [(ngModel)]="products.is_active"></mat-slide-toggle>
                         
                    </td>
                  <td>
                    <a class="me-2" routerLink="/product/subCategoryDetails/{{products.id}}">
                      <img src="assets/img/icons/eye.svg" alt="img">
                    </a>
                    <a class="me-2" (click)="editThis(products)">
                      <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a (click)="confirmText(i, products.id)" class="me-2 confirm-text" href="javascript:void(0);">
                      <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                  </td>
                </tr>

              </tbody>
           
            </table>
            <div class="row">
              <div class="col-lg-4 col-sm-4 col-12 mt-2">
                  <div class="entries"> Show per page
                  <select [(ngModel)]="itemsPerPage" class="pagination" >
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="-1">All</option>
                    </select>
                  </div>
              </div>
             <div class="col-lg-8 col-sm-8 col-12 mt-2">
              <div class="f-right">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>  
                  <div class="entries f-right">Showing {{pageSize}} to {{pageSize}} of {{pageSize}} entries</div>  
              </div>
   
             </div>
           </div>
          </div>
        </div>
      </div>

    
</div>

    <div class="col-lg-4 col-sm-4 col-12">
   
  <div class="page-header">
    <div class="page-title" *ngIf="addForm">
      <h4> Add Sub Category Group</h4>
      <h6>Create new Sub Category Group </h6>
  </div>
  <div class="page-title" *ngIf="!addForm">
      <h4>Edit Sub Category Group</h4>
      <h6>Update Sub Category Group </h6>
  </div>
        </div>

      <!-- /add -->
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" class="row">
            <div class="col-lg-12 col-sm-12 col-12">
              <div class="form-group">
                <label>Title</label>
                <div class="image-upload mb-2">
                  <input type="text" formControlName="title">
                </div>
                <span class="text-danger" *ngIf="title && title.invalid && title.touched">Enter The Title</span>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-12">
              <div class="form-group">
                <label>Category</label>
                <div class="image-upload mb-2">
                  <select class="w-100" formControlName="category" (change)="selectCate($event)"
                  #categoryValue (change)="getSubcategoryByCategory(categoryValue.value)">
                    <option value="" [selected]="!editMode" disabled>Select Category</option>
                    <option *ngFor="let cate of categories" id="{{cate.id}}" [value]="cate.id">{{ cate.title }}</option>
                  </select>
                </div>
                <span class="text-danger" *ngIf="category && category.invalid && category.touched">Select
                  Category</span>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-12">
              <!-- <label class="form-control">Sub Category Name</label>

              <div class="" *ngFor="let subCat of subCategory">
                <label for="{{subCat.id}}">{{subCat.title}}
                  <input type="checkbox" [checked]="selectedSubCats.includes(subCat.id)"
                    (change)="onSelectionChange(subCat, $event.target)" id="{{subCat.id}}">
                </label>
              </div> -->

              <div class="form-group">
                <label>Sub Category*</label>
                <div class="dropdown">
                  <button type="button" class="dropdown-toggle button" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Select Subcategory</button>
                  <ul class="dropdown-menu" style="width: 100%;">
                    <li><a class="dropdown-item" *ngFor="let subCat of subcatbyCategory; let i=index">
                        <input type="checkbox" [value]="subCat.id" [checked]="selectedSubCats.includes(subCat.id)"
                          (change)="onSelectionChange(subCat, $event.target)" style="margin-right: 5px;">
                        {{subCat.title}}
                      </a></li>
                  </ul>
                  <p *ngIf="selectedSubCat>0">{{selectedSubCat + ' Subcategory selected'}}</p>
                </div>
                <span class="text-danger"
                *ngIf="subcategories && subcategories.invalid && subcategories.touched && subcatbyCategory?.length>0">Select Sub Category
              </span>
              <span class="text-danger"
              *ngIf="category && category.touched && subcatbyCategory?.length<=0">Subcategory Not available
            </span>
              </div>


              <span class="text-danger" *ngIf="errormessFSubC">{{errormessFSubC}}</span>
            </div>
            <div class="col-lg-12 col-sm-12 col-12">
              <!-- <label class="form-control">Feature Group</label>
              <div class="my-2" *ngFor="let fGroup of featureGroup">
                <label for="{{fGroup.id}}">{{fGroup.title}}
                  <input type="checkbox" [checked]="selectedFeature.includes(fGroup.id)"
                   (change)="selectFeatureGroup(fGroup, $event.target)"
                    id="{{fGroup.id}}">
                </label>
              </div> -->

              <div class="form-group">
                <label>Feature Group*</label>
                <div class="dropdown">
                  <button type="button" class="dropdown-toggle button" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Select Feature Group</button>
                  <ul class="dropdown-menu" style="width: 100%;">
                    <li><a class="dropdown-item" *ngFor="let fGroup of featureGroup; let i=index">
                        <input type="checkbox" [value]="fGroup.id" [checked]="selectedFeature.includes(fGroup.id)"
                          (change)="selectFeatureGroup(fGroup, $event.target)" style="margin-right: 5px;">
                        {{fGroup.title}}
                      </a></li>
                  </ul>
                  <p *ngIf="selectedFeatureGrp>0">{{selectedFeatureGrp + ' Feature group selected'}}</p>
                </div>
                <span class="text-danger" *ngIf="errormessFFG">{{ errormessFFG }}</span>
              </div>

            </div>
            <div class="col-lg-12">
              <a (click)="submitForm()" class="btn btn-submit me-2">{{this.editMode? 'Save Changes': 'Submit'}}</a>
            </div>
          </form>
        </div>
      </div>
      <!-- /add -->

    </div>
 
</div>

<!-- /product list -->