<div class="page-header">
  <div class="row">
    <div class="col-7">
      <div class="page-title">
        <h4>Product Category list</h4>
        <h6>View/Search product Category</h6>
      </div>



      <!-- /product list -->
      <div class="card">

        <div class="card-body">
          <div class="table-top">
            <div class="search-set">
              <div class="search-path">
                <a class="btn btn-filter" id="filter_search">
                  <img src="assets/img/icons/filter.svg" alt="img">
                  <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                </a>
              </div>
              <div class="search-input">
                <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
              </div>
            </div>
            <div class="wordset">
              <ul>
                <li>
                  <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="assets/img/icons/pdf.svg"
                      alt="img"></a>
                </li>
                <li>
                  <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                      src="assets/img/icons/excel.svg" alt="img"></a>
                </li>
                <li>
                  <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                      src="assets/img/icons/printer.svg" alt="img"></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Filter -->


          <div class="card" id="filter_inputs">
            <div class="card-body pb-0">
              <div class="row">
                <div class="col-lg-2 col-sm-6 col-12">
                  <div class="form-group">
                    <select class="form-select">
                      <option>Choose Category</option>
                      <option>Computers</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-12">
                  <div class="form-group">
                    <select class="form-select">
                      <option>Choose Sub Category</option>
                      <option>Fruits</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-12">
                  <div class="form-group">
                    <select class="form-select">
                      <option>Choose Sub Brand</option>
                      <option>Iphone</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                  <div class="form-group">
                    <a class="btn btn-filters ms-auto"><img src="assets/img/icons/search-whites.svg" alt="img"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Filter -->
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table  datanew">
              <thead>
                <tr>
                  <th>
                    <label class="checkboxs" (click)="selectAll(initChecked)">
                      <input type="checkbox" [(ngModel)]="initChecked">
                      <span class="checkmarks"></span>
                    </label>
                  </th>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Is active</th>
                  <th>Subcategories- Multiple</th>
                  <th>Feature Group- Many to many</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let products of tableData; let i = index">
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" [(ngModel)]="products.isSelected">
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td class="productimgname">
                    <a href="javascript:void(0);">{{products.title}}</a>
                  </td>

                  <td>{{products.category.title}}</td>
                  <td><span
                    [ngClass]="{'bg-lightgreen': products.is_active === true, 'bg-lightred' : products.is_active === false,'bg-lightyellow' : products.is_active === 'Partial' }"
                    class="badges">{{products.is_active}}</span></td>
                    <td>{{products.subcategories[0]?.title}}</td>
                    <td>{{products.feature_group[0]?.title}}</td>
                 
                  <td>
                    <a class="me-3" (click)="editThis(products)">
                      <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a (click)="confirmText(i)" class="me-3 confirm-text" href="javascript:void(0);">
                      <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="page-btn d-flex justify-content-between">
        <div class="page-title pe-4">
          <h4>{{editMode? ' Edit Sub Category': 'Add Sub Category'}}</h4>
          <h6>{{editMode? 'Edit Sub Category Group': 'Create new Edit Sub Category'}}</h6>
        </div>
      </div>


      <!-- /add -->
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Title</label>
                <div class="image-upload mb-2">
                  <input type="text" formControlName="title">
                </div>
                <span class="text-danger"*ngIf="title && title.invalid && title.touched">Enter The Title</span>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label>Category</label>
                <div class="image-upload mb-2">
                  <input type="text" formControlName="category">
                </div>
                <span class="text-danger" *ngIf="category && category.invalid && category.touched">Enter The Category</span>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Sub Category Name</label>
                <input type="text" formControlName="subcategories">
                <span class="text-danger" *ngIf="subcategories && subcategories.invalid && subcategories.touched">Fill The Sub Category</span>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label>Feature Group</label>
                <div class="image-upload mb-2">
                  <input type="text" formControlName="feature_group">
                </div>
                <span class="text-danger" *ngIf="feature_group && feature_group.invalid && feature_group.touched">Enter Feature Group Name</span>
              </div>
            </div>
            <div class="col-lg-12">
              <a (click)="submitForm()" class="btn btn-submit me-2">{{this.editMode? 'Save Changes': 'Submit'}}</a>
            </div>
          </form>
        </div>
      </div>
      <!-- /add -->

    </div>
  </div>
</div>
<!-- /product list -->