
<div class="page-header">
    <div class="page-title">
        <h4>{{details?.choice_type |titlecase}} Details</h4>
        <h6>Full details of a {{details?.choice_type | titlecase}}</h6>
    </div>
    <div class="page-btn" >
        <a class="btn btn-added" href="/website/updateStaticPage/{{details?.slug}}" >
            <img src="assets/img/icons/edit.svg"  class="me-1" alt="img"> Edit Static Page
        </a>
    </div>
</div>
<!-- /add -->
<div class="row">
    <div class="col-lg-8 col-sm-12">
        <div class="card">
            <div class="card-body">
                <!-- <div class="bar-code-view">
                    <img src="assets/img/barcode1.png" alt="barcode">
                    <a class="printimg">
                        <img src="assets/img/icons/printer.svg" alt="print">
                    </a>
                </div> -->
                <div class="productdetails">
                    <ul class="product-bar" *ngIf="details">
                        <li>
                            <h4>Title</h4>
                            <h6>{{details?.title}}</h6>
                        </li>
                        <li>
                            <h4>Slug Type </h4>
                            <h6>{{details?.slug}}</h6>
                        </li>
                        <li>
                            <h4>Choice Type</h4>
                            <h6>{{details?.choice_type}}</h6>
                        </li>
                        <li>
                            <h4>Description</h4>
                            <h6 [innerHTML]="details?.description"></h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex align-items-center mx-3 mb-2">
                <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                <span [ngClass]="{'bg-lightgreen': details?.is_active === true, 'bg-lightred' : details?.is_active === false,'bg-lightyellow' : details?.is_active === 'Partial' }"
                                    class="badges">{{details?.is_active}}</span>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-4 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="slider-product-details">
                    <div class="owl-carousel owl-theme product-slide">
                        <div class="slider-product">
                            <img src="assets/img/product/product69.jpg" alt="img">
                            <h4>macbookpro.jpg</h4>
                            <h6>581kb</h6>
                        </div>
                        <div class="slider-product">
                            <img src="assets/img/product/product69.jpg" alt="img">
                            <h4>macbookpro.jpg</h4>
                            <h6>581kb</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<!-- /add -->
