
<div class="row bg">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="page-title">
                    <h6 class="subhead-color" (click)="goBack()"><mat-icon style="vertical-align: middle;">keyboard_backspace</mat-icon>Back to Payment Terms</h6>
                    <h4>Full details of a Payment Terms</h4>
                </div>
                <div class="page-btn">
                    <a (click)="navigate()" class="btn btn-added">
                        <img src="assets/img/icons/edit.svg" class="me-1" alt="img">Edit Payment Terms
                    </a>
                </div>
            </div>
            <div class="company-details-card card" *ngIf="paymentTermsDetails">
                <div class="sub-card row">
                    <mat-tab-group animationDuration="0ms" #tabGroup>
                        <mat-tab label="General Details">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="th">Title</td>
                                            <td class="td">{{paymentTermsDetails?.title}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Days</td>
                                            <td class="td">{{paymentTermsDetails?.days}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex align-items-center mx-4">
                                <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                                <span [ngClass]="{'bg-lightgreen': paymentTermsDetails?.is_active === true, 'bg-lightred' : paymentTermsDetails?.is_active === false,'bg-lightyellow' : paymentTermsDetails?.is_active === 'Partial' }"
                                class="badges">{{paymentTermsDetails?.is_active}}</span>
                            </div>
                        </mat-tab>
                        <mat-tab label="Logs" *ngIf="paymentTermsDetails?.logs?.length>0">
                            <div class="card">
                                 <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table datanew">
                                    <thead>
                                        <tr>
                                            <th class="th" (click)="sort('id')"># <i class="fa fa-sort"></i></th>
                                            <th class="th" (click)="sort('id')">User <i class="fa fa-sort"></i></th>
                                            <th class="th" (click)="sort('id')">Operation Type <i class="fa fa-sort"></i></th>
                                            <th class="th" (click)="sort('id')">Date Time <i class="fa fa-sort"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let log of filteredData | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p}; index as i">
                                        <tr>
                                            <td class="td" (click)="sort('id')">{{i+1}}</td>
                                            <td class="td" (click)="sort('id')">{{log?.userid}}</td>
                                            <td class="td" (click)="sort('id')">{{log?.operation_type}}</td>
                                            <td class="td" (click)="sort('id')">{{log?.date_time |  date:'dd-MM-yyyy hh:mm:ss a'}}</td>
                                        </tr> 
                                    </ng-container>
                                    </tbody>
                                    <tbody *ngIf="filteredData?.length==0">
                                        <tr>
                                            <td colspan="10">
                                                <p class="center-textt">Data not available</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-lg-4 col-sm-4 col-12 mt-2">
                                        <div class="entries"> Show per page
                                            <select [(ngModel)]="itemsPerPage" class="pagination" #v (change)="changePg(v.value)">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="-1">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-8 col-12 mt-2">
                                        <div class="f-right">
                                            <pagination-controls
                                                (pageChange)="p = $event"></pagination-controls>
                                                <div class="entries f-right">Showing {{itemsPerPage}} to
                                                    {{filteredData?.length}} of {{p}} entries</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
      
    </div>
</div>