<div class="page-header">
    <div class="page-title">
        <h4>Employee Details</h4>
        <h6>Full details of a Employee</h6>
    </div>
</div>

<!-- /add -->
<div class="row">
    <div class="col-lg-8 col-sm-12">
        <div class="card">
            <div class="card-body">
                <!-- <div class="bar-code-view">
                    <img src="assets/img/barcode1.png" alt="barcode">
                    <a class="printimg">
                        <img src="assets/img/icons/printer.svg" alt="print">
                    </a>
                </div> -->
                <div class="productdetails">                  
                    <ul class="product-bar">
                        <li>
                            <h4>Name</h4>
                            <h6>{{employeeDetails.name}}</h6>
                        </li>
                        <li>
                            <h4>Fathers name</h4>
                            <h6>{{employeeDetails.fathers_name}}</h6>
                        </li>
                        <li>
                            <h4>Date of Birth</h4>
                            <h6>{{employeeDetails.dob}}</h6>
                        </li>
                        <li>
                            <h4>Phone</h4>
                            <h6>{{employeeDetails.mobile}}</h6>
                        </li>
                        <li>
                            <h4>Email</h4>
                            <h6>{{employeeDetails.email}}</h6>
                        </li>
                        <li>
                            <h4>Anniversary</h4>
                            <h6>{{employeeDetails.anniversary}}</h6>
                        </li>
                        <li>
                            <h4>Attendance</h4>
                            <h6>{{employeeDetails.attendance}}</h6>
                        </li>
                        <li>
                            <h4>Employee id</h4>
                            <h6>{{employeeDetails.employee_id}}</h6>
                        </li>
                        <li>
                            <h4>Is Salesman</h4>
                            <h6>{{employeeDetails.is_salesman}}</h6>
                        </li>
                        <li>
                            <h4>Is Active</h4>
                            <h6>{{employeeDetails.is_active}}</h6>
                        </li>
                        <li>
                            <h4>Country</h4>
                            <h6>{{employeeDetails.country}}</h6>
                        </li>
                        <li>
                            <h4>State</h4>
                            <h6>{{employeeDetails.state}}</h6>
                        </li>
                        <li>
                            <h4>Pincode</h4>
                            <h6>{{employeeDetails.pincode}}</h6>
                        </li>
                        <li>
                            <h4>Address</h4>
                            <h6>{{employeeDetails.address}}</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- img -->
    <!-- <div class="col-lg-4 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="slider-product-details">
                    <div class="owl-carousel owl-theme product-slide">
                        <div class="slider-product">
                            <img src="assets/img/product/product69.jpg" alt="img">
                            <h4>macbookpro.jpg</h4>
                            <h6>581kb</h6>
                        </div>
                        <div class="slider-product">
                            <img src="assets/img/product/product69.jpg" alt="img">
                            <h4>macbookpro.jpg</h4>
                            <h6>581kb</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<!-- /add -->