.pv-backgroud{
    background: #FF9900;
}
.select
{
   border: 1px solid rgba(145, 158, 171, 0.32);
   height: 38px;
   width: 75%;
   font-size: 14px;
   font-weight: 500;
   color: #637381;
   padding: 10px 8px;
   border-radius: 5px;
}