<div class="page-header">
    <div class="page-title">
        <h4>Update Expense Voucher</h4>
        <h6>Edit Expense Voucher</h6>
    </div>
</div>

<div class="card" id="purchaseForm">
    <div class="card-body">
        <form [formGroup]="expensevoucherForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="form-group">
                        <label>Party<span style="color:red">*</span></label>
                        <mat-form-field class="w-100" style="padding: 0;
                        width: 100%;
                        min-width: 100%;border-top: none;">
                            <input type="text" placeholder="Search Party" aria-label="Party" matInput
                                [formControl]="fromPartyControl" [matAutocomplete]="autos"
                                style="box-sizing: border-box;"
                                [ngClass]="{'is-invalid': f['party'].touched && f['party'].invalid}">
                            <mat-autocomplete #autos="matAutocomplete">
                                <ng-container *ngFor="let party of filteredFromParty | async">
                                    <mat-option *ngIf="party.is_active==true"
                                        [value]="party?.name + ' - ' +  party?.username "
                                        (onSelectionChange)="oncheckParty(party.id)" style="color:#FF9F43">{{party?.name
                                        + ' - ' + party?.username }}</mat-option>
                                </ng-container>
                                <ng-container *ngIf="(filteredFromParty | async) as party">
                                    <mat-option *ngIf="party.length === 0" [value]="'No data found'">
                                        <a routerLink="//contacts/addSupplier" style="color:#FF9F43">+ Add Party</a>
                                    </mat-option>
                                    <mat-option *ngIf="fromPartyControl.value?.length < 3" class="is-loading">Please
                                        Enter 1 or more characters</mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                        <span class="text-danger" *ngIf="party && party.invalid && party.touched">Select party </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Expense Date<span style="color:red">*</span></label>
                        <input type="date" formControlName="expense_date" [attr.min]="minDate" [attr.max]="maxDate"
                            [ngClass]="{'is-invalid': f['expense_date'].touched && f['expense_date'].invalid}">
                        <span class="text-danger"
                            *ngIf="expense_date && expense_date.invalid && expense_date.touched">Select Expense
                            Date</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Expence Voucher Series <span style="color:red">*</span></label>
                        <input type="text" formControlName="expense_no" placeholder="Enter Expence Voucher No." readonly
                            [ngClass]="{'is-invalid': f['expense_no'].touched && f['expense_no'].invalid}">
                        <!-- <select formControlName="expense_no">
                                <option value="" selected disabled>Select Expence Voucher Series
                                </option>
                                <option value="{{prefix.id}}" *ngFor="let prefix of prefixNo">{{prefix.prefix}}</option>
                            </select> -->
                        <span class="text-danger" *ngIf="expense_no && expense_no.invalid && expense_no.touched">Enter
                            Expence Voucher Series</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Refrence Bill No.</label>
                        <input type="text" formControlName="refrence_bill_no" placeholder="Enter Refrence Bill No."
                            [ngClass]="{'is-invalid': f['refrence_bill_no'].touched && f['refrence_bill_no'].invalid}">
                        <span class="text-danger"
                            *ngIf="refrence_bill_no && refrence_bill_no.invalid && refrence_bill_no.touched">Enter
                            Refrence Bill No.</span>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Created From</label>
                        <input type="text" formControlName="created_from" placeholder="Enter Created From" [ngModel]="prefixNo" readonly [ngClass]="{'is-invalid': f['created_from'].touched && f['created_from'].invalid}">
                        <span class="text-danger" *ngIf="created_from && created_from.invalid && created_from.touched">Enter Created From</span>
                    </div>
                </div> -->
                <div class="col-lg-3 col-sm-3 col-12 d-flex align-items-center">
                    <div class="form-group mt-4">
                        <div class="d-flex ">
                            <input type="checkbox" formControlName="reverse_charge" [id]="'checkboxTax-'"
                                [ngModel]="true">
                            <label [for]="'checkboxTax-'" class="d_flex"
                                style="margin-bottom: 0; margin-left: 5px;">Reverse Charge</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table datanew">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th></th>
                                        <th>From Account<span style="color:red">*</span></th>
                                        <th>Service/Product</th>
                                        <th>Note</th>
                                        <th>Amount<span style="color:red">*</span></th>
                                        <th>Discount (%)</th>
                                        <th>Tax (%)<span style="color:red">*</span></th>
                                        <th>Tax Value</th>
                                        <th>Total</th>
                                    </tr>
                                    <tr>
                                        <th colspan="3"> <span (click)="addCart(0)" class="debitIntoCart"
                                                *ngIf="isCart">Add Cart+</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container formArrayName="expenses_voucher_cart">
                                        <ng-container *ngFor="let d of getCart().controls; let i=index">
                                            <tr [formGroupName]="i">
                                                <td>{{i+1+'.'}}</td>
                                                <td>
                                                    <div>
                                                        <div class="me-2">
                                                            <svg (click)="removeCart(i)" style="color:red"
                                                                xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="bi bi-x-circle"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                <path
                                                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                            </svg>
                                                        </div>
                                                        <svg *ngIf="isLastCart(i)" (click)="addCart(i+1)"
                                                            style="color:green" xmlns="http://www.w3.org/2000/svg"
                                                            width="16" height="16" fill="currentColor"
                                                            class="bi bi-plus-circle" viewBox="0 0 16 16">
                                                            <path
                                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                            <path
                                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                                        </svg>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group" style="margin-bottom:-1%">
                                                        <mat-form-field class="w-100"
                                                            style="padding: 0; width: 100%; min-width: 100%; border-top: none;">
                                                            <input type="text" placeholder="Search Product"
                                                                aria-label="Search Products" matInput
                                                                [formControl]="myControls.at(i)"
                                                                (input)="getFilter($event.target.value)"
                                                                [matAutocomplete]="autos"
                                                                style="box-sizing: border-box;" />
                                                            <mat-autocomplete #autos="matAutocomplete">
                                                                <ng-container *ngFor="let option of filterAccount">
                                                                    <mat-option *ngIf="option?.is_active==true"
                                                                        [value]="option?.account_id"
                                                                        (onSelectionChange)="oncheck(option,i)"
                                                                        style="color:#FF9F43">
                                                                        {{ option?.account_id}}
                                                                    </mat-option>
                                                                </ng-container>
                                                                <mat-option *ngIf="filterAccount?.length === 0"
                                                                    [value]="'No data found'">
                                                                    <a routerLink="//account/accountlist"
                                                                        style="color:#FF9F43">+ Add Account</a>
                                                                </mat-option>
                                                                <mat-option *ngIf="myControls.at(i)?.value?.length < 1"
                                                                    class="is-loading">
                                                                    Please Enter 1 or more characters
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                        </mat-form-field>
                                                    </div>
                                                    <span class="text-danger" style="display: block;"
                                                        *ngIf="account(i) && account(i).invalid && account(i).touched">Select
                                                        Account</span>
                                                </td>
                                                <td>
                                                    <select formControlName="service_or_product">
                                                        <option value="Service" selected>Service</option>
                                                        <option value="Product">Product</option>
                                                    </select>
                                                    <span class="text-danger" style="display: block;"
                                                        *ngIf="service_or_product(i) && service_or_product(i).invalid && service_or_product(i).touched">Select
                                                        Amount Type</span>
                                                </td>
                                                <td><input type="text" formControlName="description"
                                                        placeholder="Enter Note" class="input"></td>
                                                <td><input type="number" formControlName="amount" class="input"
                                                        (blur)="calculateTotalEveryIndex(i)">
                                                    <span class="text-danger" style="display: block;"
                                                        *ngIf="amount(i) && amount(i).invalid && amount(i).touched">Enter
                                                        Amount</span>
                                                </td>
                                                <td><input type="number" formControlName="discount"
                                                        class="input discount-input-wrapper"
                                                        (blur)="calculateTotalEveryIndex(i)">
                                                    <span class="text-danger" style="display: block;"
                                                        *ngIf="discount(i) && discount(i).invalid && discount(i).touched">Enter
                                                        Discount (ex:1-100)</span>
                                                </td>

                                                <td>
                                                    <div class="form-group">
                                                        <label>Tax Percentage</label>
                                                        <select formControlName="tax"
                                                            (change)="onChangePercentage($event, i)"
                                                            (blur)="calculateTotalEveryIndex(i)">
                                                            <option value="" selected disabled>Select Tax Percentage
                                                            </option>
                                                            <option *ngFor="let prefix of taxSlabList;"
                                                                [value]="prefix?.slab_title">
                                                                {{prefix?.slab_title}}
                                                            </option>
                                                        </select>
                                                        <span class="text-danger"
                                                            *ngIf="tax(i) && tax(i).invalid && tax(i).touched">Enter Tax
                                                            (ex:1-100)</span>
                                                    </div>
                                                </td>
                                                <!-- <td><input type="number" formControlName="tax" class="input"
                                                        (blur)="calculateTotalEveryIndex(i)">
                                                    <span class="text-danger" style="display: block;"
                                                        *ngIf="tax(i) && tax(i).invalid && tax(i).touched">Enter Tax
                                                        (ex:1-100)</span>
                                                </td> -->
                                                <td><input type="number" formControlName="tax_value" class="input"
                                                        readonly>
                                                    <span class="text-danger" style="display: block;"
                                                        *ngIf="tax_value(i) && tax_value(i).invalid && tax_value(i).touched">Enter
                                                        Tax Value</span>
                                                </td>
                                                <td><input type="number" formControlName="total" class="input" readonly>
                                                    <span class="text-danger" style="display: block;"
                                                        *ngIf="total(i) && total(i).invalid && total(i).touched">Enter
                                                        Total</span>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                    <tr style=" background: rgba(145, 158, 171, 0.32);">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-start"><strong>Total</strong></td>
                                        <td></td>
                                        <td class="text-start"><strong>{{totalAmount().toFixed(2)}}</strong></td>
                                        <td class="text-start"><strong>{{totalDiscount()}}</strong></td>
                                        <td class="text-start"><strong>{{totalTax()}}</strong></td>
                                        <td class="text-start"><strong>{{totalTaxValue().toFixed(2)}}</strong></td>
                                        <td class="text-start"><strong>{{totalTotal().toFixed(2)}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6 my-3">
                    <div class="form-group">
                        <label>Note</label>
                        <textarea formControlName="note" placeholder="Enter Note"
                            [ngClass]="{'is-invalid': f['note'].touched && f['note'].invalid}"></textarea>
                        <span class="text-danger" *ngIf="note && note.invalid && note.touched">Enter
                            note
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 my-3">
                    <div class="form-group">
                        <div class="total-order">
                            <ul>
                                <li>
                                    <h4>Tax Amount</h4>
                                    <h5>{{totalTaxValue().toFixed(2) | currency:'INR'}}</h5>
                                    <input type="text" formControlName="tax_amount"
                                        [ngModel]="totalTaxValue().toFixed(2)" class="input" style="display: none;">

                                </li>
                                <li>
                                    <h4>Sub Total</h4>
                                    <h5> {{totalAmount().toFixed(2) | currency:'INR'}}</h5>
                                    <input type="text" formControlName="net_amount" [ngModel]="totalAmount().toFixed(2)"
                                        class="input" style="display: none;">
                                </li>
                                <!-- <li>
                                    <h4>Paid Amount</h4>
                                    <h5> <input type="text" formControlName="paid_amount" class="input" style="display: none;"> </h5>
                                </li> -->


                                <li>
                                    <h4>Round Off</h4>
                                    <h5>
                                        <span style="display:inline-grid;">
                                            <i data-bs-toggle="tooltip" title="ion-plus-circled"
                                                class="ion-plus-circled mx-1"
                                                [ngStyle]="{'color': !isMinus ? '#FF9F43' : 'gray'}"
                                                (click)="updateValue('+')"></i>
                                            <i data-bs-toggle="tooltip" title="ion-minus-circled"
                                                class="ion-minus-circled mx-1"
                                                [ngStyle]="{'color': isMinus ? '#FF9F43' : 'gray'}"
                                                (click)="updateValue('-')"></i>
                                        </span>
                                        <input type="text" class="input" [value]="roundOff| number:'1.2-2'"
                                            (blur)="changeValue($event.target.value)" style="width: 34%;">
                                    </h5>
                                </li>
                                <li class="total">
                                    <h4>Total Amount</h4>
                                    <h5> {{calculateTotal() | currency:'INR'}}</h5>
                                    <input type="text" formControlName="total_amount" [ngModel]="calculateTotal()"
                                        class="input" style="display: none;">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-submit me-2" *ngIf="!loaders">Submit</button>
                <button class="btn btn-submit me-2" type="submit" *ngIf="loaders" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;
                    Submit</button>
                <a routerLink="//transaction/expensesList" class="btn btn-cancel text-white">Cancel</a>
            </div>
        </form>
    </div>
</div>