<div class="container-fluid main_img">
    <div class="row ">
        <div class="col-md-12 ">
            <div class="text-light " style="margin: 220px 20px ; ">
                <h1 class="ts" style="color:white;  font-size: 5vw; ">HOSPITAL CAREERS </h1>
                <p class="ts1 card-text" style="font-size: 3vw;color: white;">Explore your potential.
                    Advance
                    your career.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-5">
    <div class="container  py-5" style="background-color: #C6DAE5;">
        <div class="row p-3">
            <div class="col-md-5">
                <div class="mb-2">
                    <input type="" placeholder="Keywords " class="form-control p-3" id=""
                        aria-describedby="emailHelp">

                </div>
            </div>
            <div class="col-md-5">
                <div class="mb-2">
                    <input type="" placeholder="location " class="form-control p-3" id=""
                        aria-describedby="emailHelp">

                </div>
            </div>
            <div class="col-md-2">
                <div class="mb-2">
                    <button type="submit" class="btn btn-primary w-100"> SEARCH JOBS </button>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container my-5">
    <div class="row">
        <div>
            <h2 class="text-center my-5 ">FEATURED EMPLOYERS
            </h2>
        </div>
        <div class="col-md-2  ">
            <div class="p-2 text-center">

                <img src="https://hospitalcareers.com/files/pictures/Texas_Health.jpg" alt="" class=" "
                    style="width: 130px; height: 80px;">
            </div>
        </div>
        <div class="col-md-2 ">
            <div class="p-2 text-center">
                <img src="https://hospitalcareers.com/files/pictures/welia_image.png" alt=""
                style=" width: 150px; height: 100px;">
            </div>

        </div>
        <div class="col-md-2 ">
            <div class="p-2 text-center">
                <img src="https://hospitalcareers.com/files/pictures/uk_healthcare_logo.jpg" alt="" class=" "
                    style="width: 150px; height: 100px;">
            </div>

        </div>
        <div class="col-md-2 ">
            <div class="p-2 text-center">
                <img src="https://hospitalcareers.com/files/pictures/UH_Logo_Hrzntl_RGB.jpg" alt=""
                    class="img-fluid " style="width: 150px; height: 100px;">
            </div>

        </div>
        <div class="col-md-2 ">
            <div class="p-2 text-center">
                <img src="https://hospitalcareers.com/files/pictures/tidelands.jpg" alt="" class=""
                    style="width: 130px; height: 100px;">
            </div>
        </div>
        <div class="col-md-2 ">
            <div class="p-2 text-center">
                <img src="https://hospitalcareers.com/files/pictures/1_Greene_County_Medical_Center_4c_no_tagline.png"
                    alt="" class=" " style="width: 130px; height: 100px;">
            </div>

        </div>
    </div>
</div>



<div class="container-fluid  text-center p-5" style="background-color: #32DEAD;">
    <button type="submit" class="p-2 px-5 text-light rounded-3 "
        style="background-color: #32DEAD;   border: 2px solid rgb(255, 255, 255); "> <b> Research Employers </b>
    </button>

</div>



<div class="container my-5">
    <div class="row">
        <div class="col-md-12  ">
            <div class="card mb-3   border border-info ">
                <div class="row g-0">
                    <div class="col-md-2 col-sm-1  text-center my-5 ">
                        <img src="https://hospitalcareers.com/files/pictures/Texas_Health.jpg" alt="" class=" "
                            style="width: 130px; height: 80px;">
                    </div>
                    <div class="col-md-10 col-sm-11">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center ">
                                <h5 class="card-title mb-0 px-0 rounded-1 "
                                    style="color: rgb(52, 73, 94)    ; display: inline-block;  font-size: 14px;">
                                    <mark style="background-color:#EBF6FE">
                                        Pediatric Hospitalist</mark>
                                </h5>
                                <div>
                                    <time class="d-block mb-1" datetime="2018-07-07">
                                        <small class="text-secondary ">July 09,2024</small>
                                    </time>
                                    <button type="button" class=" btn-outline-info btn float-end   py-2  px-3"
                                        style="font-size: 12px;"> Full time </button>
                                </div>
                            </div>



                            <ul class="list-group flex-row flex-wrap justify-content-between" style="width: 45%;">
                                <li class="list-group-item border-0 px-0">
                                    <i class="fa-duotone fa-lock"></i>
                                    <span>Pediatrix Medical Group</span>
                                </li>
                                <li class="list-group-item border-0 px-0">
                                    <i class="fa-sharp fa-solid fa-location-dot"></i> <span>Pocatello, ID,
                                        USA</span>
                                </li>

                            </ul>
                            <p class="card-text">We are seeking a Pediatric Hospitalist for our pediatric hospital
                                medicine service in a community hospital setting in southeast Idaho. The role of a
                                pediatric hospitalist at Portneuf Medical Center includes: Caring for</p>
                           
                            <button type="button" class=" btn-outline-info btn   py-2  px-3"
                                style="font-size: 12px;"> Physician & Surgeon </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>





