<div class="page-header">
  <div class="page-title">
    <h4> Add Account</h4>
    <h6>Create new Account </h6>
  </div>
</div>
<!-- /add -->
<div class="card">
  <div class="card-body">
    <form [formGroup]="accountForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-12">
          <div class="form-group">
            <label>Title*</label>
            <input type="text" formControlName="title" id="title" [ngClass]="{
                  'is-invalid': f['title'].touched && f['title'].invalid
                }">
            <span class="text-danger" *ngIf="title && title.invalid && title.touched">Enter Title name </span>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-12">
          <div class="form-group">
            <label>Account Type*</label>
            <select formControlName="accounts_type" class="w-100 h-100 border" required id="accounts_type"
            [ngClass]="{'is-invalid': f['accounts_type'].touched && f['accounts_type'].invalid}"
            #accountValue (change)="getAccountSubType(accountValue.value)">
            <option value="" selected disabled>Accounts type</option>
            <option *ngFor="let account of accountType" [value]="account.title" [attr.data-id]="account.id">{{ account.title }}</option>
          </select>
            <span class="text-danger" *ngIf="accounts_type && accounts_type.invalid && accounts_type.touched">Select
              Type of Account</span>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-12">
          <div class="form-group">
            <label>Account Sub Type*</label>
            <select formControlName="account_subtype" class="w-100 h-100 border" required id="account_subtype"
              [ngClass]="{'is-invalid': f['account_subtype'].touched && f['account_subtype'].invalid}">
              <option value="" selected disabled>Select Account Sub type</option>
              <option value="{{subType?.id}}" *ngFor="let subType of accountSubTypeLsit">{{subType?.title}}</option>
            </select>
            <span class="text-danger"
              *ngIf="account_subtype && account_subtype.invalid && account_subtype.touched">Select Account Sub Type
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-12">
          <div class="form-group row">
            <div class="col-lg-12">
              <label>Opening Balance*</label>
              <div class="input-group">
                <div>
                  <select formControlName="opening_balance_type" class=" border hov" required id="opening_balance_type"
                    [ngClass]="{'is-invalid': f['opening_balance_type'].touched && f['opening_balance_type'].invalid}">
                    <option class="unhov" value="" selected disabled>Balance type</option>
                    <option class="unhov" value="Cr">Cr</option>
                    <option class="unhov" value="Dr">Dr</option>
                  </select>
                  <span class="text-danger d-block"
                    *ngIf="opening_balance_type && opening_balance_type.invalid && opening_balance_type.touched">Select
                    Balance Type</span>
                </div>
                <div>
                  <input type="text" formControlName="opening_balance" id="opening_balance"
                    [ngClass]="{'is-invalid': f['opening_balance'].touched && f['opening_balance'].invalid}">
                  <span class="text-danger ml-5 pl-5"
                    *ngIf="opening_balance && opening_balance.invalid && opening_balance.touched">
                    Enter your Balance</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-12">
          <div class="form-group">
            <label>Account Id</label>
            <input type="text" formControlName="account_id" id="account_id" [ngClass]="{'is-invalid': f['account_id'].touched && f['account_id'].invalid}">
            <span class="text-danger" *ngIf="account_id && account_id.invalid && account_id.touched">Enter Account id</span>
          </div>
        </div>
        <div class="col-lg-12">
          <button class="btn btn-submit me-2" *ngIf="!loaders">Submit</button>
          <button class="btn btn-submit me-2" type="submit" *ngIf="loaders" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Submit</button>
          <a routerLink="//account/accountlist" class="btn btn-cancel">Cancel</a>
      </div>
      </div>
    </form>
  </div>
</div>
<!-- /add -->