<div class="row bg">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="page-title">
                    <h6 class="subhead-color" (click)="goBack()"><mat-icon
                            style="vertical-align: middle;">keyboard_backspace</mat-icon>
                            Back to Sales Order</h6>
                    <h4>New Sales Order</h4>
                </div>
                <div class="page-btn">
                    <a routerLink="//sales/edit-sales/{{orderDetail?.id}}" class="btn btn-added">
                        <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Edit Sales Order
                    </a>
                </div>
            </div>
            <div class="company-details-card card" *ngIf="orderDetail">
                <div class="sub-card row">
                    <mat-tab-group animationDuration="0ms" #tabGroup>
                        <mat-tab label="Debit Notes">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="th">Customer Name</td>
                                            <td class="td">{{orderDetail?.customer?.name}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Sale Order Date</td>
                                            <td class="td">{{orderDetail?.sale_order_date}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Sale Order Due Date</td>
                                            <td class="td">{{orderDetail?.due_date}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Sale Order No.</td>
                                            <td class="td">{{orderDetail?.sale_order_no}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Payment Terms</td>
                                            <td class="td">{{orderDetail?.payment_terms?.title}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Estimate</td>
                                            <td class="td">{{orderDetail?.estimate?.estimate_no}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total QTY</td>
                                            <td class="td">{{orderDetail?.total_qty}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total Discount</td>
                                            <td class="td">{{orderDetail?.total_discount}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total Tax</td>
                                            <td class="td">{{orderDetail?.total_tax}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Sub Total</td>
                                            <td class="td">{{orderDetail?.export}}</td>
                                        </tr>
                                      
                                        <tr>
                                            <td class="th">Round off</td>
                                            <td class="td">{{orderDetail?.roundoff}}</td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="th">Total</td>
                                            <td class="td">{{orderDetail?.total}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Note</td>
                                            <td class="td">{{orderDetail?.note}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Status</td>
                                            <td class="td"><span
                                                    [ngClass]="{'bg-lightgreen': orderDetail?.status === 'Complete', 'bg-lightred' : orderDetail?.status === 'Pending','bg-lightyellow' : orderDetail?.status === 'Draft'}"
                                                    class="badges">{{orderDetail?.status}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                        <mat-tab label="Cart">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td class="th">Product Name</td>
                                            <td class="th">Barcode</td>
                                            <td class="th">Qty</td>
                                            <td class="th">Price</td>
                                            <td class="th">Discount</td>
                                            <td class="th">Tax</td>
                                            <td class="th">Total</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let cart of orderDetail?.cart">
                                            <td class="td">{{cart?.barcode?.product_title + ' ' + cart?.barcode?.variant_name }}</td>  
                                            <td class="td">{{cart?.barcode?.sku}}</td>
                                            <td class="td">{{cart?.qty}}</td>
                                            <td class="td">{{cart?.price}}</td>
                                            <td class="td">{{cart?.discount}}</td>
                                            <td class="td">{{cart?.tax}}</td>
                                            <td class="td">{{cart?.total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="d-flex align-items-center my-3 mx-3">
                    <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                    <span
                        [ngClass]="{'bg-lightgreen': orderDetail?.is_active === true, 'bg-lightred' : orderDetail?.is_active === false,'bg-lightyellow' : orderDetail?.is_active === 'Partial' }"
                        class="badges">{{orderDetail?.is_active}}</span>
                </div>
            </div>
        </div>
    </div>
</div>