
<div class="page-header">
    <div class="page-title">
        <h4 class="titl">MATERIAL INWARD LIST</h4>
        <h6>Manage your Material Inward</h6>
    </div>
    <div class="page-btn" *ngIf="isAdd">
        <a routerLink="//purchase/addmaterial-Inward" class="btn btn-added">
            <img src="assets/img/icons/plus.svg" alt="img">Add New Material Inward
        </a>
    </div>
</div>

<!-- /product list -->
<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-path">
                    <a class="btn btn-filter" id="filter_search">
                        <img src="assets/img/icons/filter.svg" alt="img">
                        <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                    </a>
                </div>
                <div class="search-input">
                    <a class="btn btn-searchset">
                      <img src="assets/img/icons/search-white.svg" alt="img"></a>
                    <div class="dataTables_filter"><label>
                      <input type="search" class="form-control form-control-sm" placeholder="Search Supplier" [(ngModel)]="titlee" (ngModelChange)="search()">
                    </label>
                  </div>
         </div>
            </div>
            <div class="wordset">
                <div class="wordset">
                    <ul>
                        <li>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf" (click)="generatePDF()"><img src="assets/img/icons/pdf.svg" alt="img"></a>
                        </li>
                        <li>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel" (click)="exportToExcel()"><img src="assets/img/icons/excel.svg" alt="img"></a>
                        </li>
                        <li>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="print" (click)="printTable()"><img src="assets/img/icons/printer.svg" alt="img"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
           <!-- /Filter -->
           <div class="card mb-0" id="filter_inputs">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Material Inward Date</label>
                                    <input type="date" [(ngModel)]="date" (change)="filterData()">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Recieved By</label>
                                    <input type="search" [(ngModel)]="selectedPurchaseNo" (ngModelChange)="filterData()" class="search" placeholder="search Recieved By">
                         
                                </div>
                            </div>
                           
                        </div>
                         <div class="form-group" (click)="clearFilters()">
                                    <a class="btn btn-filters ms-auto" style="width: 10%;">Clear Filter</a>
                                </div>     
                    </div>
                </div>
            </div>
        </div> 
        <!-- /Filter -->
        <div class="table-responsive">
            <table class="table datanew" id="mytable">
                <thead>
                    <tr>
                        <th (click)="sort('id')" class="thone">
                            <label class="checkboxs mb-0 d-inline" (click)="selectAll(initChecked)">
                                <input type="checkbox" [(ngModel)]="allSelected" (change)="selectAlll()">
                                <span class="checkmarks"></span>
                            </label>
                            <i class="fa fa-sort"></i>
                        </th>
                        <th (click)="sort('id')" class="thone">Sr.No.<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Supplier Name <i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Purchase Order <i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">PO Date<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Material Inward Date<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Material Inward No<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Shipping Note <i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Recieved By<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Status <i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Is Active <i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Action <i class="fa fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody *ngIf="filteredData?.length>=0">
                    <tr *ngFor="let products of filteredData | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p} let i = index">
                        <td>
                            <label class="checkboxs">
                                <input type="checkbox" [(ngModel)]="selectedRows[i]">
                                <span class="checkmarks"></span>
                            </label>
                        </td>
                        <td>{{i+1}}</td>
                        <td class="productimgname">
                            <a routerLink="//purchase/material-InwardDetails/{{products.id}}" style="line-height: 3;">{{products?.party?.name}}</a>
                        </td>
                       
                        <td>{{products.purchase_order.order_no}}</td>
                        <td>{{products.po_date |  date: 'yyyy-MM-dd'}}</td>
                        <td>{{products.material_inward_date |  date: 'yyyy-MM-dd'}}</td>
                        <td>{{products.material_inward_no}}</td>
                        <td>{{products.shipping_note}}</td>
                        <td>{{products.recieved_by}}</td>
                        <td>
                            <span [ngClass]="{'bg-lightgreen': products.status === 'Completed', 'bg-lightred' : products.status === 'Inprogress','bg-lightyellow' : products.status === 'Draft'}" class="badges">{{products.status}}</span>
                        </td>
                        <td>
                            <mat-slide-toggle (click)="products.is_active ? isActive(i,products.id):Active(i,products.id)" [(ngModel)]="products.is_active"></mat-slide-toggle>
                        </td>
                        <td>
                            <a class="me-1" routerLink="//purchase/material-InwardDetails/{{products.id}}">
                                <img src="assets/img/icons/eye.svg" alt="img">
                            </a>
                            <a class="me-1" routerLink="//purchase/editmaterial-Inward/{{products.id}}" *ngIf="isEdit">
                                <img src="assets/img/icons/edit.svg" alt="img">
                            </a>
                            <a (click)="confirmText(i,products.id)" class="me-1 confirm-text" *ngIf="isDelete">
                                <img src="assets/img/icons/delete.svg" alt="img">
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="filteredData?.length===0 && !loader">
                    <tr>
                      <td colspan="10">
                        <p class="center-textt">Data not available</p>
                      </td>
                    </tr>
                  </tbody>
             </table>
             <div class="progressbar">
                <mat-progress-bar mode="indeterminate" class="progressbar" *ngIf="loader"></mat-progress-bar>
             </div>
            <div class="row" *ngIf="!loader">
                <div class="col-lg-4 col-sm-4 col-12 mt-2">
                    <div class="entries"> Show per page
                    <select [(ngModel)]="itemsPerPage" class="pagination" >
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="-1">All</option>
                      </select>
                    </div>
                </div>
               <div class="col-lg-8 col-sm-8 col-12 mt-2">
                <div class="f-right">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>  
                    <div class="entries f-right">Showing {{itemsPerPage}} to {{itemsPerPage}} of {{itemsPerPage}} entries</div>  
                </div>
               </div>
             </div>
        </div>
    </div>
</div>
<!-- /product list -->
