<div class="row bg">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="page-title">
                    <h6 class="subhead-color" (click)="goBack()"><mat-icon
                            style="vertical-align: middle;">keyboard_backspace</mat-icon>
                        Back to products</h6>
                    <h4>New Product</h4>
                </div>
                <div class="page-btn">
                    <a routerLink="//purchase/editpurchase/{{purchaseDetail ?.id}}" class="btn btn-added">
                        <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Edit Product
                    </a>
                </div>
            </div>
            <div class="company-details-card card">
                <div class="sub-card row">
                    <mat-tab-group animationDuration="0ms" #tabGroup>
                        <mat-tab label="Purchase Details">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="th">Supplier Name</td>
                                            <td class="td">{{purchaseDetail?.party?.name}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Purchase Order Date</td>
                                            <td class="td">{{purchaseDetail?.order_date}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Purchase Order No.</td>
                                            <td class="td">{{purchaseDetail?.order_no}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Shipping Date</td>
                                            <td class="td">{{purchaseDetail?.shipping_date}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Shipping Note</td>
                                            <td class="td">{{purchaseDetail?.shipping_note}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Round Off</td>
                                            <td class="td">{{purchaseDetail?.round_off}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total Discount</td>
                                            <td class="td">{{purchaseDetail?.total_discount}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total Tax</td>
                                            <td class="td">{{purchaseDetail?.total_tax}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Export</td>
                                            <td class="td">{{purchaseDetail?.export}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Sub Total</td>
                                            <td class="td">{{purchaseDetail?.sub_total}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total</td>
                                            <td class="td">{{purchaseDetail?.total}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Notes</td>
                                            <td class="td">{{purchaseDetail?.note}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Status</td>
                                            <td class="td"><span
                                                    [ngClass]="{'bg-lightgreen': purchaseDetail?.status === 'Received', 'bg-lightred' : purchaseDetail?.status === 'Pending','bg-lightyellow' : purchaseDetail?.status === 'Ordered'}"
                                                    class="badges">{{purchaseDetail?.status}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                        <mat-tab label="Purchase Cart">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td class="th">Barcode</td>
                                            <td class="th">Qty</td>
                                            <td class="th">MRP</td>
                                            <td class="th">Landing Cost</td>
                                            <td class="th">Purchase Rate</td>
                                            <td class="th">Discount</td>
                                            <td class="th">Discount Type</td>
                                            <td class="th">Additional Discount</td>
                                            <td class="th">Tax</td>
                                            <td class="th">Total</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let cart of purchaseDetail?.cart">
                                            <td class="td">{{cart?.barcode?.sku}}</td>
                                            <td class="td">{{cart?.qty}}</td>
                                            <td class="td">{{cart?.mrp}}</td>
                                            <td class="td">{{cart?.landing_cost}}</td>
                                            <td class="td">{{cart?.purchase_rate}}</td>
                                            <td class="td">{{cart?.discount}}</td>
                                            <td class="td">{{cart?.discount_type}}</td>
                                            <td class="td">{{cart?.additional_discount}}</td>
                                            <td class="td">{{cart?.tax}}</td>
                                            <td class="td">{{cart?.total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="d-flex align-items-center my-3 mx-3">
                    <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                    <span
                        [ngClass]="{'bg-lightgreen': purchaseDetail?.is_active === true, 'bg-lightred' : purchaseDetail?.is_active === false,'bg-lightyellow' : purchaseDetail?.is_active === 'Partial' }"
                        class="badges">{{purchaseDetail?.is_active}}</span>
                </div>
            </div>
        </div>
    </div>
</div>