<div class="row">
  <div class="col-7">


    <div class="page-header">
      <div class="page-title">
        <h4>Warehouse list</h4>
        <h6>View/Search Warehouse</h6>
      </div>
      <div class="page-btn">
        <a routerLink="//warehouse/addwarehouse" class="btn btn-added">
          <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Add Warehouse
        </a>
      </div>
    </div>


    <!-- /product list -->
    <div class="card">
      <div class="card-body">
        <div class="table-top">
          <div class="search-set">
            <div class="search-path">
              <a class="btn btn-filter" id="filter_search">
                <img src="assets/img/icons/filter.svg" alt="img">
                <span><img src="assets/img/icons/closes.svg" alt="img"></span>
              </a>
            </div>
            <div class="search-input">
              <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
            </div>
          </div>
          <div class="wordset">
            <ul>
              <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="assets/img/icons/pdf.svg"
                    alt="img"></a>
              </li>
              <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="assets/img/icons/excel.svg"
                    alt="img"></a>
              </li>
              <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                    src="assets/img/icons/printer.svg" alt="img"></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /Filter -->
        <!-- <div class="card" id="filter_inputs">
                  <div class="card-body pb-0">
                      <div class="row">
                          <div class="col-lg-2 col-sm-6 col-12">
                              <div class="form-group">
                                  <select class="form-select">
                                      <option>Choose Category</option>
                                      <option>Computers</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-lg-2 col-sm-6 col-12">
                              <div class="form-group">
                                  <select class="form-select">
                                      <option>Choose Sub Category</option>
                                      <option>Fruits</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-lg-2 col-sm-6 col-12">
                              <div class="form-group">
                                  <select class="form-select">
                                      <option>Choose Sub Brand</option>
                                      <option>Iphone</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                              <div class="form-group">
                                  <a class="btn btn-filters ms-auto"><img src="assets/img/icons/search-whites.svg" alt="img"></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->
        <!-- /Filter -->
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" class="table  datanew">
            <thead>
              <tr>
                <th>
                  <label class="checkboxs" (click)="selectAll(initChecked)">
                    <input type="checkbox" [(ngModel)]="initChecked">
                    <span class="checkmarks"></span>
                  </label>
                </th>
                <th>Title</th>
                <th>Accounts Type</th>
                <th>Address</th>
                <th>Is Active</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let products of tableData; let i = index">
                <td>
                  <label class="checkboxs">
                    <input type="checkbox" [(ngModel)]="products.is_active">
                    <span class="checkmarks"></span>
                  </label>
                </td>
                <td class="productimgname">
                  <!-- <a href="javascript:void(0);" class="product-img">
                                      <img [src]="products.img" alt="product">
                                  </a> -->
                  <a href="javascript:void(0);" style="line-height: 3;">{{products.title}}</a>
                </td>
                <td>{{products.accounts_type}}</td>
                <td>{{products.address}}</td>

                <td><span
                    [ngClass]="{'bg-lightgreen': products.is_active === true, 'bg-lightred' : products.is_active === false,'bg-lightyellow' : products.is_active === 'Partial' }"
                    class="badges">{{products.is_active}}</span></td>
                <td>
                  <!-- <a class="me-3"  routerLink="//warehouse/warehouse-details/{{products.id}}">
                                      <img src="assets/img/icons/eye.svg" alt="img">
                                  </a> -->
                  <a class="me-3" (click)="editWareHouse(products)">
                    <img src="assets/img/icons/edit.svg" alt="img">
                  </a>
                  <a (click)="confirmText(i,products.id)" class="me-3 confirm-text" href="javascript:void(0);">
                    <img src="assets/img/icons/delete.svg" alt="img">
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="page-header">
      <div class="page-title">
          <h4> {{this.editMode? 'Edit Warehouse': 'Add Warehouse'}}</h4>
          <h6>{{this.editMode? 'Edit Warehouse List': 'Create new Warehouse' }}</h6>
      </div>
  </div>
  <!-- /add -->
  <div class="card">
      <div class="card-body">
          <form [formGroup]="warehouseForm" (ngSubmit)="submit()">
          <div class="row">

              <div class="col-lg-6 col-sm-6 col-12">
                  <div class="form-group">
                      <label>Title*</label>
                      <input type="text" formControlName="title" id="title"
                      [ngClass]="{
                        'is-invalid': f['title'].touched && f['title'].invalid
                      }">
                      <span class="text-danger"*ngIf="title && title.invalid && title.touched">Enter Title name </span>
                  </div>
              </div>

              <div class="col-lg-6 col-sm-6 col-12">
                  <div class="form-group">
                      <label> Type of Account*</label>
                      <select formControlName="accounts_type"  required id="accounts_type"
                      [ngClass]="{'is-invalid': f['accounts_type'].touched && f['accounts_type'].invalid}">
                        <option value="" selected disabled>Accounts type</option>
                        <option value="Cash">Cash</option>
                        <option value="Bank">Bank</option>
                        <option value="Employee">Employee</option>
                        <option value="Customer">Customer</option>
                        <option value="Sale">Sale</option>
                        <option value="Purchase">Purchase</option>
                        <option value="Stock">Stock</option>
                        <option value="Dealer">Dealer</option>
                        <option value="Supplier">Supplier</option>
                        <option value="Tax">Tax</option>
                        <option value="Expense">Expense</option>
                        <option value="Capital">Capital</option>
                        <option value="Current Asset">Current Asset</option>
                        <option value="Current Liabilities">Current Liabilities</option>
                        <option value="Fixed Assets">Fixed Assets</option>
                      </select>
                      <span class="text-danger"*ngIf="accounts_type && accounts_type.invalid && accounts_type.touched">Select Type of Account</span>
                  </div>
              </div>
              <div class="col-lg-12">
                  <div class="form-group">
                      <label>Address*</label>
                      <textarea class="form-control" formControlName="address" id="address"
                      [ngClass]="{
                        'is-invalid': f['address'].touched && f['address'].invalid
                      }"></textarea>
                      <span class="text-danger"*ngIf="address && address.invalid && address.touched">Enter your address</span>
                  </div>
              </div>

              <div class="col-lg-12">
                  <button class="btn btn-submit me-2" type="submit">{{this.editMode? 'Save Changes':'Submit'}}</button>
                  <a routerLink="//warehouse/warehouselist" class="btn btn-cancel" *ngIf="!this.editMode">Cancel</a>
              </div>

        </div>
      </form>
      </div>
  </div>
  <!-- /add -->
  </div>
</div>
<!-- /product list -->
