<div class="page-header">
    <div class="page-title">
        <h4>Company Details</h4>
        <h6>Full details of a Company</h6>
    </div>
</div>

<!-- /add -->
<div class="row">
    <div class="col-lg-8 col-sm-12">
        <div class="card">
            <div class="card-body">
                <!-- <div class="bar-code-view">
                    <img src="assets/img/barcode1.png" alt="barcode">
                    <a class="printimg">
                        <img src="assets/img/icons/printer.svg" alt="print">
                    </a>
                </div> -->
                <div class="productdetails">                  
                    <ul class="product-bar">
                        <li>
                            <h4>Name</h4>
                            <h6>{{companyDetails.name}}</h6>
                        </li>
                        <li>
                            <h4>Phone</h4>
                            <h6>{{companyDetails.phone}}</h6>
                        </li>
                        <li>
                            <h4>Email</h4>
                            <h6>{{companyDetails.email}}</h6>
                        </li>
                        <li>
                            <h4>Country</h4>
                            <h6>{{companyDetails.country}}</h6>
                        </li>
                        <li>
                            <h4>State</h4>
                            <h6>{{companyDetails.state}}</h6>
                        </li>
                        <li>
                            <h4>Pincode</h4>
                            <h6>{{companyDetails.pincode}}</h6>
                        </li>
                        <li>
                            <h4>Financial Year</h4>
                            <h6>{{companyDetails.financial_year}}</h6>
                        </li>
                        <li>
                            <h4>GST</h4>
                            <h6>{{companyDetails.gst}}</h6>
                        </li>
                        <li>
                            <h4>Currency</h4>
                            <h6>{{companyDetails.currency}}</h6>
                        </li>
                        <li>
                            <h4>Is_active</h4>
                            <h6>{{companyDetails.is_active}}</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="slider-product-details">
                    <div class="owl-carousel owl-theme product-slide">
                        <div class="slider-product">
                            <img src="assets/img/product/product69.jpg" alt="img">
                            <h4>macbookpro.jpg</h4>
                            <h6>581kb</h6>
                        </div>
                        <div class="slider-product">
                            <img src="assets/img/product/product69.jpg" alt="img">
                            <h4>macbookpro.jpg</h4>
                            <h6>581kb</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /add -->