<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sciatica</title>
</head>
<body>
    <!-- SCIATICA -->
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                style="color: #13C5DD !important;">
                SCIATICA
            </h5>
            <p>Sciatica refers to pain that radiates along the path of the sciatic nerve, which branches from your lower
                back through your hips and buttocks and down each leg. Sciatica is usually caused by a herniated disc,
                bone spur on the spine, or spinal stenosis (narrowing of the spine), all of which can put pressure on
                the sciatic nerve.</p>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-5  mt-5 ">
            <img src="../../../../assets/img/sciatica-2.jpg" alt="" class="img-fluid ">
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 ">
            <p>
            <h3>Common Symptoms of Sciatica:</h3>
            <ul class="my-2 ">
                <li><b>Pain:</b>The most common symptom is pain that radiates from your lower back to your buttock and
                    down the back of your leg. The pain can range from mild to severe.
                </li>
                <li> <b>Numbness or Tingling:</b> You may experience numbness or a tingling sensation in your leg or
                    foot.
                </li>
                <li><b>Weakness:</b>Muscles along the path of the sciatic nerve may become weak, making it difficult to
                    move your leg or foot.</li>
            </ul>

            <ul class="my-2 ">
                <h3>Treatment Options:</h3>
                <li><b> Rest: </b>Short-term rest may be recommended to alleviate acute symptoms.</li>
                <li><b>Medications:</b></li>
                <ul class="my-2 ">

                    <li><b>Pain Relievers:</b> Over-the-counter pain relievers like ibuprofen or prescription
                        medications may be used.</li>
                    <li><b>Muscle Relaxants:</b> These can help relieve muscle spasms.</li>
                </ul>
                <li> <b>Physical Therapy:</b> Exercises that focus on strengthening and stretching can help alleviate
                    sciatic pain.</li>
                <li><b>Heat or Cold Therapy:</b> Applying heat or cold packs may help reduce inflammation and ease pain.
                </li>
                <li> <b>Epidural Steroid Injections:</b> In some cases, corticosteroid injections around the spinal
                    nerve roots may be recommended for pain relief.</li>
                <li> <b>Surgery: </b> conservative treatments are ineffective and the symptoms are severe or worsening,
                    surgery to address the underlying cause may be considered.</li>
            </ul>
            <ul class="my-2 ">

                <h3>Prevention:</h3>


                <li><b>Maintain Good Posture:</b> Proper body mechanics can reduce the risk of sciatic nerve irritation.
                </li>
                <li><b>Regular Exercise:</b> Strengthening the core muscles can provide support to the spine.</li>
                <li><b>Lift Properly:</b> When lifting heavy objects, use your legs rather than your back.</li>

            </ul>
        </div>
        <div class="col-lg-12 ">
          
            <p>It's important to consult with a healthcare professional for an accurate diagnosis and a personalized
                treatment plan. If you experience symptoms of sciatica, especially if they are severe or persistent,
                seek medical attention promptly. Diagnostic tests such as an MRI or CT scan may be ordered to determine
                the underlying cause of the sciatic nerve compression.
            </p>

        </div>

    </div>


</div>
<!--end SCIATICA -->
</body>
</html>
