<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>Electro-Physiotherapy</title>
    
</head>
<body>
    <!-- SCIATICA -->
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                style="color: #13C5DD !important;">
              Electro-Physiotherapy          
            </h5>
            <p class="mt-4">Electrotherapy is a medical treatment that involves the use of electrical energy to stimulate nerves and muscles for therapeutic purposes. It has been used in various forms for decades and is commonly employed by physical therapists, chiropractors, and other healthcare professionals. Electrotherapy can serve different purposes, such as pain management, muscle rehabilitation, and tissue healing. Here are some common forms of electrotherapy:
            </p>
            <br>
            <!-- <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Cupping:</h6> -->
          
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-7 col-sm-7 col-lg-7">
            <ul>
                <li> <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-3"style="color: #13C5DD !important;">1.Transcutaneous Electrical Nerve Stimulation (TENS):</h6></li>
            <ul>
                <li>	TENS is a widely used electrotherapy method for pain management.</li>
                <li>	It involves applying low-voltage electrical currents through electrodes placed on the skin over the painful area
                </li>
                <li>	The electrical stimulation is believed to interfere with the transmission of pain signals to the brain, providing relief.
                </li>
            </ul>
            </ul>
            <ul>
                <li><h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">2.	Electrical Muscle Stimulation (EMS):</h6></li>
            <ul>
                <li>EMS uses electrical impulses to stimulate muscle contractions.
                </li>
                <li>It is often employed for muscle strengthening, rehabilitation, and reducing muscle spasms.
                </li>
               
            </ul>
        </ul>
        <ul>
            <li> <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">3.	Interferential Current (IFC):
            </h6></li>
            <ul>
                <li>IFC involves the use of two high-frequency electrical currents that intersect and produce an interference pattern.
                </li>
                <li>	This interference helps reduce pain and inflammation and promotes tissue healing.
                </li>
                <li>IFC is often used for managing musculoskeletal conditions.
                </li>
            </ul>
        </ul>
           
            <ul>
                <li><h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">4.	Ultrasound Therapy:</h6></li>
                <ul>
                    <li>Ultrasound therapy utilizes high-frequency sound waves to generate heat within tissues.</li>
                    <li>It is commonly used for promoting tissue healing, reducing inflammation, and relieving pain in conditions like soft tissue injuries.</li>
                </ul>
            </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 mt-5 ">
            <img src="../../../../assets/img/electro1.jpg" class="img-fluid rounded shadow ">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 mt-5 p-4">
            <img src="../../../../assets/img/electromeg.jpg" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-7 col-sm-7 col-lg-7 mt-5 ">
            <ul>
                <li> <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-3"style="color: #13C5DD !important;">5.	Galvanic Stimulation:</h6></li>
            <ul>
                <li>	Galvanic stimulation uses direct current (DC) to stimulate nerves and muscles</li>
                <li>	It can be effective for reducing pain, swelling, and inflammation.
                </li>
                <li>		Galvanic stimulation is sometimes used in wound healing and edema reduction.
                </li>
            </ul>
            </ul>
            <ul>
                <li><h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">6.	Pulsed Electromagnetic Field (PEMF) Therapy:</h6></li>
            <ul>
                <li>	PEMF involves the use of electromagnetic fields to stimulate cells and promote healing.
                </li>
                <li>	It is used for various conditions, including bone healing, pain management, and reducing inflammation.
                </li>
               
            </ul>
        </ul>
        
        </div>
    </div>
    
   
    
    <div>

    </div>


</div>
<!--end SCIATICA -->
</body>
</html>