<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- slipdisk  -->
   <div class="container-fluid p-4">   

    <div class="row">
        <div class="col-md-7 col-sm-7 ">
            <div class="mb-4">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                    style="color: #13C5DD !important;">


                    SLIP DISC

                </h5>
                <p>Slipped disc, also known as a herniated or bulging disc. This condition occurs when the soft
                    inner portion of a disc in the spine pushes through a crack in the tougher exterior. This can
                    cause pressure on nearby nerves, leading to pain, numbness, or weakness.
                    Here are some general points about slipped discs:

                    <br>

                </p>
                <ul class="my-2 ">
                    <h3> Symptoms:
                    </h3>
                    <li> <b>Pain: </b> Typically, there is localized pain in the affected area of the spine.
                    </li>
                    <li> <b>Numbness or Tingling:</b> This can occur in the area served by the affected nerves.
                    </li>
                    <li> <b>Muscle Weakness:</b> Weakness in certain muscles may result from nerve compression.
                    </li>
                    <li> <b>Radiating Pain: </b> Pain may radiate down the leg or arm, depending on the location of
                        the slipped.
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 col-sm-5">
            <div class="position-relative h-100">
                <img class=" img-fluid " src="../../../../assets/img/male-back-slipped.jpg">
             
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
            <h3>Treatment Options:
            </h3>
            <ul class="my-2 ">
                <li>
                    <b>Rest: </b> Short-term rest may be advised to alleviate acute symptoms.

                </li>
                <li>
                    <b>Medications:</b> Non-steroidal anti-inflammatory drugs (NSAIDs) or pain relievers may be
                    recommended.


                </li>
                <li>
                    <b>Physical Therapy:</b> Exercises can help improve strength and flexibility, relieving pressure
                    on the affected nerves.


                </li>
                <li>
                    <b>Heat or Cold Therapy:</b> Applying heat or cold packs may help reduce inflammation and ease
                    pain.


                </li>
                <li>
                    <b>Rest:</b> Short-term rest may be advised to alleviate acute symptoms.

                </li>
                <li> <b>Epidural Steroid Injections:</b> In some cases, corticosteroid injections around the spinal
                    nerves may be recommended for pain relief.
                </li>
                <li> <b>Surgery:</b> If conservative treatments don't provide relief and the symptoms are severe,
                    surgery may be considered</li>
            </ul>
            <h3>Prevention:</h3>
            <ul class="my-2 ">
                <li>
                    <b>Maintain Good Posture:</b> Proper body mechanics can reduce the risk of disc-related issues.
                </li>
                <li><b>Regular Exercise:</b> Strengthening core muscles can provide support to the spine.</li>
                <li><b>Healthy Lifestyle:</b> Maintain a healthy weight and avoid activities that may strain the
                    back.</li>


            </ul>
            <p>It's crucial to consult with a healthcare professional for an accurate diagnosis and a tailored
                treatment plan. If you suspect a slipped disc or are experiencing persistent back pain, seek medical
                advice promptly. Your healthcare provider may order imaging tests, such as an MRI or CT scan, to
                confirm the diagnosis and determine the best course of action.</p>



        </div>

    </div>

</div>
 <!--end slipdisk  -->
</body>
</html>
