<div class="container-fluid my-4">
  <div class="mb-4 d-flex align-items-center justify-content-between">
    <div class="">
      <h2 class="text-bold">All Notifications</h2>
      <p class="notification-description-wrapper">View your all activities</p>
    </div>
    <div>
      <button class="btn btn-primary me-3" (click)="selectedNotification()">View
        Selected({{selectedNotificationIds?.length}})</button>
      <button class="btn btn-primary" (click)="viewAllNotification()">View All</button>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12 p-0" *ngFor="let item of notificationList ;let n = index;">
      <div class="d-flex align-items-center mb-4">
        <input *ngIf="!item?.is_view" type="checkbox" [(ngModel)]="notificationVel[n]" (change)="chackboxChange(item?.id,n)"
          class="me-3 checkbox-wrapper" />
        <div class="card card-wrapper w-100 mb-0"
          [ngClass]="item?.is_view && !isAllNotificationView ? 'notification-spacing-wrapper' : ''"
          (click)="notificationRead(item?.id,item?.is_view)">
          <div class="card-body p-1 d-flex align-items-center justify-content-between"
            [ngClass]="!item?.is_view ? 'unread-card-wrapper' : ''">
            <div class="d-flex align-items-center">
              <img src="../../../assets/logo/logo.png" alt="logo-img" class="rounded-circle mr-3" width="50"
                height="50">
              <div>
                <h5 class="card-title mb-1">{{ item?.title }}</h5>
                <p class="card-text text-muted mb-1">{{ item?.body }}</p>
                <p class="card-text text-muted ">{{ item?.minutesAgo }}</p>
              </div>
            </div>
            <div *ngIf="!item?.is_view" class="unread-notification-wrapper me-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex w-100 justify-content-end my-3">
    <ul class="pagination-list">
      <li [class.disabled]="page === 1" (click)="page > 1 && pageChange(page - 1)">
        <a href="javascript:void(0)">
          <i class="fa fa-angle-double-left"></i> Previous
        </a>
      </li>
      <li *ngFor="let p of getPageNumbers()" [ngClass]="{'active-page': p === page, 'disabled': p === '...'}"
        (click)="p !== '...' && pageChange(p)">
        <a href="javascript:void(0)">{{ p }}</a>
      </li>
      <li [class.disabled]="page === totalNotificationCount"
        (click)="page < totalNotificationCount && pageChange(page + 1)">
        <a href="javascript:void(0)">
          Next <i class="fa fa-angle-double-right"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="entries f-right">
    Showing {{ (page - 1) * itemsPerPage + 1 }} to {{ page * itemsPerPage }} of {{ totalNotificationCount }} entries
  </div>
</div>