@import '../../../assets/scss/variables';

.none {
  display: none !important;
}

.block {
  display: block !important;
}

#sidebar .sidebar-inner {
  width: 100%;
}

.mainactive {
  background: #1b2850;
  color: #fff;
  border-radius: 5px;
}

.sub-li {
  font-weight: 500;
    font-size: 16px;
    color: #67748E;
    // position: relative;
    // display: flex;
    // align-items: center;
    padding: 8px 15px;
    width: 100%;
    display: flex;
    font-family: "nunito";
    align-items: center;
}

.active{
  color: #FF9F43;
}

.sub-li img, .sub-li svg{
  margin-right: 10px;
  height: 18px;
  width: 18px;
}
.sub-head{
  font-weight: 500;
  font-family: 'nunito';
  font-size: 14px;
  color: #1B2950;
  margin: 15px 0 0;
}

.sub-ul .sub-li .dot::after {
  content: "";
  background: rgba(50, 71, 92, 0.38);
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 50px;
  position: absolute;
  top: 16px;
  left: 0;
}

.dot{
  margin-left: 25px;
}
.dot-svg{
  width: 9px !important;
    height: 9px !important;
    border: 2px solid #fff;
    border-radius: 50px;
}
.colores:hover{
  background:$button-hover-color ;
}