<div class="container  offset-md-1">
    <div class="row ">
        <div class="col-md-5 border mt-4">
          
            <div class="mt-3 ">
                <span class="h6"> On Feb 07, 2024</span>
                <span class="h6 float-end"> At 5:45 PM</span>
                <p class="text-primary">Change Date & Time</p>
            </div>

            <hr>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4" style="max-height: 100px;">
                            <img src="https://img.freepik.com/free-photo/beautiful-young-female-doctor-looking-camera-office_1301-7807.jpg"
                                alt="Doctor Image" style="height: 100px;">
                        </div>
                        <div class="col-md-8">
                            <ul style="list-style: none;">
                                <li style="font-weight: bold;">
                                    Dr. Janesha H.C
                                </li>
                                <li>
                                    BDS, MDS - Conservative Dentistry & Endodontics
                                </li>
                                <li>
                                    Endodontist, Conservative Dentist, Dentist, Dental Surgeon
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4" style="max-height: 100px;">
                            <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/poster/g/w/i/medium-dnt53-dental-office-wall-decor-dental-clinic-wall-dental-original-imagg7njukhymyyj.jpeg?q=90&crop=false"
                                alt="Clinic Image" style="height: 100px;">
                        </div>
                        <div class="col-md-8">
                            <ul style="list-style: none;">
                                <li style="font-weight: bold;">
                                    Dental Works
                                </li>
                                <li>
                                    274, Whitefield Main Road, Bangalore
                                </li>
                                <li class="text-primary">
                                    Get Directions
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- Patient Detail -->
        <div class="col-md-6 border mt-4 ms-4">
            <h4 class="mt-3">
                <i class="fa-solid fa-check"
                style=
                "background-color:#01A400;
                 color: #ffffff;
                 border-radius: 8px;
                 padding: 3px;
                 margin: 4px;
                "></i>
                Appointment Confirmed</h4>

                <div class="mt-3">
                    <ul style="list-style: none;">
                     <li>Your Appointment ID is 86454555</li>
                     <li>We have sent you message with the details</li>
                     <li class="mt-2">Patient Name</li>
                     <li class="fw-bold">John Doe</li>
                     <li class="mt-2">Mobile</li>
                     <li class="fw-bold">9988003344</li>
                    </ul>
                </div >
                <div class="mt-5 pt-5">
                    <button class=" btn btn-outline-primary mx-2">Cancel Appointment</button>
                    <button class=" btn btn-outline-primary mx-2">Reschedule Appointment</button>
          
                </div>
               
        </div>


    </div>
</div>
