<div class="container">
    <div class="page-header-wrapper">
        <div class="header-title-wrapper">
            <h3 class="title-wrapper">Year End Closing Process</h3>
        </div>
        <div class="cards-container-wrapper mt-3">
            <div class="row">
                <div class="col-12 col-lg-6 py-3 px-4 card-list-wrapper">
                    <div class="card-title-wrapper">
                        <h3 class="title-wrapper card-title">Things to take-care:</h3>
                    </div>
                    <div class="card-description-wrapper">
                        <p class="mb-2">1. The process take 4 hours or more.</p>
                        <p class="mb-2">2. During the process, avoid using the system. We recommend to start the process
                            before/after
                            your business hours. </p>
                        <p class="mb-2">3. Once year end closing process is completed, please change the Voucher Prefix
                            is required,
                            as per new
                            year. (Optional)
                        </p>
                        <p class="mb-2"> Go to Settings > General Settings > Prefix</p>
                    </div>
                </div>

                <div class="col-12 col-lg-6 py-3 px-4">
                    <div class="card-content-wrapper">
                        <h5>1. What is it?</h5>
                        <p class="mb-2">It is the completion of the accounting period when businesses close their
                            accounts for
                            financial year, so they can prepare
                            profit and loss account and balance sheet. It is the procedure to close books.
                        </p>
                        <h5>Why to do it?</h5>
                        <p class="mb-2">It helps to identify and balances or definition process identifies any balances
                            or deficits
                            on the company books, which are then carried over into the new
                            fiscal year. It lets you create more realistic budgets based on what was actually spent in
                            the previous year. </p>
                        <h5>When to do?</h5>
                        <p class="mb-2">As per your year-end closing date that best fits your industry and business
                            performance. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="process-section-wrapper">

        </div>
    </div>
</div>