<div class="container-fluid">
    <div class="page-header-wrapper">
        <div class="header-title-wrapper">
            <h3 class="title-wrapper">Year End Closing Process</h3>
        </div>
        <div class="cards-container-wrapper mt-3">
            <div class="row m-0">
                <div class="col-12 col-lg-6 py-3 px-4 card-list-wrapper">
                    <div class="card-title-wrapper">
                        <h3 class="title-wrapper card-title">Things to take-care:</h3>
                    </div>
                    <div class="card-description-wrapper">
                        <p class="mb-2">1. The process take 4 hours or more.</p>
                        <p class="mb-2">2. During the process, avoid using the system. We recommend to start the process
                            before/after
                            your business hours. </p>
                        <p class="mb-2">3. Once year end closing process is completed, please change the Voucher Prefix
                            is required,
                            as per new
                            year. (Optional)
                        </p>
                        <p class="mb-2"> Go to Settings > General Settings > Prefix</p>
                    </div>
                </div>

                <div class="col-12 px-0 col-lg-6 px-lg-2">
                    <div class="card-content-wrapper bg-white h-100 py-3 px-4 px-lg-2">
                        <h5>1. What is it?</h5>
                        <p class="mb-2">It is the completion of the accounting period when businesses close their
                            accounts for
                            financial year, so they can prepare
                            profit and loss account and balance sheet. It is the procedure to close books.
                        </p>
                        <h5>Why to do it?</h5>
                        <p class="mb-2">It helps to identify and balances or definition process identifies any balances
                            or deficits
                            on the company books, which are then carried over into the new
                            fiscal year. It lets you create more realistic budgets based on what was actually spent in
                            the previous year. </p>
                        <h5>When to do?</h5>
                        <p class="mb-2">As per your year-end closing date that best fits your industry and business
                            performance. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="process-section-wrapper mt-4">
            <div class="stock-closing-card-wrapper d-flex align-items-center justify-content-between">
                <div class="d-md-flex align-items-center">
                    <span class="badge text-bg-primary badge-btn">Step 1</span>
                    <h4 class="ms-md-5 mt-2 mt-md-0 stock-closing-title">Stock Closing</h4>
                </div>
                <div class="d-flex align-items-center">
                    <!-- <p class="mb-0 completed-text me-3">Completed</p> -->
                    <!-- <i class="fas fa-check-circle check-icon"></i> -->
                    <!-- <p class="mb-0 processed-text me-3">Processed</p> -->
                    <button class="btn d-flex align-items-center p-0" data-bs-toggle="modal"
                        data-bs-target="#add_event">
                        <span class="processed-text me-3"> Proceed</span>
                        <i class="fas fa-angle-double-right double-right-arrow"></i>
                    </button>
                </div>
            </div>
            <div class="stock-closing-card-wrapper mt-3 d-flex align-items-center justify-content-between">
                <div class="d-md-flex align-items-center">
                    <span class="badge text-bg-primary badge-btn">Step 2</span>
                    <h4 class="ms-md-5 mt-2 mt-md-0 stock-closing-title">Ledger Closing</h4>
                </div>
                <div class="d-flex align-items-center">
                    <p class="mb-0 processed-text me-3">Proceed</p>
                    <i class="fas fa-angle-double-right double-right-arrow"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="add_event" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Do you want to Close the Financial Year?</h5>
                <button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Current financial Year <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" [(ngModel)]="current_financial_year"
                            name="currentFinancialYear" disabled />
                    </div>
                    <div class="form-group">
                        <label>Next Financial Year <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control" type="text" [(ngModel)]="next_financial_year"
                                name="nextFinancialYear" disabled />
                        </div>
                    </div>
                    <div class="submit-section d-flex justify-content-end align-items-center">
                        <button class="btn btn-danger me-3">Cancel</button>
                        <button class="btn btn-secondary me-3" (click)="preview()">Preview</button>
                        <button class="btn btn-primary" (click)="submit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>