<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>sciatica</title>
    
</head>
<body>
    <!-- SCIATICA -->
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                style="color: #13C5DD !important;">
                CHIROPRACTIC             
            </h5>
            <p class="mt-4">Chiropractic is a healthcare profession that focuses on the diagnosis and treatment of mechanical disorders of the musculoskeletal system, particularly the spine. Chiropractors commonly use manual manipulation, known as spinal adjustments, to address issues related to joints, muscles, and the nervous system. Chiropractic care aims to promote overall health and well-being by addressing imbalances in the musculoskeletal system and their potential impact on the nervous system. </p>
            <p>Here are key aspects of chiropractic care:
            </p>
            
          
        </div>
       
    </div>
    <div class="row">

        <div class="col-lg-5 col-md-5 col-sm-5 mt-5 ">
            <img src="../../../../assets/img/chiro.jpg" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-7 col-sm-7 col-lg-7 my-5">
            <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-3"style="color: #13C5DD !important;">Principles of Chiropractic:
            </h6>
            <ul>
                <li> <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-3"style="color: #13C5DD !important;">Spinal Adjustments:
                </h6></li>
            <ul>
                <li>Spinal adjustments, or manipulations, involve the application of controlled force to joints in the spine. The goal is to restore proper alignment, improve joint function, and alleviate pain.
                </li>
            </ul>
            </ul>
            <ul>
                <li><h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Holistic Approach:
                </h6></li>
            <ul>
                <li>Chiropractors often take a holistic approach, considering the entire musculoskeletal system and its impact on overall health. They may assess lifestyle factors, exercise habits, and nutrition in addition to addressing specific musculoskeletal issues.</li>
            </ul>
        </ul>
        <ul>
            <li> <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Nervous System Focus:
            </h6></li>
            <ul>
                <li>Chiropractors believe that spinal misalignments (subluxations) can interfere with the nervous system's function, potentially leading to various health issues. By addressing these misalignments, chiropractic care aims to optimize nervous system function.</li>
            </ul>
        </ul>
    </div>
        
    </div>

    <div class="row">
        <div class="col-md-7 col-sm-7 col-lg-7 pt-5 ">
            <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-3"style="color: #13C5DD !important;">Principles of Chiropractic:
            </h6>
           
            
           
            <ul>
                <li><h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Patient Education:
                </h6></li>
                <ul>
                    <li>Chiropractors often educate patients about maintaining a healthy lifestyle, including proper ergonomics, exercise, and preventive measures.
                    </li>
                </ul>
            </ul>

            <ul>
                <li><h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Manual Therapies:</h6></li>
                <ul>
                    <li>In addition to spinal adjustments, chiropractors may use various manual therapies, such as massage, stretching, and soft tissue manipulation, to address muscular issues and improve overall function.</li>
                </ul>
            </ul>
            <ul>
                <li><h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Diagnostic Techniques:</h6></li>
                <ul>
                    <li>Chiropractors may use diagnostic techniques, including physical examinations, X-rays, and other imaging studies, to assess musculoskeletal conditions and develop appropriate treatment plans.</li>
                </ul>
            </ul>  
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 mt-5">
           
            <img src="../../../../assets/img/chiropractic12.jpg" class="img-fluid rounded shadow">
        </div>
    </div>

    <div class="row">
        <div class="col-md-5  col-lg-5 col-sm-5 mt-5">
            <img src="../../../../assets/img/chiro2.jpg" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-7 col-lg-7 col-sm-7 mt-5">
            <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-5"  style="color: #13C5DD !important;">Conditions Treated by Chiropractors:</h6>
            
              <ul class="mt-4">
                <li>
                    <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Back Pain and Neck Pain:
                    </h6>
                </li>
                <ul>
                    <li>Chiropractors commonly treat conditions such as lower back pain, neck pain, and spinal stiffness.
                    </li>
                </ul>
            </ul>
            <ul>
              <li>
                <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Headaches:
                </h6>
              </li> 
                <ul>
                    <li>Some individuals seek chiropractic care for tension headaches and migraines.
                    </li>
                </ul>
            </ul>
         <ul>
            <li><h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Joint Pain:
            </h6></li>
            <ul>
                <li>Chiropractors may address joint pain in various parts of the body, not limited to the spine.</li>
            </ul>
           </ul>
           
           
        </div>

    </div>

    
    <div class="row">
        
        <div class="col-md-7 col-lg-7 col-sm-7 mt-5">
            <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-5"  style="color: #13C5DD !important;">Conditions Treated by Chiropractors:</h6>
            <ul>
            <li>
              <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Musculoskeletal Injuries:</h6>
            </li> 
              <ul>
                  <li>Chiropractic care is often utilized in the rehabilitation of musculoskeletal injuries, such as sprains and strains.</li>
                 
              </ul>
          </ul>

          <ul>
            <li><h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Sciatica:
    </h6></li>
            <ul>
                <li>Sciatica, characterized by pain radiating down the leg, is a condition chiropractors may address through spinal adjustments and other therapies.
                </li>
            </ul>
           </ul>

           <ul>
            <li>
              <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Posture-related Issues:
            </h6>
            </li> 
              <ul>
                  <li>Chiropractors may provide guidance and interventions for posture-related problems that contribute to musculoskeletal discomfort.
                </li>
                 
              </ul>
          </ul>
        </div>
        <div class="col-md-5  col-lg-5 col-sm-5 mt-5 ">
            <img src="../../../../assets/img/chriopractic14.webp" class="img-fluid rounded shadow">
        </div>

    </div>

   
    
    
   
    
    <div>

    </div>


</div>
<!--end SCIATICA -->
</body>
</html>


