<div class="container py-10" style="margin-top: 30px">
    <div class="d-flex justify-content-between align-items-center">
        <h3>Invoice</h3>
        <button class="btn btn-primary" (click)="printInvoice()">Download Invoice</button>
    </div>
    </div>

 <div>
    <div #invoice class="pad-10">
        <div class="container-fluid sts pt-5 first-part">
            <div class="row">
                <div class="col-md-7">
                    <h4>VasyERP</h4>
                    <p>Synthesis The First, Corporate House, THE FIRST, AS, Nyay Marg near ITC Narmada.</p>
                    <p>IIM, Vastrapur</p>
                    <p>Ahmedabad - 380054</p>
                    <p>Phone number: 1234567899</p>
                    <p>Email: email.vasyerp&#64;gmail.com</p>
                    <p>State: 24-Gujarat</p>
                    <p>GSTIN No: 071AAGFF2194N1Z1</p>
                    <p>FSSAI No: 12345678901234</p>
                    <p>Website: www.vasyerp.com</p>
                </div>
                <div class="col-md-5">
                    <img src="../../../../assets/logo/favicon_icon.png" class="logo">
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <h2 style="color: #ff6600;
            font-weight: 700;">Tax Invoice</h2>
        </div>
        <br>
        <div class="container-fluid hps">
            <div class="row">
                <div class="col-md-8">
                    <h5>Bill To:</h5>
                    <h5>c_first name c_last name</h5>
                    <p>Address Other - 123456 Other India</p>
                    <p>Contact no: {{order?.customer?.mobile_no}}</p>
                    <p>State: 37-Other</p>
                </div>
                <div class="col-md-4">
                    <p>Place of supply : {{order?.place_of_supply_gst_code}}-{{order?.place_of_supply_state}}</p>
                    <h5>Invoice No: POS3644</h5>
                    <h5>Date: {{getDateForOrders(order?.date)}}</h5>
                </div>
            </div>
        </div>

        <table id="first-table" style="margin-top:30px">
            <tr class="todo">
                <th>#</th>
                <th>Item Name</th>
                <th>HSN/SAC</th>
                <th>Quantity</th>
                <th>MRP</th>
                <th>Price/Unit</th>
                <th>Discount %</th>
                <th>Tax Amount</th>
                <th>Net Cost</th>
            </tr>
            <tr *ngFor="let item of order?.cart;let ci = index">
                <td>{{ci}}</td>
                <td>Item {{ci}}</td>
                <td>123456</td>
                <td>{{item?.qty}}</td>
                <td>Rs.{{item?.mrp}}</td>
                <td>Rs.{{item?.unit_cost}}</td>
                <td>{{item?.discount}}%</td>
                <td>{{item?.tax_amount}}({{item?.tax_percentage}}%)</td>
                <td>Rs.{{item?.net_cost}}</td>
            </tr>
            
            <tr>
                <td>&nbsp;</td>
                <td>Total</td>
                <td></td>
                <td>{{getTotalQty(order?.cart)}}</td>
                <td>Rs.{{getTotalMrp(order?.cart)}}</td>
                <td>Rs.{{getSubTotal(order?.cart)}}</td>
                <td>0%</td>
                <td>Rs.{{order?.total_tax}}</td>
                <td>Rs.{{getTotalNet(order?.cart)}}</td>
            </tr>
        </table>
        <br>
        <div class="container-fluid just">
            <div class="row">
                <div class="col-md-6">
                    <h5>INVOICE AMOUNT IN WORDS</h5>
                    <p>Ruppes Three Hundred and Eighty Five Only</p>
                    <h5>TERMS AND CONDITIONS</h5>
                    <p>NO RETURN / NO EXCHANGE</p>
                    <p>Please Check items before leave store</p>
                    <p>dasdasdasd</p>
                    <p>12345678</p>
                    <P>T&C5</P>
                    <p>wertyuiop</p>
                    <p>zcxvbnm</p>
                </div>
                <div class="col-md-6">
                    <table id="second-table">
                        <tr>
                            <td>Sub Total</td>
                            <td>{{getSubTotal(order?.cart)}}</td>
                        </tr>
                        <tr>
                            <td>Additional Charge</td>
                            <td>{{order?.additional_charge}}</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td>{{order?.total_tax}}</td>
                        </tr>
                        <tr style="background-color: #ff6600;">
                            <td style="color: white; font-weight: 700;">Total</td>
                            <td style="color: white;">{{order?.total_amount}}</td>
                        </tr>
                        <tr>
                            <td>Received</td>
                            <td>385.00</td>
                        </tr>
                        <tr>
                            <td>Balance</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <td>Payment Mode</td>
                            <td>{{order?.payment_mode}}</td>
                        </tr>
                        <tr>
                            <td>Previous Balance</td>
                            <td>0.00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <h5 style="font-weight: 700;">Tax Summary</h5>
        </div>
        <div class="container-fluid" style="margin-top: 20px;margin-bottom: 30px;">
            <table id="last-table" class="og">
                <tr>
                    <th>Tax rate</th>
                    <th>Taxable Amount</th>
                    <th>CGST</th>
                    <th>SGST</th>
                    <th>IGST</th>
                    <th class="cess-column">CESS</th>
                </tr>
                <tr>
                    <td>0%</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td class="cess-column">0.00</td>
                </tr>
                <tr>
                    <td>18%</td>
                    <td>241.94</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>41.37</td>
                    <td class="cess-column">13.79</td>
                </tr>
            </table>
        </div>
    </div>
 </div>   
