<div class="page-header">
    <div class="page-title">
        <h4>Brand Edit</h4>
        <h6>Update your Brand</h6>
    </div>
</div>
<!-- /add -->
<div class="card">
    <div class="card-body">
        <!-- <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Brand Name</label>
                            <input type="text" value="samsung">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</textarea>
                        </div>
                    </div>
                        <div class="col-lg-12">
                        <div class="form-group">
                            <label>	Product Image</label>
                            <div class="image-upload">
                                <input type="file">
                                <div class="image-uploads">
                                    <img src="assets/img/icons/upload.svg" alt="img">
                                    <h4>Drag and drop a file to upload</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="product-list">
                            <ul class="row">
                                <li *ngIf="!show">
                                    <div class="productviews">
                                        <div class="productviewsimg">
                                            <img src="assets/img/brand/samsung.png" alt="img">
                                        </div>
                                        <div class="productviewscontent">
                                            <div class="productviewsname">
                                                <h2>samsung</h2>
                                                <h3>581kb</h3>
                                            </div>
                                            <a href="javascript:void(0);" (click)="onCancel()">x</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <a href="javascript:void(0);" class="btn btn-submit me-2">Submit</a>
                        <a routerLink="//product/brandlist" class="btn btn-cancel">Cancel</a>
                    </div>
                </div> -->

        <div class="row">
            <form [formGroup]="brandForm" (ngSubmit)="update()">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Brand*</label>
                            <input type="text" formControlName="title" id="title" [ngClass]="{
                                'is-invalid': f['title'].touched && f['title'].invalid}">
                            <span class="text-danger" *ngIf="title && title.invalid && title.touched">Enter Brand
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Code</label>
                            <input type="text" formControlName="code" id="code" [ngClass]="{
                                'is-invalid': f['code'].touched && f['code'].invalid }">
                            <span class="text-danger" *ngIf="code && code.invalid && code.touched">Enter code
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Discount %</label>
                            <input type="text" formControlName="discount" id="discount" [ngClass]="{
                                'is-invalid': f['discount'].touched && f['discount'].invalid
                              }">
                            <span class="text-danger" *ngIf="discount && discount.invalid && discount.touched">Enter
                                discount (ex-1-100)
                            </span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Markup Percentage Customer*</label>
                            <input type="text" formControlName="markup_percentage_customer" placeholder="Enter Discount"
                                id="markup_percentage_customer"
                                [ngClass]="{'is-invalid': f['markup_percentage_customer'].touched && f['markup_percentage_customer'].invalid}">
                            <span class="text-danger"
                                *ngIf="markup_percentage_customer && markup_percentage_customer.invalid && markup_percentage_customer.touched">Enter
                                discount (ex-1-100) </span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Markup Percentage Wholesale*</label>
                            <input type="text" formControlName="markup_percentage_wholesale"
                                placeholder="Enter Discount" id="markup_percentage_wholesale"
                                [ngClass]="{'is-invalid': f['markup_percentage_wholesale'].touched && f['markup_percentage_wholesale'].invalid}">
                            <span class="text-danger"
                                *ngIf="markup_percentage_wholesale && markup_percentage_wholesale.invalid && markup_percentage_wholesale.touched">Enter
                                Markup Percentage Wholesale (ex-1-100) </span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Markup Percentage Online*</label>
                            <input type="text" formControlName="markup_percentage_online" placeholder="Enter Discount"
                                id="markup_percentage_online"
                                [ngClass]="{'is-invalid': f['markup_percentage_online'].touched && f['markup_percentage_online'].invalid}">
                            <span class="text-danger"
                                *ngIf="markup_percentage_online && markup_percentage_online.invalid && markup_percentage_online.touched">Enter
                                Markup Percentage Online  (ex-1-100)</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Markup Percentage Employee*</label>
                            <input type="text" formControlName="markup_percentage_employee" placeholder="Enter Discount"
                                id="markup_percentage_employee"
                                [ngClass]="{'is-invalid': f['markup_percentage_employee'].touched && f['markup_percentage_employee'].invalid}">
                            <span class="text-danger"
                                *ngIf="markup_percentage_employee && markup_percentage_employee.invalid && markup_percentage_employee.touched">Enter
                                Markup Percentage Employee (ex-1-100) </span>
                        </div>
                    </div>
                    <!-- <ng-multiselect-dropdown [placeholder]="'Select Variants'"
                    [settings]="dropdownSettings" [data]="variantList" [(ngModel)]="selectedItems"
                    (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeselect($event)"  (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeselectAll($event)">
                </ng-multiselect-dropdown> -->
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Category</label>
                            <div class="dropdown">
                                <button type="button" class="dropdown-toggle button" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Select Category</button>
                                <ul class="dropdown-menu" style="width: 100%; max-height: 300px; overflow-y: auto;">
                                    <li>    <input type="text" placeholder="search category" class="form-control" [(ngModel)]="searchCategory"  (ngModelChange)="filterCategory()" [ngModelOptions]="{standalone: true}">
                                    </li>
                                    <li><a class="dropdown-item" *ngFor="let category of filteredCategoryList let i=index;">
                                            <input type="checkbox" [value]="category.id" [checked]="selectCat.includes(category.id) || selectedCategoryIds.includes(category.id)" 
                                                (change)="onCheckCategory($event)" formArrayName="category"
                                                style="margin-right: 5px;"
                                                [ngClass]="{'is-invalid': f['category'].touched && f['category'].invalid}"
                                                #categoryValue [id]="'checkboxCat-' + i">
                                            <label [for]="'checkboxCat-' + i" style="margin-bottom: 0;"
                                                (click)="onLabelClick($event)">{{category.title}}</label>
                                        </a></li>
                                </ul>
                            </div>
                            <p *ngIf="selectedCat>0">{{selectedCat + ' Category Selected'}}</p>
                            <span class="text-danger" *ngIf="category && category.invalid && category.touched">Select
                                Category
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Subcategory group</label>
                            <div class="dropdown">
                                <button type="button" class="dropdown-toggle button" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Select Subcategory
                                    group</button>
                                <ul class="dropdown-menu" style="width: 100%; max-height: 300px; overflow-y: auto;">
                                    <li><input type="text" placeholder="search subcategory group" class="form-control" [(ngModel)]="searchSubCategoryGroup" (ngModelChange)="filterSubCategoryGroup()" [ngModelOptions]="{standalone: true}"></li>
                                           
                                    <li><a class="dropdown-item"
                                            *ngFor="let subcatgroup of filteredSubCategoryGroupList let i=index;">
                                            <input type="checkbox" [value]="subcatgroup.id"
                                                (change)="onCheckSize($event)" formArrayName="subcategory_group"
                                                style="margin-right: 5px;" [ngClass]="{
                                                    'is-invalid': f['subcategory_group'].touched && f['subcategory_group'].invalid
                                                  }" [id]="'checkbox-' + i"
                                                  [checked]="subcatGroup.includes(subcatgroup.id) || selectedSubCategoryGroupIds.includes(subcatgroup.id)"
                                                  >
                                            <label [for]="'checkbox-' + i" style="margin-bottom: 0;"
                                                (click)="onLabelClick($event)">{{subcatgroup.title}}</label>
                                        </a></li>
                                </ul>
                            </div>
                            <p *ngIf="selectedSubCatGrp>0">{{selectedSubCatGrp + ' Subcategory group Selected'}}</p>
                            <span class="text-danger"
                                *ngIf="subcategory_group && subcategory_group.invalid && subcategory_group.touched">Select
                                subcategory group
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>SubCategory*</label>
                            <div class="dropdown">
                                <button type="button" class="dropdown-toggle button" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Select Subcategory</button>
                                <ul class="dropdown-menu" style="width: 100%; max-height: 300px; overflow-y: auto;">
                                    <li><input type="text" placeholder="search subcategory" class="form-control" [(ngModel)]="searchSubCategory" (ngModelChange)="filterSubCategory()" [ngModelOptions]="{standalone: true}"></li>
                                           
                                    <li><a class="dropdown-item"
                                            *ngFor="let subcategory of filteredSubCategoryList; let i=index">
                                            <input type="checkbox" [value]="subcategory.id" [checked]="selectSubcat.includes(subcategory.id) || selectedSubCategoryIds.includes(subcategory?.id)"
                                                (change)="onCheckChange($event)" formArrayName="subcategory"
                                                style="margin-right: 5px;" [ngClass]="{
                                                    'is-invalid': f['subcategory'].touched && f['subcategory'].invalid
                                                  }" [id]="'checkboxSub-' + i">
                                            <label [for]="'checkboxSub-' + i" style="margin-bottom: 0;"
                                                (click)="onLabelClick($event)">{{subcategory.title}}</label>
                                        </a></li>
                                </ul>
                            </div>

                            <p *ngIf="selectedSubcat>0">{{selectedSubcat + ' Subcategory Selected'}}</p>
                            <span class="text-danger"
                                *ngIf="subcategory && subcategory.invalid && subcategory.touched">Select subcategory
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label> Brand Image*</label>
                            <!-- <div class="image-upload">
                                <input type="file" formControlName="image" (change)="onSelect($event)">
                                <div class="image-uploads">
                                    <img src="assets/img/icons/upload.svg" alt="img">
                                    <h4>Drag and drop a file to upload</h4>
                                </div>
                                <span class="text-danger" *ngIf="image && image.invalid && image.touched">Select
                                    image
                                </span>
                            </div> -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-upload">
                                        <input type="file" formControlName="image" (change)="onSelect($event)">
                                        <div class="image-uploads">
                                            <img src="assets/img/icons/upload.svg" alt="img">
                                            <h4>Drag and drop a file to upload</h4>
                                        </div>
                                        <span class="text-danger"
                                            *ngIf="image && image.invalid && image.touched">Select image</span>
                                        <!-- <span class="text-danger" *ngIf="imgError">Select image</span> -->
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <img [src]="url" *ngIf="url" alt="" class="p_img">
                                    <img [src]="imgUrl+updateData?.image" *ngIf="!url" alt="" class="p_img">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <button class="btn btn-submit me-2" *ngIf="!loaders">Submit</button>
                        <button class="btn btn-submit me-2" type="submit" *ngIf="loaders" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;Submit</button>
                        <a routerLink="//product/brandlist" class="btn btn-cancel">Cancel</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- /add -->