<!-- <div class="page-header">
    <div class="page-title">
        <h4>Company list</h4>
        <h6>View/Search Company</h6>
    </div>
    <div class="page-btn">
        <a routerLink="//company/addcompany" class="btn btn-added">
            <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Add Company
        </a>
    </div>
</div> -->


<!-- /product list -->
<div class="card bg" >
    
    <div class="card-body">
        <div class="page-header">
            <div class="page-title">
                <h4>Company list</h4>
                <h6>View/Search Company</h6>
            </div>

            <div class="page-header" style="float:right" *ngIf="isAdd">
                <div class="page-btn">
                    <a routerLink="//masters/addcompany" class="btn btn-added">
                        <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Add Company
                    </a>
                </div>
            </div>
         
        </div>
        <!-- <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="assets/img/icons/filter.svg" alt="img">
                                <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="assets/img/icons/pdf.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="assets/img/icons/excel.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="assets/img/icons/printer.svg" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div> -->
        <!-- /Filter -->
        <!-- <div class="card" id="filter_inputs">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    <select class="form-select">
                                        <option>Choose Category</option>
                                        <option>Computers</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    <select class="form-select">
                                        <option>Choose Sub Category</option>
                                        <option>Fruits</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    <select class="form-select">
                                        <option>Choose Sub Brand</option>
                                        <option>Iphone</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                                <div class="form-group">
                                    <a class="btn btn-filters ms-auto"><img src="assets/img/icons/search-whites.svg" alt="img"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
        <!-- /Filter -->
        <!-- <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" class="table  datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs" (click)="selectAll(initChecked)">
                                        <input type="checkbox" [(ngModel)]="initChecked">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Name </th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Country</th>
                                <th>State</th>
                                <th>Pincode</th>
                                <th>Financial Year</th>
                                <th>GST</th>
                                <th>Currency</th>
                                <th>Is Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let products of tableData; let i = index">
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox" [(ngModel)]="products.is_active">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <td class="productimgname">
                               
                                    <a routerLink="//company/company-details/{{products.id}}" style="line-height: 3;">{{products.name}}</a>
                                </td>
                                <td>{{products.phone}}</td>
                                <td>{{products.email}}</td>
                                <td>{{products.country}}</td>
                                <td>{{products.state}}</td>
                                <td>{{products.pincode}}</td>
                                <td>{{products.financial_year}}</td>
                                <td>{{products.gst}}</td>
                                <td>{{products.currency}}</td>
                                <td><span
                                    [ngClass]="{'bg-lightgreen': products.is_active === true, 'bg-lightred' : products.is_active === false,'bg-lightyellow' : products.is_active === 'Partial' }"
                                    class="badges">{{products.is_active}}</span></td>
                                <td>
                                    <a class="me-1" routerLink="//company/company-details/{{products.id}}">
                                        <img src="assets/img/icons/eye.svg" alt="img">
                                    </a>
                                    <a class="me-1" routerLink="//company/editcompany/{{products.id}}">
                                        <img src="assets/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a (click)="confirmText(i,products.id)" class="confirm-text" href="javascript:void(0);" (click)="delete(products,i)">
                                        <img src="assets/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->

        <div class="company-details-card card" *ngFor="let products of tableData; let i = index" >
          <div class="sub-card row">
                <div class="col-sm-6">
                    <div class="card">
                        <div >
                            <h5 class="card-title my-3 mx-2">Company Details
                                <svg _ngcontent-kof-c71="" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-file-text addrss">
                                    <path _ngcontent-kof-c71=""
                                        d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline _ngcontent-kof-c71="" points="14 2 14 8 20 8"></polyline>
                                    <line _ngcontent-kof-c71="" x1="16" y1="13" x2="8" y2="13"></line>
                                    <line _ngcontent-kof-c71="" x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline _ngcontent-kof-c71="" points="10 9 9 9 8 9"></polyline>
                                </svg>
                            </h5>
                            <hr>
                        </div>
                        <div class="card-body">
                            <div class="d-flex ">
                            <div class="card-h mb-2">
                                <p class="grey-text">Name</p>
                                <p class="grey-text">Phone Number</p>
                                <p class="grey-text">Email</p>
                                <p class="grey-text">Country</p>
                                <p class="grey-text">Financial Year</p>
                                <p class="grey-text">Currency</p>
                                <p class="grey-text">GST Number</p>
                                <p class="grey-text">Is Active</p>
                            </div>
                            <div class="card-p mb-2">
                                <p class="bold-text">
                              <a class="bold-text" routerLink="//masters/company-details/{{products.id}}">{{products.name}}
                            </a>
                            </p>
                                <p class="bold-text">{{products.phone}}</p>
                                <p class="bold-text">{{products.email}}</p>
                                <p class="bold-text">{{products.country.country_name}}</p>
                                <p class="bold-text">{{products.financial_year.financial_year}}</p>
                                <p class="bold-text">{{products.currency}}</p>
                                <p class="bold-text">{{products.gst}}</p>
                             
                                <div class="bold-text d-flex align-items-center">  
                                  <div class="me-1"
                                  [ngClass]="{'green-dot': products.is_active === true, 'grey' : products.is_active === false,'bg-lightyellow' : products.is_active === 'Partial' }"></div>
                                <p> {{products.is_active}}</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
              </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="w-100">
                            <h5 class="card-title my-3 mx-2">Company Address
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-geo-alt addrss" viewBox="0 0 16 16">
                                    <path
                                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>

                            </h5>
                            <hr>
                        </div>


                        <div class="card-body">
                            <p class="bold-text mb-1">{{products.address}}</p>
                            <p class="bold-text">{{products.pincode}} , <span>{{products.state.state}}</span></p>
                            <p class="bold-text">{{products.country.country_name}}</p>
                        </div>
                    </div>
                </div>
            </div>
           <div>
            <div style="float: right;" class="d-flex">
                <a class="me-3" routerLink="//masters/editcompany/{{products.id}}" *ngIf="isEdit">
                    <div class="edit-icon">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                             <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                             <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                           </svg>
                     </div>
                 </a>
                 <a (click)="confirmText(i,products.id)" class="confirm-text" href="javascript:void(0);"
                     (click)="delete(products,i)" *ngIf="isDelete">
                    <div class="edit-icon">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                             <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                           </svg>
                     </div>
                 </a>
             </div>    
           
             </div>
                </div>

        
    </div>
</div>
<!-- /product list -->


