<div class="card bg">
    <div class="card-body">
        <div *ngIf="employeeDetail?.name"
            class="card d-flex align-items-center card-container-wrapper justify-content-between">
            <div class="card-body p-0 d-flex align-items-center">
                <div class="initial logo-title-wrapper me-3">
                    <h1 class="logo-title">{{ getInitial(employeeDetail?.name) }}</h1>
                </div>
                <div class="user-title-wrapper text-white px-2">
                    <h5 class="card-title user-title-wrapper text-white mb-0">{{ employeeDetail?.name }}
                        ({{employeeDetail?.mobile_no}})
                    </h5>
                    <p class="card-text mb-0">{{ employeeDetail?.company_name ? employeeDetail?.company_name
                        : profileDetails?.role }}</p>
                </div>
            </div>
            <div class="page-btn me-4">
                <a routerLink="//contacts/updateEmployee/{{employeeDetail?.id}}"
                    class="btn btn-added d-flex align-items-center bg-white">
                    <i class="fas fa-edit edit-icon"></i>
                    <span class="ms-2 edit-btn-title">Edit Employee</span>
                </a>
            </div>
        </div>

        <mat-tab-group animationDuration="0ms" *ngIf="employeeDetail">
            <mat-tab label="General Details">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="contact-title-wrapper ps-4 mb-3">Contact Information</h3>
                                <div class="row m-0">
                                    <div class="col-5">
                                        <div class="row m-0">
                                            <div class="col-6 mb-2">
                                                <label class="label-title-wrapper">Mobile Number:</label>
                                            </div>
                                            <div class="col-6 mb-2">
                                                <h5 class="field-title-wrapper">{{ employeeDetail?.mobile_no ||
                                                    '--' }}
                                                </h5>
                                            </div>

                                            <div class="col-6 mb-2">
                                                <label class="label-title-wrapper">Email:</label>
                                            </div>
                                            <div class="col-6 mb-2">
                                                <h5 class="field-title-wrapper">{{ employeeDetail?.email || '--'
                                                    }}</h5>
                                            </div>

                                            <div class="col-6 mb-2">
                                                <label class="label-title-wrapper">Telephone Number:</label>
                                            </div>
                                            <div class="col-6 mb-2">
                                                <h5 class="field-title-wrapper">{{ employeeDetail?.telephone_no ||
                                                    '--' }}
                                                </h5>
                                            </div>

                                            <div class="col-6 mb-2">
                                                <label class="label-title-wrapper">WhatsApp Number:</label>
                                            </div>
                                            <div class="col-6 mb-2">
                                                <h5 class="field-title-wrapper">{{ employeeDetail?.whatsapp_no ||
                                                    '--' }}
                                                </h5>
                                            </div>

                                            <div class="col-6 mb-2">
                                                <label class="label-title-wrapper">Date of Birth:</label>
                                            </div>
                                            <div class="col-6 mb-2">
                                                <h5 class="field-title-wrapper">{{ employeeDetail?.dob ||
                                                    '--'
                                                    }}</h5>
                                            </div>

                                            <div class="col-6 mb-2">
                                                <label class="label-title-wrapper">Anniversary:</label>
                                            </div>
                                            <div class="col-6 mb-2">
                                                <h5 class="field-title-wrapper">{{ employeeDetail?.anniversary
                                                    ||
                                                    '--' }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h3 class="contact-title-wrapper ps-4 mt-4 mb-3">Advance Information</h3>
                                <div class="row m-0">
                                    <div class="col-5">
                                        <div class="row m-0">
                                            <div class="col-6 mb-2">
                                                <label class="label-title-wrapper">Branch:</label>
                                            </div>
                                            <div class="col-6 mb-2">
                                                <h5 class="field-title-wrapper">{{ employeeDetail?.branch ||
                                                    '--' }}
                                                </h5>
                                            </div>

                                            <div class="col-6 mb-2">
                                                <label class="label-title-wrapper">Department:</label>
                                            </div>
                                            <div class="col-6 mb-2">
                                                <h5 class="field-title-wrapper">{{ employeeDetail?.department?.title ||
                                                    '--'
                                                    }}</h5>
                                            </div>

                                            <div class="col-6 mb-2">
                                                <label class="label-title-wrapper">Date of Joining:</label>
                                            </div>
                                            <div class="col-6 mb-2">
                                                <h5 class="field-title-wrapper">{{ employeeDetail?.date_of_joining ||
                                                    '--'}}
                                                </h5>
                                            </div>

                                            <div class="col-6 mb-2">
                                                <label class="label-title-wrapper">Pan Card:</label>
                                            </div>
                                            <div class="col-6 mb-2">
                                                <h5 class="field-title-wrapper">{{ employeeDetail?.pan_no
                                                    ||
                                                    '--' }}</h5>
                                            </div>

                                            <div class="col-6 mb-2">
                                                <label class="label-title-wrapper">Credit Limit:</label>
                                            </div>
                                            <div class="col-6 mb-2">
                                                <h5 class="field-title-wrapper">{{ employeeDetail?.credit_limit
                                                    ||
                                                    '--' }}</h5>
                                            </div>

                                            <div class="col-6 mb-2">
                                                <label class="label-title-wrapper">User Role:</label>
                                            </div>
                                            <div class="col-6 mb-2">
                                                <h5 class="field-title-wrapper">{{ employeeDetail?.userid?.user_type
                                                    ||
                                                    '--' }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="employeeDetail?.remark && employeeDetail?.remark !== 'null'" class="mt-4">
                                    <h3 class="contact-title-wrapper ps-4 mb-3">Remark</h3>
                                    <p class="mb-0 text-black fw-semibold ps-4 fs-6">{{employeeDetail?.remark}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Address">
                <div class="row">
                    <div class="col-md-4" *ngFor="let address of employeeDetail?.address">
                        <div class="card mb-4">
                            <div class="card-body p-4 address-card-body-wrapper">
                                <h5 class="card-title address-type-title text-black mb-1 pb-1">{{
                                    address?.address_type }}</h5>
                                <p *ngIf="address?.address_line_1 || address?.address_line_2"
                                    class="card-text card-description mb-1 pb-1">{{ address?.address_line_1 }},
                                    {{address?.address_line_2 }},</p>
                                <p class="card-text card-description mb-1 pb-1">{{ address?.city?.city }}, {{
                                    address?.state?.state }}, {{address?.country?.country_name}}</p>
                                <p class="card-text card-description mb-1 pb-1">Pincode - {{address?.pincode || '--'}}
                                </p>
                                <div class="d-flex align-items-center">
                                    <mat-checkbox class="example-margin"><span class="primary-color"> Default
                                            Shipping
                                            Address</span></mat-checkbox>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Bank Details">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let bankDetails of employeeDetail?.bank_id">
                                <div class="card mb-4">
                                    <div class="card-body p-4 address-card-body-wrapper">
                                        <h5 class="card-title address-type-title text-black mb-1 pb-1">{{
                                            bankDetails?.bank_name }}</h5>
                                        <p class="card-text card-description mb-1 pb-1">
                                            Account Holder Name: {{ bankDetails?.account_holder_name || '--' }}</p>
                                        <p class="card-text card-description mb-1 pb-1">Account Number: {{
                                            bankDetails?.account_no || '--'
                                            }}</p>
                                        <p class="card-text card-description mb-1 pb-1">Bank IFSC Code:
                                            {{bankDetails?.bank_ifsc_code || '--'}}</p>
                                        <p class="card-text card-description mb-1 pb-1">Branch Name:
                                            {{bankDetails?.branch_name || '--'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="User Permissions">
                <div class="row my-3">
                    <div class="col-lg-12 col-sm-12">
                        <h3 class="contact-title-wrapper ps-4 mb-3">User Permission</h3>
                        <div class="row m-0">
                            <div class="col-5">
                                <div class="row m-0">
                                    <div class="col-6 mb-2">
                                        <label class="label-title-wrapper">User Type:</label>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <h5 class="field-title-wrapper"> {{employeeDetail?.userid?.user_type ||
                                            '--' }}
                                        </h5>
                                    </div>

                                    <div class="col-6 mb-2">
                                        <label class="label-title-wrapper">Username:</label>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <h5 class="field-title-wrapper">{{ employeeDetail?.userid?.username ||
                                            '--'
                                            }}</h5>
                                    </div>

                                    <div class="col-6 mb-2">
                                        <label class="label-title-wrapper">Phone Number:</label>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <h5 class="field-title-wrapper">{{ employeeDetail?.userid?.phone_number ||
                                            '--' }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Logs" *ngIf="employeeDetail?.logs?.length>0">
                <div class="card">
                    <div class="card-body">
                        <mat-stepper orientation="vertical">
                            <ng-container *ngFor="let log of employeeDetail?.logs; let index = index">
                                <mat-step>
                                    <ng-template matStepLabel>
                                        <div class="step-label-wrapper">
                                            <p class="mb-1 text-title-wrapper"> <span class="operation-label">{{
                                                    log?.operation_type }}
                                                    By {{
                                                    log?.userid
                                                    }}</span> </p>
                                            <span class="date-label">{{ formatDate(log.date_time) }}</span>
                                        </div>
                                    </ng-template>
                                </mat-step>
                            </ng-container>
                        </mat-stepper>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

        <div class="container" *ngIf="employeeDetail?.length==[]">
            <p class="center-textt">Data not available</p>
        </div>
    </div>
</div>