<div class="card bg">
    <div class="card-body">
        <div class="page-header">
            <div class="page-title">
                <h6 class="subhead-color" (click)="goBack()"><mat-icon
                    style="vertical-align: middle;">keyboard_backspace</mat-icon>
                Back to Employee</h6>
                <h4>Full details of a Employee</h4>
            </div>
            <div class="page-btn">
                <a routerLink="//contacts/updateEmployee/{{employeeDetail?.id}}" class="btn btn-added">
                    <img src="assets/img/icons/edit.svg" class="me-1" alt="img">Edit Employee
                </a>
            </div>
        </div>

        <mat-tab-group animationDuration="0ms" *ngIf="employeeDetail">
            <mat-tab label="General Details">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="productdetails">
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Name</h4>
                                            <h6>{{employeeDetail?.name}}</h6>
                                        </li>
                                        <li>
                                            <h4>Mobile Number</h4>
                                            <h6>{{employeeDetail?.mobile_no}}</h6>
                                        </li>
                                        <li>
                                            <h4>Employee Type</h4>
                                            <h6>{{employeeDetail?.employee_type}}</h6>
                                        </li>
                                        <li>
                                            <h4>Whatsapp Number</h4>
                                            <h6>{{employeeDetail?.whatsapp_no}}</h6>
                                        </li>

                                        <li>
                                            <h4>Email</h4>
                                            <h6>{{employeeDetail?.email}}</h6>
                                        </li>
                                        <li>
                                            <h4>Remark</h4>
                                            <h6>{{employeeDetail?.remark}}</h6>
                                        </li>
                                        <li>
                                            <h4>Opening balance</h4>
                                            <h6>{{ employeeDetail?.opening_balance_type + (employeeDetail?.opening_balance != null ? ' : ' + employeeDetail?.opening_balance : '') }}</h6>
                                        </li>
                                        <li>
                                            <h4>Date of Birth</h4>
                                            <h6>{{employeeDetail?.dob}}</h6>
                                        </li>
                                        <li>
                                            <h4>Anniversary</h4>
                                            <h6>{{employeeDetail?.anniversary}}</h6>
                                        </li>
                                        <li>
                                            <h4>Date of Joining</h4>
                                            <h6>{{employeeDetail?.date_of_joining}}</h6>
                                        </li>
                                        <li>
                                            <h4>Apply TDS</h4>
                                            <h6>{{employeeDetail?.apply_tds}}</h6>
                                        </li>
                                        <li>
                                            <h4>Pan card</h4>
                                            <h6>{{employeeDetail?.pan_no}}</h6>
                                        </li>
                                        <li>
                                            <h4>Credit Limit</h4>
                                            <h6>{{employeeDetail?.credit_limit}}</h6>
                                        </li>
                                        <li>
                                            <h4>Department</h4>
                                            <h6>{{employeeDetail?.department?.title}}</h6>
                                        </li>
                                        <li>
                                            <h4>Wages</h4>
                                            <h6>{{employeeDetail?.wages}}</h6>
                                        </li>
                                        <li>
                                            <h4>Branch</h4>
                                            <h6>{{employeeDetail?.branch?.title}}</h6>
                                        </li>
                                        <li>
                                            <h4>Incentive</h4>
                                            <h6>{{employeeDetail?.incentive}}</h6>
                                        </li>
                                        <li>
                                            <h4>Is Sales Head</h4>
                                            <h6><span
                                                [ngClass]="{'bg-lightgreen': employeeDetail?.is_sales_head === true, 'bg-lightred' : employeeDetail?.is_sales_head === false}"
                                                class="badges">{{employeeDetail?.is_sales_head}}</span></h6>
                                        </li>
                                        <!-- <li>
                                            <h4>Permission Group</h4>
                                            <h6>{{employeeDetail?.permission_group?.name}}</h6>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mx-4">
                                <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                                <span
                                    [ngClass]="{'bg-lightgreen': employeeDetail?.is_active === true, 'bg-lightred' : employeeDetail?.is_active === false,'bg-lightyellow' : employeeDetail?.is_active === 'Partial' }"
                                    class="badges">{{employeeDetail?.is_active}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Address">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body" *ngFor="let address of employeeDetail?.address; let i =index">
                                <strong>{{i+1+'.'}} </strong>
                                <div class="productdetails">
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Address Line 1</h4>
                                            <h6>{{address?.address_line_1}}</h6>
                                        </li>
                                        <li>
                                            <h4>Address Line 2</h4>
                                            <h6>{{address?.address_line_2}}</h6>
                                        </li>
                                        <li>
                                            <h4>Select Country</h4>
                                            <h6>{{address?.country?.country_name}}</h6>
                                        </li>
                                        <li>
                                            <h4>Select State</h4>
                                            <h6>{{address?.state?.state}}</h6>
                                        </li>
                                        <li>
                                            <h4>Select City</h4>
                                            <h6>{{address?.city?.city}}</h6>
                                        </li>
                                        <li>
                                            <h4>Pincode</h4>
                                            <h6>{{address?.pincode}}</h6>
                                        </li>
                                        <li>
                                            <h4>Address Type</h4>
                                            <h6>{{address?.address_type}}</h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Bank Details">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body" *ngFor="let bank of employeeDetail?.bank_id;let i =index">
                                <strong>{{i+1+'.'}} </strong>
                                <div class="productdetails">
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Account Holder Name</h4>
                                            <h6>{{bank?.account_holder_name}}</h6>
                                        </li>
                                        <li>
                                            <h4>Bank Name</h4>
                                            <h6>{{bank?.bank_name}}</h6>
                                        </li>
                                        <li>
                                            <h4>Branch Name</h4>
                                            <h6>{{bank?.branch_name}}</h6>
                                        </li>
                                        <li>
                                            <h4>Account Number</h4>
                                            <h6>{{bank?.account_no}}</h6>
                                        </li>
                                        <li>
                                            <h4>Bank IFSC Code</h4>
                                            <h6>{{bank?.bank_ifsc_code}}</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="User Permissions">
                <div class="productdetails my-3">
                    <ul class="product-bar">
                        <li>
                            <h4>User Type</h4>
                            <h6>{{employeeDetail?.userid?.user_type}}</h6>
                        </li>
                        <li>
                            <h4>Username</h4>
                            <h6>{{employeeDetail?.userid?.username}}</h6>
                        </li>
                        <li>
                            <h4>Phone Number</h4>
                            <h6>{{employeeDetail?.userid?.phone_number}}</h6>
                        </li>
                    </ul>
                </div>
                <b style="font-weight: bolder; padding-top: 20px;">User Permissions</b>
                <div class="row my-3">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body"
                                *ngFor="let user of employeeDetail?.userid?.user_permissions;let i=index;">
                                <strong>{{i+1+'.'}} </strong>
                                <div class="productdetails">
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Name</h4>
                                            <h6>{{user?.name}}</h6>
                                        </li>
                                        <li>
                                            <h4>Content Type</h4>
                                            <h6>{{user?.content_type}}</h6>
                                        </li>
                                        <li>
                                            <h4>Code Name</h4>
                                            <h6>{{user?.codename}}</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Logs" *ngIf="employeeDetail?.logs?.length>0">
                <div class="card">
                    <!-- <div class="search-set mx-3 mt-3">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="assets/img/icons/filter.svg" alt="img">
                                <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                    </div> -->
                    <div class="card-body">
                        <!-- <div class="card" id="filter_inputs">
                            <div class="card-body border">
                                <div class="row my-2">
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="col-lg-4 col-sm-6 col-12">
                                            <div class="form-group mb-0 mx-3">
                                               <label>Select Operation Type</label>
                                                <select [(ngModel)]="filterOpertion" (change)="filterData()" class="form-select">
                                                    <option value="" selected disabled>Select Operation Type</option>
                                                    <option value="Add">Add</option>
                                                    <option value="Update">Update</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-0" (click)="clearFilter()">
                                            <a class="btn btn-filters ms-auto" style="width: 20%;">Clear Filter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="table-responsive">
                            <table class="table datanew">
                        <thead>
                            <tr>
                                <th class="th" (click)="sort('id')"># <i class="fa fa-sort"></i></th>
                                <th class="th" (click)="sort('id')">User <i class="fa fa-sort"></i></th>
                                <th class="th" (click)="sort('id')">Operation Type <i class="fa fa-sort"></i></th>
                                <th class="th" (click)="sort('id')">Date Time <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let log of filteredData | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p}; index as i">
                            <tr>
                                <td class="td" (click)="sort('id')">{{i+1}}</td>
                                <td class="td" (click)="sort('id')">{{log?.userid}}</td>
                                <td class="td" (click)="sort('id')">{{log?.operation_type}}</td>
                                <td class="td" (click)="sort('id')">{{log?.date_time |  date:'dd-MM-yyyy hh:mm:ss a'}}</td>
                            </tr> 
                        </ng-container>
                        </tbody>
                        <tbody *ngIf="filteredData?.length==0">
                            <tr>
                                <td colspan="10">
                                    <p class="center-textt">Data not available</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="progressbar">
                        <mat-progress-bar mode="indeterminate" class="progressbar"
                            *ngIf="loader"></mat-progress-bar>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-12 mt-2">
                            <div class="entries"> Show per page
                                <select [(ngModel)]="itemsPerPage" class="pagination">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="-1">All</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-8 col-12 mt-2">
                            <div class="f-right">
                                <pagination-controls
                                    (pageChange)="p = $event"></pagination-controls>
                                <div class="entries f-right">Showing {{itemsPerPage}} to
                                    {{itemsPerPage}} of {{itemsPerPage}} entries</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </mat-tab>
        </mat-tab-group>

        <div class="container" *ngIf="employeeDetail?.length==[]">
            <p class="center-textt">Data not available</p>
        </div>
    </div>
</div>