
<div class="card bg">
    <div class="card-body">
        <div class="page-header">
            <div class="page-title">
                <h4>Employee Details</h4>
                <h6>Full details of a Employee</h6>
            </div>
            <div class="page-btn">
                <a routerLink="//contacts/updateEmployee/{{employeeDetail?.id}}" class="btn btn-added">
                    <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Edit Employee
                </a>
            </div>
        </div>

<mat-tab-group animationDuration="0ms" *ngIf="employeeDetail">
    <mat-tab label="General Details">
        <div class="row">
            <div class="col-lg-12 col-sm-12" >
                <div class="card">
                    <div class="card-body">
                        <div class="productdetails">                  
                            <ul class="product-bar">
                                <li>
                                    <h4>Name</h4>
                                    <h6>{{employeeDetail.name}}</h6>
                                </li>
                                <li>
                                    <h4>Mobile Number</h4>
                                    <h6>{{employeeDetail.mobile_no}}</h6>
                                </li>
                                <li>
                                    <h4>Whatsapp Number</h4>
                                    <h6>{{employeeDetail.whatsapp_no}}</h6>
                                </li>
                               
                                <li>
                                    <h4>Email</h4>
                                    <h6>{{employeeDetail.email}}</h6>
                                </li>
                                <li>
                                    <h4>Remark</h4>
                                    <h6>{{employeeDetail.remark}}</h6>
                                </li>
                                <li>
                                    <h4>Date of Birth</h4>
                                    <h6>{{employeeDetail.dob}}</h6>
                                </li>
                                <li>
                                    <h4>Anniversary</h4>
                                    <h6>{{employeeDetail.anniversary}}</h6>
                                </li>
                                <li>
                                    <h4>Apply TDS</h4>
                                    <h6>{{employeeDetail.apply_tds}}</h6>
                                </li>
                                <li>
                                    <h4>Pan card</h4>
                                    <h6>{{employeeDetail.pan_no}}</h6>
                                </li>
                                <li>
                                    <h4>Credit Limit</h4>
                                    <h6>{{employeeDetail.credit_limit}}</h6>
                                </li>
                                <li>
                                    <h4>Commission</h4>
                                    <h6>{{employeeDetail.commision}}</h6>
                                </li>
                                <li>
                                    <h4>Wages</h4>
                                    <h6>{{employeeDetail.wages}}</h6>
                                </li>
                                <li>
                                    <h4>Extra Wages</h4>
                                    <h6>{{employeeDetail.extra_wages}}</h6>
                                </li>
                                <li>
                                    <h4>Permission Group</h4>
                                    <h6>{{employeeDetail?.permission_group?.name}}</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mx-4">
                        <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                        <span [ngClass]="{'bg-lightgreen': employeeDetail.is_active === true, 'bg-lightred' : employeeDetail.is_active === false,'bg-lightyellow' : employeeDetail.is_active === 'Partial' }"
                                            class="badges">{{employeeDetail.is_active}}</span>
                    </div>
                </div>
            </div>
          </div>
    </mat-tab>
    <mat-tab label="Address">
        <div class="row">
            <div class="col-lg-12 col-sm-12" >
                <div class="card" *ngFor="let address of employeeDetail?.address; let i =index">
                    <div class="card-body">
                        <strong>{{i+1+'.'}} </strong>   
                        <div class="productdetails">                  
                            <ul class="product-bar">
                                <li>
                                    <h4>Address Line 1</h4>
                                    <h6>{{address.address_line_1}}</h6>
                                </li>
                                <li>
                                    <h4>Address Line 2</h4>
                                    <h6>{{address.address_line_2}}</h6>
                                </li>
                                <li>
                                    <h4>Select Country</h4>
                                    <h6>{{address?.country?.country_name}}</h6>
                                </li>
                                <li>
                                    <h4>Select State</h4>
                                    <h6>{{address?.state?.state}}</h6>
                                </li>
                                <li>
                                    <h4>Select City</h4>
                                    <h6>{{address?.city?.city}}</h6>
                                </li>
                                <li>
                                    <h4>Pincode</h4>
                                    <h6>{{address.pincode}}</h6>
                                </li>
                                <li>
                                    <h4>Address Type</h4>
                                    <h6>{{address.address_type}}</h6>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </mat-tab>
    <mat-tab label="Bank Details">
        <div class="row">
            <div class="col-lg-12 col-sm-12" >
                <div class="card" *ngFor="let bank of employeeDetail?.bank_id;let i =index">
                    <div class="card-body" >
                        <strong>{{i+1+'.'}} </strong>   
                        <div class="productdetails">                  
                            <ul class="product-bar">
                                <li>
                                    <h4>Account Holder Name</h4>
                                    <h6>{{bank.account_holder_name}}</h6>
                                </li>
                                <li>
                                    <h4>Bank Name</h4>
                                    <h6>{{bank.bank_name}}</h6>
                                </li>
                                <li>
                                    <h4>Branch Name</h4>
                                    <h6>{{bank.branch_name}}</h6>
                                </li>
                                <li>
                                    <h4>Account Number</h4>
                                    <h6>{{bank.account_no}}</h6>
                                </li>
                                <li>
                                    <h4>Bank IFSC Code</h4>
                                    <h6>{{bank.bank_ifsc_code}}</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </mat-tab>
    <mat-tab label="User Permissions">
        <div class="productdetails my-3">                  
            <ul class="product-bar">
                <li>
                    <h4>User Type</h4>
                    <h6>{{employeeDetail?.userid?.user_type}}</h6>
                </li>
                <li>
                    <h4>Username</h4>
                    <h6>{{employeeDetail?.userid?.username}}</h6>
                </li>
                <li>
                    <h4>Phone Number</h4>
                    <h6>{{employeeDetail?.userid?.phone_number}}</h6>
                </li>
            </ul>
        </div>
        <b style="font-weight: bolder; padding-top: 20px;">User Permissions</b>       
        <div class="row my-3">
            <div class="col-lg-12 col-sm-12" >
                <div class="card" *ngFor="let user of employeeDetail?.userid?.user_permissions;let i=index;">
                    <div class="card-body" >
                        <strong>{{i+1+'.'}} </strong>     
                        <div class="productdetails">            
                            <ul class="product-bar">
                                <li>
                                    <h4>Name</h4>
                                    <h6>{{user.name}}</h6>
                                </li>
                                <li>
                                    <h4>Content Type</h4>
                                    <h6>{{user.content_type}}</h6>
                                </li>
                                <li>
                                    <h4>Code Name</h4>
                                    <h6>{{user.codename}}</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </mat-tab>
  </mat-tab-group>
</div>
</div>