.ng-dirty.ng-invalid.is-invalid.ng-touched {
    border: 1px solid red;
}
.p_img{
    margin-right: 3rem!important;
    height: 100px;
}
.tdd {
    padding: 10px;
    color: #637381;
    font-weight: 500;
    border-bottom: 1px solid #E9ECEF;
    vertical-align: middle;
    white-space: pre-line;
}