<div class="row bg">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="page-title">
                    <h6 class="subhead-color" (click)="goBack()"><mat-icon
                            style="vertical-align: middle;">keyboard_backspace</mat-icon>
                        Back to Material Inward </h6>
                    <h4>New Material Inward</h4>
                </div>
                <div class="page-btn">
                    <a routerLink="//purchase/editmaterial-Inward/{{materialDetail ?.id}}" class="btn btn-added">
                        <img src="assets/img/icons/edit.svg" class="me-1" alt="img">Edit Material Inward
                    </a>
                </div>
            </div>
            <!-- 
                <div class="company-details-card card" *ngIf="materialDetail">
                <div class="sub-card row">
                    <mat-tab-group animationDuration="0ms" #tabGroup>
                        <mat-tab label="Purchase Details">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="th">Supplier Name</td>
                                            <td class="td">{{materialDetail?.party?.name}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Purchase Order No.</td>
                                            <td class="td">{{materialDetail?.purchase_order?.order_no}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">PO Date</td>
                                            <td class="td">{{materialDetail?.po_date |  date: 'yyyy-MM-dd hh:mm:ss a'}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Material Inward Date</td>
                                            <td class="td">{{materialDetail?.material_inward_date |  date: 'yyyy-MM-dd hh:mm:ss a'}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Material Inward No</td>
                                            <td class="td">{{materialDetail?.material_inward_no}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Shipping Note</td>
                                            <td class="td">{{materialDetail?.shipping_note}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Recieved By</td>
                                            <td class="td">{{materialDetail?.recieved_by}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Product Type</td>
                                            <td class="td">{{materialDetail?.product_type}}</td>
                                        </tr>
                                    
                                        <tr>
                                            <td class="th">Export</td>
                                            <td class="td">
                                                <span [ngClass]="{'bg-lightgreen': materialDetail?.export === true, 'bg-lightred' : materialDetail?.export === false,'bg-lightyellow' : materialDetail?.export === 'Partial' }"
                                                class="badges">{{materialDetail?.export}}</span></td>
                                        </tr>
                                     
                                        <tr>
                                            <td class="th">Total</td>
                                            <td class="td">{{materialDetail?.total}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Notes</td>
                                            <td class="td">{{materialDetail?.note}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Status</td>
                                            <td class="td">
                                                <span [ngClass]="{'bg-lightgreen': materialDetail?.status === 'Completed', 'bg-lightred' : materialDetail?.status === 'Inprogress','bg-lightyellow' : materialDetail?.status === 'Draft'}" class="badges">{{materialDetail?.status}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                        <mat-tab label="Purchase Cart">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td class="th">Product Name</td>
                                            <td class="th">Barcode</td>
                                            <td class="th">Qty</td>
                                            <td class="th">PO Qty</td>
                                            <td class="th">MRP</td>
                                    
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let cart of materialDetail?.cart">
                                            <td class="td">{{cart?.barcode?.product_title + ' ' + cart?.barcode?.variant_name }}</td>
                                            <td class="td">{{cart?.barcode?.sku}}</td>
                                            <td class="td">{{cart?.qty}}</td>
                                            <td class="td">{{cart?.po_qty}}</td>
                                            <td class="td">{{cart?.mrp}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="d-flex align-items-center my-3 mx-3">
                    <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                    <span [ngClass]="{'bg-lightgreen': materialDetail?.is_active === true, 'bg-lightred' : materialDetail?.is_active === false,'bg-lightyellow' : materialDetail?.is_active === 'Partial' }"
                        class="badges">{{materialDetail?.is_active}}</span>
                </div>
            </div>
         -->


            <!-- details save & print -->
            <mat-tab-group animationDuration="0ms" #tabGroup>
                <mat-tab label="Material Inward">
                    <div class="company-details-card card" *ngIf="materialDetail">
                        <div class="sub-card row">
                            <div class="content-part my-3">
                                <div class="container py-10">
                                    <div class="d-flex align-items-center justify-content-end">
                                        <button data-bs-toggle="tooltip" class="me-3 d-flex border-0 bg-white"
                                            title="print" (click)="printForm()"><img src="assets/img/icons/printer.svg"
                                                class="print-icon-wrapper" alt="img"></button>

                                        <button class="chat-attach-download border-0 bg-white" (click)="generatePdf()">
                                            <i class="fas fa-download download-icon"></i>
                                        </button>
                                    </div>
                                    <!-- <div class="d-flex justify-content-between align-items-center">
                                        <h3>Invoice</h3>
                                        <button class="btn btn-primary" (click)="generatePdf()"
                                            *ngIf="!(_pdf.loaderPdf | async)">Download
                                            Invoice</button>
                                        <button class="btn btn-primary" *ngIf="_pdf.loaderPdf | async" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>&nbsp; Download Invoice</button>
                                    </div>
                                    <p style="margin-bottom: 0;">
                                        <button class="btn btn" (click)="printForm()"
                                            style="border: 1px solid antiquewhite;">Print Invoice</button>
                                    </p> -->

                                    <div class="outer container" id="debitNote">
                                        <div class="pdf-div" id="doc-target">
                                            <div class="top mb-4">
                                                <div class="container">
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-7">
                                                                <div class="d-flex justify-content-between align-items-center top-div"
                                                                    style="float: inline-start;">
                                                                    <div class="left-top">
                                                                        <img src="assets/dummy/pos.png" alt="">
                                                                        <p class="gst">{{companyDetails?.gst}}</p>
                                                                        <!-- <h1>Details</h1> -->
                                                                        <p>{{companyDetails?.name}}</p>
                                                                        <p>
                                                                            {{companyDetails?.address+' ,
                                                                            '+companyDetails?.city?.city+' ,
                                                                            '+companyDetails?.state?.state+' ,
                                                                            '+companyDetails?.country?.country_name+' ,
                                                                            '+companyDetails?.pincode}}
                                                                        </p>
                                                                        <p>{{companyDetails?.email}}</p>
                                                                        <p>{{companyDetails?.phone}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <div class="d-flex justify-content-between align-items-center top-div my-3"
                                                                    style=" float: inline-end;">
                                                                    <div class="right-top">
                                                                        <p>GST {{materialDetail?.party?.gstin}}</p>
                                                                        <h1 class="pb-4">Invoice</h1>
                                                                        <p>Invoice Date:
                                                                            {{materialDetail?.material_inward_date |
                                                                            date: 'dd-MMMM-yyyy'}}</p>
                                                                        <p>Invoice NO:
                                                                            {{materialDetail?.material_inward_no}}</p>
                                                                        <p>Po Date: {{materialDetail?.po_date |
                                                                            date: 'dd-MMMM-yyyy'}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="page-title">
                                                <p class="headingg">Material Inward Details</p>
                                            </div>
                                            <div class="pdf-address mb-4">
                                                <div class="container">
                                                    <div class="col-sm-12">
                                                        <div
                                                            class="d-flex justify-content-between align-items-center top-div container">
                                                            <!-- <div>
                                            <p class="heading">Sold By</p>
                                            <p class="heading2">
                                                    {{materialDetail?.party?.address[0]?.address_line_1 + ' , ' + materialDetail?.party?.address[0]?.address_line_2 + ' , ' +  materialDetail?.party?.address[0]?.city?.city  
                                                + ' , ' + materialDetail?.party?.address[0]?.state?.state  + ' , ' + materialDetail?.party?.address[0]?.country?.country_name}}
                                                <br/>
                                                Phone: {{materialDetail?.party?.mobile_no}}
                                                <br/>
                                                {{materialDetail?.party?.email}}
                                            </p>
                                        </div> -->

                                                            <div *ngIf="selectedAddressBilling">
                                                                <p class="heading">Billing Address</p>
                                                                <p class="heading2">
                                                                    {{selectedAddressBilling?.address_line_1==null?'':selectedAddressBilling?.address_line_1
                                                                    + ' , ' +
                                                                    selectedAddressBilling?.address_line_2==null?'':selectedAddressBilling?.address_line_2
                                                                    + ' , ' +
                                                                    selectedAddressBilling?.city?.city}}
                                                                    <br>
                                                                    {{selectedAddressBilling?.state?.state + ' , ' +
                                                                    selectedAddressBilling?.country?.country_name}}
                                                                    <br />
                                                                    Phone: {{materialDetail?.party?.mobile_no}}
                                                                    <br />
                                                                    {{materialDetail?.party?.email}}
                                                                </p>
                                                            </div>
                                                            <div *ngIf="selectedAddressShipping">
                                                                <p class="heading">Shipping Address</p>
                                                                <p class="heading2">
                                                                    {{selectedAddressShipping?.address_line_1==null?'':selectedAddressShipping?.address_line_1
                                                                    + ' , ' +
                                                                    selectedAddressShipping?.address_line_2==null?'':selectedAddressShipping?.address_line_2
                                                                    + ' , ' +
                                                                    selectedAddressShipping?.city?.city}}
                                                                    <br>
                                                                    {{selectedAddressBilling?.state?.state + ' , ' +
                                                                    selectedAddressBilling?.country?.country_name}}
                                                                    <br />
                                                                    Phone: {{materialDetail?.party?.mobile_no}}
                                                                    <br />
                                                                    {{materialDetail?.party?.email}}
                                                                </p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pdf-table1 mb-4">
                                                <div class="container">
                                                    <div class="col-sm-12">
                                                        <div class="table-responsive">
                                                            <table class="table datanew">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Order No.
                                                                        </th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Supplier
                                                                            Name</th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Purchase
                                                                            Order</th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            MI Date
                                                                        </th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Recieved By
                                                                        </th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Shipping Note
                                                                        </th>
                                                                        <th class="thone"
                                                                            style="white-space: normal !important;">
                                                                            Product Type
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="color:black">
                                                                            {{materialDetail?.material_inward_no}}</td>
                                                                        <td style="color:black">
                                                                            {{materialDetail?.party?.company_name}}</td>
                                                                        <td style="color:black">
                                                                            {{materialDetail?.purchase_order?.order_no}}
                                                                        </td>
                                                                        <td style="color:black">
                                                                            {{materialDetail?.material_inward_date |
                                                                            date: 'dd-MMMM-yyyy'}}</td>
                                                                        <td style="color:black">
                                                                            {{materialDetail?.recieved_by}}
                                                                        </td>
                                                                        <td style="color:black">
                                                                            {{materialDetail?.shipping_note}}</td>
                                                                        <td style="color:black">
                                                                            {{materialDetail?.product_type}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pdf-table2 mb-4">
                                                <div class="container">
                                                    <div class="page-title">
                                                        <p style="color:#FF9F43;font-size: 16px;">Product Details</p>
                                                    </div>
                                                    <div class="col-sm-12 mb-3">
                                                        <div>
                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Barcode/SKU</th>
                                                                        <th>Product Name</th>
                                                                        <th>Sub Category</th>
                                                                        <th>Brand</th>
                                                                        <th>HSN Code</th>
                                                                        <th>QTY</th>
                                                                        <th>PO QTY</th>
                                                                        <th>Mrp</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr
                                                                        *ngFor="let cart of materialDetail?.cart; let i =index">
                                                                        <td>{{i+1}}</td>
                                                                        <td>{{cart?.barcode?.sku}}</td>
                                                                        <td>{{cart?.barcode?.product_title}}</td>
                                                                        <td>{{cart?.barcode?.product?.subcategory?.title}}</td>
                                                                        <td>{{cart?.barcode?.product?.brand?.title}}</td>
                                                                        <td>{{cart?.barcode?.product?.hsncode?.hsn_code}}</td>

                                                                        <td>{{cart?.qty}}</td>
                                                                        <td>{{cart?.po_qty}}</td>
                                                                        <td>{{cart?.mrp}}</td>
                                                                    </tr>
                                                                    <tr style=" background: rgba(145, 158, 171, 0.32);">
                                                                        <td class="text-center" colspan="6">
                                                                            <strong>Total</strong>
                                                                        </td>
                                                                        <td class="text-center">{{ totalPurchaseRate}}
                                                                        </td>
                                                                        <td class="text-center">{{totalLandingCost}}
                                                                            <!--  <td class="text-center">{{ totalMrp}}</td> -->
                                                                        <td class="text-center"></td>

                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <p>Please notify us on any disrepancies within 3 days of receipt
                                                            <br />
                                                            Overdue invoices will be charged 24% interest.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row container">
                                                <div class="col-lg-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <strong>Note:</strong>
                                                        <!-- <textarea [ngModel]="materialDetail?.note" disabled="true" style="border:none;height: 20%;"></textarea> -->
                                                        <div style="white-space: break-spaces; border: 1px solid rgb(234, 232, 232); border-radius: 4%;"
                                                            class="py-3 px-2">
                                                            <p>{{materialDetail?.note}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-12" style="float: inline-end;">
                                                    <div class="form-group text-end">
                                                        <div class="total-order">
                                                            <ul>
                                                                <li class="total">
                                                                    <h4>Total</h4>
                                                                    <h5>{{ materialDetail?.total | currency :'INR'}}
                                                                    </h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex mx-5">
                                                <p>Status : <span
                                                        [ngClass]="{'bg-lightgreen': materialDetail?.status === 'Completed', 'bg-lightred' : materialDetail?.status === 'Inprogress','bg-lightyellow' : materialDetail?.status === 'Draft'}"
                                                        class="badges">{{materialDetail?.status}}</span></p>
                                                <!-- <p class="mx-3">Export: <span [ngClass]="{'bg-lightgreen': materialDetail?.export === true, 'bg-lightred' : materialDetail?.export === false,'bg-lightyellow' : materialDetail?.is_active === 'Partial' }"
                                                class="badges">{{materialDetail?.is_active}}</span> </p> -->
                                            </div>

                                            <div class="pdf-footer">
                                                <p>Please make cheques payable to <span>PV LTD.</span></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Logs">
                    <div class="pdf-table2 mb-4" *ngIf="materialDetail?.logs?.length>0">
                        <div class="container">
                            <div class="page-title">
                                <p style="color:#FF9F43;font-size: 16px;">Logs Details</p>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <div>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th (click)="sort('id')">#</th>
                                                <th (click)="sort('id')">User</th>
                                                <th (click)="sort('id')">Operation Type</th>
                                                <th (click)="sort('id')">Date Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let log of materialDetail?.logs | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p}; index as i">
                                                <td>{{i+1}}</td>
                                                <td>{{log?.userid}}</td>
                                                <td>{{log?.operation_type}}</td>
                                                <td>{{log?.date_time | date:'dd-MM-yyyy hh:mm:ss a'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 col-12 mt-2">
                                            <div class="entries"> Show per page
                                                <select [(ngModel)]="itemsPerPage" class="pagination" #v
                                                    (change)="changePg(v.value)">
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                    <option value="-1">All</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-8 col-12 mt-2">
                                            <div class="f-right">
                                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                                <div class="entries f-right">Showing {{itemsPerPage}} to
                                                    {{materialDetail?.logs?.length}} of {{p}} entries</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" *ngIf="materialDetail?.logs?.length==0">
                        <span class="text-danger">Logs Not Available</span>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>