<div class="card bg">
    <div class="card-body">
        <div class="page-header">
            <div class="page-title">
                <h4>POS Order Details</h4>
                <h6>Full details of a POS Order</h6>
            </div>
        </div>

        <mat-tab-group animationDuration="0ms" *ngIf="vendorDetail">
            <mat-tab label="General Details">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="productdetails">
                                    <ul class="product-bar">
                                        <li>
                                            <h4>User Id</h4>
                                            <h6>{{vendorDetail.id}}</h6>
                                        </li>
                                        <li>
                                            <h4>Customer name</h4>
                                            <h6>{{vendorDetail.customer.name}}</h6>
                                        </li>
                                        <li>
                                            <h4>Payment mode</h4>
                                            <h6>{{vendorDetail.payment_mode}}</h6>
                                        </li>
                                        <li>
                                            <h4>Due Amount</h4>
                                            <h6 *ngIf="vendorDetail.dueAmount<0" style="color: red;">{{vendorDetail.dueAmount}}</h6>
                                            <h6 *ngIf="vendorDetail.dueAmount>=0" style="color: green;">{{vendorDetail.dueAmount}}</h6>
                                        </li>
                                        <li>
                                            <h4>GST</h4>
                                            <h6>{{vendorDetail.get_gst}}</h6>
                                        </li>
                                        <li>
                                            <h4>SCGST</h4>
                                            <h6>{{vendorDetail.get_scgst}}</h6>
                                        </li>
                                        <li>
                                            <h4>Place of Supply GST</h4>
                                            <h6>{{vendorDetail.place_of_supply_gst_code}}</h6>
                                        </li>
                                        <li>
                                            <h4>place of Supply State</h4>
                                            <h6>{{vendorDetail.place_of_supply_state}}</h6>
                                        </li>
                                        <li>
                                            <h4>Additional Charge</h4>
                                            <h6>{{vendorDetail.additional_charge}}</h6>
                                        </li>
                                        <li>
                                            <h4>Total Tax</h4>
                                            <h6>{{vendorDetail.total_tax}}</h6>
                                        </li>
                                        <li>
                                            <h4>Total Amount</h4>
                                            <h6>{{vendorDetail.total_amount}}</h6>
                                        </li>
                                        <li>
                                            <h4>Created Date</h4>
                                            <h6>{{vendorDetail.created_date | date:'fullDate'}}</h6>
                                        </li>
                                        <li>
                                            <h4>Date</h4>
                                            <h6>{{vendorDetail.date | date:'fullDate'}}</h6>
                                        </li>
                                        <li>
                                            <h4>Check SGSTCGST</h4>
                                            <h6>
                                                <span
                                                    [ngClass]="{'bg-lightgreen': vendorDetail.Check_SGSTCGST === true, 'bg-lightred' : vendorDetail.Check_SGSTCGST === false,'bg-lightyellow' : vendorDetail.Check_SGSTCGST === 'Partial' }"
                                                    class="badges">{{vendorDetail.Check_SGSTCGST}}</span>
                                            </h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- <div class="d-flex align-items-center mx-4">
                        <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                        <span [ngClass]="{'bg-lightgreen': vendorDetail.is_active === true, 'bg-lightred' : vendorDetail.is_active === false,'bg-lightyellow' : vendorDetail.is_active === 'Partial' }"
                                            class="badges">{{vendorDetail.is_active}}</span>
                    </div> -->
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Receipts">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body" *ngFor="let cart of vendorDetail?.receipts;let i=index">
                                <strong>{{i+1 + '.'}}</strong>
                                <div class="productdetails">
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Receipt Mode</h4>
                                            <h6>{{cart?.receipt_mode}}</h6>
                                        </li>
                                        <li>
                                            <h4>Receipt Method</h4>
                                            <h6>{{cart?.receipt_method}}</h6>
                                        </li>
                                        <li>
                                            <h4>Receipt Upi Id</h4>
                                            <h6>{{cart?.receipt_upi_id}}</h6>
                                        </li>
                                        <li>
                                            <h4>Amount</h4>
                                            <h6>{{cart?.amount}}</h6>
                                        </li>
                                        <li>
                                            <h4>Bill No.</h4>
                                            <h6>{{cart?.bill_no}}</h6>
                                        </li>
                                        <li>
                                            <h4>Receipt Bank Id</h4>
                                            <h6>{{cart?.receipt_bank_id}}</h6>
                                        </li>
                                        <li>
                                            <h4>Receipt Card Id</h4>
                                            <h6>{{cart?.receipt_card_id}}</h6>
                                        </li>
                                        <li>
                                            <h4>Receipt Date</h4>
                                            <h6>{{cart?.receipt_date | date}}</h6>
                                        </li>
                                        <li>
                                            <h4>Description</h4>
                                            <h6>{{cart?.description}}</h6>
                                        </li>
                                      
                                    </ul>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Order Paylatter">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body" *ngFor="let cart of vendorDetail?.order_paylatter;let i=index">
                                <strong>{{i+1 + '.'}}</strong>
                                <div class="productdetails">
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Day</h4>
                                            <h6>{{cart?.day}}</h6>
                                        </li>
                                        <li>
                                            <h4>Date</h4>
                                            <h6>{{cart?.date}}</h6>
                                        </li>
                                        <li>
                                            <h4>Create Date</h4>
                                            <h6>{{cart?.create_date | date:'fullDate'}}</h6>
                                        </li>
                                        <li>
                                            <h4>Send Reminder</h4>
                                            <h6><span [ngClass]="{'bg-lightgreen': cart.is_send_reminder === true, 'bg-lightred' : cart.is_send_reminder === false,'bg-lightyellow' : cart.is_send_reminder === 'Partial' }"
                                                class="badges">{{cart.is_send_reminder}}</span></h6>
                                        </li>
                                      
                                    </ul>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Cart">
              
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body" *ngFor="let cart of vendorDetail?.cart;let i=index">
                                <strong>{{i+1 + '.'}}</strong>
                                <div class="productdetails">
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Product</h4>
                                            <h6>{{cart?.product}}</h6>
                                        </li>
                                        <li>
                                            <h4>Variant</h4>
                                            <h6>{{cart?.variant}}</h6>
                                        </li>
                                        <li>
                                            <h4>Brand</h4>
                                            <h6>{{cart?.brand}}</h6>
                                        </li>
                                        <li>
                                            <h4>Color</h4>
                                            <h6>{{cart?.color}}</h6>
                                        </li>
                                        <li>
                                            <h4>Size</h4>
                                            <h6>{{cart?.size}}</h6>
                                        </li>
                                        <li>
                                            <h4>Quantity</h4>
                                            <h6>{{cart?.qty}}</h6>
                                        </li>
                                        <li>
                                            <h4>Discount %</h4>
                                            <h6>{{cart?.discount + '%'}}</h6>
                                        </li>
                                        <li>
                                            <h4>Unit Cost</h4>
                                            <h6>{{cart?.unit_cost}}</h6>
                                        </li>
                                        <li>
                                            <h4>Net Cost</h4>
                                            <h6>{{cart?.net_cost}}</h6>
                                        </li>
                                      
                                        <li>
                                            <h4>Tax Percentage</h4>
                                            <h6>{{cart?.tax_percentage + '%'}}</h6>
                                        </li>
                                        <li>
                                            <h4>Tax Amount</h4>
                                            <h6>{{cart?.tax_amount}}</h6>
                                        </li>
                                        <li>
                                            <h4>Remarks</h4>
                                            <h6>{{cart?.remarks}}</h6>
                                        </li>
                                        <li>
                                            <h4>Status Choice</h4>
                                            <h6>{{cart?.STATUS_CHOICES}}</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </mat-tab>
          
            <mat-tab label="Customer">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card-body">
                            <div class="productdetails">
                                <ul class="product-bar">
                                    <li>
                                        <h4>Name</h4>
                                        <h6>{{vendorDetail?.customer.name}}</h6>
                                    </li>
                                    <li>
                                        <h4>Mobile no</h4>
                                        <h6>{{vendorDetail?.customer.mobile_no}}</h6>
                                    </li>
                                    <li>
                                        <h4>Email</h4>
                                        <h6>{{vendorDetail?.customer.email}}</h6>
                                    </li>
                                    <li>
                                        <h4>whatsapp no</h4>
                                        <h6>{{vendorDetail?.customer.whatsapp_no}}</h6>
                                    </li>
                                    <li>
                                        <h4>GST Type</h4>
                                        <h6>{{vendorDetail?.customer.gst_type}}</h6>
                                    </li>
                                    <li>
                                        <h4>GSTIN</h4>
                                        <h6>{{vendorDetail?.customer.gstin}}</h6>
                                    </li>
                                    <li>
                                        <h4>Date of birth</h4>
                                        <h6>{{vendorDetail?.customer.date_of_birth | date:'fullDate'}}</h6>
                                    </li>
                                    <li>
                                        <h4>Anniversary date</h4>
                                        <h6>{{vendorDetail?.customer.anniversary_date | date:'fullDate'}}</h6>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

        <div class="container" *ngIf="vendorDetail?.length==[]">
            <p class="center-textt">Data not available</p>
        </div>
    </div>
</div>