<div class="container-fluid">
    <div class="d-flex align-center justify-content-center" style="height: 500px;">
         <img src="assets/img/Lofi_for_PV_Subscription_expire_page-2.png"  class="imgs_scription"/>
    </div>
    <h1 class="text-center" style="font-weight: 500; color: #646464;">Your Subscription is expired</h1>
    <h4 style="text-transform: capitalize; text-align: center; color: #646464;">continue now by clicking the payment button</h4>


    <div class="d-flex align-center justify-content-center mt-3 gap-5">
        <a class="btnss" [href]="'https://gftpl.in/erp/payment/'+id" target="_blank"> Pay Now!</a>
        <button class="btnss" (click)="logout()">Logout</button>
    </div>
    <p class="mt-3" style="color: #646464;text-align: center;">Note: After completing the payment, Kindly Logout & Login again!</p>
</div>


