   
    <!-- <ngx-barcode [bc-value]="'123456789'" [bc-display-value]="true"></ngx-barcode>
    <ngx-barcode [bc-value]="value" [bc-display-value]="true"></ngx-barcode> -->

    <div class="container">
    <div fxLayout="column">
        <!-- <div fxLayout="column">
            <textarea  placeholder="bc-value" [(ngModel)]="value"></textarea>
            <br/>
            <select placeholder="bc-element-type" [(ngModel)]="elementType">
                <option value="svg">svg</option>
                <option value="img">img</option>
                <option value="canvas">canvas</option>
            </select>
            <br/>
            <select placeholder="bc-format" [(ngModel)]="format">
                <option *ngFor="let code of codeList" [value]="code">{{code}}</option>
            </select>
            <input  type="text" placeholder="bc-line-color" [(ngModel)]="lineColor">
            <input  type="number" placeholder="bc-width" [(ngModel)]="width">
            <input  type="number" placeholder="bc-height" [(ngModel)]="height">
            <input type="checkbox" [(ngModel)]="displayValue">bc-display-value
            <input  type="text" placeholder="bc-font-options" [(ngModel)]="fontOptions">
            <input  type="text" placeholder="bc-font" [(ngModel)]="font">
        </div>
        <div fxLayout="column">
            <input  type="text" placeholder="bc-text-align" [(ngModel)]="textAlign">
            <input  type="text" placeholder="bc-text-position" [(ngModel)]="textPosition">
            <input  type="number" placeholder="bc-text-margin" [(ngModel)]="textMargin">
            <input  type="number" placeholder="bc-font-size" [(ngModel)]="fontSize">
            <input  type="text" placeholder="bc-background" [(ngModel)]="background">
            <input  type="number" placeholder="bc-margin" [(ngModel)]="margin">
            <input  type="number" placeholder="bc-margin-top" [(ngModel)]="marginTop">
            <input  type="number" placeholder="bc-margin-bottom" [(ngModel)]="marginBottom">
            <input  type="number" placeholder="bc-margin-left" [(ngModel)]="marginLeft">
            <input  type="number" placeholder="bc-margin-right" [(ngModel)]="marginRight">
        </div> -->


        <div class="card card_">
            <div class="card-header pb-0 card_header">
              <div class="card-title mb-0 title">
                DIXY SCOTT
              </div>
              </div>
        <div class="card-body card_body">
            <div class="text-center mrp" >
                <p class="p1">MRP : <span>182.00</span></p>
                <p class="p2">Inclusive of all taxes</p>
            </div>
            <div class="pb-0 d-flex justify-content-between product" >
                <p class="p3">Product : <span>DRAWER</span></p>
                <P class="p3">Net Qty : <span>1N</span></P>
            </div>
            <div class="pb-0 d-flex justify-content-between align-items-center" style="margin-bottom: -8px;">
                <p class="p3">Style : <span>CROSS-TRUNK:90</span></p>
                <P class="p3">Size : <span>90 CM</span></P>
            </div>
            <div class="pb-0 d-flex justify-content-between align-items-center" style="margin-bottom: -8px;">
                <p class="p3">Price: <span>110.00</span></p>
                <P class="p3">Discount : <span>70.00</span></P>
            </div>
            <div class="text-center">
                <ngx-barcode *ngFor="let bcValue of values" [bc-element-type]="elementType" [bc-value]="bcValue" [bc-format]="format" [bc-line-color]="lineColor"
                 [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
                 [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
                 [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>
            </div>
        </div>
    </div>


    </div>
</div>
