

<!-- Topbar Start -->

<div class="container-fluid py-2 border-bottom d-none d-lg-block">
    <div class="">
        <div class="row">
            <div class="col-md-5 " style="padding: 1%;">
                <div class="d-inline-flex ">

                    <a routerLink="appointment.html" class="btn btn-dark rounded-pill mx-1">Book Appointment</a>
                     <a
                        class="text-decoration-none text-body p-2" routerLink="" style="font-size:small;">

                        <i class="bi bi-telephone me-2"></i>+91 60056 20800</a>

                    <a class="text-decoration-none text-body p-2 fs-" routerLink="" style="font-size:small;"><i
                            class="bi bi-envelope me-2"></i>info@example.com</a>

                            <a class="text-decoration-none text-body p-2 fs-" routerLink="labtest" style="font-size:small;"><i
                                class="bi bi-envelope me-2"></i>Lab Tests</a>
                </div>
            </div>
            <div class="col-md-5 pt-2">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body px-1" style="text-decoration: none; font-size: 15px;" routerLink="">
                        Home
                    </a>
                    <a class="text-body px-1 text-capitalize" style="text-decoration: none; font-size: 15px;"
                        routerLink="aboutus">
                        About<span style="color: white;">.</span>Us
                    </a>

                    <a class="text-body px-1 text-capitalize" style="text-decoration: none; font-size: 15px;"
                    routerLink="jobss">
                    Job<span style="color: white;">.</span>Bank
                </a>
                <a class="text-body px-1" style="text-decoration: none; font-size: 15px;" routerLink="blog">
                    Blog
                </a>

                    <select class="form-select m-1 border-0 " [ngModel]="selected" (change)="onOptionChange($event)"
                     aria-label="" style="width:120px;">
                        <option value =""> We Treat</option>
                        <!-- <option value="backpain" >Back Pain</option> -->
                        <option value="backpain" >backpain</option>
                         <option value="slipdisk">Slip Disk</option>
                        <option value="sciatica" >Sciatica</option>
                        <option value="cervical" >Cervical/Neck Pain</option>
                        <option value="knee-pain">Knee Pain/Osteoarthritis</option>
                        <option value="hip-pain" >Hip Pain/AVN</option>
                        <option value="frozen-shoulder" >Frozen Shoulder </option>
                        <option value="tennis-elbow">Tennis Elbow </option>
                        <option value="golfers-elbow" >Golfer's Elbow </option>
                        <option value="wrist-pain">Wrist Pain</option>
                        <option value="ankle">Ankle Pain</option>
                        <option value="sports-injury">Sports Injuries</option>
                        <option value="strokeparalysis">Stroke and Paralysis </option>
                        <option value="rehab">Postoperative rehabilitation </option>
                        <option value="cerebralpalsy">Cerebral palsy (CP)</option>
                        <option value="neuro">Neurological disorders </option>
                        <option value="prepost">Pre and postpartum</option>
                    </select>
                    <!-- <a class="text-body px-2 text-capitalize" style="text-decoration: none;" routerLink="/treat">
                        We Treat
                    </a> -->

                    <select class="form-select m-1 border-0 " [ngModel]="OptionSelectedOne" (change)="onOptionChangeOne($event)" aria-label=" select example" style="width:130px;">
                        <option value=""> All therapy</option>
                        <option value="electro" >Electro-Physiotherapy</option>
                        <option value="laser" >Laser Therapy</option>
                        <option value="lumber">Lumber/Cervical Traction (Spine Decompression)</option>
                        <option value="hydro" >Hydrotherapy/Aquatic Therapy</option>
                        <option value="therapeutic">Therapeutic Exercise </option>
                        <option value="manipulation">Manipulation and mobilization</option>
                        <option value="iastm">Iastm</option>
                        <option value="dryneedling">Dry Nneedling</option>
                        <option value="kniesiotyping" >Kinesio Taping </option>
                        <option value="cupping" >Cupping and Hijama</option>
                        <option value="chiropractic">Chiropractic</option>
                        <option value="osteopathy">Osteopathy </option>
                        <option value="acupressure">Acupressure and acupuncture </option>

                    </select>
                    <div class="nav-items">
                        <button type="button" routerLink="/login" class="btn btn-primary rounded-pill mt-2">Login / Signup</button>
                    </div>
                </div>
               
            </div>
            <div class="col-md-1 pt-2  ">
                <div class="d-inline-flex pt-2 ps-4">
                    <a class="text-body px-2"  href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-body px-2 " href="https://twitter.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-body px-2" href="https://in.linkedin.com/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-body px-2" href="https://www.instagram.com/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-body px-2" href="https://www.youtube.com/">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <div class="d-flex px-2" routerLink="/">
        <!-- logo -->
        <a class="navbar-brand  " >
            <h4 class="m-0 text-info" style="color: #13C5DD !important;"><img
                    src="../assets/img/Pysologo.png" alt=""
                    style="width: 70px; height:70px;"></h4>
        </a>

        <!-- logo -->
        <!-- physiowla -->
        <span  class=" pt-3"
            style="color: #3562f6; font-size: xx-large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Physio</span>
        <span class="pt-3"
            style="color:#5da015; font-size: xx-large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Wala</span>
        <!-- physiowla -->
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse px-2" id="navbarTogglerDemo02">
        <ul class="navbar-nav  my-2 ">

            <li class="nav-item ">
                <a class="nav-link active text-dark" aria-current="page" routerLink="clinic"
                style="font-size: medium;">
                    Clinic </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link text-dark" routerLink="physiotherapist" style="font-size: medium;">
                    Physiotherapist </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link text-dark" routerLink="chiropractor" style="font-size: medium;">Chiropractor </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" routerLink="homevisit" style="font-size: medium;"> Home Visit </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" routerLink="dietician" style="font-size: medium;"> Dietician </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" routerLink="yoga" style="font-size: medium;"> Yoga </a>
            </li>


            <li class="nav-item">
                <a class="nav-link text-dark" routerLink="gymfitnesstrainer" style="font-size: medium;"> Gym/Fitness
                    Trainer </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link text-dark" routerLink="osthopathist" style="font-size: large;">
                    Osteopath </a>
            </li> -->

            <li class="nav-item">
                <a class="nav-link text-dark" routerLink="specialtherapist" style="font-size: medium;">
                    Super Speciality Consultation</a>
            </li>




            <!-- <li class="nav-item dropdown" style="font-size: large;">
                    <a class="nav-link dropdown-toggle text-dark"  routerLink="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-dark" routerLink="#">Osteopath</a></li>
                        <li>
                            <hr class="dropdown-divider text-dark"> Accupressurist
                        </li>
                        <li><a class="dropdown-item text-dark" routerLink="#">Yoga Trainer</a></li>
                        <li><a class="dropdown-item text-dark" routerLink="#">SPEECH THERAPIST</a></li>
                        <li><a class="dropdown-item text-dark" routerLink="#">Audiologist</a></li>
                        <li>
                            <hr class="dropdown-divider text-dark"> Psychologis
                        </li>
                        <li><a class="dropdown-item text-dark" routerLink="#">ORTHOSIS & PROSTHESIS</a></li>
                    </ul>
                </li> -->

            <li>
                <select name="" class="m-1 border-0 mt-1 form-select"  [ngModel]="OptionSelectedTwo" (change)="onOptionChangeTwo($event)"  style="width:150px; font-size: medium;  "
                    id="" Placeholder="More ..">
                    <option value="" disabled>Please Select</option>
                    <option value="accupressurist">Accupressurist</option>
                    <option value="specialtherapist">Speech Therapist</option>
                    <option value="osthopathist">Osteopath</option>
                    <option value="audiologist">Audiologist</option>
                    <option value="physiotherapist">Psychologist</option>
                    <option value="osthopathist">Orthosis & Prosthesis</option>
                </select>
            </li>


            <!-- drop -->
            <!-- dropdown -->
        </ul>
    </div>
    </div>
  </nav>

<div>
    <router-outlet></router-outlet>
</div>
<!-- -->
