<div class="card bg">
    <div class="card-body">
        <div class="page-header">
            <div class="page-title">
                <h4>Dealer Details</h4>
                <h6>Full details of a Dealer</h6>
            </div>
            <div class="page-btn">
                <a routerLink="//contacts/updateDealer/{{dealerDetail?.id}}" class="btn btn-added">
                    <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Edit Dealer
                </a>
            </div>
        </div>

        <mat-tab-group animationDuration="0ms" *ngIf="dealerDetail">
            <mat-tab label="General Details">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="productdetails">
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Name</h4>
                                            <h6>{{dealerDetail?.name}}</h6>
                                        </li>
                                        <li>
                                            <h4>Company name</h4>
                                            <h6>{{dealerDetail?.company_name}}</h6>
                                        </li>
                                        <li>
                                            <h4>Date of Birth</h4>
                                            <h6>{{dealerDetail?.date_of_birth}}</h6>
                                        </li>
                                        <li>
                                            <h4>Anniversary</h4>
                                            <h6>{{dealerDetail?.anniversary_date}}</h6>
                                        </li>
                                        <li>
                                            <h4>Mobile Number</h4>
                                            <h6>{{dealerDetail?.mobile_no}}</h6>
                                        </li>
                                        <li>
                                            <h4>Telephone Number</h4>
                                            <h6>{{dealerDetail?.telephone_no}}</h6>
                                        </li>
                                        <li>
                                            <h4>WhatsApp Number</h4>
                                            <h6>{{dealerDetail?.whatsapp_no}}</h6>
                                        </li>
                                        <li>
                                            <h4>Email</h4>
                                            <h6>{{dealerDetail?.email}}</h6>
                                        </li>
                                        <li>
                                            <h4>Remark</h4>
                                            <h6>{{dealerDetail?.remark}}</h6>
                                        </li>
                                        <li>
                                            <h4>GST Type</h4>
                                            <h6>{{dealerDetail?.gst_type}}</h6>
                                        </li>
                                        <li>
                                            <h4>GSTIN</h4>
                                            <h6>{{dealerDetail?.gstin}}</h6>
                                        </li>
                                        <li>
                                            <h4>Pan card</h4>
                                            <h6>{{dealerDetail?.pan_no}}</h6>
                                        </li>
                                        <li>
                                            <h4>Credit Limit</h4>
                                            <h6>{{dealerDetail?.credit_limit}}</h6>
                                        </li>
                                        <li>
                                            <h4>Payment Terms</h4>
                                            <h6>{{dealerDetail?.payment_terms?.title}}</h6>
                                        </li>
                                        <li>
                                            <h4>Opening Balance</h4>
                                            <h6>{{ dealerDetail?.opening_balance_type + (dealerDetail?.opening_balance != null ? ' : ' + dealerDetail?.opening_balance : '') }}</h6>
                                        </li>
                                        <li>
                                            <h4>Membership</h4>
                                            <h6>{{dealerDetail?.membership}}</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mx-4">
                                <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                                <span
                                    [ngClass]="{'bg-lightgreen': dealerDetail?.is_active === true, 'bg-lightred' : dealerDetail?.is_active === false,'bg-lightyellow' : dealerDetail?.is_active === 'Partial' }"
                                    class="badges">{{dealerDetail?.is_active}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Address">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body" *ngFor="let address of dealerDetail?.address;let i=index">
                                <strong>{{i+1+'.'}} </strong>
                                <div class="productdetails">
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Address Line 1</h4>
                                            <h6>{{address?.address_line_1}}</h6>
                                        </li>
                                        <li>
                                            <h4>Address Line 2</h4>
                                            <h6>{{address?.address_line_2}}</h6>
                                        </li>
                                        <li>
                                            <h4>Select Country</h4>
                                            <h6>{{address?.country?.country_name}}</h6>
                                        </li>
                                        <li>
                                            <h4>Select State</h4>
                                            <h6>{{address?.state?.state}}</h6>
                                        </li>
                                        <li>
                                            <h4>Select City</h4>
                                            <h6>{{address?.city?.city}}</h6>
                                        </li>
                                        <li>
                                            <h4>Pincode</h4>
                                            <h6>{{address?.pincode}}</h6>
                                        </li>
                                        <li>
                                            <h4>Address Type</h4>
                                            <h6>{{address?.address_type}}</h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Bank Details">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body" *ngFor="let bank of dealerDetail?.bank_id;let i=index">
                                <strong>{{i+1+'.'}} </strong>
                                <div class="productdetails">
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Account Holder Name</h4>
                                            <h6>{{bank?.account_holder_name}}</h6>
                                        </li>
                                        <li>
                                            <h4>Bank Name</h4>
                                            <h6>{{bank?.bank_name}}</h6>
                                        </li>
                                        <li>
                                            <h4>Branch Name</h4>
                                            <h6>{{bank?.branch_name}}</h6>
                                        </li>
                                        <li>
                                            <h4>Account Number</h4>
                                            <h6>{{bank?.account_no}}</h6>
                                        </li>
                                        <li>
                                            <h4>Bank IFSC Code</h4>
                                            <h6>{{bank?.bank_ifsc_code}}</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

        <div class="container" *ngIf="dealerDetail?.length==[]">
            <p class="center-textt">Data not available</p>
        </div>
    </div>
</div>