.Treat{
    background-image: url(../../../../assets/img/doctor-doing-a-medical-exam-732x549-thumbnail.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 

}