<section class="Treat">
    <div class="container-fluid ">
        <div class="row">
            <div class="d-flex align-items-center  justify-content-center ">
                <h1 class="mt-5" style="margin-top: 0;
        margin-bottom: .5rem; font-family:Roboto Condensed, sans-serif; font-weight: 700;
line-height: 1.2;
color: #1D2A4D;"> WE TREAT</h1>
            </div>

        </div>
    </div>
</section>

<!-- Treat Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="../../../../assets/img/backpain.jpg"
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                        style="color: #13C5DD !important;">WE TREAT</h5>

                    <h2 class="" style="margin-top: 0;
                    margin-bottom: .5rem; font-family:Roboto Condensed, sans-serif; font-weight: 500;
            line-height: 1.2;
            color: #1D2A4D;"></h2>
                </div>
                <p>
                    Back pain can have various causes, and treatment may depend on the specific issue. Here are some
                    common causes and general suggestions:

                </p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-12 ">
                        <div class="bg-light text-center rounded-circle py-4">
                            <p> <b> Muscle Strain:</b> Overexertion or improper lifting can strain the muscles in your
                                back. Rest, gentle stretching, and over-the-counter pain medications may help.
                            </p>
                            <p> <b>Herniated Disc:</b> This occurs when the soft tissue inside the discs between your
                                vertebrae pushes out. Treatment may involve physical therapy, medications, or in severe
                                cases, surgery.
                            </p>
                            <p> <b>Sciatica:</b> Compression or irritation of the sciatic nerve can cause pain that
                                radiates down the leg. Treatment may include physical therapy, medications, or in some
                                cases, surgery.
                            </p>

                            <p> <b>Structural Issues:</b> Scoliosis, spinal stenosis, or other structural problems can
                                contribute to back pain. Treatment will depend on the underlying cause and may include
                                physical therapy, medications, or surgery.
                            </p>
                            <p> <b>Lifestyle Factors: </b>Lack of exercise, obesity, and smoking can contribute to back
                                pain. Adopting a healthy lifestyle, including regular exercise and maintaining a healthy
                                weight, can be beneficial.
                            </p>
                            <p>If you're experiencing persistent or severe back pain, it's important to seek medical
                                attention. Your healthcare provider can perform a thorough examination, order diagnostic
                                tests if necessary, and recommend an appropriate treatment plan based on the underlying
                                cause of your back pain.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our Story start -->
<div class="container-fluid p-4">   

    <div class="row">
        <div class="col-md-7 col-sm-7 col-7">
            <div class="mb-4">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                    style="color: #13C5DD !important;">


                    SLIP DISC

                </h5>
                <p>Slipped disc, also known as a herniated or bulging disc. This condition occurs when the soft
                    inner portion of a disc in the spine pushes through a crack in the tougher exterior. This can
                    cause pressure on nearby nerves, leading to pain, numbness, or weakness.
                    Here are some general points about slipped discs:

                    <br>

                </p>
                <ul class="my-2 ">
                    <h3> Symptoms:
                    </h3>
                    <li> <b>Pain: </b> Typically, there is localized pain in the affected area of the spine.
                    </li>
                    <li> <b>Numbness or Tingling:</b> This can occur in the area served by the affected nerves.
                    </li>
                    <li> <b>Muscle Weakness:</b> Weakness in certain muscles may result from nerve compression.
                    </li>
                    <li> <b>Radiating Pain: </b> Pain may radiate down the leg or arm, depending on the location of
                        the slipped.
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-5">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100" src="../../../../assets/img/SLIP DISC.jpg"
                    style="object-fit: cover;">
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
            <h3>Treatment Options:
            </h3>
            <ul class="my-2 ">
                <li>
                    <b>Rest: </b> Short-term rest may be advised to alleviate acute symptoms.

                </li>
                <li>
                    <b>Medications:</b> Non-steroidal anti-inflammatory drugs (NSAIDs) or pain relievers may be
                    recommended.


                </li>
                <li>
                    <b>Physical Therapy:</b> Exercises can help improve strength and flexibility, relieving pressure
                    on the affected nerves.


                </li>
                <li>
                    <b>Heat or Cold Therapy:</b> Applying heat or cold packs may help reduce inflammation and ease
                    pain.


                </li>
                <li>
                    <b>Rest:</b> Short-term rest may be advised to alleviate acute symptoms.

                </li>
                <li> <b>Epidural Steroid Injections:</b> In some cases, corticosteroid injections around the spinal
                    nerves may be recommended for pain relief.
                </li>
                <li> <b>Surgery:</b> If conservative treatments don't provide relief and the symptoms are severe,
                    surgery may be considered</li>
            </ul>
            <h3>Prevention:</h3>
            <ul class="my-2 ">
                <li>
                    <b>Maintain Good Posture:</b> Proper body mechanics can reduce the risk of disc-related issues.
                </li>
                <li><b>Regular Exercise:</b> Strengthening core muscles can provide support to the spine.</li>
                <li><b>Healthy Lifestyle:</b> Maintain a healthy weight and avoid activities that may strain the
                    back.</li>


            </ul>
            <p>It's crucial to consult with a healthcare professional for an accurate diagnosis and a tailored
                treatment plan. If you suspect a slipped disc or are experiencing persistent back pain, seek medical
                advice promptly. Your healthcare provider may order imaging tests, such as an MRI or CT scan, to
                confirm the diagnosis and determine the best course of action.</p>



        </div>

    </div>

</div>

<!-- Our Story End -->
<!-- About End -->

<!-- SCIATICA -->
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                style="color: #13C5DD !important;">
                SCIATICA
            </h5>
            <p>Sciatica refers to pain that radiates along the path of the sciatic nerve, which branches from your lower
                back through your hips and buttocks and down each leg. Sciatica is usually caused by a herniated disc,
                bone spur on the spine, or spinal stenosis (narrowing of the spine), all of which can put pressure on
                the sciatic nerve.</p>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-5  mt-5 ">
            <img src="../../../../assets/img/sciatica-2.jpg" alt="" class="img-fluid ">
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 ">
            <p>
            <h3>Common Symptoms of Sciatica:</h3>
            <ul class="my-2 ">
                <li><b>Pain:</b>The most common symptom is pain that radiates from your lower back to your buttock and
                    down the back of your leg. The pain can range from mild to severe.
                </li>
                <li> <b>Numbness or Tingling:</b> You may experience numbness or a tingling sensation in your leg or
                    foot.
                </li>
                <li><b>Weakness:</b>Muscles along the path of the sciatic nerve may become weak, making it difficult to
                    move your leg or foot.</li>
            </ul>

            <ul class="my-2 ">
                <h3>Treatment Options:</h3>
                <li><b> Rest: </b>Short-term rest may be recommended to alleviate acute symptoms.</li>
                <li><b>Medications:</b></li>
                <ul class="my-2 ">

                    <li><b>Pain Relievers:</b> Over-the-counter pain relievers like ibuprofen or prescription
                        medications may be used.</li>
                    <li><b>Muscle Relaxants:</b> These can help relieve muscle spasms.</li>
                </ul>
                <li> <b>Physical Therapy:</b> Exercises that focus on strengthening and stretching can help alleviate
                    sciatic pain.</li>
                <li><b>Heat or Cold Therapy:</b> Applying heat or cold packs may help reduce inflammation and ease pain.
                </li>
                <li> <b>Epidural Steroid Injections:</b> In some cases, corticosteroid injections around the spinal
                    nerve roots may be recommended for pain relief.</li>
                <li> <b>Surgery: </b> conservative treatments are ineffective and the symptoms are severe or worsening,
                    surgery to address the underlying cause may be considered.</li>
            </ul>
        </div>
        <div class="col-lg-12 ">
            <ul class="my-2 ">

                <h3>Prevention:</h3>


                <li><b>Maintain Good Posture:</b> Proper body mechanics can reduce the risk of sciatic nerve irritation.
                </li>
                <li><b>Regular Exercise:</b> Strengthening the core muscles can provide support to the spine.</li>
                <li><b>Lift Properly:</b> When lifting heavy objects, use your legs rather than your back.</li>

            </ul>
            <p>It's important to consult with a healthcare professional for an accurate diagnosis and a personalized
                treatment plan. If you experience symptoms of sciatica, especially if they are severe or persistent,
                seek medical attention promptly. Diagnostic tests such as an MRI or CT scan may be ordered to determine
                the underlying cause of the sciatic nerve compression.
            </p>

        </div>

    </div>


</div>
<!--end SCIATICA -->



<!--  Cervical/Neck Pain-->
<div class="container-fluid  p-4 ">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                style="color: #13C5DD !important;">
                Cervical/Neck Pain
            </h5>
            <p>Cervical spondylosis, also known as neck arthritis or cervical osteoarthritis, is a common age-related
                condition that affects the joints and discs in the cervical spine (neck). It is a result of the wear and
                tear on the bones and cartilage of the cervical spine over time.</p>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-7">
            <p>
            <h3>Common Features of Cervical Spondylosis:</h3>
            <ul class="my-2 ">
                <li><b>Neck Pain: </b>Pain and stiffness in the neck are common symptoms. The pain may radiate to the
                    shoulders and between the shoulder blades.
                </li>
                <li> <b>Reduced Range of Motion:</b> As the condition progresses, you may experience a decreased range
                    of motion in the neck.

                </li>
                <li><b>Headaches:</b> Some people with cervical spondylosis may experience headaches, particularly at
                    the back of the head.
                </li>
                <li><b>Tingling or Weakness:</b> Nerve compression due to changes in the spine can lead to symptoms such
                    as tingling or weakness in the arms and hands.
                </li>
                <li><b>Difficulty in Balancing: </b> In rare cases, severe cervical spondylosis can affect the spinal
                    cord, leading to difficulties with balance and coordination.

                </li>
            </ul>

            <ul class="my-2 ">
                <h3>Treatment Options:</h3>

                <li><b> Pain Medications: </b>Over-the-counter pain relievers or prescription medications can help
                    manage pain and inflammation.</li>
                <li><b>Physical Therapy:</b> Exercises can help improve flexibility, strength, and posture. A physical
                    therapist can guide you through a tailored exercise program.</li>
                <li><b>Heat or Cold Therapy:</b>Applying heat or cold packs to the affected area may provide relief.
                </li>
                <li> <b>Neck Brace:</b>In some cases, a soft cervical collar may be recommended to provide support and
                    restrict neck movement.</li>
                <li><b>Corticosteroid Injections:</b>These injections may be used to reduce inflammation and alleviate
                    pain in the affected area.</li>
                <li><b>Surgery:</b>In severe cases where conservative treatments are ineffective and there is
                    significant nerve compression, surgery may be considered to relieve pressure on the spinal cord or
                    nerves.</li>

            </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 mt-5">
            <img src="../../../../assets/img/neckpain2.jpg" alt="" class="img-fluid ">
        </div>

        <div class="col-lg-12">
            <ul class="my-2 ">
                <h3>Prevention:</h3>




                <li><b> Maintain Good Posture: Pain Medications: </b> Practice proper posture to reduce stress on the
                    neck.</li>
                <li><b>Regular Exercise:</b> Strengthening the muscles that support the neck and maintaining overall
                    physical fitness can be beneficial.</li>
                <li><b>Ergonomic Changes:</b> Make adjustments to your workspace and daily activities to reduce strain
                    on the neck.</li>


            </ul>
            <p>It's important to consult with a healthcare professional for an accurate diagnosis and a personalized
                treatment plan if you suspect you have cervical spondylosis or are experiencing persistent neck pain.
                They may recommend imaging tests such as X-rays or MRI to assess the extent of the degeneration in the
                cervical spine.

            </p>
        </div>


    </div>


</div>


<!--end  Cervical/Neck Pain-->


<!-- KNEE PAIN/ OSTEOARTHRITIS/RA -->
<div class="container-fluid  mt-4 ">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                style="color: #13C5DD !important;">
                KNEE PAIN/OSTEOARTHRITIS/RA
            </h5>
            <p>Knee pain can have various causes, and its management depends on the underlying issue. It's important to
                note that while the information provided here may offer some general guidance, it's not a substitute for
                professional medical advice. If you're experiencing persistent or severe knee pain, it's advisable to
                consult with a healthcare professional for an accurate diagnosis and appropriate treatment. Here are
                some common causes and general suggestions for managing knee pain:</p>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-7">
            <ul class="my-2 ">
                <h3>Common Causes of Knee Pain:</h3>
                <li><b>Osteoarthritis:</b> Degeneration of the cartilage in the knee joint can lead to pain and
                    stiffness.</li>
                <li><b>Rheumatoid Arthritis:</b> An autoimmune condition that affects the joints, including the knees.
                </li>
                <li><b>Injuries:</b> Ligament, tendon, or meniscus injuries, such as sprains, strains, or tears.</li>
                <li><b>Overuse or Repetitive Strain:</b>Excessive use of the knee joint, especially in activities that
                    involve repetitive movements, can lead to pain.</li>
                <li><b>Bursitis:</b> Inflammation of the bursae, small sacs of fluid that cushion the knee joint.</li>
                <li><b>Patellofemoral Pain Syndrome (Runner's Knee): </b>Pain around the kneecap often associated with
                    overuse or misalignment.</li>
                <li><b>Meniscus Tears:</b> Tears in the meniscus, the cartilage that cushions the knee joint.</li>

            </ul>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-5 py-3 "><img src="../../../../assets/img/Arthrose_genou.jpg" alt=""
                class="img-fluid "></div>




        <div class="col-lg-10 col-md-10 col-sm-10">


            <ul class="my-2 ">
                <h3> General Suggestions for Managing Knee Pain:</h3>
                <li><b> Rest:</b> Give your knee time to heal by avoiding activities that exacerbate the pain.</li>
                <li><b> Ice and Compression:</b> Applying ice packs and using compression can help reduce inflammation.
                </li>
                <li><b> Elevation:</b> Elevating the affected leg when resting can also help minimize swelling.</li>
                <li><b>Pain Medications:</b> Over-the-counter pain relievers like acetaminophen or nonsteroidal
                    anti-inflammatory drugs (NSAIDs) may be helpful.</li>
                <li><b> Physical Therapy: </b> exercises can strengthen the muscles around the knee, improving stability
                    and reducing pain.</li>
                <li><b>Supportive Footwear:</b> Wearing comfortable and supportive shoes can make a difference,
                    especially if foot alignment contributes to knee pain.</li>
                <li><b> Weight Management:</b> Maintaining a healthy weight can reduce stress on the knee joints.</li>
                <li><b>Orthotics or Braces:</b> These devices can provide support and help alleviate pain in some cases.
                </li>
            </ul>
            <p>If your knee pain persists or worsens, it's crucial to seek professional medical advice. Depending on the
                underlying cause, your healthcare provider may recommend imaging tests (X-rays, MRI) and may suggest
                additional treatments, including medications and surgical intervention.</p>
        </div>


    </div>

</div>
<!--end KNEE PAIN/ OSTEOARTHRITIS/RA -->


<!-- HIP PAIN/AVN -->
<div class="container-fluid  mt-4 ">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                style="color: #13C5DD !important;">
                KNEE PAIN/OSTEOARTHRITIS/RA
            </h5>
            <p>Hip pain can be caused by various conditions, and one of the potential causes is avascular necrosis
                (AVN), also known as osteonecrosis. AVN occurs when the blood supply to the bone is disrupted, leading
                to bone tissue death. This can affect the hip joint, causing pain and potentially leading to joint
                deterioration.</p>
        </div>







        <div class="col-lg-7 col-md-7 col-sm-7">
            <ul class="my-2 ">
                <h3> Symptoms of Hip AVN:</h3>
                <li><b>Pain:</b> Persistent pain in the hip joint, which may gradually increase over time.</li>
                <li><b>Stiffness:</b> Reduced range of motion and stiffness in the hip.</li>
                <li><b>Limping: </b>As the condition progresses, individuals may develop a limp.</li>
                <li><b>Discomfort or Pain During Activities:</b> Pain or discomfort, particularly during weight-bearing
                    activities.</li>


            </ul>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-5 "><img src="../../../../assets/img/Arthrose_genou.jpg" alt=""
                class="img-fluid "></div>




        <div class="col-lg-10 col-md-10 col-sm-10">








            <ul class="my-2 ">
                <h3> Risk Factors for AVN of the Hip:</h3>
                <li><b>Trauma:</b> Hip injuries or fractures can disrupt blood flow to the bone.</li>
                <li><b>Medical Conditions:</b> Certain medical conditions, such as sickle cell anemia, lupus, and other
                    autoimmune disorders, increase the risk.</li>
                <li><b> Long-Term Steroid Use:</b> Prolonged use of high-dose steroids is a known risk factor.</li>
                <li><b>Alcohol Abuse:</b> Excessive alcohol consumption is associated with AVN.</li>

                <li><b>Joint Disorders:</b> Certain joint disorders and conditions may contribute to AVN.</li>

            </ul>







            <ul class="my-2 ">
                <h3> Treatment Options:</h3>
                <li><b>Medications:</b>  Pain relievers and anti-inflammatory medications may be prescribed to
                    manage symptoms.</li>
                <li><b> Physical Therapy:</b> Exercises to maintain joint mobility and strengthen
                    supporting muscles.</li>
                <li><b> Long-Term Steroid Use:</b>Reducing Weight-Bearing Activities: Limiting activities that put
                    excessive stress on the hip joint.</li>
                <li><b> Assistive Devices:</b>Using crutches or a cane to reduce weight on the affected
                    hip.</li>

                <li><b>Core Decompression:</b>
                     This surgical procedure involves removing a portion of the inner layer of bone
                    to relieve pressure and improve blood flow.</li>
                <li><b>Joint-preserving Surgeries:</b>

                     Depending on the severity, joint-preserving surgeries like osteotomy or
                    bone grafting may be considered.</li>
                <li><b>Total Hip Replacement:</b>
                     In advanced cases where the joint is significantly damaged, a total hip
                    replacement may be recommended.</li>

            </ul>
            <p>If you are experiencing hip pain or suspect AVN, it's crucial to consult with a healthcare professional.
                They can perform a thorough examination, order imaging tests, and develop a treatment plan based on the
                underlying cause and severity of the condition.</p>
        </div>


    </div>

</div>
<!--end HIP PAIN/AVN -->

<!-- Footer Start -->

<div class="d-flex flex-column foot">


    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright © 2024, Physiowala. All rights reserved.</small>
        </div>
    </footer>
</div>


<!-- Footer End -->