<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- slipdisk  -->
   <div class="container-fluid p-4">   

    <div class="row">
        <div class="col-md-7 col-sm-7 ">
            <div class="mb-4">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                    style="color: #13C5DD !important;">

                    Tennis Elbow (Lateral Epicondylitis)
                </h5>
                <p>Definition: Tennis elbow is a condition characterized by pain and inflammation on the outer part of the elbow, typically caused by overuse or repetitive strain.
                    <br>
                </p>
                <ul class="my-2 ">
                    <h3> Physiotherapy Management:
                    </h3>
                    <li> <b>Rest and Activity Modification:</b>  Advising on modifications to activities that may exacerbate symptoms and recommending rest.
                    </li>
                    <li> <b>Ice Therapy:</b> Applying ice packs to reduce inflammation and alleviate pain.
                    </li>
                    <li> <b>Strengthening Exercises:</b>  Gradual introduction of exercises to strengthen the forearm muscles.
                    </li>
                    <li> <b>Stretching Exercises: </b>  Incorporating stretches to improve flexibility and reduce tension.
                    </li>
                    <li><b>Joint Mobilization: </b>Manual techniques to enhance joint mobility and reduce stiffness.

                    </li>
                    <li><b>Eccentric Exercises:</b> Specific exercises emphasizing lengthening of the forearm muscles during contraction.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 py-5 ">
            <div class="position-relative h-100">
                <img class=" img-fluid shadow " src="../../../../assets/img/tennis.jpg">
             
            </div>
        </div>
      
    </div>

</div>
 <!--end slipdisk  -->
</body>
</html>
