<div class="row bg" [ngClass]="!!isSyncLoading ? 'blur-modal' : ''">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="page-title">
                    <h6 class="subhead-color" (click)="location.back()"><mat-icon
                            style="vertical-align: middle;">keyboard_backspace</mat-icon>
                        Back to Reciept Voucher</h6>
                    <h4>Reciept Voucher Details</h4>
                </div>
                <div class="page-btn">
                    <a routerLink="//transaction/updaterecieptVoucher/{{recieptVoucherDetail?.id}}"
                        class="btn btn-added">
                        <img src="assets/img/icons/edit.svg" class="me-1" alt="img">Edit Reciept Voucher
                    </a>
                </div>
            </div>
            <div class="receipt-voucher-wrapper company-details-card card" *ngIf="recieptVoucherDetail">
                <div class="sub-card row">
                    <mat-tab-group animationDuration="0ms" #tabGroup>
                        <mat-tab label="General Details">
                            <div class="py-3">
                                <div class="d-flex justify-content-between align-items-center container mb-3">
                                    <div>
                                        <span [ngClass]="_pdf.getBadgeClass(recieptVoucherDetail?.status)"
                                            class="badge p-2">{{recieptVoucherDetail?.status}}</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div
                                            *ngIf="userDetails?.role === 'admin' && recieptVoucherDetail?.status === 'Pending'">
                                            <button class="btn approve-status-badge me-3" data-bs-toggle="modal"
                                                data-bs-target="#approval_modal">
                                                Approve
                                            </button>
                                            <button class="btn reject-status-badge" data-bs-toggle="modal"
                                                data-bs-target="#reject_modal">
                                                Reject
                                            </button>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <button data-bs-toggle="tooltip" class="me-3 d-flex border-0 bg-white"
                                                title="print" (click)="printForm()"><img
                                                    src="assets/img/icons/printer.svg" class="print-icon-wrapper"
                                                    alt="img"></button>

                                            <button class="chat-attach-download border-0 bg-white"
                                                (click)="generatePdf()">
                                                <i class="fas fa-download download-icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="debitNote">
                                <div class="container">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="d-flex justify-content-between align-items-center top-div"
                                                    style="float: inline-start;">
                                                    <div class="left-top">
                                                        <img src="assets/dummy/pos.png" alt="">
                                                        <p class="gst">GST {{companyDetails?.gst}}</p>
                                                        <p>Company Name: {{companyDetails?.name}}</p>
                                                        <p>Financial Year:
                                                            {{companyDetails?.financial_year?.financial_year}}
                                                        </p>
                                                        <p><span>Address</span> :
                                                            {{companyDetails?.address+' ,
                                                            '+companyDetails?.city?.city+' ,
                                                            '+companyDetails?.state?.state+' ,
                                                            '+companyDetails?.country?.country_name+' ,
                                                            '+companyDetails?.pincode}}
                                                        </p>
                                                        <p>Phone: {{companyDetails?.phone}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pdf-table2 my-4">
                                    <div class="container">
                                        <div class="table-responsive mt-4 pt-2">
                                            <h4 class="table-title-wrapper mb-2">Receipt Voucher Details</h4>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="thone">Payment Account</th>
                                                        <th class="thone">Receipt Type</th>
                                                        <th class="thone">Mode Type</th>
                                                        <th class="thone">Payer</th>
                                                        <th class="thone">Reciept Voucher No.</th>
                                                        <th class="thone">Amount</th>
                                                        <th class="thone">Date</th>
                                                        <th *ngIf="recieptVoucherDetail?.payment_type=='Bank'"
                                                            class="thone">Transaction Date</th>
                                                        <th *ngIf="recieptVoucherDetail?.payment_type=='Bank'"
                                                            class="thone">Transaction Id</th>
                                                        <th *ngIf="recieptVoucherDetail?.payment_type=='Bank'"
                                                            class="thone">Bank Payment
                                                        </th>
                                                        <th class="thone">Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <td class="td">{{recieptVoucherDetail?.payment_account}}</td>
                                                    <td class="td">{{recieptVoucherDetail?.receipt_type}}</td>
                                                    <td class="td">{{recieptVoucherDetail?.mode_type}}</td>
                                                    <td class="td">{{recieptVoucherDetail?.payer.account_id}}</td>
                                                    <td class="td">{{recieptVoucherDetail?.receipt_voucher_no}}</td>
                                                    <td class="td">{{recieptVoucherDetail?.amount}}</td>
                                                    <td class="td">{{recieptVoucherDetail?.date}}</td>
                                                    <ng-container *ngIf="recieptVoucherDetail?.receipt_type=='Bank'">
                                                        <td class="td">{{recieptVoucherDetail?.transaction_date}}</td>
                                                        <td class="td">{{recieptVoucherDetail?.transaction_id}}</td>
                                                        <td class="td">{{recieptVoucherDetail?.bank_payment}}</td>
                                                    </ng-container>

                                                    <td class="td">{{recieptVoucherDetail?.note}}</td>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div *ngIf="recieptVoucherDetail?.mode_type=='Against Bill'"
                                            class="pdf-table1 table-responsive mt-5 pt-2">
                                            <h4 class="table-title-wrapper mb-2">Cart Details</h4>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="th">Sr. No.</th>
                                                        <th class="th">Sale Bill</th>
                                                        <th class="th">Original Amount</th>
                                                        <th class="th">Paid Amount</th>
                                                        <th class="th">Pending Amount</th>
                                                        <th class="th">Payment</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let cart of recieptVoucherDetail?.bill_cart; index as i">
                                                        <td class="td">{{i+1}}</td>
                                                        <td class="td">{{cart?.sale_bill?.customer_bill_no}}</td>
                                                        <td class="td">{{cart?.original_amount}}</td>
                                                        <td class="td">{{cart?.paid_amount}}</td>
                                                        <td class="td">{{cart?.pending_amount}}</td>
                                                        <td class="td">{{cart?.payment}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="d-flex align-items-center my-3 pt-3">
                                            <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                                            <span
                                                [ngClass]="{'bg-lightgreen': recieptVoucherDetail?.is_active === true, 'bg-lightred' : recieptVoucherDetail?.is_active === false,'bg-lightyellow' : recieptVoucherDetail?.is_active === 'Partial' }"
                                                class="badges">{{recieptVoucherDetail?.is_active}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Logs" *ngIf="recieptVoucherDetail?.logs?.length>0">
                            <div class="card">
                                <!-- <div class="search-set mx-3 mt-3">
                                    <div class="search-path">
                                        <a class="btn btn-filter" id="filter_search">
                                            <img src="assets/img/icons/filter.svg" alt="img">
                                            <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                                        </a>
                                    </div>
                                </div> -->
                                <div class="card-body">
                                    <!-- <div class="card" id="filter_inputs">
                                        <div class="card-body border">
                                            <div class="row my-2">
                                                <div class="col-lg-12 col-sm-12">
                                                    <div class="col-lg-4 col-sm-6 col-12">
                                                        <div class="form-group mb-0 mx-3">
                                                           <label>Select Operation Type</label>
                                                            <select [(ngModel)]="filterOpertion" (change)="filterData()" class="form-select">
                                                                <option value="" selected disabled>Select Operation Type</option>
                                                                <option value="Add">Add</option>
                                                                <option value="Update">Update</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-0" (click)="clearFilter()">
                                                        <a class="btn btn-filters ms-auto" style="width: 20%;">Clear Filter</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="table-responsive">
                                        <table class="table datanew">
                                            <thead>
                                                <tr>
                                                    <th class="th" (click)="sort('id')"># <i class="fa fa-sort"></i>
                                                    </th>
                                                    <th class="th" (click)="sort('id')">User <i class="fa fa-sort"></i>
                                                    </th>
                                                    <th class="th" (click)="sort('id')">Operation Type <i
                                                            class="fa fa-sort"></i></th>
                                                    <th class="th" (click)="sort('id')">Date Time <i
                                                            class="fa fa-sort"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container
                                                    *ngFor="let log of filteredData | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p}; index as i">
                                                    <tr>
                                                        <td class="td" (click)="sort('id')">{{i+1}}</td>
                                                        <td class="td" (click)="sort('id')">{{log?.userid}}</td>
                                                        <td class="td" (click)="sort('id')">{{log?.operation_type}}</td>
                                                        <td class="td" (click)="sort('id')">{{log?.date_time |
                                                            date:'dd-MM-yyyy hh:mm:ss a'}}</td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                            <tbody *ngIf="filteredData?.length==0">
                                                <tr>
                                                    <td colspan="10">
                                                        <p class="center-textt">Data not available</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="progressbar">
                                            <mat-progress-bar mode="indeterminate" class="progressbar"
                                                *ngIf="loader"></mat-progress-bar>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-4 col-12 mt-2">
                                                <div class="entries"> Show per page
                                                    <select [(ngModel)]="itemsPerPage" class="pagination" #v
                                                        (change)="changePg(v.value)">
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                        <option value="-1">All</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-sm-8 col-12 mt-2">
                                                <div class="f-right">
                                                    <pagination-controls
                                                        (pageChange)="p = $event"></pagination-controls>
                                                    <div class="entries f-right">Showing {{itemsPerPage}} to
                                                        {{filteredData?.length}} of {{p}} entries</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="approval_modal" [ngClass]="!!isSyncLoading ? 'blur-modal' : ''" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header approve-modal-wrapper">
                <button type="button" class="btn-close closeApprovalModal close-wrapper" data-bs-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Are you sure you want to approve this receipt voucher?</h5>
            </div>
            <div class="modal-body approve-modal-wrapper">
                <div class="mt-2 d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary me-3" (click)="approve()">Submit</button>
                    <button class="btn btn-danger m-0" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="reject_modal" [ngClass]="!!isSyncLoading ? 'blur-modal' : ''" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header approve-modal-wrapper">
                <button type="button" class="btn-close closeRejectModal close-wrapper" data-bs-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Are you sure you want to reject this receipt voucher?</h5>
            </div>
            <div class="modal-body approve-modal-wrapper">
                <div class="mt-2 d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary me-3" (click)="reject()">Submit</button>
                    <button class="btn btn-danger m-0" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>