
<!-- /add -->
<div class="row bg">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="page-title">
                    <h6 class="subhead-color" (click)="goBack()"><mat-icon  style="vertical-align: middle;">keyboard_backspace</mat-icon>
                        Back to Credit Note</h6>
                    <h4>Credit Note Details</h4>
                </div>
                <div class="page-btn">
                    <a routerLink="//transaction/updatecreditnote/{{creditnoteDetails?.id}}" class="btn btn-added">
                        <img src="assets/img/icons/edit.svg" class="me-1" alt="img">Edit Credit Note
                    </a>
                </div>
            </div>
            <div class="company-details-card card" *ngIf="creditnoteDetails">
                <div class="sub-card row">
                    <mat-tab-group animationDuration="0ms" #tabGroup>
                        <mat-tab label="General Details">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="th">Account</td>
                                            <td class="td">{{creditnoteDetails?.account?.account_id}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Credit Note Date</td>
                                            <td class="td">{{creditnoteDetails?.date }}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Sale Bill</td>
                                            <td class="td">{{creditnoteDetails?.sale_bill_no?.customer_bill_no}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Reason</td>
                                            <td class="td">{{creditnoteDetails?.reason}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Credit Note No.</td>
                                            <td class="td">{{creditnoteDetails?.credit_note_no}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Round Off</td>
                                            <td class="td">{{creditnoteDetails?.roundoff | currency:'INR'}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Tax </td>
                                            <td class="td">{{creditnoteDetails?.tax +'%'}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total</td>
                                            <td class="td">{{creditnoteDetails?.total | currency:'INR'}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Note</td>
                                            <td class="td">{{creditnoteDetails?.note}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex align-items-center mx-4">
                                <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                                <span [ngClass]="{'bg-lightgreen': creditnoteDetails?.is_active === true, 'bg-lightred' : creditnoteDetails?.is_active === false }" class="badges">{{creditnoteDetails?.is_active}}</span>
                            </div>
                        </mat-tab>
                        <mat-tab label="Logs" *ngIf="creditnoteDetails?.logs.length>0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="th">#</th>
                                            <th class="th">User</th>
                                            <th class="th">Operation Type</th>
                                            <th class="th">Date Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let cart of creditnoteDetails?.logs; index as i">
                                        <tr>
                                            <td class="td">{{i+1}}</td>
                                            <td class="td">{{cart?.userid}}</td>
                                            <td class="td">{{cart?.operation_type}}</td>
                                            <td class="td">{{cart?.date_time |  date:'dd-MM-yyyy hh:mm:ss a'}}</td>
                                        </tr> 
                                    </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
      
    </div>
</div>
<!-- /add -->
<!-- /add -->