<div class="row bg">
    <div class="card">
        <div class="page-header">
            <div class="page-title">
                <h4>Incentive Ledger Employee</h4>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="filterForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>From Date*</label>
                        <input type="date" formControlName="from_date" id="from_date"
                        [ngClass]="{'is-invalid': f['from_date'].touched && f['from_date'].invalid}">
                        <span class="text-danger" *ngIf="from_date && from_date.invalid && from_date.touched">Select From Date</span>
                    
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>To Date*</label>
                        <input type="date" formControlName="to_date" id="to_date"
                        [ngClass]="{'is-invalid': f['to_date'].touched && f['to_date'].invalid}">
                        <span class="text-danger" *ngIf="to_date && to_date.invalid && to_date.touched">Select To Date</span>
                    </div>
                </div>
              
             
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label style="padding-left: 12px;">Select Employee*</label>
                        <div class="search-input mx-3" style="width: 100%;">
                    <mat-form-field class="w-100" style="padding: 0; width: 100%; min-width: 100%;border-top: none;">
                            <input type="text" placeholder="Search Employee" aria-label="Employee" matInput
                                [formControl]="employeeControl" [matAutocomplete]="auto" style="box-sizing: border-box;">
                            <mat-autocomplete #auto="matAutocomplete">
                                <ng-container *ngFor="let employee of filteredemployee | async">
                                    <mat-option *ngIf="employee.is_active==true" [value]="employee?.name" (onSelectionChange)="onCheck(employee.id)" style="color:#FF9F43">{{ employee?.name }}</mat-option>
                                </ng-container>
                                <ng-container *ngIf="(filteredemployee | async) as employees">
                                    <mat-option *ngIf="employees.length === 0" [value]="'No data found'">
                                        <a routerLink="//contacts/addEmployee" style="color:#FF9F43">+ Add Employee</a>
                                    </mat-option>
                                    <mat-option *ngIf="employeeControl.value?.length < 3" class="is-loading">Please Enter 1 or more characters</mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                        <span class="text-danger" *ngIf="employee_id && employee_id.invalid && employee_id.touched">Select Employee
                        </span>
                   </div>
                </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12 mt-3 text-center">
                    <button class="btn btn-submit">Apply Filter</button>
                </div>
            </div>
           </form>
            <div class="company-details-card card" *ngIf="incentiveList">
                <div class="sub-card row">
                    <mat-tab-group animationDuration="0ms" #tabGroup>
                        <mat-tab label="General Details">
                            <div class="table-responsive" *ngIf="!isFilterData">
                                <div class="card" *ngFor="let incentiveList of incentiveList; let i =index;">
                                    <div class="page-title">
                                        <p class="headingg text-start ">{{i+1+'.'}}</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row container">
                                            <ng-container>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.incentive}}</h4>
                                                            <h5>Incentive</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.credit_amount}}</h4>
                                                            <h5>Credit Amount</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.debit_amount}}</h4>
                                                            <h5>Debit Amount</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.wages}}</h4>
                                                            <h5>Wages</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <!-- bills -->
                                            <div class="page-title">
                                                <p class="headingg text-start">Bills</p>
                                            </div>
                                            <ng-container >
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count das1">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.bills?.created_date}}</h4>
                                                            <h5>Created Date</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count das1">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.bills?.voucher_type}}</h4>
                                                            <h5>Voucher Type</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count das1">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.bills?.voucher_number}}</h4>
                                                            <h5>Voucher Number</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count das1">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.bills?.transaction_type}}</h4>
                                                            <h5>Transaction Type</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count das1">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.bills?.points}}</h4>
                                                            <h5>Points</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count das1">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.bills?.amount}}</h4>
                                                            <h5>Amount</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count das1">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.bills?.total_amount}}</h4>
                                                            <h5>Total Amount</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                              
                                            </ng-container>
                                           
                                            <!-- after filter data -->
                                            <ng-container *ngIf="isFilterData">
                                                <ng-container>
                                                    <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                        <div class="dash-count">
                                                            <div class="dash-counts">
                                                                <h4>{{incentiveList?.incentive}}</h4>
                                                                <h5>Incentive</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                        <div class="dash-count">
                                                            <div class="dash-counts">
                                                                <h4>{{incentiveList?.credit_amount}}</h4>
                                                                <h5>Credit Amount</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                        <div class="dash-count">
                                                            <div class="dash-counts">
                                                                <h4>{{incentiveList?.debit_amount}}</h4>
                                                                <h5>Debit Amount</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                        <div class="dash-count">
                                                            <div class="dash-counts">
                                                                <h4>{{incentiveList?.wages}}</h4>
                                                                <h5>Wages</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <!-- bills -->
                                                <div class="page-title" *ngIf="!isFilterData">
                                                    <p class="headingg text-start">Bills</p>
                                                </div>
                                                <ng-container *ngIf="!isFilterData">
                                                    <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                        <div class="dash-count">
                                                            <div class="dash-counts">
                                                                <h4>{{incentiveList?.bills?.created_date}}</h4>
                                                                <h5>Created Date</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                        <div class="dash-count">
                                                            <div class="dash-counts">
                                                                <h4>{{incentiveList?.bills?.voucher_type}}</h4>
                                                                <h5>Voucher Type</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                        <div class="dash-count">
                                                            <div class="dash-counts">
                                                                <h4>{{incentiveList?.bills?.voucher_number}}</h4>
                                                                <h5>Voucher Number</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                        <div class="dash-count">
                                                            <div class="dash-counts">
                                                                <h4>{{incentiveList?.bills?.transaction_type}}</h4>
                                                                <h5>Transaction Type</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                        <div class="dash-count">
                                                            <div class="dash-counts">
                                                                <h4>{{incentiveList?.bills?.points}}</h4>
                                                                <h5>Points</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                        <div class="dash-count">
                                                            <div class="dash-counts">
                                                                <h4>{{incentiveList?.bills?.amount}}</h4>
                                                                <h5>Amount</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                        <div class="dash-count">
                                                            <div class="dash-counts">
                                                                <h4>{{incentiveList?.bills?.total_amount}}</h4>
                                                                <h5>Total Amount</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- after filter -->

                            <div class="table-responsive" *ngIf="isFilterData">
                                <div class="card" >
                                    <div class="card-body">
                                        <div class="row container">
                                            <ng-container>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.incentive}}</h4>
                                                            <h5>Incentive</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count das1">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.credit_amount}}</h4>
                                                            <h5>Bill Amount</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count das2">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.debit_amount}}</h4>
                                                            <h5>Return Amount</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-12 d-flex">
                                                    <div class="dash-count das3">
                                                        <div class="dash-counts">
                                                            <h4>{{incentiveList?.wages}}</h4>
                                                            <h5>Wages</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- end after filter -->



                            <div class="page-title" *ngIf="isFilterData">
                                <p class="headingg text-start"> Bills</p>
                            </div>
                            <div class="card" *ngIf="isFilterData">
                                <div class="card-body" >
                                    <div class="table-responsive">
                                        <table class="table datanew">
                                            <thead>
                                                <tr>
                                                    <th class="th" (click)="sort('id')"># <i class="fa fa-sort"></i></th>
                                                    <th class="th" (click)="sort('id')">Created Date<i class="fa fa-sort"></i></th>
                                                    <th class="th" (click)="sort('id')">Voucher Number<i class="fa fa-sort"></i></th>
                                                    <!-- <th class="th" (click)="sort('id')">Transaction Type<i class="fa fa-sort"></i></th> -->
                                                    <th class="th" (click)="sort('id')">Credit Amount<i class="fa fa-sort"></i></th>
                                                    <th class="th" (click)="sort('id')">Debit Amount<i class="fa fa-sort"></i></th>
                                                    <!-- <th class="th" (click)="sort('id')">Points<i class="fa fa-sort"></i></th> -->
                                                    <th class="th" (click)="sort('id')">Voucher Amount<i class="fa fa-sort"></i></th>
                                                    <!-- <th class="th" (click)="sort('id')">Incentive Amount<i class="fa fa-sort"></i></th> -->
                                                 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container
                                                    *ngFor="let salebill of incentiveList?.bills | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p}; index as i">
                                                    <tr>
                                                        <td class="td">{{i+1}}</td>
                                                        <td class="td">{{salebill?.created_date}}</td>
                                                        <td class="td" (click)="redirectTo(salebill?.voucher_type,salebill?.bill_id)">{{salebill?.voucher_number}}</td>
                                                        <!-- <td class="td">{{salebill?.transaction_type}}</td>
                                                        <td class="td">{{salebill?.points}}</td> -->
                                                        <td class="td">{{salebill?.transaction_type==='Credit'?salebill?.amount:0.00}}</td>
                                                        <td class="td">{{salebill?.transaction_type==='Debit'?salebill?.amount:0.00}}</td>
                                                        <td class="td">{{salebill?.total_amount}}</td>
                                                        <!-- <td class="td">{{salebill?.amount}}</td> -->
                                                      
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                            <tbody *ngIf="incentiveList?.bills==0">
                                                <tr>
                                                    <td colspan="10">
                                                        <p class="center-textt">Data not available</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="progressbar">
                                            <mat-progress-bar mode="indeterminate" class="progressbar" *ngIf="loader"></mat-progress-bar>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-4 col-12 mt-2">
                                                <div class="entries"> Show per page
                                                    <select [(ngModel)]="itemsPerPage" class="pagination">
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                        <option value="-1">All</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-sm-8 col-12 mt-2">
                                                <div class="f-right">
                                                    <pagination-controls
                                                        (pageChange)="p = $event"></pagination-controls>
                                                    <div class="entries f-right">Showing {{itemsPerPage}} to
                                                        {{itemsPerPage}} of {{itemsPerPage}} entries</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="page-title" *ngIf="isFilterData">
                                <p class="headingg text-start">Sale Return</p>
                            </div>
                            <div class="card" *ngIf="isFilterData" >
                                <div class="card-body" *ngIf="incentiveList?.SaleReturn.length>0">
                                    <div class="table-responsive">
                                        <table class="table datanew">
                                            <thead>
                                                <tr>
                                                    <th class="th" (click)="sortt('id')"># <i class="fa fa-sort"></i></th>
                                                    <th class="th" (click)="sortt('id')">Created Date<i class="fa fa-sort"></i></th>
                                                    <th class="th" (click)="sortt('id')">Voucher Number<i class="fa fa-sort"></i></th>
                                                    <th class="th" (click)="sortt('id')">Transaction Type<i class="fa fa-sort"></i></th>
                                                    <th class="th" (click)="sortt('id')">Points<i class="fa fa-sort"></i></th>
                                                    <th class="th" (click)="sortt('id')">Amount<i class="fa fa-sort"></i></th>
                                                    <th class="th" (click)="sortt('id')">Total Amount<i class="fa fa-sort"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container
                                                    *ngFor="let salereturn of incentiveList?.SaleReturn | orderBy:key:reversee | paginate:{itemsPerPage:itemsPerPage2,currentPage:pp}; index as i">
                                                    <tr>
                                                        <td class="td">{{i+1}}</td>
                                                        <td class="td">{{salebill?.created_date}}</td>
                                                        <td class="td">{{salebill?.voucher_number}}</td>
                                                        <td class="td">{{salebill?.transaction_type}}</td>
                                                        <td class="td">{{salebill?.points}}</td>
                                                        <td class="td">{{salebill?.amount}}</td>
                                                        <td class="td">{{salebill?.total_amount}}</td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                            <tbody *ngIf="incentiveList?.SaleReturn==0">
                                                <tr>
                                                    <td colspan="10">
                                                        <p class="center-textt">Data not available</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="progressbar">
                                            <mat-progress-bar mode="indeterminate" class="progressbar"
                                                *ngIf="loader"></mat-progress-bar>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-4 col-12 mt-2">
                                                <div class="entries"> Show per page
                                                    <select [(ngModel)]="itemsPerPage2" class="pagination">
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                        <option value="-1">All</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-sm-8 col-12 mt-2">
                                                <div class="f-right">
                                                    <pagination-controls
                                                        (pageChange)="p = $event"></pagination-controls>
                                                    <div class="entries f-right">Showing {{itemsPerPage2}} to
                                                        {{itemsPerPage2}} of {{pp}} entries</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </mat-tab>
                       
                    </mat-tab-group>
                </div>
            </div>
        </div>

    </div>
</div>