<div class="page-header justify-content-center">
    <div class="page-title">
        <h4>Tax Slab Update</h4>
        <h6>Edit Tax Slab</h6>
    </div>
</div>


<!-- /add -->
<form [formGroup]="taxSlabForm" (ngSubmit)="submit()">
    <div class="row">
        <div class="card ">
            <div class="card-body">
                <div class="row form-card">
                    <!-- <div class="col-lg-4 col-sm-4 col-12">
                        <div class="form-group">
                            <label>Subcategory Group*</label>
                            <select formControlName="subcategory_group"  required
                                #category_idValue id="subcategory_group" [ngClass]="{
                      'is-invalid': f['subcategory_group'].touched && f['subcategory_group'].invalid}" #categoryValue
                                (change)="getSubcategoryBySubcatGroup(categoryValue.value)">
                                <option value="" selected disabled>select subcategory group</option>
                                <option value="{{subcatGroup.id}}" *ngFor="let subcatGroup of subcatGroupList">
                                    {{subcatGroup.title}}
                                </option>
                            </select>
                            <span class="text-danger"
                                *ngIf="subcategory_group && subcategory_group.invalid && subcategory_group.touched">Select
                                Category
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-12">
                        <div class="form-group">
                            <label>SubCategory*</label>
                            <div class="dropdown">
                                <button type="button" class="dropdown-toggle button" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Select Subcategory</button>
                                <ul class="dropdown-menu" style="width: 100%; max-height: 300px; overflow-y: auto;">
                                    <li>    <input type="text" placeholder="search subcategory" class="form-control" [(ngModel)]="searchTerm"  (ngModelChange)="filterSubcategory()" [ngModelOptions]="{standalone: true}">
                                    </li>
                                    <li><a class="dropdown-item"
                                            *ngFor="let subcategory of filteredSubcategory; let i=index">
                                            <input type="checkbox" [value]="subcategory.id" [checked]="selectSubcat.includes(subcategory.id) || selectedSubCategoryIds.includes(subcategory.id)"
                                                (change)="onCheckChange($event)" formArrayName="subcategory"
                                                style="margin-right: 5px;" [ngClass]="{
                                                'is-invalid': f['subcategory'].touched && f['subcategory'].invalid
                                              }" [id]="'checkboxSize-' + i">
                                          
                                              <label [for]="'checkboxSize-' + i"
                                              (click)="onLabelClick($event)"
                                              style="margin-bottom: 0;">{{subcategory.title}}</label>
                                        </a></li>
                                </ul>
                            </div>
                            <p *ngIf="selectedSubcat>0">{{selectedSubcat + ' Subcategory Selected'}}</p>
                            <span class="text-danger"
                                *ngIf="subcategory && subcategory.invalid && subcategory.touched">Select
                                subcategory
                            </span>
                        </div>
                    </div> -->

                    <div class="col-lg-4 col-sm-4 col-12">
                        <div class="form-group">
                            <label>Title*</label>
                            <input type="text" placeholder="Title" formControlName="slab_title"
                                [ngClass]="{'is-invalid': f['slab_title'].touched && f['slab_title'].invalid}">
                            <span class="text-danger"
                                *ngIf="slab_title && slab_title.invalid && slab_title.touched">Enter Tax Slab
                                Title</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-4 col-12">
                        <div class="form-group">
                            <div class="d-flex" style="margin-top: 2rem">
                                <input type="checkbox" formControlName="variable_tax" [id]="'checkboxMeasure-'"
                                    [ngModel]="isTax" (click)="toggle()">
                                <label [for]="'checkboxMeasure-'" class="d_flex"
                                    style="margin-bottom: 0; margin-left: 5px;">Variable Tax</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-sm-8 col-12" *ngIf="isAddmoreTax">
                        <table class="table amt-table">
                            <thead>
                                <tr>
                                    <th>From Amount</th>
                                    <th>To Amount</th>
                                    <th>Tax</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container formArrayName="amount_tax_slabs">
                                    <ng-container *ngFor="let d of getAmount().controls; let i=index">
                                        <tr [formGroupName]="i">
                                            <td>
                                                <input type="text" class="form-control inp"
                                                    formControlName="from_amount" placeholder="ex-100" />
                                            </td>
                                            <td>
                                                <input type="text" formControlName="to_amount" class="form-control inp"
                                                    placeholder="ex-1000">
                                            </td>
                                            <td>
                                                <select formControlName="tax" class="inp">
                                                    <option value="" selected disabled>Select tax</option>
                                                    <option value="{{tax.id}}" *ngFor="let tax of taxList">
                                                        {{tax.tax_percentage + '%'}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td>
                                                <button (click)="removeAmount(i)" class="btn"
                                                    style="background: #FF9F43;" *ngIf="i>0">&#8722;</button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                        <div class="w-100 text-right">
                            <span (click)="addAmount()" class="addMore">+ Add more</span>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-12" *ngIf="!isAddmoreTax">
                        <table class="table amt-table">
                            <thead>
                                <tr class="text-center">
                                    <th>Tax</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container formArrayName="amount_tax_slabs">
                                    <ng-container *ngFor="let d of getAmount().controls; let i=index">
                                        <tr [formGroupName]="i">
                                            <td class="text-center">
                                                <select formControlName="tax" class="inp" style="width: 30%;">
                                                    <option value="" selected disabled>Select Tax</option>
                                                    <option value="{{tax.id}}" *ngFor="let tax of taxList">
                                                        {{tax.tax_percentage + '%'}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-8 text-end mt-5">
                        <button class="btn btn-submit me-2" *ngIf="!loaders">Update</button>
                        <button class="btn btn-submit me-2" type="submit" *ngIf="loaders" disabled>
                            <span class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>&nbsp; Update</button>
                        <a routerLink="//product/taxSlabList" class="btn btn-cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /add -->