<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>  Lumber/Cervical Traction (Spine Decompression)</title>
    
</head>
<body>
    <!--  Lumber/Cervical Traction (Spine Decompression) -->
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                style="color: #13C5DD !important;">
                Lumber/Cervical Traction (Spine Decompression)           
            </h5>
            <p class="mt-4">Traction is a therapeutic technique commonly used in physiotherapy to treat various musculoskeletal conditions, and it can be applied to different regions of the spine, including the lumbar (lower back) and cervical (neck) regions. Traction involves the application of a pulling force to stretch and decompress the spine, aiming to relieve pressure on the spinal discs, nerves, and other structures. Here's an overview of lumbar and cervical traction:
            </p>
            <br>
            <!-- <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Cupping:</h6> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-sm-7 col-lg-7">
            <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-3"style="color: #13C5DD !important;">Lumbar Traction:</h6>
            <ul>
                <li> <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-3"style="color: #13C5DD !important;">1:Indications:</h6></li>
            <ul>
                <li>Lumbar traction is often used for conditions such as herniated discs, sciatica, degenerative disc disease, and spinal stenosis.</li>
                <li>It aims to reduce pressure on the lumbar discs, alleviate nerve root compression, and promote spinal alignment.
                </li>
                
            </ul>
            </ul>
            <ul>
                <li><h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">2:Methods:</h6></li>
            <ul>
                <li>Mechanical Traction: Involves the use of a mechanical traction device that applies a controlled pulling force to the lower spine.
                </li>
                <li>Manual Traction: Physiotherapists may also perform manual traction, using their hands to apply traction to the lumbar spine.
                </li>
            </ul>
        </ul>
        <ul>
            <li> <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Purported Benefits:
            </h6></li>
            <ul>
                <li>Proponents suggest that cupping may help with pain relief, inflammation reduction, improved blood flow, and relaxation of muscles.
                </li>
                <li>Some individuals seek cupping for conditions such as musculoskeletal pain, respiratory issues, and general well-being.
                </li>
            </ul>
        </ul>
            <ul>
                <li><h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">3:Considerations:</h6></li>
                <ul>
                    <li>Traction force, duration, and frequency are carefully adjusted based on the individual's condition and response to treatment.</li>
                    <li>It's important to consider the patient's tolerance and any contraindications before applying lumbar traction.</li>
                </ul>
            </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 mt-5">
            <img src="../../../../assets/img/luber.jpg" class="img-fluid shadow rounded ">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5  col-lg-5 col-sm-5 mt-5 pt-4">
            <img src="../../../../assets/img/cervical2.jpg" class="img-fluid shadow rounded ">
        </div>
        <div class="col-md-7">
            <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">Cervical Traction:</h6>
              <ul>
                <li>
                    <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">1:Indications:
                    </h6>
                </li>
                <ul>
                    <li>Cervical traction is used for conditions such as cervical radiculopathy, herniated discs, neck pain, and muscle tightness.</li>
                    <li>It aims to relieve pressure on cervical nerves, improve joint mobility, and reduce symptoms associated with neck disorders.
                    </li>
                </ul>
            </ul>
            <ul>
              <li>
                <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">2:Methods:</h6>
              </li> 
                <ul>
                    <li>Mechanical Traction: Similar to lumbar traction, a mechanical traction device is often used for controlled and specific force application to the cervical spine.</li>
                    <li>•	Over-the-Door Traction: Involves a harness or head halter attached to a system over a door, allowing for a gentle pull on the neck.
                    </li>
                </ul>
            </ul>
         <ul>
            <li><h6 class="d-inline-block text-primary text-uppercase border-bottom border-5"style="color: #13C5DD !important;">2:Considerations:
            </h6></li>
            <ul>
                <li>Cervical traction requires careful consideration of the patient's cervical spine stability and any existing pathologies.</li>
                <li>The force applied during cervical traction is typically lower than lumbar traction to avoid excessive strain on the neck.
                </li>
            </ul>
           </ul>
          
        </div>

    </div>
    <h6 class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-3"style="color: #13C5DD !important;">Precautions and Contraindications:</h6>
    <p>Both lumbar and cervical traction have specific precautions and contraindications, and they should be used cautiously in certain situations. For example, traction may be contraindicated in cases of recent fractures, spinal instability, severe osteoporosis, and certain cardiovascular conditions.
        It's crucial that traction is administered under the supervision of a trained healthcare professional, such as a physiotherapist, who can assess the patient's condition, tailor the treatment plan, and monitor for any adverse effects.
        Before undergoing traction or any other therapeutic intervention, individuals should consult with a healthcare professional to determine the appropriateness of the treatment for their specific condition.
        </p>
    <div>
    </div>  
</div>
<!--end Lumber/Cervical Traction (Spine Decompression) -->
</body>
</html>
