table {
    width: 100%;
    height: 100px;
    border-collapse: separate;
    border-spacing: 0;
}

th,
td {
    padding: 10px;
    text-align: left;
}

tbody tr {
    margin-bottom: 10px;
}

.th {
    // background-color: #F2F4F3;
    background: #EEF0F8;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #3B3B3B;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.td {
    background-color: #F2F4F3;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #3B3B3B;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.print-icon-wrapper {
    height: 24px;
}

.download-icon {
    color: #848080;
    font-size: 24px;
}