<div class="card bg">
    <div class="card-body">
        <div *ngIf="productDetail?.name"
            class="card d-flex align-items-center card-container-wrapper justify-content-between">
            <div class="card-body p-0 d-flex align-items-center">
                <div class="initial logo-title-wrapper me-3">
                    <h1 class="logo-title">{{ getInitial(productDetail?.name) }}</h1>
                </div>
                <div class="user-title-wrapper text-white px-2">
                    <h5 class="card-title user-title-wrapper text-white mb-0">{{ productDetail?.name }}
                        ({{productDetail?.mobile_no}})
                    </h5>
                    <p class="card-text mb-0 membership-title-wrapper"
                        (click)="openModalMembershp(productDetail?.membership?.id)">{{
                        productDetail?.membership?.title ? productDetail?.membership?.title
                        : profileDetails?.role }}</p>
                </div>
            </div>
            <div class="page-btn me-4">
                <a routerLink="//contacts/updateCustomer/{{productDetail?.id}}"
                    class="btn btn-added d-flex align-items-center bg-white">
                    <i class="fas fa-edit edit-icon"></i>
                    <span class="ms-2 edit-btn-title">Edit Customer</span>
                </a>
            </div>
        </div>

        <mat-tab-group animationDuration="0ms" *ngIf="productDetail">
            <mat-tab label="General Details">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card-body">
                            <h3 class="contact-title-wrapper ps-4 mb-3">Contact Information</h3>
                            <div class="row m-0">
                                <div class="col-5">
                                    <div class="row m-0">
                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">Contact person Name:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ productDetail?.name ||
                                                '--' }}
                                            </h5>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">Mobile Number:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ productDetail?.mobile_no ||
                                                '--' }}
                                            </h5>
                                        </div>

                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">Email:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ productDetail?.email || '--'
                                                }}</h5>
                                        </div>

                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">Telephone Number:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ productDetail?.telephone_no ||
                                                '--' }}
                                            </h5>
                                        </div>

                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">WhatsApp Number:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ productDetail?.whatsapp_no ||
                                                '--' }}
                                            </h5>
                                        </div>

                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">Date of Birth:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ productDetail?.date_of_birth ||
                                                '--'
                                                }}</h5>
                                        </div>

                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">Anniversary:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ productDetail?.anniversary_date
                                                ||
                                                '--' }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 class="contact-title-wrapper ps-4 mb-3">Business Information</h3>
                            <div class="row m-0">
                                <div class="col-5">
                                    <div class="row m-0">
                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">Company Name:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ productDetail?.company_name ||
                                                '--' }}
                                            </h5>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">GST Type:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ productDetail?.gst_type ||
                                                '--' }}
                                            </h5>
                                        </div>

                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">GSTIN:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ productDetail?.gstin || '--'
                                                }}</h5>
                                        </div>

                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">Apply TDS:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ productDetail?.apply_tds ? 'Yes' :
                                                'No' ||
                                                'N/A' }}
                                            </h5>
                                        </div>

                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">Pan Card:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ productDetail?.pan_no
                                                ||
                                                '--' }}</h5>
                                        </div>

                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">Credit Limit:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ creditLimit || 0 }}</h5>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">Billable Amount:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ billable_amount || 0 }}</h5>
                                        </div>














                                        <div class="col-6 mb-2">
                                            <label class="label-title-wrapper">Payment Terms:</label>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h5 class="field-title-wrapper">{{ productDetail?.payment_terms?.title
                                                ||
                                                '--' }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="productDetail?.remark && productDetail?.remark !== 'null'" class="mt-4">
                                <h3 class="contact-title-wrapper ps-4 mb-3">Remark</h3>
                                <p class="mb-0 text-black fw-semibold ps-4 fs-6">{{productDetail?.remark}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Address">
                <div class="row">
                    <div class="col-md-4" *ngFor="let address of productDetail?.address">
                        <div class="card mb-4">
                            <div class="card-body p-4 address-card-body-wrapper">
                                <h5 class="card-title address-type-title text-black mb-1 pb-1">{{
                                    address?.address_type }}</h5>
                                <p *ngIf="address?.address_line_1 || address?.address_line_2"
                                    class="card-text card-description mb-1 pb-1">{{ address?.address_line_1 }},
                                    {{address?.address_line_2 }},</p>
                                <p class="card-text card-description mb-1 pb-1">{{ address?.city?.city }}, {{
                                    address?.state?.state }}, {{address?.country?.country_name}}</p>
                                <p class="card-text card-description mb-1 pb-1">Pincode - {{address?.pincode || '--'}}
                                </p>
                                <div class="d-flex align-items-center">
                                    <mat-checkbox class="example-margin"><span class="primary-color"> Default
                                            Shipping
                                            Address</span></mat-checkbox>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Loyalty" *ngIf="LoyaltyList">
                <div class="card">
                    <div class="card-body">
                        <div class="row container">
                            <ng-container>
                                <div class="col-lg-5 col-sm-5 col-12 d-flex">
                                    <div class="dash-count">
                                        <div class="dash-counts">
                                            <h4>{{LoyaltyList?.['current financial year']}}</h4>
                                            <h5>Financial Year</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4 col-12 d-flex">
                                    <div class="dash-count das1">
                                        <div class="dash-counts">
                                            <h4>{{LoyaltyList?.['loyalty points']}}</h4>
                                            <h5>Loyalty Point</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4 col-12 d-flex">
                                    <div class="dash-count das2">
                                        <div class="dash-counts">
                                            <h4>{{LoyaltyList?.sale_bill_credit_points}}</h4>
                                            <h5>Sale Bill Credit Point</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4 col-12 d-flex">
                                    <div class="dash-count das3">
                                        <div class="dash-counts">
                                            <h4>{{LoyaltyList?.sale_return_points}}</h4>
                                            <h5>Sael Return Points</h5>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Logs" *ngIf="productDetail?.logs?.length>0">
                <div class="card">
                    <div class="search-set mx-3 mt-3">
                    </div>
                    <div class="card-body">
                        <mat-stepper orientation="vertical">
                            <ng-container *ngFor="let log of productDetail?.logs; let index = index">
                                <mat-step>
                                    <ng-template matStepLabel>
                                        <div class="step-label-wrapper">
                                            <p class="mb-1 text-title-wrapper"> <span class="operation-label">{{
                                                    log?.operation_type }}
                                                    By {{
                                                    log?.userid
                                                    }}</span> </p>
                                            <span class="date-label">{{ formatDate(log.date_time) }}</span>
                                        </div>
                                    </ng-template>
                                </mat-step>
                            </ng-container>
                        </mat-stepper>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div class="container" *ngIf="productDetail?.length==[]">
            <p class="center-textt">Data not available</p>
        </div>
    </div>
</div>


<div class="modal fade " id="membershipModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Membership</h1>
                <button type="button" class="close" (click)="closeModalMembership()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" *ngIf="memberDetails">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Attachment</td>
                                        <td><img [src]="imgUrl+memberDetails?.attachment" alt="product"
                                                style="width: 15%"></td>
                                    </tr>
                                    <tr>
                                        <td>Validity of Points</td>
                                        <td>{{memberDetails?.validity_of_points || '--'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Title</td>
                                        <td>{{memberDetails?.title || '--'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Points Per 100</td>
                                        <td>{{memberDetails?.points_per_100 || '--'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Purchase From</td>
                                        <td>{{memberDetails?.purchase_from || '--'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Purchase To</td>
                                        <td>{{memberDetails?.purchase_to || '--'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Maximum Redemption Points</td>
                                        <td>{{memberDetails?.maximum_redemption_points || '--'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex align-items-center mx-4">
                            <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                            <span
                                [ngClass]="{'bg-lightgreen': memberDetails?.is_active === true, 'bg-lightred' : memberDetails?.is_active === false,'bg-lightyellow' : memberDetails?.is_active === 'Partial' }"
                                class="badges">{{memberDetails?.is_active}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>