

        <!-- /add -->
        <div class="card">
            <div class="card-body">
                <div [formGroup]="formaddCateg" enctype="multipart/form-data" class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Category Name*</label>
                            <input type="text" formControlName="title" >
                            <span class="text-danger"*ngIf="title && title.invalid && title.touched">Fill The Details</span>
                        </div>
                    </div>

                    <div class="col-lg-10 col-sm-10 col-12">
                        <div class="form-group">
                            <label>Discount</label>
                            <input type="text" formControlName="discount" id="discount" >
                            <span class="text-danger" *ngIf="discount && discount.invalid && discount.touched">Enter discount
                            </span>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>	Category Image*</label>
                            <div class="image-upload mb-2">
                                <input type="file" name="image" (change)="onFileChange($event)">
                                <div class="image-uploads">
                                    <img src="assets/img/icons/upload.svg" alt="img">
                                    <h4>Drag and drop a file to upload</h4>
                                </div>
                              </div>
                              <span class="text-danger"*ngIf="image && image.invalid && image.touched">Upload an image</span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <a (click)="submitForm()" class="btn btn-submit me-2">{{this.editRoute? 'Save Changes': 'Submit'}}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /add -->
