<div class="row">
    <div class="col-lg-7 col-sm-7 col-12">
        <div class="page-header">
            <div class="page-title">
                <h4 class="titl">Banner List</h4>
                <h6>Manage your Banner</h6>
            </div>
            <div class="page-btn" *ngIf="!addForm">
                <a class="btn btn-added" (click)="openaddForm()" *ngIf="isAdd">
                    <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Add Banner
                </a>
            </div>

        </div>
        <div class="card">
            <div class="card-body">

                <div class="table-top">
                    <div class="search-set">
                        <!-- <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="assets/img/icons/filter.svg" alt="img">
                                <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div> -->

                        <div class="search-input">
                            <a class="btn btn-searchset">
                                <img src="assets/img/icons/search-white.svg" alt="img"></a>
                            <div class="dataTables_filter"><label>
                                    <input type="search" class="form-control form-control-sm" placeholder="Search..."
                                        [(ngModel)]="titlee" (ngModelChange)="search()" placeholder="search">
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf" (click)="generatePDF()"><img
                                        src="assets/img/icons/pdf.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel" (click)="exportToExcel()"><img
                                        src="assets/img/icons/excel.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print" (click)="printTable()"><img
                                        src="assets/img/icons/printer.svg" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table datanew" id="mytable">
                        <thead>
                            <tr>
                                <th (click)="sort('id')" class="thone">
                                    <label class="checkboxs mb-0 d-inline" (click)="selectAll(initChecked)">
                                        <input type="checkbox" [(ngModel)]="allSelected" (change)="selectAlll()">
                                        <span class="checkmarks"></span>
                                    </label>
                                    <i class="fa fa-sort"></i>
                                </th>
                                <th (click)="sort('id')" class="thone">Sr.No. <i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone">Image <i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone">Title<i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone">Url<i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone">Is Active <i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone" *ngIf="isEdit || isDelete">Action <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="tableData?.length>=0">
                            <tr
                                *ngFor="let products of tableData | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p} let i = index">
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox" [(ngModel)]="selectedRows[i]">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <td>{{i+1}}</td>
                                <td>
                                    <a class="product-img" routerLink="//website/bannerDetails/{{products.id}}">
                                        <img [src]="imgUrl+products.image" alt="product">
                                    </a>
                                </td>
                                <td>
                                    {{products?.title}}
                                </td>
                                <td><a [href]="products?.url" target="_blank"> {{products?.url}}</a></td>
                                <td>
                                    <!-- <span [ngClass]="{'bg-lightgreen': products.is_active === true, 'bg-lightred' : products.is_active === false,'bg-lightyellow' : products.is_active === 'Partial' }"
                                        class="badges">{{products.is_active}}</span> -->
                                    <mat-slide-toggle
                                        (click)="products.is_active ? deActivate(i,products?.id):Active(i,products?.id)"
                                        [(ngModel)]="products.is_active"></mat-slide-toggle>
                                </td>
                                <td>
                                    <a class="me-1" routerLink="//website/bannerDetails/{{products?.id}}">
                                        <img src="assets/img/icons/eye.svg" alt="img">
                                    </a>
                                    <a class="me-1" (click)="editForm(products?.id)" *ngIf="isEdit">
                                        <img src="assets/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a (click)="confirmText(i,products.id)" class="me-3 confirm-text"
                                        href="javascript:void(0);" *ngIf="isDelete">
                                        <img src="assets/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="tableData?.length===0 && !loader">
                            <tr>
                              <td colspan="10">
                                <p class="center-textt">Data not available</p>
                              </td>
                            </tr>
                          </tbody>
                        <!-- pagination -->
                        <!-- <tr>
                            <td colspan="5">
                                <div class="dataTables_length">
                                    <label class="labelSize">Show :&nbsp;
                                        <select [(ngModel)]="itemsPerPage">
                                            <option [ngValue]="10">10</option>
                                            <option [ngValue]="25">25</option>
                                            <option [ngValue]="50">50</option>
                                            <option [ngValue]="100">100</option>
                                        </select>
                                        entries</label>
                                </div>
                                <div>
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="entries">Showing {{itemsPerPage}} to {{itemsPerPage}} of {{itemsPerPage}} entries</div>
                            </td>
                        </tr> -->
                    </table>
                    <div class="progressbar">
                        <mat-progress-bar mode="indeterminate" class="progressbar" *ngIf="loader"></mat-progress-bar>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-12 mt-2">
                            <div class="entries"> Show per page
                                <select [(ngModel)]="itemsPerPage" class="pagination" #v (change)="changePg(v.value)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="-1">All</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-8 col-12 mt-2">
                            <div class="f-right">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                <div class="entries f-right">Showing {{itemsPerPage}} to {{tableData?.length}} of {{p}} entries</div>  

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-sm-5 col-12" *ngIf="isAdd || isEdit">
        <div class="page-header">
            <div class="page-title" *ngIf="addForm">
                <div *ngIf="isAdd">
                    <h4>Add Banner </h4>
                    <h6>Create new Banner </h6>
                </div>
            </div>
            <div class="page-title" *ngIf="!addForm">
                <div *ngIf="isEdit">
                    <h4>Update Banner </h4>
                    <h6>Edit Banner </h6>
                </div>
            </div>
        </div>
        <div class="card">
            <div *ngIf="isAdd">
                <div class="card-body" *ngIf="addForm">
                    <form [formGroup]="bannerForm" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-lg-10 col-sm-10 col-12">
                                <div class="form-group">
                                    <label>Title*</label>
                                    <input type="text" formControlName="title" placeholder="Enter Title" id="title" [ngClass]="{
                                    'is-invalid': f['title'].touched && f['title'].invalid }">
                                    <span class="text-danger" *ngIf="title && title.invalid && title.touched">Enter Title </span>

                                </div>
                            </div>
                            <div class="col-lg-10 col-sm-10 col-12">
                                <div class="form-group">
                                    <label>Url*</label>
                                    <input type="text" formControlName="url" placeholder="Enter Url" id="url" [ngClass]="{
                                    'is-invalid': f['url'].touched && f['url'].invalid
                                  }">
                                    <span class="text-danger" *ngIf="url && url.invalid && url.touched">Enter Url</span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Banner Image*</label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="image-upload">
                                                <input type="file" formControlName="image" (change)="selectImg($event)">
                                                <div class="image-uploads">
                                                    <img src="assets/img/icons/upload.svg" alt="img">
                                                    <h4>Drag and drop a file to upload</h4>
                                                </div>
                                                <span class="text-danger"
                                                    *ngIf="image && image.invalid && image.touched">Select image</span>
                                                <!-- <span class="text-danger" *ngIf="imgError">Select image</span> -->
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <svg *ngIf="!imgurl" xmlns="http://www.w3.org/2000/svg" width="20"
                                                height="20" fill="currentColor" class="bi bi-image mx-5 svg"
                                                viewBox="0 0 16 16" style="height: 100px; width: 100px;">
                                                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                <path
                                                    d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
                                            </svg>
                                            <img [src]="imgurl" *ngIf="imgurl" alt="" class="p_img">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-12">
                                <button class="btn btn-submit me-2" *ngIf="!loaders">Submit</button>
                                <button class="btn btn-submit me-2" type="submit" *ngIf="loaders" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp; Submit</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div *ngIf="isEdit">
                <div class="card-body" *ngIf="!addForm">
                    <form [formGroup]="bannerForm" (ngSubmit)="update()">
                        <div class="row">
                            <div class="col-lg-10 col-sm-10 col-12">
                                <div class="form-group">
                                    <label>Title*</label>
                                    <input type="text" formControlName="title" placeholder="Enter Title" id="title" [ngClass]="{
                                    'is-invalid': f['title'].touched && f['title'].invalid }">
                                    <span class="text-danger" *ngIf="title && title.invalid && title.touched">Enter Title </span>
                                </div>
                            </div>
                            <div class="col-lg-10 col-sm-10 col-12">
                                <div class="form-group">
                                    <label>Url*</label>
                                    <input type="text" formControlName="url" placeholder="Enter Url" id="url" [ngClass]="{
                                    'is-invalid': f['url'].touched && f['url'].invalid}">
                                    <span class="text-danger" *ngIf="url && url.invalid && url.touched">Enter Url </span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Banner Image*</label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="image-upload">
                                                <input type="file" formControlName="image" (change)="selectImg($event)">
                                                <div class="image-uploads">
                                                    <img src="assets/img/icons/upload.svg" alt="img">
                                                    <h4>Drag and drop a file to upload</h4>
                                                </div>
                                                <span class="text-danger"
                                                    *ngIf="image && image.invalid && image.touched">Select image</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <img [src]="imgurl" *ngIf="imgurl" alt="" class="p_img">
                                            <img [src]="imgUrl+updateData.image" *ngIf="!imgurl" alt="" class="p_img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button class="btn btn-submit me-2" *ngIf="!loaders">Submit</button>
                                <button class="btn btn-submit me-2" type="submit" *ngIf="loaders" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp; Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>