 <form [formGroup]="receiptPaymentForm" (ngSubmit)="receiptFormSubmit()">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="d-block">Select Voucher Type</label>
                <div class="row justify-center">
                    <div class="col-sm-12">
                        <div class="radio-payments-modal-wrapper d-flex justify-content-around">
                            <div class="form-check" *ngFor="let option of voucherType">
                                <input class="form-check-input" type="radio" formControlName="voucher_type"
                                    [value]="option.value">
                                <label class="form-check-label">{{option.label}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="voucher_type.invalid && (voucher_type.dirty || voucher_type.touched)"
                class="alert alert-danger">

                <div *ngIf="voucher_type.errors?.['required']">
                    Voucher Type is required.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12"
            *ngIf="receiptPaymentForm.get('voucher_type').value === 'sales' || receiptPaymentForm.get('voucher_type').value === 'purchase'">
            <div class="form-group">
                <label class="d-block">Select Payment Type</label>
                <div class="radio-payments-modal-wrapper d-flex justify-content-around">
                    <div class="form-check" *ngFor="let option of paymentType">
                        <input class="form-check-input" type="radio" formControlName="payment_type"
                            [value]="option.value">
                        <label class="form-check-label">{{option.label}}</label>
                    </div>
                </div>
            </div>
            <div *ngIf="payment_type.invalid && (payment_type.dirty || payment_type.touched)"
                class="alert alert-danger">

                <div *ngIf="payment_type.errors?.['required']">
                    Payment Type is required.
                </div>
            </div>
        </div>
        <div class="col-sm-6"
            *ngIf="receiptPaymentForm.get('voucher_type').value === 'sales' || receiptPaymentForm.get('voucher_type').value === 'purchase'">
            <div class="form-group">
                <label>Payment Mode</label>
                <select class="form-select" formControlName="payment_mode">
                    <option disabled selected value="">-- Select Payment Mode --</option>
                    <option *ngFor="let option of paymentMode" [value]="option.value">{{option.label}}</option>
                </select>
            </div>
            <div *ngIf="payment_mode.invalid && (payment_mode.dirty || payment_mode.touched)"
                class="alert alert-danger">

                <div *ngIf="payment_mode.errors?.['required']">
                    Payment Mode is required.
                </div>
            </div>
        </div>
        <div class="col-sm-6" *ngIf="receiptPaymentForm.get('payment_type').value === 'Against Bill'">
            <div class="form-group">
                <label>Select Sales</label>
                <select class="form-select" formControlName="receipt_sales">
                    <option disabled selected value="">-- Select Sales --</option>
                    <option *ngFor="let option of receiptSales" [value]="option?.id">{{option?.dueAmount}}</option>
                </select>
            </div>
            <div *ngIf="receipt_sales.invalid && (receipt_sales.dirty || receipt_sales.touched)"
                class="alert alert-danger">

                <div *ngIf="receipt_sales.errors?.['required']">
                    Selecting Sales is required.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Amount</label>
                <input type="number" formControlName="amount_receipt" class="form-control" placeholder="Enter Amount">
            </div>
            <div *ngIf="amount_receipt.invalid && (amount_receipt.dirty || amount_receipt.touched)"
                class="alert alert-danger">

                <div *ngIf="amount_receipt.errors?.['required']">
                    Amount is required.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8" *ngIf="receiptPaymentForm.get('voucher_type').value === 'sales'">
                <div class="form-group">
                    <label>Customer</label>
                    <input type="text" placeholder="Search for a Customer"
                        [formControl]="receiptPaymentForm.get('customer_receipt')" [matAutocomplete]="autoReceipt"
                        class="form-control">
                    <mat-autocomplete #autoReceipt="matAutocomplete" [displayWith]="displayCus"
                        (optionSelected)="optionSelectedReceipt($event)">

                        <mat-option *ngIf="receiptPaymentForm.get('customer_receipt').value?.length < 3"
                            class="is-loading">Please Enter 3 or more characters</mat-option>
                        <mat-option *ngIf="cusIsLoading" class="is-loading">Loading...</mat-option>
                        <mat-option *ngIf="cusErrorMsg" class="is-loading">{{cusErrorMsg}}</mat-option>
                        <mat-option *ngFor="let customer of filteredCustomer2" [value]="customer">
                            {{ displayCus(customer) }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div *ngIf="customer_receipt.invalid && (customer_receipt.dirty || customer_receipt.touched)"
                    class="alert alert-danger">

                    <div *ngIf="customer_receipt.errors?.['required']">
                        Customer is required.
                    </div>
                </div>

            </div>
            <div class="col-sm-8"
                *ngIf="receiptPaymentForm.get('voucher_type').value === 'purchase' || receiptPaymentForm.get('voucher_type').value === 'expense'">
                <div class="form-group">
                    <label>Party</label>
                    <input type="text" placeholder="Search for a Party"
                        [formControl]="receiptPaymentForm.get('party_receipt')" [matAutocomplete]="partyReceipt"
                        class="form-control">
                    <mat-autocomplete #partyReceipt="matAutocomplete" [displayWith]="displayParty"
                        (optionSelected)="optionSelectedParty($event)">
                        <mat-option *ngIf="receiptPaymentForm.get('party_receipt').value?.length < 3"
                            class="is-loading">Please Enter 3 or more characters</mat-option>
                        <mat-option *ngIf="partyIsLoading" class="is-loading">Loading...</mat-option>
                        <mat-option *ngIf="partyErrorMsg" class="is-loading">{{cusErrorMsg}}</mat-option>
                        <mat-option *ngFor="let party of filteredParty" [value]="party">
                            {{ displayParty(party) }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div *ngIf="party_receipt.invalid && (party_receipt.dirty || party_receipt.touched)"
                    class="alert alert-danger">

                    <div *ngIf="party_receipt.errors?.['required']">
                        Party is required.
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row" *ngIf="receiptPaymentForm.get('payment_mode').value !== 'Cash'">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Payment Account</label>
                <select class="form-select" formControlName="payment_account">
                    <option value="" disabled selected>Select Payment Account</option>
                    <option *ngFor="let bank of companyBankList" [value]="bank.id">{{bank?.name}}</option>
                </select>
            </div>
            <div *ngIf="payment_account_receipt.invalid && (payment_account_receipt.dirty || payment_account_receipt.touched)"
                class="alert alert-danger">

                <div *ngIf="payment_account_receipt.errors?.['required']">
                    Payment Account is required.
                </div>
            </div>
        </div>
        <div class="col-sm-6" *ngIf="receiptPaymentForm.get('payment_mode').value === 'UPI' && receiptPaymentForm.get('voucher_type').value !== 'expense'">
            <div class="form-group">
                <label>UPI Id</label>
                <input type="text" class="form-control" placeholder="UPI ID" formControlName="upi_id">
            </div>
            <div *ngIf="upi_id_receipt.invalid && (upi_id_receipt.dirty || upi_id_receipt.touched)"
                class="alert alert-danger">

                <div *ngIf="upi_id_receipt.errors?.['required']">
                    UPI ID is required.
                </div>
            </div>
        </div>

        <div class="col-sm-6" *ngIf="receiptPaymentForm.get('payment_mode').value === 'Bank'">
            <div class="form-group">
                <label>Account No</label>
                <input type="text" class="form-control" placeholder="Account No" formControlName="account_no">
            </div>
            <div *ngIf="receipt_account_no.invalid && (receipt_account_no.dirty || receipt_account_no.touched)"
                class="alert alert-danger">

                <div *ngIf="receipt_account_no.errors?.['required']">
                    Account No is required.
                </div>
            </div>
        </div>

    </div>
    <div class="row" *ngIf="receiptPaymentForm.get('payment_mode').value === 'Card'">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Customer Bank Name</label>
                <input type="text" class="form-control" placeholder="Customer Bank Name"
                    formControlName="customer_bank_name">
            </div>
            <div *ngIf="receipt_customer_bank_name.invalid && (receipt_customer_bank_name.dirty || receipt_customer_bank_name.touched)"
                class="alert alert-danger">

                <div *ngIf="receipt_customer_bank_name.errors?.['required']">
                    Customer Bank Name is required.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Card Payment Amount</label>
                <input type="number" class="form-control" placeholder="Card Payment Amount"
                    formControlName="card_payment_amount">
            </div>
            <div *ngIf="receipt_card_payment_amount.invalid && (receipt_card_payment_amount.dirty || receipt_card_payment_amount.touched)"
                class="alert alert-danger">

                <div *ngIf="receipt_card_payment_amount.errors?.['required']">
                    Card Payment Amount is required.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Card Holder Name</label>
                <input type="text" class="form-control" placeholder="Card Holder Name"
                    formControlName="card_holder_name">
            </div>
            <div *ngIf="receipt_card_holder_name.invalid && (receipt_card_holder_name.dirty || receipt_card_holder_name.touched)"
                class="alert alert-danger">

                <div *ngIf="receipt_card_holder_name.errors?.['required']">
                    Card Holder Name is required.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Card Transaction No</label>
                <input type="number" class="form-control" placeholder="Card Transaction No"
                    formControlName="cart_transactions_no">
            </div>
            <div *ngIf="receipt_cart_transactions_no.invalid && (receipt_cart_transactions_no.dirty || receipt_cart_transactions_no.touched)"
                class="alert alert-danger">

                <div *ngIf="receipt_cart_transactions_no.errors?.['required']">
                    Card Transaction No. is required.
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="receiptPaymentForm.get('voucher_type').value === 'expense'">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" formControlName="non_gst"> Non GST
                </label>
            </div>
            <div *ngIf="expense_non_gst.invalid && (expense_non_gst.dirty || expense_non_gst.touched)"
                class="alert alert-danger">

                <div *ngIf="expense_non_gst.errors?.['required']">
                    Non GST is required.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group mb-0">
                <label>Remark</label>
                <input type="text" formControlName="receipt_remark" class="form-control" placeholder="Enter Remark">
            </div>
            <div *ngIf="receipt_remark.invalid && (receipt_remark.dirty || receipt_remark.touched)"
                class="alert alert-danger">

                <div *ngIf="receipt_remark.errors?.['required']">
                    Remark is required.
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-dark modal2BtnPos">Save</button>
        </div>
    </div>
</form>

