<div class="row bg">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="page-title">
                    <h6 class="subhead-color" (click)="goBack()"><mat-icon
                            style="vertical-align: middle;">keyboard_backspace</mat-icon>
                        Back to Expense Voucher</h6>
                    <h4>Expense Voucher Details</h4>
                </div>
                <div class="page-btn">
                    <a routerLink="//transaction/updateexpensesVoucher/{{journelVoucherDetail ?.id}}"
                        class="btn btn-added">
                        <img src="assets/img/icons/edit.svg" class="me-1" alt="img">Edit Expense Voucher
                    </a>
                </div>
            </div>
            <div class="expanse-voucher-wrapper company-details-card card" *ngIf="journelVoucherDetail">
                <div class="sub-card row">
                    <mat-tab-group animationDuration="0ms" #tabGroup>
                        <mat-tab label="General Details">
                            <div class="py-3">
                                <div class="d-flex justify-content-between align-items-center container mb-3">
                                    <div>
                                        <span [ngClass]="getBadgeClass(journelVoucherDetail?.status)"
                                            class="badge p-2">{{journelVoucherDetail?.status}}</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div
                                            *ngIf="userDetails?.role === 'admin' && journelVoucherDetail?.status === 'Pending'">
                                            <button class="btn approve-status-badge me-3" data-bs-toggle="modal"
                                                data-bs-target="#approval_modal">
                                                Approve
                                            </button>
                                            <button class="btn reject-status-badge" data-bs-toggle="modal"
                                                data-bs-target="#reject_modal">
                                                Reject
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="d-flex justify-content-between align-items-center top-div"
                                                style="float: inline-start;">
                                                <div class="left-top">
                                                    <img src="assets/dummy/pos.png" alt="">
                                                    <p class="gst">GST {{companyDetails?.gst}}</p>
                                                    <p>Company Name: {{companyDetails?.name}}</p>
                                                    <p>Financial Year:
                                                        {{companyDetails?.financial_year?.financial_year}}
                                                    </p>
                                                    <p><span>Address</span> :
                                                        {{companyDetails?.address+' ,
                                                        '+companyDetails?.city?.city+' ,
                                                        '+companyDetails?.state?.state+' ,
                                                        '+companyDetails?.country?.country_name+' ,
                                                        '+companyDetails?.pincode}}
                                                    </p>
                                                    <p>Phone: {{companyDetails?.phone}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pdf-table1 my-4">
                                <div class="container">
                                    <div class="col-sm-12">
                                        <h4 class="table-title-wrapper mb-2">Expanse Voucher Details</h4>
                                        <div class="table-responsive">
                                            <table class="table datanew">
                                                <thead>
                                                    <tr>
                                                        <th class="thone" style="white-space: normal !important;">
                                                            Party </th>
                                                        <th class="thone" style="white-space: normal !important;">
                                                            Expense Voucher No.</th>
                                                        <th class="thone" style="white-space: normal !important;">
                                                            Refrence Bill No.</th>
                                                        <th class="thone" style="white-space: normal !important;">
                                                            Date</th>
                                                        <th class="thone" style="white-space: normal !important;">
                                                            Net Amount</th>
                                                        <th class="thone" style="white-space: normal !important;">
                                                            Paid Amount</th>
                                                        <th class="thone" style="white-space: normal !important;">
                                                            Roound Off</th>
                                                        <th class="thone" style="white-space: normal !important;">
                                                            Tax Amount</th>
                                                        <th class="thone" style="white-space: normal !important;">
                                                            Total Amount</th>
                                                        <th class="thone" style="white-space: normal !important;">
                                                            Status</th>
                                                        <th class="thone" style="white-space: normal !important;">
                                                            Reverse Charge</th>
                                                        <th class="thone" style="white-space: normal !important;">
                                                            Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="color:black">
                                                            {{journelVoucherDetail?.party?.name}}
                                                        </td>
                                                        <td style="color:black">
                                                            {{journelVoucherDetail?.expense_no}}
                                                        </td>
                                                        <td style="color:black">
                                                            {{journelVoucherDetail?.refrence_bill_no}}
                                                        </td>
                                                        <td style="color:black">
                                                            {{journelVoucherDetail?.expense_date}}</td>
                                                        <td style="color:black">
                                                            {{journelVoucherDetail?.net_amount}}</td>
                                                        <td style="color:black">
                                                            {{journelVoucherDetail?.paid_amount}}
                                                        </td>
                                                        <td style="color:black">
                                                            {{journelVoucherDetail?.round_off}}</td>
                                                        <td style="color:black" class="td">
                                                            {{journelVoucherDetail?.tax_amount}}</td>
                                                        <td style="color:black" class="td">
                                                            {{journelVoucherDetail?.total_amount}}</td>
                                                        <td style="color:black" class="td">
                                                            {{journelVoucherDetail?.status}}</td>
                                                        <td style="color:black" class="td">
                                                            {{journelVoucherDetail?.reverse_charge}}</td>
                                                        <td style="color:black" class="td">
                                                            {{journelVoucherDetail?.note}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="pdf-table1 table-responsive mt-4 pt-2">
                                        <h4 class="table-title-wrapper mb-2">Cart Details</h4>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="thone">Sr.No.</th>
                                                    <th class="thone">Account</th>
                                                    <th class="thone">Service/Product</th>
                                                    <th class="thone">Description</th>
                                                    <th class="thone">Amount</th>
                                                    <th class="thone">Discount</th>
                                                    <th class="thone">Tax</th>
                                                    <th class="thone">Tax Value</th>
                                                    <th class="thone">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let cart of journelVoucherDetail?.cart; index as i">
                                                    <td class="td">{{i+1}}</td>
                                                    <td class="td">{{cart?.account?.account_id}}</td>
                                                    <td class="td">{{cart?.service_or_product}}</td>
                                                    <td class="td">{{cart?.description}}</td>
                                                    <td class="td">{{cart?.amount}}</td>
                                                    <td class="td">{{cart?.discount}}</td>
                                                    <td class="td">{{cart?.tax}}</td>
                                                    <td class="td">{{cart?.tax_value}}</td>
                                                    <td class="td">{{cart?.total}}</td>
                                                </tr>
                                                <tr style=" background: rgba(145, 158, 171, 0.32);">
                                                    <td></td>
                                                    <td></td>
                                                    <td class="text-start"><strong>Total</strong></td>
                                                    <td></td>
                                                    <td class="text-start">{{journelVoucherDetail?.net_amount |
                                                        number:'1.2-2'}}
                                                    </td>
                                                    <td class="text-start">{{totalDiscount}}</td>
                                                    <td class="text-start">{{totalTax}}</td>
                                                    <td class="text-start">{{journelVoucherDetail?.tax_amount |
                                                        number:'1.2-2'}}
                                                    </td>
                                                    <td class="text-start">{{journelVoucherDetail?.total_amount |
                                                        number:'1.2-2'
                                                        }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="d-flex align-items-center my-3 pt-3">
                                        <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                                        <span
                                            [ngClass]="{'bg-lightgreen': journelVoucherDetail?.is_active === true, 'bg-lightred' : journelVoucherDetail?.is_active === false,'bg-lightyellow' : journelVoucherDetail?.is_active === 'Partial' }"
                                            class="badges">{{journelVoucherDetail?.is_active}}</span>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Logs" *ngIf="journelVoucherDetail?.logs?.length>0">
                            <div class="card">
                                <!-- <div class="search-set mx-3 mt-3">
                                    <div class="search-path">
                                        <a class="btn btn-filter" id="filter_search">
                                            <img src="assets/img/icons/filter.svg" alt="img">
                                            <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                                        </a>
                                    </div>
                                </div> -->
                                <div class="card-body">
                                    <div class="card" id="filter_inputs">
                                        <!-- <div class="card-body border">
                                            <div class="row my-2">
                                                <div class="col-lg-12 col-sm-12">
                                                    <div class="col-lg-4 col-sm-6 col-12">
                                                        <div class="form-group mb-0 mx-3">
                                                           <label>Select Operation Type</label>
                                                            <select [(ngModel)]="filterOpertion" (change)="filterData()" class="form-select">
                                                                <option value="" selected disabled>Select Operation Type</option>
                                                                <option value="Add">Add</option>
                                                                <option value="Update">Update</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-0" (click)="clearFilter()">
                                                        <a class="btn btn-filters ms-auto" style="width: 20%;">Clear Filter</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table datanew">
                                            <thead>
                                                <tr>
                                                    <th class="th" (click)="sort('id')"># <i class="fa fa-sort"></i>
                                                    </th>
                                                    <th class="th" (click)="sort('id')">User <i class="fa fa-sort"></i>
                                                    </th>
                                                    <th class="th" (click)="sort('id')">Operation Type <i
                                                            class="fa fa-sort"></i></th>
                                                    <th class="th" (click)="sort('id')">Date Time <i
                                                            class="fa fa-sort"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container
                                                    *ngFor="let log of filteredData | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p}; index as i">
                                                    <tr>
                                                        <td class="td" (click)="sort('id')">{{i+1}}</td>
                                                        <td class="td" (click)="sort('id')">{{log?.userid}}</td>
                                                        <td class="td" (click)="sort('id')">{{log?.operation_type}}</td>
                                                        <td class="td" (click)="sort('id')">{{log?.date_time |
                                                            date:'dd-MM-yyyy hh:mm:ss a'}}</td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                            <tbody *ngIf="filteredData?.length==0">
                                                <tr>
                                                    <td colspan="10">
                                                        <p class="center-textt">Data not available</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="progressbar">
                                            <mat-progress-bar mode="indeterminate" class="progressbar"
                                                *ngIf="loader"></mat-progress-bar>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-4 col-12 mt-2">
                                                <div class="entries"> Show per page
                                                    <select [(ngModel)]="itemsPerPage" class="pagination" #v
                                                        (change)="changePg(v.value)">
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                        <option value="-1">All</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-sm-8 col-12 mt-2">
                                                <div class="f-right">
                                                    <pagination-controls
                                                        (pageChange)="p = $event"></pagination-controls>
                                                    <div class="entries f-right">Showing {{itemsPerPage}} to
                                                        {{journelVoucherDetail?.logs?.length}} of {{p}} entries</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="approval_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header approve-modal-wrapper">
                <button type="button" class="btn-close closeApprovalModal close-wrapper" data-bs-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Are you sure you want to approve this expanse voucher?</h5>
            </div>
            <div class="modal-body approve-modal-wrapper">
                <div class="mt-2 d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary me-3" (click)="approve()">Submit</button>
                    <button class="btn btn-danger m-0" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="reject_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header approve-modal-wrapper">
                <button type="button" class="btn-close closeRejectModal close-wrapper" data-bs-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Are you sure you want to reject this expanse voucher?</h5>
            </div>
            <div class="modal-body approve-modal-wrapper">
                <div class="mt-2 d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary me-3" (click)="reject()">Submit</button>
                    <button class="btn btn-danger m-0" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>