<div class="page-header">
    <div class="page-title">
        <h4> Add User</h4>
        <h6>Create new User </h6>
    </div>
</div>
<!-- /add -->
<div class="card">
    <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Name*</label>
                        <input type="text" formControlName="name" id="name" [ngClass]="{
                      'is-invalid': f['name'].touched && f['name'].invalid}">
                        <span class="text-danger" *ngIf="name && name.invalid && name.touched">Enter your name </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>User Name*</label>
                        <input type="text" formControlName="username" id="username" [ngClass]="{
                      'is-invalid': f['username'].touched && f['username'].invalid}">
                        <span class="text-danger" *ngIf="username && username.invalid && username.touched">Enter your
                            username </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Mobile Number*</label>
                        <input type="text" formControlName="phone_number" id="phone_number" [ngClass]="{
                      'is-invalid': f['phone_number'].touched && f['phone_number'].invalid}" minlength="10"
                            maxlength="10">
                        <span class="text-danger" *ngIf="mobile_no&& mobile_no.invalid && mobile_no.touched">Enter your
                            mobile No</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" id="email" [ngClass]="{
                      'is-invalid': f['email'].touched && f['email'].invalid}">
                        <span class="text-danger" *ngIf="email && email.invalid && email.touched">Enter Remark</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Password*</label>
                        <input type="text" formControlName="password" id="password" [ngClass]="{
                      'is-invalid': f['password'].touched && f['password'].invalid}">
                        <span class="text-danger" *ngIf="password && password.invalid && password.touched">Enter your
                            Password
                        </span>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>User Permission</label>
                        <input type="text" formControlName="user_permissions" id="user_permissions" [ngClass]="{
                      'is-invalid': f['user_permissions'].touched && f['user_permissions'].invalid}">
                        <span class="text-danger"
                            *ngIf="permission_group && permission_group.invalid && permission_group.touched">Enter user
                            permissions</span>
                    </div>
                </div> -->

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>User Type</label>
                        <select formControlName="user_type" id="user_type" [ngClass]="{
                        'is-invalid': f['user_type'].touched && f['user_type'].invalid}">
                            <option value="" selected disabled>Select User Type</option>
                            <option value="Supplier">Supplier</option>
                            <option value="Vendor">Vendor</option>
                            <option value="Employee">Employee</option>
                            <option value="Customer">Customer</option>
                        </select>
                        <span class="text-danger" *ngIf="user_type && user_type.invalid && user_type.touched">Select
                            User Type</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>User Role</label>
                        <select formControlName="role" id="role" [ngClass]="{
                        'is-invalid': f['role'].touched && f['role'].invalid}">
                            <option value="" selected disabled>Select User Role</option>
                            <option value="{{userRole.id}}" *ngFor="let userRole of groupList">{{userRole.name}}</option>
                        </select>
                        <span class="text-danger" *ngIf="role && role.invalid && role.touched">Select
                            User role</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Branch</label>
                        <select formControlName="branch" id="branch" [ngClass]="{
                        'is-invalid': f['branch'].touched && f['branch'].invalid}">
                            <option value="" selected disabled>Select Branch</option>
                            <option value="{{branch?.id}}" *ngFor="let branch of branchList">{{branch?.title}}</option>
                        </select>
                        <span class="text-danger" *ngIf="branch && branch.invalid && branch.touched">Select branch</span>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Role</label>
                        <input type="text" formControlName="role" id="role"
                            [ngClass]="{'is-invalid': f['role'].touched && f['role'].invalid}">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Groups</label>
                        <input type="text" formControlName="groups" id="groups"
                            [ngClass]="{'is-invalid': f['groups'].touched && f['groups'].invalid}">
                    </div>
                </div> -->
                <div class="col-lg-3 col-sm-3 col-12 d-flex align-items-center">
                    <div class="form-group mt-4">
                        <div class="d-flex ">
                            <input type="checkbox" formControlName="active" [id]="'checkboxTax-'" [ngModel]="true">
                            <label [for]="'checkboxTax-'" class="d_flex"
                                style="margin-bottom: 0; margin-left: 5px;">Active</label>
                        </div>
                        <!-- <div class="d-flex ">
                            <input type="checkbox" formControlName="user_permissions" [id]="'checkboxTax-'"
                                [ngModel]="true">
                            <label [for]="'checkboxTax-'" class="d_flex"
                                style="margin-bottom: 0; margin-left: 5px;">User Permission</label>
                        </div> -->
                    </div>
                </div>

                <div class="col-lg-12">
                    <button class="btn btn-submit me-2" *ngIf="!loader">Submit</button>
                    <button class="btn btn-submit me-2" type="submit" *ngIf="loader" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Submit</button>
                    <a routerLink="//settings/user" class="btn btn-cancel">Cancel</a>
                </div>

            </div>
        </form>
    </div>
</div>
<!-- /add -->