.h4 {
    width: 15%;
}

.th {
    background: #EEF0F8;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #3B3B3B;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.td {
    background-color: #F2F4F3;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #3B3B3B;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.logo-title {
    font-size: 42px;
    line-height: 1;
    font-weight: bold;
    color: #EA5455;
}

.card-container-wrapper {
    flex-direction: row !important;
    background: linear-gradient(90deg, #EA5455 0%, #FF9F43 100%);
}

.logo-title-wrapper {
    background-color: white;
    padding: 12px;
    margin: 16px;
    border-radius: 50%;
}

.user-title-wrapper {
    font-size: 20px !important;
    text-transform: capitalize;
}

.info-title-wrapper {
    font-size: 28px;
    font-weight: bold;
}

.title-field-wrapper {
    font-size: 16px;
    font-weight: 600;
}

.edit-btn-title {
    color: #EA5455;
    font-weight: 600;
}

.edit-icon {
    color: #EA5455;
    font-size: 20px;
}

.contact-title-wrapper {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.field-title-wrapper {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

.label-title-wrapper {
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.primary-color {
    color: #EA5455;
}

.card-description {
    font-size: 15px;
    color: #000;
}

.step-label-wrapper {
    margin-top: 18px;
}

.address-type-title {
    font-weight: 600 !important;
}

.address-card-body-wrapper {
    background-color: #F2F4F3 !important;
}

.text-title-wrapper {
    font-size: 18px;
}

::ng-deep {
    .mat-checkbox-frame {
        border-color: #EA5455 !important;
    }

    .mat-step-icon {
        margin-right: 28px !important;
        background-color: #EA5455 !important;
    }

    .mat-checkbox-ripple .mat-ripple-element {
        background-color: #ea5455 !important;
    }

    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: #ea5455 !important;
    }

    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        border-radius: 5px !important;
        background-color: #ea5455 !important;
    }
}