<div class="row bg">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="page-title">
                    <h6 class="subhead-color" (click)="goBack()"><mat-icon
                            style="vertical-align: middle;">keyboard_backspace</mat-icon>
                            Back to Sales Bill</h6>
                    <h4>New Sales Bill</h4>
                </div>
                <div class="page-btn">
                    <a routerLink="//sales/updatesalesbill/{{BillDetail ?.id}}" class="btn btn-added">
                        <img src="assets/img/icons/edit.svg" class="me-1" alt="img">Edit Sales Bill
                    </a>
                </div>
            </div>
            <!-- <div class="company-details-card card" *ngIf="BillDetail">
                <div class="sub-card row">
                    <mat-tab-group animationDuration="0ms" #tabGroup>
                        <mat-tab label="Debit Notes">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="th">Customer Name</td>
                                            <td class="td">{{BillDetail?.customer?.name}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Sale Bill Date</td>
                                            <td class="td">{{BillDetail?.bill_date}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Sale Bill Due Date</td>
                                            <td class="td">{{BillDetail?.due_date}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Sale Bill No.</td>
                                            <td class="td">{{BillDetail?.customer_bill_no}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Payment Terms</td>
                                            <td class="td">{{BillDetail?.payment_terms?.title}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Sale Order</td>
                                            <td class="td">{{BillDetail?.sale_order?.sale_order_no}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total QTY</td>
                                            <td class="td">{{BillDetail?.total_qty}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total Discount %</td>
                                            <td class="td">{{BillDetail?.total_discount}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Additional Charges</td>
                                            <td class="td">{{BillDetail?.additional_charges}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total Tax</td>
                                            <td class="td">{{BillDetail?.total_tax}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Round off</td>
                                            <td class="td">{{BillDetail?.roundoff}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Sub Total</td>
                                            <td class="td">{{BillDetail?.export}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total</td>
                                            <td class="td">{{BillDetail?.total}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Note</td>
                                            <td class="td">{{BillDetail?.note}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Status</td>
                                            <td class="td"><span
                                                    [ngClass]="{'bg-lightgreen': BillDetail?.status === 'Complete', 'bg-lightred' : BillDetail?.status === 'Pending','bg-lightyellow' : BillDetail?.status === 'Draft'}"
                                                    class="badges">{{BillDetail?.status}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                        <mat-tab label="Cart">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td class="th">Product Name</td>
                                            <td class="th">Barcode</td>
                                            <td class="th">Qty</td>
                                            <td class="th">Price</td>
                                            <td class="th">Discount %</td>
                                            <td class="th">Additional Discount %</td>
                                            <td class="th">Tax</td>
                                            <td class="th">Total</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let cart of BillDetail?.cart">
                                            <td class="td">{{cart?.barcode?.product_title + ' ' + cart?.barcode?.variant_name }}</td>  
                                            <td class="td">{{cart?.barcode?.sku}}</td>
                                            <td class="td">{{cart?.qty}}</td>
                                            <td class="td">{{cart?.price}}</td>
                                            <td class="td">{{cart?.discount}}</td>
                                            <td class="td">{{cart?.additional_discount}}</td>
                                            <td class="td">{{cart?.tax}}</td>
                                            <td class="td">{{cart?.total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="d-flex align-items-center my-3 mx-3">
                    <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                    <span
                        [ngClass]="{'bg-lightgreen': BillDetail?.is_active === true, 'bg-lightred' : BillDetail?.is_active === false,'bg-lightyellow' : BillDetail?.is_active === 'Partial' }"
                        class="badges">{{BillDetail?.is_active}}</span>
                </div>
            </div> -->

            <mat-tab-group animationDuration="0ms" #tabGroup>
                <mat-tab label="Sale Bill">
            <div class="company-details-card card" *ngIf="BillDetail">
                <div class="sub-card row">
                    <div class="content-part my-3">
                        <div class="container py-10">
                            <div class="d-flex justify-content-between align-items-center">
                                <h3>Invoice</h3>
                                <button class="btn btn-primary" (click)="generatePdf()" *ngIf="!(_pdf.loaderPdf  | async)">Download
                                    Invoice</button>
                                <button class="btn btn-primary" *ngIf="_pdf.loaderPdf  | async" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>&nbsp; Download Invoice</button>
                            </div>
                            <p style="margin-bottom: 0;">
                                <button class="btn btn" (click)="printForm()"
                                    style="border: 1px solid antiquewhite;">Print Invoice</button>
                            </p>

                            <div class="outer container" id="debitNote">
                                <div class="pdf-div" id="doc-target">
                                    <div class="top mb-4">
                                        <div class="container">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-7">
                                                        <div class="d-flex justify-content-between align-items-center top-div"
                                                            style="float: inline-start;">
                                                            <div class="left-top">
                                                                <img src="assets/dummy/pos.png" alt="">
                                                                <p class="gst"><span>GST</span> {{companyDetails?.gst}}</p>
                                                                <!-- <h1>Details</h1> -->
                                                                <p><span>Company Name</span> : {{companyDetails?.name}}</p>
                                                                <p><span>Financial Year</span> :
                                                                    {{companyDetails?.financial_year?.financial_year}}
                                                                </p>
                                                                <p><span>Address</span> :
                                                                    {{companyDetails?.address+' , '+companyDetails?.city?.city+' , '+companyDetails?.state?.state+' , '+companyDetails?.country?.country_name+' , '+companyDetails?.pincode}}
                                                                </p>
                                                                <p><span>Phone</span> : {{companyDetails?.phone}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="d-flex justify-content-between align-items-center top-div my-3"
                                                            style=" float: inline-end;">
                                                            <div class="right-top">
                                                                <!-- <p>GST {{BillDetail?.party?.gstin}}</p> -->
                                                                <h1 class="pb-4">Invoice</h1>
                                                                <p><span>Invoice Date</span> : {{BillDetail?.bill_date| date: 'dd-MMMM-yyyy'}}</p>
                                                                <p><span>Invoice NO</span> : {{BillDetail?.customer_bill_no}} </p>
                                                                <p><span>Bill Date</span> : {{BillDetail?.bill_date | date: 'dd-MMMM-yyyy'}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-title">
                                        <p class="heading">Sales Bill Details</p>
                                    </div>
                                    <div class="pdf-address mb-4">
                                        <div class="container">
                                            <div class="col-sm-12">
                                                <div
                                                    class="d-flex justify-content-between align-items-center top-div container">
                                               <div *ngIf="selectedAddressBilling">
                                                        <p class="heading">Billing Address</p>
                                                        <p class="heading2">
                                                            {{selectedAddressBilling?.address_line_1==null?'':selectedAddressBilling?.address_line_1 + ' , ' +
                                                            selectedAddressBilling?.address_line_2==null?'':selectedAddressBilling?.address_line_2 + ' , ' +
                                                            selectedAddressBilling?.city?.city}}
                                                            <br>
                                                            {{selectedAddressBilling?.state?.state + ' , ' +
                                                            selectedAddressBilling?.country?.country_name}}
                                                            <br />
                                                            Phone: {{BillDetail?.customer?.phone_number}}
                                                            <br />
                                                            {{BillDetail?.customer?.email}}
                                                        </p>
                                                    </div>
                                                    <div *ngIf="selectedAddressShipping">
                                                        <p class="heading">Shipping Address</p>
                                                        <p class="heading2">
                                                            {{selectedAddressShipping?.address_line_1==null?'':selectedAddressShipping?.address_line_1 + ' , ' +
                                                            selectedAddressShipping?.address_line_2==null?'':selectedAddressShipping?.address_line_2 + ' , ' +
                                                            selectedAddressShipping?.city?.city}}
                                                            <br>
                                                            {{selectedAddressBilling?.state?.state + ' , ' +
                                                            selectedAddressBilling?.country?.country_name}}
                                                            <br />
                                                            Phone: {{BillDetail?.customer?.phone_number}}
                                                            <br />
                                                            {{BillDetail?.customer?.email}}
                                                        </p>
                                                    </div> 

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pdf-table1 mb-4">
                                        <div class="container">
                                            <div class="col-sm-12">
                                                <div class="table-responsive">
                                                    <table class="table datanew">
                                                        <thead>
                                                            <tr>
                                                                <!-- <th class="thone" style="white-space: normal !important;">Sr.No.</th> -->
                                                                <th class="thone" style="white-space: normal !important;">Sale Bill No.</th>
                                                                <th class="thone" style="white-space: normal !important;">Party Name</th>
                                                                <th class="thone" style="white-space: normal !important;">Payment Terms</th>
                                                                <th class="thone" style="white-space: normal !important;">Sales Order</th>
                                                                <th class="thone" style="white-space: normal !important;">Sales Man</th>
                                                                <th class="thone" style="white-space: normal !important;">Sale Bill Date</th>
                                                                <th class="thone" style="white-space: normal !important;">Due date</th>   
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <!-- <td>{{1}}</td> -->
                                                                <td style="color:black">{{BillDetail?.customer_bill_no}}</td>
                                                                <td style="color:black">{{BillDetail?.customer?.name+ ' (' + BillDetail?.customer?.user_type + ')'}}</td>
                                                                <td style="color:black">{{BillDetail?.payment_terms?.title}}</td>
                                                                <td style="color:black">{{BillDetail?.sale_order?.sale_order_no}}</td>
                                                                <td style="color:black">{{BillDetail?.sales_man?.name}}</td>
                                                                <td style="color:black"> {{BillDetail?.bill_date |date: 'dd-MMMM-yyyy'}}</td>
                                                                <td style="color:black"> {{BillDetail?.due_date |date: 'dd-MMMM-yyyy'}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pdf-table2 mb-4">
                                        <div class="container">
                                            <div class="page-title">
                                                <p style="color:#FF9F43;font-size: 16px;">Product Details</p>
                                            </div>
                                            <div class="col-sm-12 mb-3">
                                                <div>
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Barcode/SKU</th>
                                                                <th>Product Name</th>
                                                                <th>Price</th>
                                                                <th>QTY</th>
                                                                <th>Discount %</th>
                                                                <th>Additional Discount %</th>
                                                                <th>Tax %</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let cart of BillDetail?.cart; let i =index">
                                                                <td>{{i+1}}</td>
                                                                <td>{{cart?.barcode?.sku}}</td>
                                                                <td>{{cart?.item_name}}</td>
                                                                <td>{{cart?.price}}</td>
                                                                <td>{{cart?.qty}}</td>
                                                                <td>{{cart?.discount}}</td>
                                                                <td>{{cart?.additional_discount}}</td>
                                                                <td>{{cart?.tax}}</td>
                                                                <td>{{cart?.total}}</td>
                                                            </tr>
                                                            <tr style=" background: rgba(145, 158, 171, 0.32);">
                                                                <td class="text-center" colspan="3">
                                                                    <strong>Total</strong>
                                                                </td>
                                                                <td class="text-center">{{totalMrp}}</td>
                                                                <td class="text-center">{{BillDetail?.total_qty}}</td>
                                                                <td class="text-center">{{totalDiscount+'%'  + ' (' + '₹'+discountRupees+ ')'}}</td>
                                                                <td class="text-center">{{(totalAdditionalDiscou  ) ? 0 :  totalAdditionalDiscou +'%'+ ' (' + '₹'+totalAdditionalDiscount+ ')'}}</td>
                                                                <td class="text-center">{{BillDetail?.total_tax+'%'+ ' (' + '₹'+calculateTax.toFixed(2)+ ')'}}</td>
                                                                <td class="text-center">{{BillDetail?.total}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <p>Please notify us on any disrepancies within 3 days of receipt <br />
                                                    Overdue invoices will be charged 24% interest.</p>
                                            </div>
                                        </div>
                                    </div>
                                 
                                    <div class="row container">
                                        <div class="col-lg-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <strong>Note:</strong>
                                                <div style="white-space: break-spaces; border: 1px solid rgb(234, 232, 232); border-radius: 4%;" class="py-3 px-2">
                                                    <p>{{BillDetail?.note}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-12" style="float: inline-end;">
                                            <div class="form-group text-end">
                                                <div class="total-order">
                                                    <ul>
                                                        <li class="total">
                                                            <h4>Sub Total</h4>
                                                            <h5>{{ BillDetail?.subtotal}}
                                                            </h5>
                                                        </li>
                                                        <li class="total">
                                                            <h4>Additional Charges</h4>
                                                            <h5>{{ BillDetail?.additional_charges}}
                                                            </h5>
                                                        </li>
                                                        <li class="total">
                                                            <h4>Additional Discount %</h4>
                                                            <h5>{{ BillDetail?.total_discount+'%'}}
                                                            </h5>
                                                        </li>
                                                        <li class="total">
                                                            <h4>Round Off</h4>
                                                            <h5>{{ BillDetail?.roundoff}}
                                                            </h5>
                                                        </li>
                                                        <li class="total">
                                                            <h4>Total</h4>
                                                            <h5>{{ BillDetail?.total}}
                                                            </h5>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex mx-5">
                                        <p><strong>Status : </strong><span
                                            [ngClass]="{'bg-lightgreen': BillDetail?.status === 'Complete', 'bg-lightred' : BillDetail?.status === 'Pending','bg-lightyellow' : BillDetail?.status === 'Draft'}"
                                            class="badges">{{BillDetail?.status}}</span></p>
                                        <!-- <p class="mx-3"><strong>IS Active : </strong> <span [ngClass]="{'bg-lightgreen': BillDetail?.is_active === true, 'bg-lightred' : BillDetail?.is_active === false,'bg-lightyellow' : BillDetail?.is_active === 'Partial' }"
                                            class="badges">{{BillDetail?.is_active}}</span> </p> -->
                                    </div>

                                    <div class="pdf-footer">
                                        <p>Please make cheques payable to <span>PV LTD.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </mat-tab>
            <mat-tab label="Logs">
                <div class="pdf-table2 mb-4" *ngIf="BillDetail?.logs?.length>0">
                    <div class="container">
                        <div class="page-title">
                            <p style="color:#FF9F43;font-size: 16px;">Logs Details</p>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th (click)="sort('id')">#</th>
                                            <th (click)="sort('id')">User</th>
                                            <th (click)="sort('id')">Operation Type</th>
                                            <th (click)="sort('id')">Date Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let log of BillDetail?.logs | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p}; index as i">
                                            <td>{{i+1}}</td>
                                            <td>{{log?.userid}}</td>
                                            <td>{{log?.operation_type}}</td>
                                            <td>{{log?.date_time | date:'dd-MM-yyyy hh:mm:ss a'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-lg-4 col-sm-4 col-12 mt-2">
                                        <div class="entries"> Show per page
                                            <select [(ngModel)]="itemsPerPage" class="pagination"#v (change)="changePg(v.value)" >
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="-1">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-8 col-12 mt-2">
                                        <div class="f-right">
                                            <pagination-controls
                                                (pageChange)="p = $event"></pagination-controls>
                                                <div class="entries f-right">Showing {{itemsPerPage}} to
                                                    {{BillDetail?.logs?.length}} of {{p}} entries</div>                                      
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" *ngIf="BillDetail?.logs?.length==0">
                    <span class="text-danger">Logs Not Available</span>
                </div>
            </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>