<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cervical</title>
</head>
<body>
   <!--  Cervical/Neck Pain-->
<div class="container-fluid  p-4 ">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                style="color: #13C5DD !important;">
                Cervical/Neck Pain
            </h5>
            <p>Cervical spondylosis, also known as neck arthritis or cervical osteoarthritis, is a common age-related
                condition that affects the joints and discs in the cervical spine (neck). It is a result of the wear and
                tear on the bones and cartilage of the cervical spine over time.</p>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-7">
            <p>
            <h3>Common Features of Cervical Spondylosis:</h3>
            <ul class="my-2 ">
                <li><b>Neck Pain: </b>Pain and stiffness in the neck are common symptoms. The pain may radiate to the
                    shoulders and between the shoulder blades.
                </li>
                <li> <b>Reduced Range of Motion:</b> As the condition progresses, you may experience a decreased range
                    of motion in the neck.

                </li>
                <li><b>Headaches:</b> Some people with cervical spondylosis may experience headaches, particularly at
                    the back of the head.
                </li>
                <li><b>Tingling or Weakness:</b> Nerve compression due to changes in the spine can lead to symptoms such
                    as tingling or weakness in the arms and hands.
                </li>
                <li><b>Difficulty in Balancing: </b> In rare cases, severe cervical spondylosis can affect the spinal
                    cord, leading to difficulties with balance and coordination.

                </li>
            </ul>

            <ul class="my-2 ">
                <h3>Treatment Options:</h3>

                <li><b> Pain Medications: </b>Over-the-counter pain relievers or prescription medications can help
                    manage pain and inflammation.</li>
                <li><b>Physical Therapy:</b> Exercises can help improve flexibility, strength, and posture. A physical
                    therapist can guide you through a tailored exercise program.</li>
                <li><b>Heat or Cold Therapy:</b>Applying heat or cold packs to the affected area may provide relief.
                </li>
                <li> <b>Neck Brace:</b>In some cases, a soft cervical collar may be recommended to provide support and
                    restrict neck movement.</li>
                <li><b>Corticosteroid Injections:</b>These injections may be used to reduce inflammation and alleviate
                    pain in the affected area.</li>
                <li><b>Surgery:</b>In severe cases where conservative treatments are ineffective and there is
                    significant nerve compression, surgery may be considered to relieve pressure on the spinal cord or
                    nerves.</li>

            </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 pt-5">
            <img src="../../../../assets/img/cervical1.jpg" alt="" class="img-fluid ">
        </div>

        <div class="col-lg-12">
            <ul class="my-2 ">
                <h3>Prevention:</h3>




                <li><b> Maintain Good Posture: Pain Medications: </b> Practice proper posture to reduce stress on the
                    neck.</li>
                <li><b>Regular Exercise:</b> Strengthening the muscles that support the neck and maintaining overall
                    physical fitness can be beneficial.</li>
                <li><b>Ergonomic Changes:</b> Make adjustments to your workspace and daily activities to reduce strain
                    on the neck.</li>


            </ul>
            <p>It's important to consult with a healthcare professional for an accurate diagnosis and a personalized
                treatment plan if you suspect you have cervical spondylosis or are experiencing persistent neck pain.
                They may recommend imaging tests such as X-rays or MRI to assess the extent of the degeneration in the
                cervical spine.

            </p>
        </div>


    </div>


</div>


<!--end  Cervical/Neck Pain--> 
</body>
</html>
