

<!-- /add -->


<div class="row bg">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="page-title">
                    <h6 class="subhead-color" (click)="goBack()"><mat-icon  style="vertical-align: middle;">keyboard_backspace</mat-icon>
                        Back to Countra Voucher</h6>
                    <h4>Countra Voucher Details</h4>
                </div>
                <div class="page-btn">
                    <a routerLink="//transaction/updatecountravoucher/{{countraVooucherDetails?.id}}" class="btn btn-added">
                        <img src="assets/img/icons/edit.svg" class="me-1" alt="img">Edit Countra Voucher
                    </a>
                </div>
            </div>
            <div class="company-details-card card" *ngIf="countraVooucherDetails">
                <div class="sub-card row">
                    <mat-tab-group animationDuration="0ms" #tabGroup>
                        <mat-tab label="General Details">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="th">To Account</td>
                                            <td class="td">{{countraVooucherDetails?.to_account?.account_id}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">From Account</td>
                                            <td class="td">{{countraVooucherDetails?.to_account?.account_id}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Countra Voucher No.</td>
                                            <td class="td">{{countraVooucherDetails?.countra_voucher_no}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Amount</td>
                                            <td class="td">{{countraVooucherDetails?.amount | currency:'INR'}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Date</td>
                                            <td class="td">{{countraVooucherDetails?.date}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Note</td>
                                            <td class="td">{{countraVooucherDetails?.note}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex align-items-center my-3 mx-3">
                                <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                                <span
                                    [ngClass]="{'bg-lightgreen': countraVooucherDetails?.is_active === true, 'bg-lightred' : countraVooucherDetails?.is_active === false,'bg-lightyellow' : countraVooucherDetails?.is_active === 'Partial' }"
                                    class="badges">{{countraVooucherDetails?.is_active}}</span>
                            </div>
                        </mat-tab>
                        <mat-tab label="Logs" *ngIf="countraVooucherDetails?.logs.length>0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="th">#</th>
                                            <th class="th">User</th>
                                            <th class="th">Operation Type</th>
                                            <th class="th">Date Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let cart of countraVooucherDetails?.logs; index as i">
                                        <tr>
                                            <td class="td">{{i+1}}</td>
                                            <td class="td">{{cart?.userid}}</td>
                                            <td class="td">{{cart?.operation_type}}</td>
                                            <td class="td">{{cart?.date_time |  date:'yyyy-MM-dd hh:mm:ss a'}}</td>
                                        </tr> 
                                    </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
      
    </div>
</div>
<!-- /add -->