
        <div class="page-header">
            <div class="page-title">
                <h4>Static Page list</h4>
                <h6>Manage your Static Page</h6>
            </div>
            <div class="page-btn">
                <a href="/website/addStaticPage" class="btn btn-added">
                    <img src="assets/img/icons/plus.svg"  class="me-1" alt="img">Add Static Page
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="assets/img/icons/filter.svg" alt="img">
                                <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                        src="assets/img/icons/pdf.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                        src="assets/img/icons/excel.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                        src="assets/img/icons/printer.svg" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" class="table  datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs" (click)="selectAll(initChecked)">
                                        <input type="checkbox" [(ngModel)]="initChecked">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Title</th>
                                <th>Is Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let products of tableData; let i = index">
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox" [(ngModel)]="products.is_active">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <td class="productimgname">
                                    <a href="javascript:void(0);" style="line-height: 3;">{{products.title}}</a>
                                </td>
                                <td><span
                                        [ngClass]="{'bg-lightgreen': products.is_active === true, 'bg-lightred' : products.is_active === false,'bg-lightyellow' : products.is_active === 'Partial' }"
                                        class="badges">{{products.is_active}}</span></td>
                                <td>
                                    <a class="me-1" routerLink="//website/staticPage/details/{{products.slug}}">
                                        <img src="assets/img/icons/eye.svg" alt="img">
                                    </a>
                                    <a class="me-1" href="/website/updateStaticPage/{{products.slug}}">
                                        <img src="assets/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a (click)="confirmText(i,products.slug)" class="me-1 confirm-text"
                                        href="javascript:void(0);">
                                        <img src="assets/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
