<div class="page-header">
  <div class="page-title">
    <h4> Add Material Consumption</h4>
    <h6>Create new Material Consumption </h6>
  </div>
</div>
<!-- /add -->
<div class="card">
  <div class="card-body">
    <form [formGroup]="materialConsumptionForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="form-group">
            <label>Payer*</label>
            <mat-form-field class="w-100" style="padding: 0;
                    width: 100%;
                    min-width: 100%;border-top: none;">
              <input type="text" placeholder="Search Payer" aria-label="User" matInput [formControl]="supplierControl"
                [matAutocomplete]="auto" style="box-sizing: border-box;"
                [ngClass]="{'is-invalid': f['user'].touched && f['user'].invalid}">
              <mat-autocomplete #auto="matAutocomplete">
                <ng-container *ngFor="let supplier of filteredSuppliers | async">
                  <mat-option *ngIf="supplier.is_active==true && !!supplier?.detail?.company_name"
                    [value]="supplier?.name + ' (' + supplier?.detail?.company_name + ')'"
                    (onSelectionChange)="oncheck(supplier.id)" style="color:#FF9F43">{{supplier?.name + ' (' +
                    supplier?.detail?.company_name + ')'}}</mat-option>
                </ng-container>
                <ng-container *ngIf="(filteredSuppliers | async) as suppliers">
                  <mat-option *ngIf="suppliers.length === 0" [value]="'No data found'">
                    <a routerLink="//contacts/addSupplier" style="color:#FF9F43">+ Add Payer</a>
                  </mat-option>
                  <mat-option *ngIf="supplierControl.value?.length < 3" class="is-loading">Please
                    Enter 1 or more characters</mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>
            <span class="text-danger" *ngIf="supplier && supplier.invalid && supplier.touched">Select
              Payer
            </span>
          </div>
        </div>

        <div class="col-lg-4 col-sm-4 col-12">
          <div class="form-group">
            <label>Debit Note Date*</label>
            <input type="date" formControlName="consumption_date" [attr.min]="minDate" [attr.max]="maxDate"
              id="consumption_date"
              [ngClass]="{'is-invalid': f['consumption_date'].touched && f['consumption_date'].invalid}">
            <span class="text-danger"
              *ngIf="consumption_date && consumption_date.invalid && consumption_date.touched">Select Consumption Date
            </span>
          </div>
        </div>

        <div class="col-lg-4 col-sm-4 col-12">
          <div class="form-group">
            <label>Prefix*</label>
            <!-- <input type="text" formControlName="prefix" placeholder="Enter Prefix" [ngModel]="prefixNo" readonly id="prefix" [ngClass]="{ 'is-invalid': f['prefix'].touched && f['prefix'].invalid}"> -->
            <select formControlName="prefix">
              <option value="" selected disabled>Select Journal Consumption Series</option>
              <option value="{{prefix.id}}" *ngFor="let prefix of prefixNo">{{prefix.prefix}}</option>
            </select>
            <span class="text-danger" *ngIf="prefix && prefix.invalid && prefix.touched">Enter Prefix</span>
          </div>
        </div>

        <div class="col-lg-4 col-sm-4 col-12">
          <div class="form-group">
            <label>Material Consumption No</label>
            <!-- <input type="text" formControlName="consumption_no" placeholder="Enter Consumtion No." id="consumption_no"
              [ngClass]="{ 'is-invalid': f['consumption_no'].touched && f['consumption_no'].invalid}"> -->
            <select formControlName="consumption_no">
              <option value="" selected disabled>Select Journal Consumption Series</option>
              <option value="{{prefix.id}}" *ngFor="let prefix of prefixNo">{{prefix.prefix}}</option>
            </select>
            <span class="text-danger" *ngIf="consumption_no && consumption_no.invalid && consumption_no.touched">Enter
              Material Consumption No</span>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-12">
          <div class="form-group">
            <label>Consumption Type</label>
            <select formControlName="consumption_type" id="consumption_type"
              [ngClass]="{'is-invalid': f['consumption_type'].touched && f['consumption_type'].invalid}">
              <option value="" selected disabled>Select Consumption Type</option>
              <option value="Sample">Sample</option>
              <option value="Production">Production</option>
              <option value="Scrap/Wastage">Scrap/Wastage</option>
            </select>
            <span class="text-danger"
              *ngIf="consumption_type && consumption_type.invalid && consumption_type.touched">Enter Consumption
              Type</span>
          </div>
        </div>


        <div class="col-lg-4 col-sm-4 col-12">
          <div class="form-group">
            <label>Remarks</label>
            <input type="text" formControlName="remarks" placeholder="Enter remarks" id="remarks"
              [ngClass]="{ 'is-invalid': f['remarks'].touched && f['remarks'].invalid}">
            <span class="text-danger" *ngIf="remarks && remarks.invalid && remarks.touched">Enter Remarks</span>
          </div>
        </div>


        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-sm-3 col-12">
                <label class="mb-2">Select Product</label>
                <div class="form-group d-flex align-items-center">
                  <input type="text" placeholder="Search Product" aria-label="Search Products" matInput
                    [formControl]="barcodeControl" (input)="getVariant($event.target.value)" [matAutocomplete]="autos"
                    style="box-sizing: border-box;" />
                  <mat-autocomplete #autos="matAutocomplete">
                    <ng-container *ngIf="barcodeControl.value?.length >= 1 && barcodeControl.value?.length > 0">
                      <ng-container *ngFor="let option of variantList">
                        <mat-option *ngIf="option.is_active==true"
                          [value]="option?.product_title + ' ' + option?.variant_name"
                          (onSelectionChange)="oncheckProduct(option)" style="color:#FF9F43"> {{ option?.product_title +
                          '
                          ' + option?.variant_name}}</mat-option>
                      </ng-container>
                    </ng-container>
                    <mat-option *ngIf="variantList?.length === 0" [value]="'No data found'">
                      <a routerLink="//product/addproduct" style="color:#FF9F43">+add Product</a>
                    </mat-option>
                    <mat-option *ngIf="barcodeControl.value?.length < 3" class="is-loading"> Please Enter 3 or more
                      characters</mat-option>
                  </mat-autocomplete>
                  <i class="ion-information circle ms-2" data-bs-toggle="tooltip" title="ion-information"
                    (click)="openModalProduct()"></i>

                  <div class="modal fade" id="productModal" tabindex="-1" role="dialog"
                    aria-labelledby="addressModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Selected Products
                          </h1>
                          <button type="button" class="close" (click)="closeModalProduct()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="form-group" *ngIf="variantList">
                            <div class="row">
                              <div class="table-responsive">
                                <table class="table datanew">
                                  <thead>
                                    <tr>
                                      <th class="boder">
                                        Sr.No.</th>
                                      <th class="boder">
                                        Barcode</th>
                                      <th class="boder space-text">
                                        Product</th>
                                      <th class="boder">
                                        Variant Name</th>
                                      <th class="boder">
                                        Article No.</th>
                                      <th class="boder space-text">
                                        Date</th>
                                      <th class="boder space-text">
                                        MRP</th>
                                      <th class="boder space-text">
                                        Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let prod of variantList;let inde=index;">
                                      <td class="boder">
                                        {{inde+1+'.'}}</td>
                                      <td class="boder">
                                        {{prod?.sku}}</td>
                                      <td class="boder">
                                        {{prod?.product_title
                                        }}
                                      </td>
                                      <td class="boder">
                                        {{prod?.variant_name}}
                                      </td>
                                      <td class="boder">
                                        {{prod?.product?.article_no}}
                                      </td>
                                      <td class="boder">
                                        {{prod?.created_date}}
                                      </td>
                                      <td class="boder">
                                        {{prod?.batch[0]?.mrp}}
                                      </td>
                                      <td><button type="button" (click)="closeModalProduct()"
                                          class="btn btn-primary btn-sm" style="float: right;">Select
                                        </button> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-3 col-12">
                <div class="form-group">
                  <label>QTY</label>
                  <input type="number" formControlName="qty" placeholder="Enter qty" id="qty"
                    [ngClass]="{ 'is-invalid': f['qty'].touched && f['qty'].invalid}">
                  <span class="text-danger" *ngIf="qty && qty.invalid && qty.touched">Enter qty</span>
                </div>
              </div>
              <div class="col-lg-3 col-sm-3 col-12">
                <div class="form-group">
                  <label>Price</label>
                  <input type="number" formControlName="price" placeholder="Enter price" id="price"
                    [ngClass]="{ 'is-invalid': f['price'].touched && f['price'].invalid}">
                  <span class="text-danger" *ngIf="price && price.invalid && price.touched">Enter Price</span>
                </div>
              </div>
              <div class="col-lg-3 col-sm-3 col-12">
                <div class="form-group">
                  <label>Total Amount</label>
                  <input type="number" formControlName="total_action" placeholder="Enter total_action" id="total_action"
                    [ngClass]="{ 'is-invalid': f['total_action'].touched && f['total_action'].invalid}">
                  <span class="text-danger" *ngIf="total_action && total_action.invalid && total_action.touched">Enter
                    Total Amount</span>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="col-lg-12">
          <button class="btn btn-submit me-2" *ngIf="!loaders">Submit</button>
          <button class="btn btn-submit me-2" type="submit" *ngIf="loaders" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;
            Submit</button>
          <a routerLink="//transaction/materialConsuption" class="btn btn-cancel text-white">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- /add -->