<div class="row bg">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="page-title">
                    <h6 class="subhead-color" (click)="goBack()"><mat-icon
                            style="vertical-align: middle;">keyboard_backspace</mat-icon>
                            Back to Purchase Return</h6>
                    <h4>New Purchase Return</h4>
                </div>
                <div class="page-btn">
                    <a routerLink="//purchase/editdebit-notes/{{purchaseBillDetail ?.id}}" class="btn btn-added">
                        <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Edit Purchase Return
                    </a>
                </div>
            </div>
            <div class="company-details-card card" *ngIf="purchaseBillDetail">
                <div class="sub-card row">
                    <mat-tab-group animationDuration="0ms" #tabGroup>
                        <mat-tab label="General Details">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="th">Company Name</td>
                                            <td class="td">{{purchaseBillDetail?.party?.company_name}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Purchase Return Date</td>
                                            <td class="td">{{purchaseBillDetail?.purchase_return_date |  date: 'yyyy-MM-dd hh:mm:ss a'}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Purchase Return No</td>
                                            <td class="td">{{purchaseBillDetail?.purchase_return_no}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Refrence Bill No</td>
                                            <td class="td">{{purchaseBillDetail?.refrence_bill_no}}</td>
                                        </tr>
                                       
                                        <tr>
                                            <td class="th">Purchase Bill</td>
                                            <td class="td">{{purchaseBillDetail?.purchase_bill?.refrence_bill_no}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Reverse Charge</td>
                                            <td class="td">{{purchaseBillDetail?.reverse_charge}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total Qty</td>
                                            <td class="td">{{purchaseBillDetail?.total_qty}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total Tax</td>
                                            <td class="td">{{purchaseBillDetail?.total_tax}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total Deduction</td>
                                            <td class="td">{{purchaseBillDetail?.total_deduction}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total Round Off</td>
                                            <td class="td">{{purchaseBillDetail?.round_off}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Sub Total</td>
                                            <td class="td">{{purchaseBillDetail?.sub_total}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Total</td>
                                            <td class="td">{{purchaseBillDetail?.total}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Export</td>
                                            <td class="td">{{purchaseBillDetail?.export}}</td>
                                        </tr>
                                      
                                        <tr>
                                            <td class="th">Purchase</td>
                                            <td class="td">{{purchaseBillDetail?.purchase}}</td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="th">Reason</td>
                                            <td class="td">{{purchaseBillDetail?.reason}}</td>
                                        </tr>
                                        <tr>
                                            <td class="th">Status</td>
                                            <td class="td"><span
                                                    [ngClass]="{'bg-lightgreen': purchaseBillDetail?.status === 'Complete', 'bg-lightred' : purchaseBillDetail?.status === 'Pending','bg-lightyellow' : purchaseBillDetail?.status === 'Ordered'}"
                                                    class="badges">{{purchaseBillDetail?.status}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                        <mat-tab label="Cart">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td class="th">Product Name</td>
                                            <td class="th">Barcode</td>
                                            <td class="th">Qty</td>
                                            <td class="th">MRP</td>
                                            <td class="th">Landing Cost</td>
                                            <td class="th">Unit Cost</td>
                                            <td class="th">Deduction</td>
                                            <td class="th">Tax</td>
                                            <td class="th">Total</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let cart of purchaseBillDetail?.cart">
                                            <td class="td">{{cart?.barcode?.product_title + ' ' + cart?.barcode?.variant_name }}</td>  
                                            <td class="td">{{cart?.barcode?.sku}}</td>
                                            <td class="td">{{cart?.qty}}</td>
                                            <td class="td">{{cart?.mrp}}</td>
                                            <td class="td">{{cart?.landing_cost}}</td>
                                            <td class="td">{{cart?.unit_cost}}</td>
                                            <td class="td">{{cart?.deduction}}</td>
                                            <td class="td">{{cart?.tax}}</td>
                                            <td class="td">{{cart?.total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="d-flex align-items-center my-3 mx-3">
                    <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                    <span
                        [ngClass]="{'bg-lightgreen': purchaseBillDetail?.is_active === true, 'bg-lightred' : purchaseBillDetail?.is_active === false,'bg-lightyellow' : purchaseBillDetail?.is_active === 'Partial' }"
                        class="badges">{{purchaseBillDetail?.is_active}}</span>
                </div>
            </div>
        </div>
    </div>
</div>