.pos-wrapper {
    // height: 80vh;
}

.customer-type-div {
    display: flex;
    align-items: center;
}

.customer-type-div > div:first-child {
    margin-right: 20px;
}

.customer-type-div label {
    font-size: 1rem;
    font-weight: 400;
}

.top-header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.salesman-div {
    display: flex;
    align-items: center;
    width: 30%;
    font-size: 1rem;
    font-weight: 400;
}

.salesman-div select {
    margin-left: 15px;
}

.right-header-pos {
    display: flex;
    justify-content: end;
}

.amt-info-div ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.amt-info-div li {
    border-right: 1px solid black;
    padding: 5px 0;
    flex: 1;
    text-align: center;
}

.amt-info-div li:last-child {
    border: none;
}

.amt-info-div li p {
    margin-bottom: 5px;
}

.cus-details-wrapper {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.cus-details-wrapper p {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 5px;
}

.btn-pos {
    border: none;
    background: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9rem;
}

.btn-pos i {
    font-size: 24px;
    margin-bottom: 5px;
}

.right-btns-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.right-btns-wrapper li {
    width: 50%;
    margin-bottom: 10px;
}

.right-header-pos i {
    font-size: 18px;
}

.right-btns-wrapper li:last-child, .right-btns-wrapper li:nth-child(5) {
    margin-bottom: 0;
}

// .pos-i-grp .pos-s-input {
//     max-width: 70%;
// }

.flat-disc-wrapper {
    display: flex;
    align-items: end;
}

.flat-disc-wrapper .checkbox {
    margin-left: 5px;
}

.amt-info-div ul {
    align-items: center;
}

.bottom-pos-left {
    position: absolute;
    bottom: 0;
    width: 97%;
}

.pos-left-wrapper {
    position: relative;
}

.product-autocomplete .mat-form-field {
    width: 100%;
}

.table-cross-btn {
    border: none;
    color: red;
    background: transparent;
}

.table-pos thead tr {
background-color: black;
}

.table-pos thead tr th {
    color: white;
}

.mrp-input-table{
    max-width: 100px;
}

.table-black-grp span {
    background-color: black;
    color: white;
    border: none;
}

.table-black-grp input {
    text-align: center;
}

.cursor-pointer-pos {
    cursor: pointer;
}

.amt-info-div h5 {
    font-size: 0.85rem;
}

.amt-info-div button {
    font-size: 14px;
}

.bottom-pos-left button {
    font-size: 0.65rem;
}

.cus-details-wrapper h4 {
    font-size: 1.2rem;
}

.pos-container {
    height: 82vh;
}

.table-pos {
    overflow-y: scroll;
    height: 25vh;
}

.amt-info-div .flat-disc-wrapper {
    justify-content: center;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}

 .pos-s-input {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
    margin-bottom: 3px;
}

.amt-info-div .flat-disc-wrapper .input-group-text {
    padding: 0 2px;
}

.bottom-pos-left .row:nth-child(2) .col-sm-12 {
    padding: 0;
}

.amt-info-div .flat-disc-wrapper .form-control {
    padding:  0 5px;
}