<div class="page-header">
    <div class="page-title">
        <h4>Sales Order Add</h4>
        <h6>Add/Update Sales Order</h6>
    </div>
</div>

<div class="card" id="purchaseForm">
    <div class="card-body">
        <form [formGroup]="saleForm">   
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="form-group">
                        <label>User Name*</label>
                        <mat-form-field class="w-100" style="padding: 0;
                        width: 100%;
                        min-width: 100%;border-top: none;">
                            <input type="text" placeholder="Search Company" aria-label="customer" matInput
                                [formControl]="userControl" [matAutocomplete]="auto" style="box-sizing: border-box;"
                                [ngClass]="{'is-invalid': f['customer'].touched && f['customer'].invalid}">
                            <mat-autocomplete #auto="matAutocomplete">
                                <ng-container *ngFor="let user of filteredusers | async">
                                    <mat-option *ngIf="user.is_active==true"
                                    [value]="user?.name" (onSelectionChange)="oncheck(user)"
                                    style="color:#FF9F43">{{user?.name + ' '+ user?.user_type }}</mat-option>
                                </ng-container>
                                <ng-container *ngIf="(filteredusers | async) as users">
                                    <mat-option *ngIf="users.length === 0" [value]="'No data found'">
                                        <a routerLink="//settings/addUser" style="color:#FF9F43">+ Add User</a>
                                    </mat-option>
                                    <mat-option *ngIf="userControl.value?.length < 3" class="is-loading">Please
                                        Enter 1 or more characters</mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                        <span class="text-danger" *ngIf="customer && customer.invalid && customer.touched">Select
                            user
                        </span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Sale Order Date</label>
                        <input type="date" formControlName="sale_order_date" [ngClass]="{
                            'is-invalid': f['sale_order_date'].touched && f['sale_order_date'].invalid}">
                        <span class="text-danger" *ngIf="sale_order_date && sale_order_date.invalid && sale_order_date.touched">Select
                            Order Date
                        </span>      
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Sale No.* </label>
                        <input type="text" formControlName="sale_order_no" [ngModel]="prefixNo" [ngClass]="{'is-invalid': f['sale_order_no'].touched && f['sale_order_no'].invalid}">
                        <span class="text-danger" *ngIf="sale_order_no && sale_order_no.invalid && sale_order_no.touched">Enter
                            Order no.
                        </span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Due Date* </label>
                        <input type="date" formControlName="due_date"
                            [ngClass]="{'is-invalid': f['due_date'].touched && f['due_date'].invalid}">
                        <span class="text-danger"
                            *ngIf="due_date && due_date.invalid && due_date.touched">Enter
                            due date
                        </span>
                    </div>
                </div>
             
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="modal fade" id="addressModal" tabindex="-1" role="dialog"
                        aria-labelledby="addressModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Billing Address</h1>
                                    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group" *ngIf="supplierAddress">
                                        <h5 class=""><small class="text-muted"></small></h5>
                                        <h5 class=""><small class="text-muted">{{supplierAddress?.name}}</small>
                                            <input type="hidden" class="form-control" name="billingcompanyname"
                                                id="billingcompanyname" value="{{supplierAddress?.name}}">
                                        </h5>
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12 col-12"
                                                *ngFor="let add of supplierAddress?.address">
                                                <div *ngIf="add.address_type=='Billing'">
                                                    <button type="button" (click)="selectAddressBilling(add)"
                                                        class="btn btn-primary btn-sm"
                                                        style="float: right;">Select</button>

                                                    <p class="d-inline mb-0">
                                                        <span id="billing-address-line-1">
                                                            {{add?.address_line_1}}, {{add?.address_line_2}}
                                                        </span>
                                                    </p>
                                                    <br>
                                                    <p class="d-inline mb-0">
                                                        <span data-address-pincode="">{{add?.pincode}}</span>
                                                        <span data-address-city="22691">{{add?.city?.city}}</span>
                                                        <span class="m--font-boldest">,&nbsp;</span>
                                                    </p>
                                                    <p class="d-inline mb-0">
                                                        <span data-address-state="1722">{{add?.state?.state}}</span>
                                                        <span class="m--font-boldest">,&nbsp;</span>
                                                        <span
                                                            data-address-country="IR">{{add?.country?.country_name}}</span>
                                                    </p>
                                                    <p class="mb-2">
                                                        <span class="">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="11"
                                                                height="11" fill="currentColor"
                                                                class="bi bi-telephone-fill" viewBox="0 0 16 16"
                                                                style="    height: 11px; width: 11px; color: #FF9F43;">
                                                                <path fill-rule="evenodd"
                                                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                                            </svg>
                                                            <a
                                                                href="tel:{{supplierAddress?.phone}}">{{supplierAddress?.mobile_no}}</a>
                                                            <input type="hidden" class="form-control"
                                                                name="billingphone" id="billingphone"
                                                                value="{{supplierAddress?.mobile_no}}">
                                                        </span>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label class="col-lg-12 col-md-12 col-sm-12 p-0"><strong>Billing Address</strong></label>
                    <div *ngIf="selectedAddressBilling && selectedAddressBilling.address_type!=='Billing'">
                        <h5 style="font-size: 13px;"><small class="text-muted">Billing Address is Not
                                Available</small></h5>
                        <a class=" btn-link" routerLink="//contacts/updateSupplier/{{supplierAddress?.id}}">Edit
                            Address
                        </a>
                    </div>

                    <div class="form-group" *ngIf="!supplierAddress">
                        <div class="m-divider"><span></span></div>
                        <h5 style="font-size: 13px;"><small class="text-muted">Billing Address is Not
                                Provided</small></h5>
                        <div class="form-group row mt-3">
                            <label class="col-lg-12 col-md-12 col-sm-12" style="font-weight: 600;">GSTIN <span
                                    class="font-weight-normal" id="lblContactGSTIN">-</span></label>
                            <label class="col-lg-12 col-md-12 col-sm-12" style="font-weight: 600;">Place of Supply <span
                                    class="font-weight-normal" id="lblContactGSTIN">-</span></label>
                        </div>
                    </div>
                    <div *ngIf="selectedAddressBilling && selectedAddressBilling.address_type=='Billing'">
                        <div class="form-group" *ngIf="supplierAddress">

                            <h5 class=""><small class="text-muted"></small></h5>
                            <h5 class=""><small class="text-muted">{{supplierAddress?.name}}</small>
                                <input type="hidden" class="form-control" name="billingcompanyname"
                                    id="billingcompanyname" value="{{supplierAddress?.name}}">
                            </h5>
                            <div *ngIf="selectedAddressBilling && selectedAddressBilling.address_type=='Billing'">
                                <div *ngIf="selectedAddressBilling">
                                    <p class="d-inline mb-0">
                                        <span id="billing-address-line-1">
                                            {{selectedAddressBilling?.address_line_1}},
                                            {{selectedAddressBilling?.address_line_2}},
                                        </span>
                                    </p>
                                    <br>
                                    <p class="d-inline mb-0">
                                        <span data-address-pincode="">{{selectedAddressBilling?.pincode}}, </span>
                                        <span data-address-city="22691">{{selectedAddressBilling?.city?.city}}</span>
                                        <span class="m--font-boldest">,&nbsp;</span>
                                    </p>
                                    <p class="d-inline mb-0">
                                        <span data-address-state="1722">{{selectedAddressBilling?.state?.state}}</span>
                                        <span class="m--font-boldest">,&nbsp;</span>
                                        <span
                                            data-address-country="IR">{{selectedAddressBilling?.country?.country_name}}</span>
                                    </p>
                                    <p class="mb-2">
                                        <span class="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11"
                                                fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16"
                                                style="    height: 11px; width: 11px; color: #FF9F43;">
                                                <path fill-rule="evenodd"
                                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                            </svg>
                                            <a href="tel:{{supplierAddress?.phone}}">{{supplierAddress?.mobile_no}}</a>
                                            <input type="hidden" class="form-control" name="billingphone"
                                                id="billingphone" value="{{supplierAddress?.mobile_no}}">
                                        </span>
                                    </p>
                                    <div class="d-grid">
                                        <a type="button" class=" btn-link" (click)="openModal()">Change Address</a>
                                        <a class=" btn-link"
                                            routerLink="//contacts/updateSupplier/{{supplierAddress?.id}}">Edit
                                            Billing Address
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row mt-3">
                                    <label class="col-lg-12 col-md-12 col-sm-12"><span style="font-weight: 600;">Place
                                            of Supply : </span> <span class="font-weight-normal"
                                            id="lblContactGSTIN">{{selectedAddressBilling?.state?.state}}</span></label>
                                    <label class="col-lg-12 col-md-12 col-sm-12"><span style="font-weight: 600;">GSTIN :
                                        </span><span class="font-weight-normal"
                                            id="lblContactGSTIN">{{supplierAddress?.gstin}}</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="modal fade" id="addressModalShipping" tabindex="-1" role="dialog"
                        aria-labelledby="addressModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Shipping Address</h1>
                                    <button type="button" class="close" (click)="closeModalShipping()"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group" *ngIf="supplierAddress">
                                        <h5 class=""><small class="text-muted"></small></h5>
                                        <h5 class=""><small class="text-muted">{{supplierAddress?.name}}</small>
                                            <input type="hidden" class="form-control" name="billingcompanyname"
                                                id="billingcompanyname" value="{{supplierAddress?.name}}">
                                        </h5>
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12 col-12"
                                                *ngFor="let add of supplierAddress?.address">
                                                <div *ngIf="add.address_type=='Shipping'">
                                                    <button type="button" (click)="selectAddressShipping(add)"
                                                        class="btn btn-primary btn-sm"
                                                        style="float: right;">Select</button>

                                                    <p class="d-inline mb-0">
                                                        <span id="billing-address-line-1">
                                                            {{add?.address_line_1}}, {{add?.address_line_2}}
                                                        </span>
                                                    </p>
                                                    <br>
                                                    <p class="d-inline mb-0">
                                                        <span data-address-pincode="">{{add?.pincode}}</span>
                                                        <span data-address-city="22691">{{add?.city?.city}}</span>
                                                        <span class="m--font-boldest">,&nbsp;</span>
                                                    </p>
                                                    <p class="d-inline mb-0">
                                                        <span data-address-state="1722">{{add?.state?.state}}</span>
                                                        <span class="m--font-boldest">,&nbsp;</span>
                                                        <span
                                                            data-address-country="IR">{{add?.country?.country_name}}</span>
                                                    </p>
                                                    <p class="mb-2">
                                                        <span class="">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="11"
                                                                height="11" fill="currentColor"
                                                                class="bi bi-telephone-fill" viewBox="0 0 16 16"
                                                                style="    height: 11px; width: 11px; color: #FF9F43;">
                                                                <path fill-rule="evenodd"
                                                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                                            </svg>
                                                            <a
                                                                href="tel:{{supplierAddress?.phone}}">{{supplierAddress?.mobile_no}}</a>
                                                            <input type="hidden" class="form-control"
                                                                name="billingphone" id="billingphone"
                                                                value="{{supplierAddress?.mobile_no}}">
                                                        </span>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label class="col-lg-12 col-md-12 col-sm-12 p-0"><strong>Shipping Address</strong></label>
                    <div *ngIf="selectedAddressShipping && selectedAddressShipping.address_type!=='Shipping'">
                        <h5 style="font-size: 13px;"><small class="text-muted">Shipping Address is Not
                                Available</small></h5>
                        <a class=" btn-link" routerLink="//contacts/updateSupplier/{{supplierAddress?.id}}">Edit
                            Address
                        </a>
                    </div>
                    <div class="form-group" *ngIf="!supplierAddress">
                        <div class="m-divider"><span></span></div>
                        <h5 style="font-size: 13px;"><small class="text-muted">Shipping Address is Not
                                Provided</small></h5>
                        <div class="form-group row mt-3">
                            <label class="col-lg-12 col-md-12 col-sm-12" style="font-weight: 600;">GSTIN <span
                                    class="font-weight-normal" id="lblContactGSTIN">-</span></label>
                            <label class="col-lg-12 col-md-12 col-sm-12" style="font-weight: 600;">Place of Supply <span
                                    class="font-weight-normal" id="lblContactGSTIN">-</span></label>
                        </div>
                    </div>
                    <div *ngIf="selectedAddressShipping && selectedAddressShipping.address_type=='Shipping'">
                        <div class="form-group" *ngIf="supplierAddress">

                            <h5 class=""><small class="text-muted"></small></h5>
                            <h5 class=""><small class="text-muted">{{supplierAddress?.name}}</small>
                                <input type="hidden" class="form-control" name="billingcompanyname"
                                    id="billingcompanyname" value="{{supplierAddress?.name}}">
                            </h5>
                            <div *ngIf="selectedAddressShipping && selectedAddressShipping.address_type=='Shipping'">
                                <div *ngIf="selectedAddressShipping">
                                    <p class="d-inline mb-0">
                                        <span id="billing-address-line-1">
                                            {{selectedAddressShipping?.address_line_1}},
                                            {{selectedAddressShipping?.address_line_2}},
                                        </span>
                                    </p>
                                    <br>
                                    <p class="d-inline mb-0">
                                        <span data-address-pincode="">{{selectedAddressShipping?.pincode}}, </span>
                                        <span data-address-city="22691">{{selectedAddressShipping?.city?.city}}</span>
                                        <span class="m--font-boldest">,&nbsp;</span>
                                    </p>
                                    <p class="d-inline mb-0">
                                        <span data-address-state="1722">{{selectedAddressShipping?.state?.state}}</span>
                                        <span class="m--font-boldest">,&nbsp;</span>
                                        <span
                                            data-address-country="IR">{{selectedAddressShipping?.country?.country_name}}</span>
                                    </p>
                                    <p class="mb-2">
                                        <span class="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11"
                                                fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16"
                                                style="    height: 11px; width: 11px; color: #FF9F43;">
                                                <path fill-rule="evenodd"
                                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                            </svg>
                                            <a href="tel:{{supplierAddress?.phone}}">{{supplierAddress?.mobile_no}}</a>
                                            <input type="hidden" class="form-control" name="billingphone"
                                                id="billingphone" value="{{supplierAddress?.mobile_no}}">
                                        </span>
                                    </p>
                                    <div class="d-grid">
                                        <a type="button" class=" btn-link" (click)="openModalShipping()">Change
                                            Address</a>
                                        <a class=" btn-link"
                                            routerLink="//contacts/updateSupplier/{{supplierAddress?.id}}">Edit
                                            Shipping Address
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row mt-3">
                                    <label class="col-lg-12 col-md-12 col-sm-12"><span style="font-weight: 600;">Place
                                            of Supply : </span> <span class="font-weight-normal"
                                            id="lblContactGSTIN">{{selectedAddressShipping?.state?.state}}</span></label>
                                    <label class="col-lg-12 col-md-12 col-sm-12"><span style="font-weight: 600;">GSTIN :
                                        </span><span class="font-weight-normal"
                                            id="lblContactGSTIN">{{supplierAddress?.gstin}}</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Estimate</label>
                        <!-- <input type="text" formControlName="estimate" [ngClass]="{'is-invalid': f['estimate'].touched && f['estimate'].invalid}"> -->
                            <select formControlName="estimate">
                                <option value="" selected disabled [ngClass]="{'is-invalid': f['estimate'].touched && f['estimate'].invalid}">Select Estimate</option>
                                <option value="{{estimate.id}}" *ngFor="let estimate of estimateList">{{estimate.estimate_no}}</option>
                            </select>
                        
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label>Payment Terms</label>
                        <select formControlName="payment_terms">
                            <option value="" selected disabled>Select Payment Terms</option>
                            <option value="{{payment.id}}" *ngFor="let payment of paymentTermsList">{{payment.title}}</option>
                        </select>
                        <span class="text-danger"
                            *ngIf="payment_terms && payment_terms.invalid && payment_terms.touched">Select
                            Payment Terms
                        </span>
                    </div>
                </div>
             
            </div>
            <div class="card">
             <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-12">
                        <div class="page-title">
                            <p style="color:#FF9F43;font-size: 16px;">Product Details</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-12">
                        <div class="form-group">
                            <div class="dropdown">
                                <button type="button" class="dropdown-toggle button" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Select Category</button>
                                <ul class="dropdown-menu" style="width: 100%; max-height: 300px; overflow-y: auto;">
                                    <li><input type="text" placeholder="search category" class="form-control" [(ngModel)]="searchCategory"  (ngModelChange)="filterCategory()" [ngModelOptions]="{standalone: true}">
                                    </li>
                                    <li><a class="dropdown-item"
                                            *ngFor="let category of filteredCategoryList let i=index;">
                                            <input type="checkbox" [value]="category.id" (change)="SelectedProduct(category?.product?.category?.id)" 
                                                [id]="'checkboxCat-' + i">
                                            <label [for]="'checkboxCat-' + i" style="margin-bottom: 0;" (click)="onLabelClick($event)">{{category?.product?.category?.title}}</label>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-12">
                        <div class="form-group">
                            <div class="dropdown">
                                <button type="button" class="dropdown-toggle button" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Select Sub Category</button>
                                <ul class="dropdown-menu" style="width: 100%; max-height: 300px; overflow-y: auto;">
                                    <li><input type="text" placeholder="search category" class="form-control" [(ngModel)]="searchCategory"  (ngModelChange)="filterCategory()" [ngModelOptions]="{standalone: true}">
                                    </li>
                                    <li><a class="dropdown-item"
                                            *ngFor="let subcategory of filteredCategoryList let i=index;">
                                            <input type="checkbox" [value]="subcategory.id" (change)="SelectedProductSubCat(subcategory?.product?.subcategory?.id)" 
                                                [id]="'checkboxSubCat-' + i">
                                            <label [for]="'checkboxSubCat-' + i" style="margin-bottom: 0;" (click)="onLabelClick($event)">{{subcategory?.product?.subcategory?.title}}</label>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table datanew">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="space-text">Barcode/SKU</th>
                                    <th style="width: 25%;" class="space-text">Product Name</th>
                                    <th class="qty space-text" style="width: 7%;">QTY</th>
                                    <th class="space-text" style="width: 12%;">Price</th>
                                    <!-- <th class="mrp space-text" style="width: 10%;">Mrp</th> -->
                                    <th class="space-text">Discount</th>
                                   <th class="space-text" style="width: 7%;">Tax %</th>
                                    <!-- <th class="space-text" style="width: 10%;">Total Cost</th> -->
                                    <th class="space-text" style="width: 10%;">Total Price Without Tax</th>
                                    <th class="space-text" style="width: 10%;">Total Price With Tax</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container formArrayName="sale_order_cart">
                                    <ng-container *ngFor="let d of getCart().controls; let i=index">
                                        <tr [formGroupName]="i">
                                            <td>
                                                <div>
                                                    <div class="me-2">
                                                        <svg (click)="removeCart(i)" style="color:red"
                                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                            <path
                                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                            <path
                                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                        </svg>
                                                    </div>
                                                    <svg *ngIf="isLastCart(i)" (click)="addCart()" style="color:green"
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                                        <path
                                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                        <path
                                                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                                    </svg>
                                                </div>
                                            </td>
                                            <td>
                                                <input class="input" type="text" placeholder="Search Barcode"
                                                    [attr.data-index]="i"
                                                    [value]="barcode[i] !== undefined ? barcode[i] : ''" #id
                                                    (keyup)="getVariant(id.value,i)" (blur)="hideSearch()">
                                            </td>
                                            <td colspan="1">
                                                <div class="form-group" style="margin-bottom: 0;">
                                            <mat-form-field class="w-100" style="padding: 0; width: 100%; min-width: 100%; border-top: none;">
                                                        <input
                                                        type="text"
                                                        placeholder="Search Product"
                                                        aria-label="Search Products"
                                                        matInput
                                                        [formControl]="myControl"
                                                        (input)="getVariant($event.target.value,i)"
                                                        [matAutocomplete]="autos" 
                                                        style="box-sizing: border-box;" 
                                                        />
                                                        <mat-autocomplete #autos="matAutocomplete">
                                                            <ng-container *ngIf="myControl.value?.length >= 1 && myControl.value?.length > 0">
                                                                <ng-container *ngFor="let option of variantList">
                                                        <mat-option *ngIf="option.is_active==true" [value]="option?.product_title + ' ' + option?.variant_name"
                                                                    (onSelectionChange)="oncheckVariant(option,i)"
                                                                    (onSelectionChange)="variantChanged(option, i)" style="color:#FF9F43">
                                                            {{ option?.product_title + ' ' + option?.variant_name}}
                                                        </mat-option>
                                                        </ng-container>
                                                        </ng-container>
                                                        <mat-option *ngIf="variantList?.length === 0" [value]="'No data found'">
                                                            <a routerLink="//product/addproduct" style="color:#FF9F43">+add Product</a>
                                                        </mat-option>
                                                        <mat-option *ngIf="myControl.value?.length < 3" class="is-loading">
                                                            Please Enter 3 or more characters
                                                        </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td><input type="number" formControlName="qty" class="input" (blur)="purchase4(i)"></td>
                                            <td><input type="number" formControlName="price" class="input" [(ngModel)]="coastprice[i]" (blur)="purchase(i)" #price (blur)="purchase2(price.value,i)">
                                            <i class="ion-information circle" data-bs-toggle="tooltip" title="ion-information" (click)="openModalBatch()"></i>
                                                <div class="modal fade " id="batchModal" tabindex="-1" role="dialog"
                                                    aria-labelledby="addressModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Batch</h1>
                                                                <button type="button" class="close"
                                                                    (click)="closeModalBatch()" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group" *ngIf="selectBatch">
                                                                    <div class="row">
                                                                        <div class="table-responsive">
                                                                            <table class="table datanew">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th class="boder space-text">Sr.No.</th>
                                                                                        <th class="boder space-text">MRP</th>
                                                                                        <th class="boder space-text">Purchase Price</th>
                                                                                        <th class="boder space-text">Discount</th>
                                                                                        <th class="boder space-text">Additional Discount</th>
                                                                                        <th class="boder space-text">Action</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr
                                                                                        *ngFor="let batch of selectBatch;let ind=index;">
                                                                                        <td class="boder">{{ ind+1+'.'}}</td>
                                                                                        <td class="boder">{{ batch?.mrp }}</td>
                                                                                        <td class="boder">{{ batch?.cost_price }}</td>
                                                                                        <td class="boder">{{ batch?.discount + '%'}}</td>
                                                                                        <td class="boder">{{ batch?.additional_discount + '%'}}</td>
                                                                                        <td>
                                                                                            <button type="button"
                                                                                                (click)="selecBatchtModel(batch,i)"
                                                                                                class="btn btn-primary btn-sm"
                                                                                                style="float: right;">Select</button>
                                                                                        </td>

                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <!-- <td><input type="text" formControlName="amount" class="input"></td> -->
                                            <td><input type="number" formControlName="discount" class="input" (blur)="purchase4(i)">
                                            <span class="text-danger" style="display: block;" *ngIf="discountt(i) && discountt(i).invalid && discountt(i).touched">Enter Discount ex: 1-100 % </span>
                                            </td>  
                                            <td>
                                                <!-- <input type="text" formControlName="tax" class="input" readonly>
                                                <span class="text-danger" style="display: block;" *ngIf="taxx(i) && taxx(i).invalid && taxx(i).touched"> Enter Tax ex: 1-100 %</span> -->
                                            <span *ngIf="tax[i] !== undefined && tax[i] !== ''">{{ 'GST' + tax[i] + ' (' + tax[i] + '%)' }}</span>
                                            <br>
                                            <span>{{taxIntoRupees[i] | currency :'INR'}}</span>
                                             </td>
                                            <!-- <td><input type="number" formControlName="amount" readonly [value]="calculateTotalLandingCostEveryIndex(i).toFixed(2)" [ngModel]="calculateTotalLandingCostEveryIndex(i).toFixed(2)" class="input"> </td> -->
                                            <td class="text-end"> <input type="number" class="input" readonly [value]="TotalWithoutTax[i]"></td>
                                            <td class="text-end">
                                            <input type="number" formControlName="total" class="input" readonly [value]="calculateTotalEveryIndex(i).toFixed(2)" [ngModel]="calculateTotalEveryIndex(i).toFixed(2)">
                                         </td>          
                                        </tr>
                                    </ng-container>
                                </ng-container>
                                <tr style=" background: rgba(145, 158, 171, 0.32);">
                                    <td></td>
                                    <td></td>
                                    <td class="text-start"><strong>Total</strong></td>
                                    <td class="text-start">{{calculateTotalQty()?.toFixed(2)}}
                                        <input type="text" formControlName="total_qty" class="input" [ngModel]="calculateTotalQty()?.toFixed(2)" style="display: none;">
                                    </td>
                                    <td class="text-start">{{calculateTotalPrice()?.toFixed(2)}}</td>
                                    <!-- <td class="text-start">{{calculateTotalAmount()?.toFixed(2)}}</td> -->
                                    <td class="text-start">{{calculateTotalDiscount()?.toFixed(2)}}
                                        <input type="text" formControlName="total_discount" class="input" [ngModel]="calculateTotalDiscount()?.toFixed(2)" style="display: none;">
                                    </td>
                                    <td class="text-start">{{calculateTotalTax()?.toFixed(2)}}
                                        <input type="text" formControlName="total_tax" class="input" [ngModel]="calculateTotalTax()?.toFixed(2)" style="display: none;">
                                    </td>
                                    <!-- <td class="text-start">{{calculateTotalAmount()?.toFixed(2)}}</td> -->
                                    <td>{{calculateTotalWithoutTax()?.toFixed(2)}}</td>
                                    <td> {{ calculateTotal()?.toFixed(2) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
            </div>
            <div class="row">
                <div class="col-lg-6 my-3">
                    <div class="form-group">
                        <label>Note</label>
                        <textarea formControlName="note"
                            [ngClass]="{'is-invalid': f['note'].touched && f['note'].invalid}"></textarea>
                        <span class="text-danger" *ngIf="note && note.invalid && note.touched">Enter
                            note
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 my-3">
                    <div class="form-group">
                        <div class="total-order">
                            <ul>
                                <li>
                                    <h4>Sub Total</h4>
                                    <h5>
                                        {{calculateTotalWithoutTax().toFixed(2) | currency:'INR'}}
                                        <input type="text" formControlName="subtotal" class="input" [ngModel]="calculateTotalWithoutTax().toFixed(2)" style="display: none;">
                                    </h5>
                                </li>
                                <li>
                                    <h4>Tax Amount</h4>
                                    <h5>{{calculateTotalTaxIntoRupees().toFixed(2) | currency:'INR'}}</h5>
                                </li>
                                <li>
                                    <h4>Round Off</h4>
                                    <h5>{{calculateRoundoffValue() | currency:'INR'}}
                                        <!-- <input type="text" formControlName="round_off" class="input" [ngModel]="calculateRoundoffValue().toFixed(2)" style="display: none;"> -->
                                        <input type="text" formControlName="roundoff" class="input" [ngModel]="0" style="display: none;">
                                    </h5>
                                </li>
                                <li class="total">
                                    <h4>Total</h4>
                                    <h5> {{calculateTotal().toFixed(2) | currency:'INR'}} <input type="text" formControlName="total" class="input" [ngModel]="calculateTotal().toFixed(2)" style="display: none;"></h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
              <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-12">
                        <a routerLink="//purchase/purchaselist" class="btn btn-cancel text-white me-2" style=" background-color: #f4516c;">Cancel</a>
                        <a class="btn btn-cancel text-white" (click)="clearForm()">Clear</a>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-12">
                        <button class="btn btn-submit me-2" (click)="submit('print')">Save & Print</button>
                        <button class="btn btn-submit me-2" (click)="submit('draft')">Save as Draft</button>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-12">
                        <button class="btn btn-submit me-2" *ngIf="!loader" (click)="submit('save')">Save</button>
                        <button class="btn btn-submit me-2" type="submit" *ngIf="loader" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Save</button>              
                        <button class="btn btn-submit me-2" *ngIf="!loaderCreate" (click)="submit('new')">Save & Create New</button>
                        <button class="btn btn-submit me-2" type="submit" *ngIf="loaderCreate" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Save & Create New</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

  