<div class="row">
    <div class="col-lg-8 col-sm-8 col-12">
        <div class="page-header">
            <div class="page-title">
                <h4 class="titl">Account SubType list</h4>
                <h6>Manage your Account SubType</h6>
            </div>
            <div class="page-btn" *ngIf="!addForm">
                <a class="btn btn-added" (click)="openaddForm()" *ngIf="isAdd">
                    <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Add Account SubType
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="assets/img/icons/filter.svg" alt="img">
                                <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset">
                                <img src="assets/img/icons/search-white.svg" alt="img"></a>
                            <div class="dataTables_filter"><label>
                                    <input type="search" class="form-control form-control-sm" placeholder="Search Title.."
                                        [(ngModel)]="titlee" (ngModelChange)="search()">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf" (click)="generatePDF()"><img src="assets/img/icons/pdf.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel" (click)="exportToExcel()"><img src="assets/img/icons/excel.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print" (click)="printTable()"><img src="assets/img/icons/printer.svg" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                 <!-- /Filter -->
                 <div class="card mb-0" id="filter_inputs">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>Alias</label>
                                            <input type="search" [(ngModel)]="selectedAlias" (ngModelChange)="filterData()" class="search" placeholder="Search Alias">
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>Account Type</label>
                                            <select [(ngModel)]="selectedAccountType" (change)="filterData()" class="form-select">
                                                <option value="" selected disabled>Select Account Type</option>
                                                <option value="{{acc.title}}" *ngFor="let acc of accountType">{{acc.title}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                 <div class="form-group" (click)="clearFilter()">
                                            <a class="btn btn-filters ms-auto" style="width: 20%;">Clear Filter</a>
                                        </div>     
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- /Filter -->
                <div class="table-responsive">
                    <table class="table datanew" id="mytable">
                        <thead>
                            <tr>
                                <th (click)="sort('id')" class="thone">
                                    <label class="checkboxs mb-0 d-inline" (click)="selectAll(initChecked)">
                                        <input type="checkbox" [(ngModel)]="allSelected" (change)="selectAlll()">
                                        <span class="checkmarks"></span>
                                    </label>
                                    <i class="fa fa-sort"></i>
                                </th>
                                <th (click)="sort('id')" class="thone">Sr No. <i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone">Title <i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone">Accounts Type<i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone">Alias<i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone">Is Active <i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone" *ngIf="isEdit || isDelete">Action <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="filteredData?.length>=0">
                            <tr
                                *ngFor="let products of filteredData | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p} let i = index">

                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox" [(ngModel)]="selectedRows[i]">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <td>{{i+1}}</td>
                                <td class="productimgname">
                                    <a routerLink="//account/account-sub-type-details/{{products.id}}" style="line-height: 3;">{{products?.title}}</a>
                                </td>
                                <td>{{products?.accounts_type}}</td>
                                <td>{{products?.alias}}</td>
                                <td>
                                    <mat-slide-toggle
                                        (click)="products.is_active ? deActivate(i,products.id):Active(i,products.id)"
                                        [(ngModel)]="products.is_active"></mat-slide-toggle>
                                </td>
                                <td>
                                    <a class="me-1" routerLink="//account/account-sub-type-details/{{products.id}}">
                                        <img src="assets/img/icons/eye.svg" alt="img">
                                    </a>
                                    <a class="me-1" (click)="editForm(products.id)" *ngIf="isEdit">
                                        <img src="assets/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a (click)="confirmText(i,products.id)" class="me-3 confirm-text"
                                        href="javascript:void(0);" *ngIf="isDelete">
                                        <img src="assets/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="filteredData?.length==0">
                            <tr>
                                <td colspan="10">
                                    <p class="center-textt">Data not available</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="progressbar">
                        <mat-progress-bar mode="indeterminate" class="progressbar" *ngIf="loader"></mat-progress-bar>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-12 mt-2">
                            <div class="entries"> Show per page
                                <select [(ngModel)]="itemsPerPage" class="pagination">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="-1">All</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-8 col-12 mt-2">
                            <div class="f-right">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                <div class="entries f-right">Showing {{itemsPerPage}} to {{itemsPerPage}} of {{itemsPerPage}}
                                    entries</div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div class="col-lg-4 col-sm-4 col-12" *ngIf="isAdd || isEdit">
        <div class="page-header">
            <div class="page-title" *ngIf="addForm">
                <div *ngIf="isAdd">
                    <h4> Add Account SubType </h4>
                    <h6>Create new Account SubType </h6>
                </div>
            </div>
            <div class="page-title" *ngIf="!addForm">
                <div *ngIf="isEdit">
                    <h4> Update Account SubType </h4>
                </div>
            </div>
        </div>
        <div class="card">
            <div *ngIf="isAdd">
                <div class="card-body" *ngIf="addForm">
                    <form [formGroup]="accountSubTypeForm" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label>Title*</label>
                                    <input type="text" formControlName="title" placeholder="Enter Title" id="title"
                                        [ngClass]="{'is-invalid': f['title'].touched && f['title'].invalid}">
                                    <span class="text-danger" *ngIf="title && title.invalid && title.touched">Enter
                                        Title
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label>Select Accounts Type*</label>
                                    <select formControlName="accounts_type" required
                                        [ngClass]="{'is-invalid': f['accounts_type'].touched && f['accounts_type'].invalid}">
                                        <option value="" selected disabled> Select Aaccounts Type</option>
                                        <option value="{{accounts_type?.title}}"
                                            *ngFor="let accounts_type of accountType">{{accounts_type?.title}}</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="accounts_type && accounts_type.invalid && accounts_type.touched">Select
                                        Aaccounts Type</span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label>Alias*</label>
                                    <input type="text" formControlName="alias" placeholder="Enter Alias" id="alias" required
                                        [ngClass]="{'is-invalid': f['alias'].touched && f['alias'].invalid}">
                                    <span class="text-danger" *ngIf="alias && alias.invalid && alias.touched">Enter
                                        Valid alias
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <button class="btn btn-submit me-2" *ngIf="!loaders">Submit</button>
                                <button class="btn btn-submit me-2" type="submit" *ngIf="loaders" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>&nbsp; Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div *ngIf="isEdit">
                <div class="card-body" *ngIf="!addForm">
                    <form [formGroup]="accountSubTypeForm" (ngSubmit)="update()">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label>Title*</label>
                                    <input type="text" formControlName="title" id="title"
                                        [ngClass]="{'is-invalid': f['title'].touched && f['title'].invalid}">
                                    <span class="text-danger" *ngIf="title && title.invalid && title.touched">Enter
                                        Title
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label>Accounts Type*</label>
                                    <select formControlName="accounts_type"
                                        [ngClass]="{'is-invalid': f['accounts_type'].touched && f['accounts_type'].invalid}"
                                        readonly>
                                        <option value="{{editFormdata?.accounts_type}}" selected disabled>
                                            {{editFormdata?.accounts_type}}</option>
                                        <!-- <option value="{{accounts_type?.id}}" *ngFor="let accounts_type of accountType">{{accounts_type?.title}}</option> -->
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="accounts_type && accounts_type.invalid && accounts_type.touched">Select
                                        Aaccounts Type</span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label>Alias*</label>
                                    <input type="text" formControlName="alias" id="alias" readonly
                                        [ngClass]="{'is-invalid': f['alias'].touched && f['alias'].invalid}">
                                    <span class="text-danger" *ngIf="alias && alias.invalid && alias.touched">Enter
                                        Valid Alias
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button class="btn btn-submit me-2" *ngIf="!loaders">Submit</button>
                                <button class="btn btn-submit me-2" type="submit" *ngIf="loaders" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>&nbsp Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>