<div class="page-header">
    <div class="page-title">
        <h4>Product Sub Category Details</h4>
        <h6>Full details of a Product Sub Category</h6>
    </div>
    <div class="page-btn">
        <a routerLink="//product/subcategorylist" class="btn btn-added">
            <img src="assets/img/icons/plus.svg" class="me-1" alt="img"> Product Sub Category
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-sm-12">
        <div class="card">
            <div class="card-body">
                <!-- <div class="bar-code-view">
                    <img src="assets/img/barcode1.png" alt="barcode">
                    <a class="printimg">
                        <img src="assets/img/icons/printer.svg" alt="print">
                    </a>
                </div> -->
                <div class="productdetails">
                    <ul class="product-bar" *ngIf="subcatDetails">

                        <li>
                            <h4>Title</h4>
                            <h6>{{subcatDetails.title}}</h6>
                        </li>
                        <li>
                            <h4>Category</h4>
                            <h6>{{subcatDetails.category_id.title}}</h6>
                        </li>
                        <!-- <li>
                            <h4>Brand</h4>
                            <div class="second-list">
                                <ul *ngFor="let brand of subcatDetails.brand_id">
                                    <li>
                                        <h4>title</h4>
                                        <h6>{{brand.title}}</h6>
                                    </li>
                                    <li>
                                        <h4>code</h4>
                                        <h6>{{brand.code}}</h6>
                                    </li>
                                    <li>
                                        <h4>Is Active</h4>
                                        <h6>{{brand.is_active}}</h6>
                                    </li>
                                    <li>
                                        <h4>Image</h4>
                                        <div class="img-div">
                                            <img [src]="imgUrl+brand.image" alt="" class="img2">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li> -->

                    </ul>
                </div>
            </div>
            <div class="d-flex align-items-center mx-3 mb-1">
                <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                <span [ngClass]="{'bg-lightgreen': subcatDetails.is_active === true, 'bg-lightred' : subcatDetails.is_active === false,'bg-lightyellow' : subcatDetails.is_active === 'Partial' }"
                                    class="badges">{{subcatDetails.is_active}}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="slider-product-details">
                    <div class="owl-carousel owl-theme product-slide">
                        <div class="slider-product">
                            <img [src]="imgUrl+subcatDetails.image" alt="img" style="width: 20%;">
                            <h4>{{subcatDetails.title}}</h4>
                            <!-- <h6>581kb</h6> -->
                        </div>
                        <!-- <div class="slider-product">
                            <img [src]="imgUrl+subcatDetails.image" alt="img">
                            <h4>{{subcatDetails.title}}</h4>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>