<div class="page-header">
    <div class="page-title">
        <h4>Debit Notes Add</h4>
        <h6>Add/Update Debit Notes</h6>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form [formGroup]="debitNotesForm">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="form-group">
                        <label>Supplier Name*</label>
                        <mat-form-field class="w-100" style="padding: 0;
                        width: 100%;
                        min-width: 100%;border-top: none;">
                            <input type="text" placeholder="Search Supplier" aria-label="Supplier" matInput
                                [formControl]="supplierControl" [matAutocomplete]="auto" style="box-sizing: border-box;"
                                [ngClass]="{'is-invalid': f['party'].touched && f['party'].invalid}">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let supplier of filteredSuppliers | async" [value]="supplier.name"
                                    (onSelectionChange)="oncheck(supplier.id)" style="color:#FF9F43">{{ supplier.name
                                    }}</mat-option>

                                <ng-container *ngIf="(filteredSuppliers | async) as suppliers">
                                    <mat-option *ngIf="suppliers.length === 0" [value]="'No data found'">
                                        <a routerLink="//contacts/addSupplier" style="color:#FF9F43">+ Add Supplier</a>
                                    </mat-option>
                                    <mat-option *ngIf="supplierControl.value?.length < 3" class="is-loading">Please
                                        Enter 1 or more characters</mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                        <span class="text-danger" *ngIf="supplier && supplier.invalid && supplier.touched">Select
                            supplier
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Debit Note Date*</label>
                        <input type="date" formControlName="debit_note_date"
                            [ngClass]="{'is-invalid': f['debit_note_date'].touched && f['debit_note_date'].invalid}">
                        <span class="text-danger"
                            *ngIf="debit_note_date && debit_note_date.invalid && debit_note_date.touched">Select
                            Debit-note date
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Debit Note No</label>
                        <input type="text" formControlName="debit_note_no"
                            [ngClass]="{'is-invalid': f['debit_note_no'].touched && f['debit_note_no'].invalid}">

                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Refrence Bill No*</label>
                        <input type="text" formControlName="refrence_bill_no"
                            [ngClass]="{'is-invalid': f['refrence_bill_no'].touched && f['refrence_bill_no'].invalid}">
                        <span class="text-danger"
                            *ngIf="refrence_bill_no && refrence_bill_no.invalid && refrence_bill_no.touched">Enter
                            Refrence bill no
                        </span>
                    </div>
                </div>
                <!-- address display -->
                <div class="col-lg-3 col-sm-3 col-12">
                    <div class="modal fade" id="addressModal" tabindex="-1" role="dialog"
                        aria-labelledby="addressModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Billing Address</h1>
                                    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group" *ngIf="supplierAddress">
                                        <h5 class=""><small class="text-muted"></small></h5>
                                        <h5 class=""><small class="text-muted">{{supplierAddress?.name}}</small>
                                            <input type="hidden" class="form-control" name="billingcompanyname"
                                                id="billingcompanyname" value="{{supplierAddress?.name}}">
                                        </h5>
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12 col-12"
                                                *ngFor="let add of supplierAddress?.address">

                                                <button type="button" (click)="selectAddress(add)"
                                                    class="btn btn-primary btn-sm" style="float: right;">Select</button>

                                                <p class="d-inline mb-0">
                                                    <span id="billing-address-line-1">
                                                        {{add?.address_line_1}}, {{add?.address_line_2}}
                                                    </span>
                                                </p>
                                                <br>
                                                <p class="d-inline mb-0">
                                                    <span data-address-pincode="">{{add?.pincode}}</span>
                                                    <span data-address-city="22691">{{add?.city?.city}}</span>
                                                    <span class="m--font-boldest">,&nbsp;</span>
                                                </p>
                                                <p class="d-inline mb-0">
                                                    <span data-address-state="1722">{{add?.state?.state}}</span>
                                                    <span class="m--font-boldest">,&nbsp;</span>
                                                    <span
                                                        data-address-country="IR">{{add?.country?.country_name}}</span>
                                                </p>
                                                <p class="mb-2">
                                                    <span class="">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11"
                                                            fill="currentColor" class="bi bi-telephone-fill"
                                                            viewBox="0 0 16 16"
                                                            style="    height: 11px; width: 11px; color: #FF9F43;">
                                                            <path fill-rule="evenodd"
                                                                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                                        </svg>
                                                        <a
                                                            href="tel:{{supplierAddress?.phone}}">{{supplierAddress?.mobile_no}}</a>
                                                        <input type="hidden" class="form-control" name="billingphone"
                                                            id="billingphone" value="{{supplierAddress?.mobile_no}}">
                                                    </span>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label class="col-lg-12 col-md-12 col-sm-12 p-0"><strong>Billing Address</strong></label>
                    <div class="form-group" *ngIf="!supplierAddress">
                        <div class="m-divider"><span></span></div>
                        <h5 style="font-size: 13px;"><small class="text-muted">Billing Address is Not
                                Provided</small></h5>
                        <div class="form-group row mt-3">
                            <label class="col-lg-12 col-md-12 col-sm-12" style="font-weight: 600;">GSTIN <span
                                    class="font-weight-normal" id="lblContactGSTIN">-</span></label>
                            <label class="col-lg-12 col-md-12 col-sm-12" style="font-weight: 600;">Place of Supply <span
                                    class="font-weight-normal" id="lblContactGSTIN">-</span></label>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="supplierAddress">
                        <h5 class=""><small class="text-muted"></small></h5>
                        <h5 class=""><small class="text-muted">{{supplierAddress?.name}}</small>
                            <input type="hidden" class="form-control" name="billingcompanyname" id="billingcompanyname"
                                value="{{supplierAddress?.name}}">
                        </h5>
                        <div *ngIf="selectedAddress">
                            <p class="d-inline mb-0">
                                <span id="billing-address-line-1">
                                    {{selectedAddress?.address_line_1}}, {{selectedAddress?.address_line_2}},
                                </span>
                            </p>
                            <br>
                            <p class="d-inline mb-0">
                                <span data-address-pincode="">{{selectedAddress?.pincode}}, </span>
                                <span data-address-city="22691">{{selectedAddress?.city?.city}}</span>
                                <span class="m--font-boldest">,&nbsp;</span>
                            </p>
                            <p class="d-inline mb-0">
                                <span data-address-state="1722">{{selectedAddress?.state?.state}}</span>
                                <span class="m--font-boldest">,&nbsp;</span>
                                <span data-address-country="IR">{{selectedAddress?.country?.country_name}}</span>
                            </p>
                            <p class="mb-2">
                                <span class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor"
                                        class="bi bi-telephone-fill" viewBox="0 0 16 16"
                                        style="    height: 11px; width: 11px; color: #FF9F43;">
                                        <path fill-rule="evenodd"
                                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                    </svg>
                                    <a href="tel:{{supplierAddress?.phone}}">{{supplierAddress?.mobile_no}}</a>
                                    <input type="hidden" class="form-control" name="billingphone" id="billingphone"
                                        value="{{supplierAddress?.mobile_no}}">
                                </span>
                            </p>
                            <div class="d-grid">
                                <a type="button" class=" btn-link" (click)="openModal()">Change Address</a>
                                <a class=" btn-link" routerLink="//contacts/updateSupplier/{{supplierAddress?.id}}">Edit
                                    Billing Address
                                </a>
                            </div>
                        </div>
                        <div class="form-group row mt-3">
                            <label class="col-lg-12 col-md-12 col-sm-12"><span style="font-weight: 600;">Place of Supply
                                    : </span> <span class="font-weight-normal"
                                    id="lblContactGSTIN">{{selectedAddress?.state?.state}}</span></label>
                            <label class="col-lg-12 col-md-12 col-sm-12"><span style="font-weight: 600;">GSTIN :
                                </span><span class="font-weight-normal"
                                    id="lblContactGSTIN">{{supplierAddress?.gstin}}</span></label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Payment Terms*</label>
                        <select formControlName="payment_term"
                            [ngClass]="{'is-invalid': f['payment_term'].touched && f['payment_term'].invalid}">
                            <option value="" selected disabled>Select Payment Term</option>
                            <option value="{{payment.id}}" *ngFor="let payment of paymentList">{{payment.title}}
                            </option>
                        </select>
                        <span class="text-danger"
                            *ngIf="payment_term && payment_term.invalid && payment_term.touched">Select
                            Payment term
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Due Date*</label>
                        <input type="date" formControlName="due_date"
                            [ngClass]="{'is-invalid': f['due_date'].touched && f['due_date'].invalid}">
                        <span class="text-danger" *ngIf="due_date && due_date.invalid && due_date.touched">Select
                            Due date
                        </span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Reverse Charge</label>
                        <input type="text" formControlName="reverse_charge"
                            [ngClass]="{'is-invalid': f['reverse_charge'].touched && f['reverse_charge'].invalid}">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Purchase Order* </label>
                        <select formControlName="purchase"
                            [ngClass]="{'is-invalid': f['purchase'].touched && f['purchase'].invalid}">
                            <option value="" selected disabled>Select Purchase</option>
                            <option value="{{purchase.id}}" *ngFor="let purchase of purchaseList">{{purchase.order_no}}
                            </option>
                        </select>
                        <span class="text-danger" *ngIf="purchase && purchase.invalid && purchase.touched">Select
                            Purchase order
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Shipping Date* </label>
                        <input type="date" formControlName="shipping_date"
                            [ngClass]="{'is-invalid': f['shipping_date'].touched && f['shipping_date'].invalid}">
                        <span class="text-danger"
                            *ngIf="shipping_date && shipping_date.invalid && shipping_date.touched">Select
                            Shipping Date
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Reason</label>
                        <input type="text" formControlName="reason"
                            [ngClass]="{'is-invalid': f['reason'].touched && f['reason'].invalid}">
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Status</label>
                        <select formControlName="status"
                            [ngClass]="{'is-invalid': f['status'].touched && f['status'].invalid}">
                            <option value="" selected disabled>Select Status</option>
                            <option value="Complete">Complete</option>
                            <option value="Pending">Pending</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group my-4">
                        <div class="d-flex">
                            <input type="checkbox" formControlName="export" [id]="'checkboxMeasure-'" [ngModel]="true">
                            <label [for]="'checkboxMeasure-'" class="d_flex"
                                style="margin-bottom: 0; margin-left: 5px;">Export</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Barcode/SKU</th>
                                <th style="width: 20%;">Product Name</th>
                                <th>QTY</th>
                                <th>Unit Cost</th>
                                <th>Mrp</th>
                                <th>Discount</th>
                                <th>Tax %</th>
                                <th>Landing Cost</th>
                                <th>Batch</th>
                                <th class="text-end">Total Cost</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container formArrayName="cart">
                                <ng-container *ngFor="let d of getCart().controls; let i=index">
                                    <tr [formGroupName]="i">
                                        <td>
                                            <div>
                                                <div class="me-2">
                                                    <svg (click)="removeCart(i)" style="color:red"
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                        <path
                                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                        <path
                                                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                    </svg>
                                                </div>
                                                <svg *ngIf="isLastCart(i)" (click)="addCart()" style="color:green"
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    <path
                                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                                </svg>
                                            </div>
                                        </td>
                                        <td>
                                            <input class="input" type="text" placeholder="Search Barcode"
                                                [attr.data-index]="i"
                                                [value]="barcode[i] !== undefined ? barcode[i] : ''" #id
                                                (keyup)="searchProduct(id.value,i)" (blur)="hideSearch()">
                                        </td>
                                        <td>
                                            <!-- <input type="text" [value]="productName[i]!== undefined ? productName[i]:''"
                                                (click)="open()" placeholder="Search Product" *ngIf="isProduct"
                                                class="input"> -->
                                            <mat-form-field class="w-100" class="input">
                                                <input type="text" placeholder="Search Product" aria-label="Produt"
                                                    matInput [formControl]="variantControl" [matAutocomplete]="auto"
                                                    style="height: 18px;">
                                                <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option *ngFor="let variant of filteredVariants | async"
                                                        [value]="variant?.product_title"
                                                        (onSelectionChange)="oncheckVariant(variant,i)"
                                                        (onSelectionChange)="variantChanged(variant, i)">{{
                                                        variant?.product_title}}</mat-option>
                                                    <ng-container *ngIf="(filteredVariants | async) as variants">
                                                        <mat-option *ngIf="variants?.length === 0"
                                                            [value]="'No data found'">
                                                            <a routerLink="//product/addproduct" style="color:#FF9F43">+
                                                                add Product</a>
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </td>
                                        <td><input type="text" formControlName="qty" class="input"></td>
                                        <td><input type="text" formControlName="unit_cost" class="input"></td>
                                        <td><input type="text" formControlName="mrp" class="input"></td>
                                        <td><input type="text" formControlName="discount" class="input">
                                            <span class="text-danger" style="display: block;"
                                                *ngIf="discountt(i) && discountt(i).invalid && discountt(i).touched">
                                                Enter Discount ex: 1-100
                                            </span>
                                        </td>
                                        <td><input type="text" formControlName="tax" class="input"></td>
                                        <td class="text-end"><input type="text" formControlName="landing_cost"
                                                class="input"></td>
                                        <td class="text-end">
                                            <select formControlName="batch">
                                                <option value="" selected disabled>Select Batch</option>
                                                <option value="{{batch.id}}" *ngFor="let batch of batchList">
                                                    {{batch.mrp}}</option>
                                            </select>
                                            <span class="text-danger" style="display: block;"
                                                *ngIf="batch(i) && batch(i).invalid && batch(i).touched"> select batch
                                            </span>
                                        </td>
                                        <td class="text-end"><input type="text" class="input"
                                                [value]="calculateTotalEveryIndex(i).toString()"
                                                [ngModel]="calculateTotalEveryIndex(i).toString()"></td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                            <tr style=" background: rgba(145, 158, 171, 0.32);">
                                <td></td>
                                <td></td>
                                <td class="text-start"><strong>Total</strong></td>
                                <td class="text-start">{{ calculateTotalQty()}}</td>
                                <td class="text-start"></td>
                                <td></td>
                                <td></td>
                                <td class="text-start">{{calculateTotalTax()}}</td>
                                <td></td>
                                <td class="text-start"></td>
                                <td> {{ calculateTotal() }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 float-md-right">
                    <div class="total-order">
                        <ul>
                            <li>
                                <h4>Total Mrp</h4>
                                <h5>{{calculateTotalMrp() | currency:'INR'}}</h5>
                            </li>
                            <li>
                                <h4>Sub Total</h4>
                                <h5>{{calculateSubtotal() | currency:'INR'}}</h5>
                            </li>
                            <li>
                                <h4>Total Tax</h4>
                                <h5>{{'₹'+calculateTotalTax() + '%'}}</h5>
                            </li>
                            <li>
                                <h4>Total Discount </h4>
                                <h5>{{'₹'+calculateTotalDiscount() + '%'}}</h5>
                            </li>
                            <li>
                                <h4>Landing Cost</h4>
                                <h5>{{calculateTotalLandingCost() | currency:'INR'}}</h5>
                            </li>
                            <li class="total">
                                <h4>Total</h4>
                                <h5>{{ calculateTotal() }}</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <button class="btn btn-submit me-2" *ngIf="!loader" (click)="submit()">Submit</button>
                <button class="btn btn-submit me-2" type="submit" *ngIf="loader" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Submit</button>
                <a routerLink="//purchase/debit-notes-list" class="btn btn-cancel text-white">Cancel</a>
            </div>
        </form>
    </div>
</div>