<div class="row">

    <div class="col-lg-7 col-sm-7 col-12">
        <div class="page-header">
            <div class="page-title">
                <h4 class="titl">Product Sub Category list</h4>
                <h6>View/Search product Category</h6>
            </div>
            <div class="page-btn" *ngIf="!addForm">
                <a class="btn btn-added" (click)="openaddForm()" *ngIf="isAdd">
                    <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Add Product Sub Category
                </a>
            </div>
        </div>


        <!-- /product list -->
        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="assets/img/icons/filter.svg" alt="img">
                                <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                        <!-- <div class="search-input">
                            <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
                        </div> -->
                        <div class="search-input">
                            <a class="btn btn-searchset">
                                <img src="assets/img/icons/search-white.svg" alt="img"></a>
                            <div class="dataTables_filter"><label>
                                    <input type="search" class="form-control form-control-sm"
                                        placeholder="Search Sub Category" [(ngModel)]="titlee"
                                        (ngModelChange)="search()">
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"
                                    (click)="generatePDFAgain()"><img src="assets/img/icons/pdf.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"
                                    (click)="exportToExcel()"><img src="assets/img/icons/excel.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"
                                    (click)="printTable()"><img src="assets/img/icons/printer.svg" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- /Filter -->
                <div class="card mb-0" id="filter_inputs">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>Is Active</label>
                                            <select [(ngModel)]="selectActive" (change)="filterData()"
                                                class="form-select">
                                                <option [ngValue]="undefined" selected disabled>Select Active Status
                                                </option>
                                                <option [ngValue]="true">Yes</option>
                                                <option [ngValue]="false">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" (click)="clearFilter()">
                                    <a class="btn btn-filters ms-auto w-25">Clear Filter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /Filter -->
                <div class="table-responsive">
                    <table class="table datanew" id="mytable">
                        <thead>
                            <tr>
                                <th (click)="sort('id')" class="thone">
                                    <label class="checkboxs mb-0 d-inline" (click)="selectAll(initChecked)">
                                        <input type="checkbox" [(ngModel)]="allSelected" (change)="selectAlll()">
                                        <span class="checkmarks"></span>
                                    </label>
                                    <i class="fa fa-sort"></i>
                                </th>
                                <th (click)="sort('id')" class="thone">Sr.No.<i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone">Image<i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone">Sub Category<i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone">Category<i class="fa fa-sort"></i></th>
                                <!-- <th (click)="sort('id')" class="thone">Discount <i class="fa fa-sort"></i></th> -->
                                <th (click)="sort('id')" class="thone">Is Active<i class="fa fa-sort"></i></th>
                                <th (click)="sort('id')" class="thone">Action <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="filteredData?.length>=0 && !loader">
                            <tr
                                *ngFor="let products of filteredData | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p} let i = index">
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox" [(ngModel)]="selectedRows[i]">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <td>{{i+1}}</td>
                                <td>
                                    <a class="product-img" routerLink="/product/subcategory-details/{{products.id}}">
                                        <img [src]="imgUrl+products?.image" alt="product">
                                    </a>
                                </td>
                                <td routerLink="/product/subcategory-details/{{products.id}}">{{products?.title}}</td>
                                <td>{{products?.category_id?.title}}</td>
                                <!-- <td>{{products.discount}}</td> -->
                                <td>
                                    <mat-slide-toggle
                                        (click)="products.is_active ? deActivate(i,products.id):Active(i,products.id)"
                                        [(ngModel)]="products.is_active"></mat-slide-toggle>
                                </td>
                                <td>
                                    <a class="me-2" routerLink="/product/subcategory-details/{{products.id}}">
                                        <img src="assets/img/icons/eye.svg" alt="img">
                                    </a>

                                    <a class="me-2" (click)="editForm(products.id)" *ngIf="isEdit">
                                        <img src="assets/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a (click)="confirmText(i,products.id)" class="me-3 confirm-text"
                                        href="javascript:void(0);" *ngIf="isDelete">
                                        <img src="assets/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="filteredData?.length==0 && !loader">
                            <tr>
                                <td colspan="10">
                                    <p class="center-textt">Data not available</p>
                                </td>
                            </tr>
                        </tbody>
                        <!-- <tr>
                            <td colspan="5">
                                <div class="dataTables_length">
                                    <label class="labelSize">Show :&nbsp;
                                        <select [(ngModel)]="itemsPerPage">
                                            <option [ngValue]="10">10</option>
                                            <option [ngValue]="25">25</option>
                                            <option [ngValue]="50">50</option>
                                            <option [ngValue]="100">100</option>
                                        </select>
                                        entries</label>
                                </div>
                                <div>
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="entries">Showing {{itemsPerPage}} to {{itemsPerPage}} of {{itemsPerPage}} entries</div>
                            </td>
                        </tr> -->
                    </table>
                    <div class="progressbar">
                        <mat-progress-bar mode="indeterminate" class="progressbar" *ngIf="loaders"></mat-progress-bar>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-12 mt-2">
                            <div class="entries"> Show per page
                                <select [(ngModel)]="itemsPerPage" class="pagination" #v (change)="changePg(v.value)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="-1">All</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-8 col-12 mt-2">
                            <div class="f-right">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                <div class="entries f-right">Showing {{itemsPerPage}} to {{tableData?.length}} of {{p}}
                                    entries</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /product list -->
    </div>
    <div class="col-lg-5 col-sm-5 col-12" *ngIf="isAdd || isEdit">
        <div class="page-header">
            <div class="page-title" *ngIf="addForm">
                <div *ngIf="isAdd">
                    <h4>Add Product Sub Category</h4>
                    <h6>Create new Product Sub Category</h6>
                </div>
            </div>
            <div class="page-title" *ngIf="!addForm">
                <div *ngIf="isEdit">
                    <h4>Product Sub Category Edit</h4>
                    <h6>Update Product Sub Category</h6>
                </div>
            </div>
        </div>
        <div class="card">
            <div *ngIf="isAdd">
                <div class="card-body" *ngIf="addForm">
                    <form [formGroup]="subcategoryForm" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-lg-10 col-sm-10 col-12">
                                <div class="form-group">
                                    <label>SubCategory Name*</label>
                                    <mat-form-field class="w-100" style="padding: 0;
                                    width: 100%;
                                    min-width: 100%;border-top: none;">
                                        <input type="text" placeholder="Search Brand" aria-label="brand" matInput
                                            [formControl]="subCategoryCtrl" [matAutocomplete]="auto"
                                            style="box-sizing: border-box;"
                                            [ngClass]="{'is-invalid': f['title'].touched && f['title'].invalid}">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <ng-container *ngIf="subCategoryCtrl.value?.length > 2">
                                                <mat-option *ngFor="let subcategory of subCategoryList"
                                                    [value]="subcategory?.title" [disabled]="true"
                                                    style="color:#FF9F43">{{
                                                    subcategory?.title
                                                    }}</mat-option>
                                            </ng-container>

                                            <ng-container>
                                                <mat-option *ngIf="subCategoryCtrl.value?.length < 3"
                                                    class="is-loading">Please
                                                    Enter 3 or more characters</mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                        <mat-error class="mt-3 error-msg"
                                            *ngIf="subCategoryCtrl.touched && subCategoryCtrl.invalid">SubCategory
                                            name is
                                            required</mat-error>
                                    </mat-form-field>


                                    <!-- <input type="text" formControlName="title" id="title" placeholder="SubCategory Name"
                                        [ngClass]="{
                                    'is-invalid': f['title'].touched && f['title'].invalid
                                  }">
                                    <span class="text-danger" *ngIf="title && title.invalid && title.touched">Enter
                                        Sub Category Name
                                    </span> -->

                                </div>
                            </div>
                            <!-- <div class="col-lg-10 col-sm-10 col-12">
                                <div class="form-group">
                                    <label>Discount*</label>
                                    <input type="text" formControlName="discount" id="discount" [ngClass]="{
                                    'is-invalid': f['discount'].touched && f['discount'].invalid
                                  }">
                                    <span class="text-danger"
                                        *ngIf="discount && discount.invalid && discount.touched">Enter discount (ex:
                                        1-100)
                                    </span>

                                </div>
                            </div> -->
                            <div class="col-lg-10 col-sm-10 col-12">
                                <div class="form-group">
                                    <label>Select Category*</label>
                                    <select formControlName="category_id" required #category_idValue id="category_id"
                                        [ngClass]="{
                              'is-invalid': f['category_id'].touched && f['category_id'].invalid}">
                                        <option value="" selected disabled>Select category</option>
                                        <option value="{{category.id}}" *ngFor="let category of categoryList">
                                            {{category?.title}}
                                        </option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="category_id && category_id.invalid && category_id.touched">Select
                                        Category
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-10 col-sm-10 col-12">

                                <div class="form-group">
                                    <label>Select Feature Group*</label>
                                    <div class="dropdown">
                                        <button type="button" class="dropdown-toggle button" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">Select Feature
                                            Group</button>
                                        <ul class="dropdown-menu"
                                            style="width: 100%; max-height: 300px; overflow-y: auto;">

                                            <li><input type="text" placeholder="search feature group"
                                                    class="form-control" [(ngModel)]="searchFeatureGroup"
                                                    (ngModelChange)="filterFeatureGroupData()"
                                                    [ngModelOptions]="{standalone: true}"></li>

                                            <li><a class="dropdown-item"
                                                    *ngFor="let fGroup of filteredFeatureGroupData; let i=index">
                                                    <input type="checkbox" [value]="fGroup.id"
                                                        formArrayName="feature_group"
                                                        [checked]="selectedFeatureIds.includes(fGroup.id)"
                                                        (change)="onCheckFeature($event)" style="margin-right: 5px;"
                                                        [id]="'checkboxFeat-' + i">

                                                    <label [for]="'checkboxFeat-' + i" style="margin-bottom: 0;"
                                                        (click)="onLabelClick($event)">{{fGroup.title}}</label>

                                                </a></li>
                                        </ul>
                                        <p *ngIf="selectedFeatureGrp>0">{{selectedFeatureGrp + ' Feature group
                                            selected'}}</p>
                                    </div>
                                    <span class="text-danger"
                                        *ngIf="subcategories && subcategories.invalid && subcategories.touched">Select
                                        Feature Group </span>
                                    <span class="text-danger" *ngIf="errormessFFG">Select Feature Group </span>
                                </div>

                            </div>

                            <!-- <div class="col-lg-10 col-sm-10 col-12">
                            <div class="form-group">
                                <label>Brands</label>
                                <div class="dropdown">
                                    <button type="button" class="dropdown-toggle button" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">Select Brand</button>

                                    <ul class="dropdown-menu" style="width: 100%;">
                                        <li><a class="dropdown-item" *ngFor="let brand of brandList; let i=index">
                                                <input type="checkbox" [value]="brand.id"
                                                    (change)="onCheckChange($event)" formArrayName="brand_id"
                                                    style="margin-right: 5px;" [ngClass]="{
                                                        'is-invalid': f['brand_id'].touched && f['brand_id'].invalid
                                                      }">
                                                {{brand.title}}
                                            </a></li>
                                    </ul>
                                    <p *ngIf="selectBrand>0">{{selectBrand + ' Brand Selected'}}</p>
                                </div>
                                <span class="text-danger"
                                    *ngIf="brand_id && brand_id.invalid && brand_id.touched">Select Brand
                                </span>

                            </div>
                        </div> -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Sub Category Image*</label>
                                    <!-- <div class="image-upload">
                                    <input type="file" formControlName="image" (change)="selectImg($event)">
                                    <div class="image-uploads">
                                        <img src="assets/img/icons/upload.svg" alt="img">
                                        <h4>Drag and drop a file to upload</h4>
                                    </div>
                                    <span class="text-danger" *ngIf="image && image.invalid && image.touched">Select
                                        image
                                    </span>
                                </div> -->

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="image-upload">
                                                <input type="file" formControlName="image" (change)="selectImg($event)"
                                                    required>
                                                <div class="image-uploads">
                                                    <img src="assets/img/icons/upload.svg" alt="img">
                                                    <h4>Drag and drop a file to upload</h4>
                                                </div>
                                                <span class="text-danger"
                                                    *ngIf="image && image.invalid && image.touched">Select image</span>
                                                <span class="text-danger" *ngIf="imgError">Select image</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <svg *ngIf="!url" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                fill="currentColor" class="bi bi-image mx-5 svg" viewBox="0 0 16 16"
                                                style="height: 100px; width: 100px;">
                                                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                <path
                                                    d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
                                            </svg>
                                            <img [src]="url" *ngIf="url" alt="" class="p_img">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-lg-12">
                            <button class="btn btn-submit me-2">Submit </button>
                            <a routerLink="/product/subcategorylist" class="btn btn-cancel">Cancel</a>
                        </div> -->
                            <div class="col-lg-12">
                                <button class="btn btn-submit me-2" *ngIf="!loader">Submit</button>
                                <button class="btn btn-submit me-2" type="submit" *ngIf="loader" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    &nbsp; Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div *ngIf="isEdit">
                <div class="card-body" *ngIf="!addForm">
                    <form [formGroup]="subcategoryForm" (ngSubmit)="update()">
                        <div class="row">
                            <div class="col-lg-10 col-sm-10 col-12">
                                <div class="form-group">
                                    <label>Sub Category Name*</label>
                                    <input type="text" formControlName="title" placeholder="Sub Category Name"
                                        id="title" [ngClass]="{
                                    'is-invalid': f['title'].touched && f['title'].invalid}">
                                    <span class="text-danger" *ngIf="title && title.invalid && title.touched">Enter
                                        Sub Category Name
                                    </span>
                                </div>
                            </div>

                            <!-- <div class="col-lg-10 col-sm-10 col-12">
                                <div class="form-group">
                                    <label>Discount*</label>
                                    <input type="text" formControlName="discount" id="discount" [ngClass]="{
                                    'is-invalid': f['discount'].touched && f['discount'].invalid
                                  }">
                                    <span class="text-danger"
                                        *ngIf="discount && discount.invalid && discount.touched">Enter discount (ex:
                                        1-100)
                                    </span>

                                </div>
                            </div> -->
                            <div class="col-lg-10 col-sm-10 col-12">
                                <div class="form-group">
                                    <label>Category*</label>
                                    <select formControlName="category_id" required #category_idValue id="category_id"
                                        [ngClass]="{
                              'is-invalid': f['category_id'].touched && f['category_id'].invalid
                            }">
                                        <option value="" selected disabled>Select category</option>
                                        <option value="{{category.id}}" *ngFor="let category of categoryList">
                                            {{category.title}}
                                        </option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="category_id && category_id.invalid && category_id.touched">Select
                                        Category
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-10 col-sm-10 col-12">

                                <div class="form-group">
                                    <label>Select Feature Group*</label>
                                    <div class="dropdown">
                                        <button type="button" class="dropdown-toggle button" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">Select Feature
                                            Group</button>
                                        <ul class="dropdown-menu"
                                            style="width: 100%; max-height: 300px; overflow-y: auto;">

                                            <li><input type="text" placeholder="search feature group"
                                                    class="form-control" [(ngModel)]="searchFeatureGroup"
                                                    (ngModelChange)="filterFeatureGroupData()"
                                                    [ngModelOptions]="{standalone: true}"></li>

                                            <li><a class="dropdown-item"
                                                    *ngFor="let fGroup of filteredFeatureGroupData; let i=index">
                                                    <input type="checkbox" [value]="fGroup.id"
                                                        formArrayName="feature_group"
                                                        [checked]="selectedFeature.includes(fGroup.id)||selectedFeatureIds.includes(fGroup.id)"
                                                        (change)="onCheckFeature($event)" style="margin-right: 5px;"
                                                        [id]="'checkboxFeat-' + i">

                                                    <label [for]="'checkboxFeat-' + i" style="margin-bottom: 0;"
                                                        (click)="onLabelClick($event)">{{fGroup.title}}</label>

                                                </a></li>
                                        </ul>
                                        <p *ngIf="selectedFeatureGrp>0">{{selectedFeatureGrp + ' Feature group
                                            selected'}}</p>
                                    </div>
                                    <span class="text-danger"
                                        *ngIf="subcategories && subcategories.invalid && subcategories.touched">Select
                                        Feature Group </span>
                                    <span class="text-danger" *ngIf="errormessFFG">Select Feature Group </span>
                                </div>

                            </div>

                            <!-- <div class="col-lg-10 col-sm-10 col-12">
                            <div class="form-group">
                                <label>Brand</label>
                                <div class="dropdown">
                                    <button type="button" class="dropdown-toggle button" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">Select Brand</button>

                                    <ul class="dropdown-menu" style="width: 100%;">
                                        <li><a class="dropdown-item" *ngFor="let brand of brandList; let i=index">
                                                <input type="checkbox" [value]="brand.id"
                                                    [checked]="brands.includes(brand.id)"
                                                    (change)="onCheckChange($event)" formArrayName="brand_id"
                                                    style="margin-right: 5px;" [ngClass]="{
                                                        'is-invalid': f['brand_id'].touched && f['brand_id'].invalid
                                                      }">
                                                {{brand.title}}
                                            </a></li>
                                    </ul>
                                    <p *ngIf="selectBrand>0">{{selectBrand + ' Items Selected'}}</p>
                                </div>
                                <span class="text-danger"
                                    *ngIf="brand_id && brand_id.invalid && brand_id.touched">Select Brand
                                </span>

                            </div>
                        </div> -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label> Sub Category Image*</label>
                                    <!-- <div class="image-upload">
                                    <input type="file" formControlName="image" (change)="selectImg($event)">
                                    <div class="image-uploads">
                                        <img src="assets/img/icons/upload.svg" alt="img">
                                        <h4>Drag and drop a file to upload</h4>
                                    </div>
                                    <span class="text-danger" *ngIf="image && image.invalid && image.touched">Select
                                        image
                                    </span>
                                    <span class="text-danger" *ngIf="imgError">Select image
                                    </span>
                                </div> -->

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="image-upload">
                                                <input type="file" formControlName="image" (change)="selectImg($event)">
                                                <div class="image-uploads">
                                                    <img src="assets/img/icons/upload.svg" alt="img">
                                                    <h4>Drag and drop a file to upload</h4>
                                                </div>
                                                <span class="text-danger"
                                                    *ngIf="image && image.invalid && image.touched">Select image</span>
                                                <span class="text-danger" *ngIf="imgError">Select image</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <img [src]="url" *ngIf="url" alt="" class="p_img">
                                            <img [src]="imgUrl+updateData.image" *ngIf="!url" alt="" class="p_img">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <button class="btn btn-submit me-2" *ngIf="!loader">Submit</button>
                                <button class="btn btn-submit me-2" type="submit" *ngIf="loader" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>&nbsp; Submit</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>