<!-- <div class="card bg">
    <div class="card-body">
        <div class="page-header">
            <div class="page-title">
                <h4>Product Details</h4>
                <h6>Full details of a product</h6>
            </div>
            <div class="page-btn">
                <a routerLink="//product/editproduct/{{productDetail ?.id}}" class="btn btn-added">
                    <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Edit Product
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="company-details-card card" *ngIf="productDetail">
                    <table>
                        <tr class="ro-border">
                            <td colspan="2" class="f-500">Title</td>
                            <td colspan="6" class="f-400">
                                <h6>{{productDetail.title}}</h6>
                            </td>
                        </tr>
                        <tr class="ro-border">
                            <td colspan="2" class="f-500">Category</td>
                            <td colspan="6" class="f-400">
                                {{productDetail.category.title}}
                            </td>
                        </tr>
                        <tr class="ro-border">
                            <td colspan="2" class="f-500">Sub Category</td>
                            <td colspan="6" class="f-400">
                                <h6>{{productDetail.subcategory.title}}</h6>
                            </td>
                        </tr>
                        <tr class="ro-border">
                            <td colspan="2" class="f-500">Sub Category Group</td>
                            <td colspan="6" class="f-400">
                                <h6>{{productDetail.subcategory_group.title}}</h6>
                            </td>
                        </tr>

                        <tr class="ro-border">
                            <td colspan="2" class="f-500">Brand</td>
                            <td colspan="6" class="f-400">
                                <h6>{{productDetail.brand.title}}</h6>
                            </td>
                        </tr>

                        <tr class="ro-border">
                            <td colspan="2" class="f-500">Unit</td>
                            <td colspan="6" class="f-400">
                                <h6>{{productDetail.unit.title}}</h6>
                            </td>
                        </tr>
                        <tr class="ro-border">
                            <td colspan="2" class="f-500">Product Store</td>
                            <td colspan="6" class="f-400">
                                <h6>{{productDetail.product_store}}</h6>
                            </td>
                        </tr>
                        <tr class="ro-border">
                            <td colspan="2" class="f-500">Is Measurable</td>
                            <td colspan="6" class="f-400">
                                <h6>{{productDetail.is_measurable}}</h6>
                            </td>
                        </tr>
                        <tr class="ro-border">
                            <td colspan="2" class="f-500">Description</td>
                            <td colspan="6" class="f-400">
                                <ul *ngIf="sho ">
                                    <li [innerHTML]="productDetail.description | readMore"></li>
                                    <span *ngIf="sho && productDetail.description.length>100 " (click)="hide()" class="spandes ">Read more...</span>
                                </ul>
                                <ul *ngIf="sho1">
                                    <li [innerHTML]="productDetail.description | readLess"></li>
                                    <span *ngIf="sho1" (click)="hide1()" class="spandes ">Read less...</span>
                                </ul>
                            </td>
                        </tr>
                        <tr class="ro-border">
                            <td colspan="2" class="f-500">Color</td>
                            <td colspan="6" class="f-400 p-0">
                                <div class="row ro-6" *ngFor="let color of productDetail.color">
                                    <div class="col-sm-6">
                                        <h6 class="f-500">Title</h6>
                                        <h6 class="f-500">Color Code</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <h6>{{color.title}}</h6>
                                        <h6>{{color.color_code}}</h6>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr class="ro-border">
                            <td colspan="2" class="f-500">Size</td>
                            <td colspan="6" class="f-400 p-0">
                                <div class="row ro-6" *ngFor="let size of productDetail.size">
                                    <div class="col-sm-6">
                                        <h6 class="f-500">Title</h6>
                                        <h6 class="f-500">Code</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <h6>{{size.title}}</h6>
                                        <h6>{{size.code}}</h6>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="ro-border">
                            <td colspan="2" class="f-500">Product Feature</td>
                            <td colspan="6" class="f-400">
                                <div class="table-responsive">
                                    <table class="table datanew">
                                        <thead>
                                            <tr>
                                                <th>Feature Group</th>
                                                <th>Feature</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let feature of productDetail.product_feature_product let i = index">
                                                <td>{{feature.feature_group.title}}</td>
                                                <td>{{feature.feature.title}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="container my-2">
                        <h2 colspan="2" class="f-500">Variants</h2>
                        <div class="table-responsive">
                            <table class="table datanew">
                              <thead>
                                <tr>
                                  <th>Product</th>
                                  <th>Variant</th>
                                  <th>Color</th>
                                  <th>Size</th>
                                  <th>Sku</th>
                                  <th>Add Batch</th>
                                </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngFor="let variant of productDetail.variant_product; let i = index">
                                  <tr>
                                    <td>{{ variant?.product_title }}</td>
                                    <td>{{ variant?.variant_name }}</td>
                                    <td>{{ variant?.color?.title }}</td>
                                    <td>{{ variant?.size?.title }}</td>
                                    <td>{{ variant?.sku }}</td>
                                    <td>
                                        <a routerLink="//product/batch/{{ variant.id }}">add batch</a>
                                    </td>
                                  </tr>
                                  <button *ngIf="!addbatch[i]" (click)="openBatch(i)" class="btn btn-submit mx-3" style="padding: 1px 2px;">Batch</button>
                                  <tr *ngIf="addbatch[i]">
                                    <td colspan="6">
                                      <table class="table datanew">
                                        <thead>
                                          <tr>
                                            <th>MRP</th>
                                            <th>Cost Price</th>
                                            <th>Selling Price Online</th>
                                            <th>Selling Price Offline</th>
                                            <th>Selling Price Vendor</th>
                                            <th>Selling Price Employee</th>
                                            <th>Stock</th>
                                            <th>Minimum Stock Threshold</th>
                                            <th>Max Order Quantity</th>
                                            <th>Action</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let batch of batchList">
                                            <ng-container *ngIf="batch?.variant.id==variant?.id">                                          
                                            <td>{{ batch?.mrp }}</td>
                                            <td>{{ batch?.cost_price }}</td>
                                            <td>{{ batch?.selling_price_online }}</td>
                                            <td>{{ batch?.selling_price_offline }}</td>
                                            <td>{{ batch?.selling_price_vendor }}</td>
                                            <td>{{ batch?.selling_price_employee }}</td>
                                            <td>{{ batch?.stock }}</td>
                                            <td>{{ batch?.minimum_stock_threshold }}</td>
                                            <td>{{ batch?.max_order_quantity }}</td>
                                            <td>
                                                <a class="me-1" routerLink="//product/batchList/{{variant?.id}}">
                                                    <img src="assets/img/icons/eye.svg" alt="img">
                                                </a>
                                                <a class="me-1" routerLink="//product/batchUpdate/{{batch?.id}}">
                                                    <img src="assets/img/icons/edit.svg" alt="img">
                                                </a>
                                                <a (click)="confirmText(i,batch?.id)" class="me-1 confirm-text" href="javascript:void(0);">
                                                    <img src="assets/img/icons/delete.svg" alt="img">
                                                </a>
                                            </td>
                                            </ng-container>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </ng-container>
                              </tbody>
                            </table>
                          </div>
                          
                          
                    </div>
                    <div class="d-flex align-items-center mt-3">
                        <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                        <span [ngClass]="{'bg-lightgreen': productDetail.is_active === true, 'bg-lightred' : productDetail.is_active === false,'bg-lightyellow' : productDetail.is_active === 'Partial' }"
                            class="badges">{{productDetail.is_active}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card bg">
                    <div class="card-body">
                        <div class="company-details-card card">
                            <div class="slider-product-details">
                                <div class="owl-carousel owl-theme product-slide my-5">
                                    <div class="slider-product" *ngFor="let image of productDetail?.product_images">
                                        <img [src]="imgUrl+image.image" [alt]="image.product_colour">
                                        <h4>{{image?.product_colour}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> -->


<div class="row bg">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="page-title">
                    <h6 class="subhead-color" (click)="goBack()"><mat-icon
                            style="vertical-align: middle;">keyboard_backspace</mat-icon>
                        Back to products</h6>
                    <h4>{{productDetail?.title}}</h4>
                </div>
                <div class="page-btn">
                    <a routerLink="//product/editproduct/{{productDetail ?.id}}" class="btn btn-added">
                        <img src="assets/img/icons/edit.svg" class="me-1" alt="img">Edit Product
                    </a>
                </div>
            </div>
            <div class="company-details-card card" *ngIf="productDetail">
                <div class="sub-card row">
                    <mat-tab-group animationDuration="0ms" #tabGroup>
                        <mat-tab label="Product Details">
                            <!-- <div class="row">
                                <div class="col-lg-2 col-sm-12">
                                    <div class="card bg-color">
                                        <div class="card-body">
                                            <img [src]="imgUrl+productDetail?.product_images[0]?.image" [alt]="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-sm-12 ">
                                    <div class="card">
                                        <div class="card-body bg-color">
                                            <h4 class="head bg-color">{{productDetail?.title}}</h4>
                                            <hr class="hr">
                                            <h6 class="p-head bg" [innerHTML]="productDetail?.description | readMore"></h6>
                                            <br>
                                            <hr class="hr">
                                            <h6 class="p-head bg" [innerHTML]="productDetail?.description | readLess"></h6>
                                        </div>
                                    </div>
                                </div>
                          
                            </div> -->

                            <div class="row ro-1">
                                <div class="col-sm-2">
                                    <div class="img-div" *ngIf="productDetail?.product_images[0]?.image!==null">
                                        <!-- <img [src]="imgUrl+productDetail?.product_images[0]?.image" alt=""> -->
                                        <!-- <div class="owl-carousel owl-theme product-slide my-5">
                                            <div class="slider-product" *ngFor="let image of productDetail?.product_images">
                                                <img [src]="imgUrl+image.image" [alt]="">
                                                <h4>{{image?.product_colour}}</h4>
                                            </div>
                                        </div> -->

                                        <div id="carouselExampleControls" class="carousel slide"
                                            data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item {{i==0?'active':''}}"
                                                    *ngFor="let image of productDetail?.product_images; index as i ">
                                                    <img [src]="imgUrl+image.image" class="d-block w-100" alt="...">
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="img-div" *ngIf="productDetail?.product_images[0]?.image==null">
                                        <img src="assets/dummy/Wavy_Tech-31_Single-04.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="table-div">
                                        <div class="first-part">
                                            <h1>{{productDetail?.title}}</h1>
                                        </div>
                                        <!-- <div class="second-part" *ngIf="sho">
                                            <p [innerHTML]="productDetail?.description | readMore"></p>
                                            <span *ngIf="sho && productDetail?.description?.length>100 "
                                                (click)="hide()" class="spandes " style="color:red">Read more...</span>
                                        </div>
                                        <div class="second-part" *ngIf="sho1">
                                            <p [innerHTML]="productDetail?.description | readLess"></p>
                                            <span *ngIf="sho1" (click)="hide1()" class="spandes " style="color:red">Read less...</span>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 col-sm-12">
                                    <div class="table-responsive mb-5">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="th">Title</td>
                                                    <td class="td">{{productDetail?.title}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="th">Category</td>
                                                    <td class="td">{{productDetail?.category?.title}}</td>
                                                </tr>

                                                <tr>
                                                    <td class="th">Sub Category</td>
                                                    <td class="td">{{productDetail?.subcategory?.title}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="th">Subcategory Group</td>
                                                    <td class="td">{{productDetail?.subcategory_group?.title}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="th">Brand</td>
                                                    <td class="td">{{productDetail?.brand?.title}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="th">HSN Code</td>
                                                    <td class="td">{{productDetail?.hsncode?.hsn_code}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="th">Return Time</td>
                                                    <td class="td">{{productDetail?.return_time}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="th">Product or Service</td>
                                                    <td class="td">{{productDetail?.product_or_service}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="th">Purchase Tax</td>
                                                    <td class="td">{{productDetail?.purchase_tax?.slab_title}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="th">Product Label</td>
                                                    <td class="td">{{productDetail?.product_label?.title}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="th">Sale Tax</td>
                                                    <td class="td">{{productDetail?.sale_tax?.slab_title}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="th">Measurable</td>
                                                    <td class="td">
                                                        <span
                                                            [ngClass]="{'bg-lightgreen': productDetail?.is_measurable === true, 'bg-lightred' : productDetail?.is_measurable === false,'bg-lightyellow' : productDetail?.is_measurable === 'Partial' }"
                                                            class="badges">{{productDetail?.is_measurable}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="th">Sale Tax Including</td>
                                                    <td class="td">
                                                        <span
                                                            [ngClass]="{'bg-lightgreen': productDetail?.sale_tax_including === true, 'bg-lightred' : productDetail?.sale_tax_including === false,'bg-lightyellow' : productDetail?.sale_tax_including === 'Partial' }"
                                                            class="badges">{{productDetail?.sale_tax_including}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="th">Purchase Tax Including</td>
                                                    <td class="td">
                                                        <span
                                                            [ngClass]="{'bg-lightgreen': productDetail?.purchase_tax_including === true, 'bg-lightred' : productDetail?.purchase_tax_including === false,'bg-lightyellow' : productDetail?.purchase_tax_including === 'Partial' }"
                                                            class="badges">{{productDetail?.purchase_tax_including}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="th">COD Available</td>
                                                    <td class="td">
                                                        <span
                                                            [ngClass]="{'bg-lightgreen': productDetail?.cod_available === true, 'bg-lightred' : productDetail?.cod_available === false,'bg-lightyellow' : productDetail?.cod_available === 'Partial' }"
                                                            class="badges">{{productDetail?.cod_available}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="th">Product Store</td>
                                                    <td class="td">{{productDetail?.product_store}}</td>
                                                </tr>

                                                <tr>
                                                    <td class="th">Description</td>
                                                    <td class="td">
                                                        <ul *ngIf="sho ">
                                                            <li [innerHTML]="productDetail?.description | readMore">
                                                            </li>
                                                            <span *ngIf="sho && productDetail?.description?.length>100 "
                                                                (click)="hide()" class="spandes " style="color:red">Read
                                                                more...</span>
                                                        </ul>
                                                        <ul *ngIf="sho1">
                                                            <li [innerHTML]="productDetail?.description | readLess">
                                                            </li>
                                                            <span *ngIf="sho1" (click)="hide1()" class="spandes "
                                                                style="color:red">Read less...</span>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="table-responsive mb-5">
                                        <table class="table">
                                            <tbody>
                                                <tr class="my-2">
                                                    <td class="th">Sizes</td>
                                                    <td class="td">
                                                        <div class="table-responsive">
                                                            <table class="table datanew">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Name</th>
                                                                        <th>Code</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr
                                                                        *ngFor="let size of productDetail?.size; let i = index">
                                                                        <td>{{size?.title}}</td>
                                                                        <td>{{size?.code}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr class="my-2">
                                                    <td class="th">Colors</td>
                                                    <td class="td">
                                                        <div class="table-responsive">
                                                            <table class="table datanew">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Name</th>
                                                                        <th>Code</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr
                                                                        *ngFor="let color of productDetail?.color; let i = index">
                                                                        <td>{{color?.title}}</td>
                                                                        <td>{{color?.color_code}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="my-2">
                                                    <td class="th">Features</td>
                                                    <td class="td">
                                                        <div class="table-responsive">
                                                            <table class="table datanew">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Feature Group</th>
                                                                        <th>Feature</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr
                                                                        *ngFor="let feature of productDetail?.product_feature_product let i = index">
                                                                        <td>{{feature?.feature_group.title}}</td>
                                                                        <td>{{feature?.feature.title}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-3 col-sm-12">
                                    <div class="table-responsive mb-5">
                                        <table class="table"> 
                                            <tbody>
                                                <tr>
                                                    <td class="th">Features</td>
                                                    <td class="td">
                                                        <div class="table-responsive">
                                                            <table class="table datanew">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Feature Group</th>
                                                                        <th>Feature</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr
                                                                        *ngFor="let feature of productDetail?.product_feature_product let i = index">
                                                                        <td>{{feature?.feature_group.title}}</td>
                                                                        <td>{{feature?.feature.title}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                </div> -->
                            </div>
                            <div class="d-flex align-items-center my-3 mx-3">
                                <p class="mb-0 d-inline f-500 me-2">Is Active : </p>
                                <span
                                    [ngClass]="{'bg-lightgreen': productDetail?.is_active === true, 'bg-lightred' : productDetail?.is_active === false,'bg-lightyellow' : productDetail?.is_active === 'Partial' }"
                                    class="badges">{{productDetail?.is_active}}</span>
                            </div>
                        </mat-tab>
                        <mat-tab label="Pricing Details">
                            <div class="table-responsive ">
                                <div class="container">
                                    <table class="table datanew mb-5" >
                                        <thead>
                                            <tr class="bg">
                                                <th class="border">#</th>
                                                <th class="boder">Product</th>
                                                <th class="boder">Variant</th>
                                                <th class="boder">Color</th>
                                                <th class="boder">Size</th>
                                                <th class="boder">Sku</th>
                                                <th class="boder" *ngIf="isAdd">Add Batch</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container
                                                *ngFor="let variant of productDetail?.variant_product; let i = index">
                                                <tr class="bg-color">
                                                    <th class="boder" style="font-weight: bolder;">{{i+1+'.'}}</th>
                                                    <td class="boder">{{ variant?.product_title }}</td>
                                                    <td class="boder">{{ variant?.variant_name }}</td>
                                                    <td class="boder">{{ variant?.color?.title }}</td>
                                                    <td class="boder">{{ variant?.size?.title }}</td>
                                                    <td class="boder">{{ variant?.sku }}</td>
                                                    <td class="boder" *ngIf="isAdd">
                                                        <a routerLink="//product/batch/{{ variant?.id }}">add batch</a>
                                                    </td>
                                                </tr>
                                                <!-- <button *ngIf="!addbatch[i]" (click)="openBatch(i)" class="btn btn-submit mx-3 my-3" style="padding: 1px 2px;">Batch</button>                               -->
                                                <!-- <tr *ngIf="addbatch[i]"> -->
                                                <p style="color: #FF9F43; margin-bottom: 0;">Batch List</p>
                                                <tr *ngIf="variant?.batch.length>0">
                                                    <td colspan="7" style="border: 1px solid #FF9F43;">
                                                        <table>
                                                            <!-- <thead> -->
                                                            <tr class="bg">
                                                                <th class="boder space-text">#</th>
                                                                <th class="boder space-text">MRP</th>
                                                                <th class="boder space-text">Cost Price</th>
                                                                <th class="boder space-text">Selling Price Online</th>
                                                                <th class="boder space-text">Selling Price Offline</th>
                                                                <th class="boder space-text">Selling Price Dealer</th>
                                                                <th class="boder space-text">Selling Price Employee</th>
                                                                <th class="boder space-text">Stock</th>
                                                                <th class="boder space-text">Minimum Stock Threshold</th>
                                                                <th class="boder space-text">Max Order Quantity</th>
                                                                <!-- <th class="boder space-text">Purchase Tax</th>
                                                                  <th class="boder space-text">Sale Tax</th> -->
                                                                <th class="boder space-text">Discount %</th>
                                                                <th class="boder space-text">Additional Discount %</th>
                                                                <!-- <th class="boder space-text">Employee_Incentive</th> -->
                                                                <th class="boder space-text">Enable</th>
                                                                <th class="boder space-text">Action</th>
                                                            </tr>
                                                            <!-- </thead> -->
                                                            <tbody>
                                                                <tr *ngFor="let batch of variant?.batch;let j=index"
                                                                    class="bg-color">
                                                                    <!-- <ng-container *ngIf="variant?.batch && variant?.batch.includes(batch?.id)"> -->
                                                                    <th class="boder">{{ j+1+'.'}}</th>
                                                                    <td class="boder">{{ batch?.mrp }}</td>
                                                                    <td class="boder">{{ batch?.cost_price }}</td>
                                                                    <td class="boder">{{ batch?.selling_price_online }} </td>
                                                                    <td class="boder">{{ batch?.selling_price_offline }}</td>
                                                                    <td class="boder">{{ batch?.selling_price_dealer }}</td>
                                                                    <td class="boder">{{ batch?.selling_price_employee }}</td>
                                                                    <td class="boder">{{ batch?.stock }}</td>
                                                                    <td class="boder">{{ batch?.minimum_stock_threshold }}</td>
                                                                    <td class="boder">{{ batch?.max_order_quantity }} </td>
                                                                    <!-- <td class="boder">{{ batch?.purchase_tax + '%'}}</td>
                                                                        <td class="boder">{{ batch?.sale_tax + '%'}}</td> -->
                                                                    <td class="boder">{{ batch?.discount + '%'}}</td>
                                                                    <td class="boder">{{ batch?.additional_discount +'%'}}</td>
                                                                    <!-- <td class="boder">{{ batch?.employee_incentive_type +' '+ batch?.employee_incentive}}</td> -->
                                                                    <td class="boder"><mat-slide-toggle (click)="batch?.is_active ? isActive(i,batch.id):Active(i,batch?.id)" [(ngModel)]="batch.is_active"></mat-slide-toggle>
                                                                    </td>
                                                                    <td class="boder">
                                                                        <a routerLink="//product/batchUpdate/{{batch?.id}}/{{variant?.id}}" *ngIf="isEdit">
                                                                            <img src="assets/img/icons/edit.svg" alt="img" style="padding-left: 10px;">
                                                                        </a>
                                                                        <!-- <a (click)="confirmText(i,batch?.id)" class="me-1 confirm-text" *ngIf="isDelete">
                                                        <img src="assets/img/icons/delete.svg" alt="img">
                                                    </a> -->
                                                                    </td>
                                                                    <!-- </ng-container> -->
                                                                </tr>
                                                                <!-- <button *ngIf="addbatch[i]" (click)="closeBatch(i)" class="btn">Hide Batch</button>   -->
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <p></p>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Product Ledger">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table datanew">
                                            <thead>
                                                <tr class="bg">
                                                    <th (click)="sort('id')" class="thone border">#<i
                                                            class="fa fa-sort"></i></th>
                                                    <th (click)="sort('id')" class="thone border">Name<i
                                                            class="fa fa-sort"></i></th>
                                                    <th (click)="sort('id')" class="thone border">Date <i
                                                            class="fa fa-sort"></i></th>
                                                    <th (click)="sort('id')" class="thone border">Voucher Type <i
                                                            class="fa fa-sort"></i></th>
                                                    <th (click)="sort('id')" class="thone border">Voucher No. <i
                                                            class="fa fa-sort"></i></th>
                                                    <th (click)="sort('id')" class="thone border">Price<i
                                                            class="fa fa-sort"></i></th>
                                                    <th (click)="sort('id')" class="thone border">In QTY<i
                                                            class="fa fa-sort"></i></th>
                                                    <th (click)="sort('id')" class="thone border">Out QTY<i
                                                            class="fa fa-sort"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="productDetail?.product_ledger_product?.length>=0">
                                                <tr class="bg-color"
                                                    *ngFor="let products of productDetail?.product_ledger_product | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p} let i = index">
                                                    <th class="boder">{{i+1+'.'}}</th>
                                                    <td class="boder">{{products?.name}}</td>
                                                    <td class="boder">{{products?.date}}</td>
                                                    <td class="boder">{{products?.voucher_type}}</td>
                                                    <td class="boder">{{products?.voucher_no}}</td>
                                                    <td class="boder">{{products?.price==null?0:products?.price}}</td>
                                                    <td class="boder">{{products?.in_qty}}</td>
                                                    <td class="boder">{{products?.out_qty}}</td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="productDetail?.product_ledger_product?.length===0 && !loader">
                                                <tr>
                                                    <td colspan="10">
                                                        <p class="center-textt">Data not available</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="progressbar">
                                            <mat-progress-bar mode="indeterminate" class="progressbar"
                                                *ngIf="loader"></mat-progress-bar>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-4 col-12 mt-2">
                                                <div class="entries"> Show per page
                                                    <select [(ngModel)]="itemsPerPage" class="pagination">
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                        <option value="-1">All</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-sm-8 col-12 mt-2">
                                                <div class="f-right">
                                                    <pagination-controls
                                                        (pageChange)="p = $event"></pagination-controls>
                                                    <div class="entries f-right">Showing {{itemsPerPage}} to
                                                        {{itemsPerPage}} of {{itemsPerPage}} entries</div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Logs" *ngIf="productDetail?.logs?.length>0">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table datanew">
                                    <thead>
                                        <tr>
                                            <th class="th" (click)="sort('id')"># <i class="fa fa-sort"></i></th>
                                            <th class="th" (click)="sort('id')">User <i class="fa fa-sort"></i></th>
                                            <th class="th" (click)="sort('id')">Operation Type <i class="fa fa-sort"></i></th>
                                            <th class="th" (click)="sort('id')">Date Time <i class="fa fa-sort"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let log of filteredData | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p}; index as i">
                                        <tr>
                                            <td class="td" (click)="sort('id')">{{i+1}}</td>
                                            <td class="td" (click)="sort('id')">{{log?.userid}}</td>
                                            <td class="td" (click)="sort('id')">{{log?.operation_type}}</td>
                                            <td class="td" (click)="sort('id')">{{log?.date_time |  date:'dd-MM-yyyy hh:mm:ss a'}}</td>
                                        </tr> 
                                    </ng-container>
                                    </tbody>
                                    <tbody *ngIf="filteredData?.length==0">
                                        <tr>
                                            <td colspan="10">
                                                <p class="center-textt">Data not available</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="progressbar">
                                    <mat-progress-bar mode="indeterminate" class="progressbar"
                                        *ngIf="loader"></mat-progress-bar>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-sm-4 col-12 mt-2">
                                        <div class="entries"> Show per page
                                            <select [(ngModel)]="itemsPerPage" class="pagination">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="-1">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-8 col-12 mt-2">
                                        <div class="f-right">
                                            <pagination-controls
                                                (pageChange)="p = $event"></pagination-controls>
                                            <div class="entries f-right">Showing {{itemsPerPage}} to
                                                {{itemsPerPage}} of {{itemsPerPage}} entries</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>