<div class="main-wrapper" [ngClass]="{'blur-background-wrapper': isSyncLoading}">
    <div class="account-content">
        <div class="login-wrapper">
            <div class="login-content w-50">
                <div class="login-userset">
                    <div class="login-logo logo-normal">
                        <img *ngIf="logoData" [src]="liveUrl+logoData.data.logo" alt="img">
                    </div>
                    <a routerLink="//dashboard" class="login-logo logo-white">
                        <!-- <img src="assets/img/logo-white.png"  alt=""> -->
                    </a>
                    <div class="login-userheading">
                        <h3>Login </h3>
                        <h4 >Please login to your account</h4>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="submit()">
                   <div class="form-login">
                        <label>Username</label>
                        <div class="form-addons">
                            <input type="text" placeholder="Enter your username"   formControlName="username"
                            id="username"
                            [ngClass]="{
                              'is-invalid': f['username'].touched && f['username'].invalid
                            }">
                            <img src="assets/img/icons/mail.svg" alt="img">
                        </div>
                        <span class="text-danger"*ngIf="username && username.invalid && username.touched">Enter your username </span>
                  
                        <div
                        class="invalid-feedback"
                        *ngIf="CustomControler ?.status === 'username'"
                      >
                        {{ CustomControler.message }}
                      </div>
                      <div
                      *ngIf="f['username'].touched && f['username'].invalid"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="f['username'].errors && f['username'].errors['required']"
                      >
                      username is required.
                      </div>
                      <div *ngIf="f['username'].errors && f['username'].errors['username']">
                        Please, enter valid username address.
                      </div>
                    </div>
                    </div>
                    <div class="form-login">
                        <label >Password</label>
                        <div class="pass-group">
                            <input [type]="password" class="pass-input" placeholder="Enter your password" formControlName="password"
                            id="password"
                            [ngClass]="{
                              'is-invalid':
                                f['password'].touched && f['password'].invalid
                            }">
                            <span class="text-danger"*ngIf="passwords && passwords.invalid && passwords.touched">Enter your password </span>
                  
                            <span class="fas toggle-password fa-eye" (click)="onClick()" *ngIf="show"></span>
                            <span class="fas toggle-password fa-eye-slash" (click)="onClick()" *ngIf="!show"></span>
                        </div>
                    </div>
                    <div [ngClass]="{'hover-button': true}" class="form-login">
                        <button  [ngStyle]="{ 'background-color': buttonColor , 'border-color' :buttonColor }" class="btn btn-login me-2" type="submit" >Sign In</button>
                    </div>
                  </form>
                  <!-- <div class="form-login">
                        <div class="alreadyuser">
                            <h4><a routerLink="/auth/forgetpassword" class="hover-a">Forgot Password?</a></h4>
                        </div>
                    </div>
                    <div class="form-login">
                        <a class="btn btn-login" routerLink="//dashboard">Sign In</a>
                    </div>
                    <div class="signinform text-center">
                        <h4>Don’t have an account? <a routerLink="/auth/signup" class="hover-a">Sign Up</a></h4>
                    </div>
                  <div class="form-setlogin">
                        <h4>Or sign up with</h4>
                    </div>
                    <div class="form-sociallink">
                        <ul>
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="assets/img/icons/google.png" class="me-2" alt="google">
                                    Sign Up using Google
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="assets/img/icons/facebook.png" class="me-2" alt="google">
                                    Sign Up using Facebook
                                </a>
                            </li>
                        </ul>
                    </div>  -->
                 
                </div>
            </div>
            <div id="addimg"  class="login-img w-50">
               <img alt="bg-img" [src]="img_url" />
            </div>
        </div>  
    </div>
</div>

<div *ngIf="isSyncLoading" class="spinner-container">
    <div class="spinner-border" 
    [ngStyle]="{ 'color': buttonColor  }"
    role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>