
@import '../../../assets/scss/variables';
.ng-dirty.ng-invalid.is-invalid.ng-touched {
    border: 1px solid red;
    
}
.ng-pristine.ng-invalid.is-invalid.ng-touched{
    border: 1px solid red;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.spinner-border {
    width: 150px;
    height: 150px;
    color: $button-color;
}

.blur-background-wrapper{
    filter: blur(3px);
}


.hover-button:hover {
    color: $button-color !important; /* Fallback for browsers that don’t support custom properties */
  }