<div class="page-header">
    <div class="page-title">
        <h4 class="titl">Attendance list</h4>
        <h6>View/Search Attendance list</h6>
    </div>
    <div class="page-btn" *ngIf="isAdd">
        <a routerLink="//hrm/add-attendance" class="btn btn-added">
            <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Add Attendance
        </a>
    </div>
</div>

<!-- /product list -->
<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-path">
                    <a class="btn btn-filter" id="filter_search">
                        <img src="assets/img/icons/filter.svg" alt="img">
                        <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                    </a>
                </div>

                <div class="search-input">
                    <a class="btn btn-searchset">
                        <img src="assets/img/icons/search-white.svg" alt="img"></a>
                    <div class="dataTables_filter"><label>
                            <input type="search" class="form-control form-control-sm" placeholder="Search Employee"
                                [(ngModel)]="titlee" (ngModelChange)="search()">
                        </label>
                    </div>
                </div>
            </div>
            <div class="wordset">
                <ul>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"
                            (click)="generatePDFAgain()"><img src="assets/img/icons/pdf.svg" alt="img"></a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel" (click)="exportToExcel()"><img
                                src="assets/img/icons/excel.svg" alt="img"></a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="print" (click)="printTable()"><img
                                src="assets/img/icons/printer.svg" alt="img"></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- /Filter -->
        <div class="table-responsive">
            <table class="table datanew" id="mytable">
                <thead>
                    <tr>
                        <th (click)="sort('id')" class="thone">
                            <label class="checkboxs mb-0 d-inline" (click)="selectAll(initChecked)">
                                <input type="checkbox" [(ngModel)]="allSelected" (change)="selectAlll()">
                                <span class="checkmarks"></span>
                            </label>
                            <i class="fa fa-sort"></i>
                        </th>
                        <th (click)="sort('id')" class="thone">Sr.No.<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Employee<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Date<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Month<i class="fa fa-sort"></i></th>
                        <!-- <th (click)="sort('id')" class="thone">Department<i class="fa fa-sort"></i></th> -->
                        <th (click)="sort('id')" class="thone">Total Day of Month<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Total Present Day<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Wages<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Incentive<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Base Salary<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Total Salary<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone">Status<i class="fa fa-sort"></i></th>
                        <th (click)="sort('id')" class="thone" *ngIf="isEdit || isDelete">Action<i
                                class="fa fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody *ngIf="tableData?.length>=0 ">
                    <tr
                        *ngFor="let products of tableData | orderBy:key:reverse | paginate:{itemsPerPage:itemsPerPage,currentPage:p} let i = index">
                        <td>
                            <label class="checkboxs">
                                <input type="checkbox" [(ngModel)]="selectedRows[i]">
                                <span class="checkmarks"></span>
                            </label>
                        </td>
                        <td>{{i+1}}</td>
                        <td class="productimgname">
                            <a routerLink="//hrm/detail-attendance/{{products.id}}"
                                style="line-height: 3;">{{products?.employee?.name}}</a>
                        </td>
                        <td>{{products?.date}}</td>
                        <td>{{products?.month}}</td>
                        <!-- <td>{{products?.employee?.department?.title}}</td> -->
                        <td>{{products?.total_day_of_month}}</td>
                        <td>{{products?.total_persent_day}}</td>
                        <td>{{products?.wages}}</td>
                        <td>{{products?.incentive}}</td>
                        <td>{{products?.base_salary}}</td>
                        <td>{{products?.total_salary}}</td>
                        <td (click)="deActivate(i, products.id)">
                            <span
                                [ngClass]="{'bg-lightgreen': products?.status === 'Draft', 'bg-lightyellow' : products?.status === 'Reviewed' }"
                                class="badges">{{products?.status}}</span>
                            <!-- {{products?.status}} -->
                        <td>
                            <a class="me-2" routerLink="//hrm/detail-attendance/{{products.id}}">
                                <img src="assets/img/icons/eye.svg" alt="img">
                            </a>
                            <ng-container *ngIf="products?.status === 'Draft'">
                                <a class="me-1" routerLink="//hrm/update-attendance/{{products.id}}" *ngIf="isEdit">
                                    <img src="assets/img/icons/edit.svg" alt="img">
                                </a>
                            </ng-container>
                            <ng-container *ngIf="products?.status === 'Draft'">
                                <a (click)="confirmText(i,products.id)" class="me-2 confirm-text"
                                    href="javascript:void(0);" *ngIf="isDelete">
                                    <img src="assets/img/icons/delete.svg" alt="img">
                                </a>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="tableData?.length===0 && !loader">
                    <tr>
                        <td colspan="10">
                            <p class="center-textt">Data not available</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="progressbar">
                <mat-progress-bar mode="indeterminate" class="progressbar" *ngIf="loader"></mat-progress-bar>
            </div>
            <div class="row" *ngIf="!loader">
                <div class="col-lg-4 col-sm-4 col-12 mt-2">
                    <div class="entries"> Show per page
                        <select [(ngModel)]="itemsPerPage" class="pagination" #v (change)="changePg(v.value)">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="-1">All</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-8 col-12 mt-2">
                    <div class="f-right">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        <div class="entries f-right">Showing {{itemsPerPage}} to {{tableData?.length}} of {{p}} entries
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /product list -->