<section class="About_us">
    <div class="container-fluid ">
        <div class="row">
            <div class="d-flex align-items-center  justify-content-center ">
                <h1 class="mt-5" style="margin-top: 0;
        margin-bottom: .5rem; font-family:Roboto Condensed, sans-serif; font-weight: 700;
line-height: 1.2;
color: #1D2A4D;">About Us</h1>
            </div>

        </div>
    </div>
</section>

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded"
                        src="https://www.citizenshospitals.com/static/uploads/7ac3db15-545f-4504-9461-6cf6b875fa3f-1682585331812.jpg"
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                        style="color: #13C5DD !important;">About Us</h5>
                    <h2 class="" style="margin-top: 0;
                    margin-bottom: .5rem; font-family:Roboto Condensed, sans-serif; font-weight: 700;
            line-height: 1.2;
            color: #1D2A4D;">Best Medical Care For Yourself and Your Family</h2>
                </div>
                <p> <b>Welcome to PHYSIOWALA</b>
                    We are dedicated to providing exceptional physical therapy, Chiropractic, Osteopathy, Dietician,
                    Yoga/Gym/Fitness trainer and other alternative therapies services that prioritize your well-being
                    and empower you on your journey to recovery. With a team of experienced and compassionate physical
                    therapists, we are committed to delivering personalized care to address your unique needs. We also
                    believe in bringing healthcare to your doorstep. Our team of dedicated and experienced
                    physiotherapists is committed to providing personalized and professional care in the comfort of your
                    own home.
                </p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md text-info mb-3"></i>
                            <h6 class="mb-0 text-info">Qualified<small class="d-block text-info">Doctors</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures text-info mb-3"></i>
                            <h6 class="mb-0 text-info">Emergency<small class="d-block text-info">Services</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope text-info mb-3"></i>
                            <h6 class="mb-0 text-info">Accurate<small class="d-block text-info">Testing</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-ambulance text-info mb-3"></i>
                            <h6 class="mb-0 text-info">Free<small class="d-block text-info">Ambulance</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our Story start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                        style="color: #13C5DD !important;">Our Story
                    </h5>
                    <p>Established in 2019, PHYSIOWALA is owned and operated by Onyx wellness LLP.Company
                        has been a trusted partner in the community for 5 years, offering a comprehensive range
                        of physical therapy, Chiropractic and other alternative therapies services. Founded by
                        Dr.Vikas  Attri and Reeta  Attri. Physiowala was born out of a passion for helping
                        individuals regain mobility, reduce pain, and enhance their overall quality of life.
                        <br>
                        <span style="visibility: hidden;">sfdfjkdopfkghfghxdfhdfh <br>gfgdfg</span>
                    </p>

                </div>
            </div>
            <div class="col-md-5 col-5">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="../../../../assets/img/Aboutus1.jpg"
                        style="object-fit: cover;">
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Our Story End -->
<div class="container">
    <div class="row">
        <h3 style="color:  #13C5DD!important;" >Mission And Values</h3>
        <div class="row">
            <p class="mt-4">To provide exceptional, patient-centered physical therapy services that promote healing, restore function, and improve the overall well-being of our nation. We understand that life's challenges, whether it be a busy schedule, mobility issues, or the comfort of your home environment, can sometimes make seeking healthcare a challenge. That's why we bring our expertise directly to you.
            </p>
        </div>
            <div class="row">
                <div class="col-md-6">
                    <h5 style="color: #13C5DD !important;"class="d-inline-block text-primary text-uppercase border-bottom border-5">Core Values</h5>
                </div>
            <div class="row">
                <div class="col-md-4 mt-2">
                    <div class="card py-4 px-3 shadow border rounded-3 section" style="height: 15rem; background-color: #13C5DD; color:white">
                        <i class="fa-solid fa-hospital-user fs-3 text-center  mt-3"></i>
                    <div class="card-body text-center mt-2">
                        <h5 class="card-title"><b>Patient-Centered Care</b></h5>
                        <div class="card-text  mt-2">
                            <p style="font-size: 13px;">Your health and comfort are our top priorities.
                            </p>
                        </div>
                        
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-2">
                    <div class="card py-4 px-3 shadow border rounded-3 section" style="height: 15rem;background-color: #13C5DD; color:white">
                        <i class="fa-brands fa-buromobelexperte fs-3 text-center  mt-3"></i>
                    <div class="card-body text-center">
                        <h5 class="card-title "><b>Expertise</b></h5>
                        <div class="card-text mt-3">
                            <p style="font-size: 13px;">: Our team of skilled physical therapists is dedicated to staying at the forefront of evidence-based practices.

                            </p>
                        </div>
                        
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-2">
                    <div class="card py-4 px-3 shadow border rounded-3 section" style="height: 15rem;background-color: #13C5DD; color:white">
                        <i class="fa-solid fa-file-zipper fs-3 text-center  mt-3"></i>
                    <div class="card-body text-center">
                        <h5 class="card-title "><b>Compassion</b></h5>
                        <div class="card-text">
                            <p style="font-size: 13px;">We approach each patient with empathy and understanding, recognizing the unique challenges they face.

                            </p>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            </div>
        
    </div>

     <div class="row mt-5">
        <div class="col-md-6">
           <h5 style="color: #13C5DD !important;"class="d-inline-block text-primary text-uppercase border-bottom border-5">Our Mission</h5>
        </div>
        <div class="row mt-3">
           <h6 style="font-size: 18px;">Promoting Awareness and Education : </h6>
           <ul class="mx-5">
            <li>Increase awareness about the benefits of physical therapy in preventing and managing various health conditions.
            </li>
            <li>Promote education and training opportunities for physical therapists to enhance their skills and knowledge.
            </li>
           </ul>

           <h6 style="font-size: 18px;">Accessibility and Affordability :</h6>
           <ul class="">
            <li>Work towards making physical therapy services more accessible to people across all regions of India.</li>
            <li>Advocate for policies that promote affordability and inclusivity of physical therapy services.</li>
           </ul>

           <h6 style="font-size: 18px;">Research and Evidence-Based Practice :</h6>
           <ul class="">
            <li>Encourage and support research initiatives in the field of physical therapy to enhance evidence-based practice.</li>
            <li>Disseminate research findings to inform best practices and improve patient outcomes.</li>
           </ul>

           <h6 style="font-size: 18px;">Collaboration with Healthcare Professionals:</h6>
           <ul class="">
            <li>Foster collaboration with other healthcare professionals to integrate physical therapy into comprehensive healthcare plans.</li>
            <li>Engage in interdisciplinary initiatives to address holistic patient care.</li>
           </ul>

           <h6 style="font-size: 18px;">Advocacy for Professional Recognition:</h6>
           <ul class="">
            <li>Foster collaboration with other healthcare professionals to integrate physical therapy into comprehensive healthcare plans.</li>
            <li>Engage in interdisciplinary initiatives to address holistic patient care.</li>
           </ul>

           <h6 style="font-size: 18px;">Community Outreach:</h6>
           <ul class="">
            <li>Conduct community outreach programs to educate the public about the importance of physical activity and rehabilitation.</li>
            <li>Engage in initiatives that address the unique healthcare challenges of different communities.</li>
           </ul>
        </div>
        
        
    </div> 

    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-8 mt-4">
            <h5  style="color: #13C5DD !important;"class="d-inline-block text-primary text-uppercase border-bottom border-5 mt-4"
            >Our Approach</h5>
            <p class="mt-4">We believe in a comprehensive and individualized approach to physical therapy. Our team is experienced in treating a variety of conditions, from orthopedic and musculoskeletal issues to post-surgery rehabilitation and sports injuries. We leverage a combination of manual therapy, Chiropractic, therapeutic exercises, and cutting-edge techniques to achieve the best outcomes for our patients.
            </p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <img src="../../../../assets/img/approch2.png" class="img-fluid ">
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-lg-5 col-sm-5">
            <img src="../../../../assets/img/team.jpg" class="img-fluid ">
        </div>
        <div class="col-md-7 col-lg-7 col-sm-7 mt-4">
            <h5  style="color: #13C5DD !important;"class="d-inline-block text-primary text-uppercase border-bottom border-5">Our Team</h5>
            <p class="mt-4">Meet the skilled professionals who make up the Physiowala team. Our physical therapists bring a wealth of experience and expertise, united by a common goal: to guide you through a personalized rehabilitation journey and help you achieve your health and mobility goals.</p>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-md-8 col-lg-8 col-sm-8 mt-4">
            <h5  style="color: #13C5DD !important;"class="d-inline-block text-primary text-uppercase border-bottom border-5">Patient-Centric Focus
        </h5>
            <p class="mt-4">We understand that every patient is unique, and we tailor our treatments to address your specific needs and concerns. Your active involvement in your care is integral, and we work collaboratively with you to create a customized treatment plan that aligns with your goals and lifestyle.

        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
          
        </div>
    </div>

   
    <div class="row mt-5 mb-3">
        <div class="col-md-7">
          <h3 style="color:#067B90;"><b>Why Choose Us</b></h3>
          <ul class="mt-4">
            <li class="mt-2"><b>Experienced Team:</b> Our skilled and certified physical therapists bring years of experience to ensure effective and personalized care.
            </li>
            <li class="mt-2"><b>State-of-the-Art Facilities:</b> We invest in the latest technologies and equipment to support your rehabilitation journey.
            </li>
            <li class="mt-2"><b>Comprehensive Services:</b>From injury recovery to preventive care, we offer a wide range of physical therapy services to meet your needs.
            </li>
            <li class="mt-2"><b>Expert Care in Your Home:</b> Our team comprises licensed and skilled physiotherapists who are passionate about helping you achieve your health and wellness goals. We bring years of experience and expertise to every home visit, ensuring you receive the highest standard of care.
            </li>
        </ul>
        </div>
        <div class="col-md-5 mt-4">
          <img src="../../../../assets/img/doc7.jpg" class="img-fluid rounded-5">
        </div>
      </div>


</div>
<!-- About End -->

<!-- Footer Start -->

<div class="d-flex flex-column foot">


    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright © 2024, Physiowala. All rights reserved.</small>
        </div>
    </footer>
</div>


<!-- Footer End -->