<div class="page-header">
    <div class="page-title">
        <h4>Update Branch</h4>
        <h6>Edit Branch </h6>
    </div>
</div>
<!-- /add -->
<div class="card">
    <div class="card-body">
        <form [formGroup]="branchForm" (ngSubmit)="update()">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Title*</label>
                        <input type="text" formControlName="title" id="title"
                            [ngClass]="{'is-invalid': f['title'].touched && f['title'].invalid}">
                        <span class="text-danger" *ngIf="title && title.invalid && title.touched">Enter
                            Title
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>GSTIN*</label>
                        <input type="text" formControlName="gstin" id="gstin"
                            [ngClass]="{'is-invalid': f['gstin'].touched && f['gstin'].invalid}">
                        <span class="text-danger" *ngIf="gstin && gstin.invalid && gstin.touched">Enter
                            Valid GSTIN
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Country</label>
                        <select formControlName="country" class="w-100 h-100 border" #countryValue
                            (change)="selectState(countryValue.value)" id="country" [ngClass]="{'is-invalid': f['country'].touched && f['country'].invalid}">
                            <option value="" selected disabled>Country</option>
                            <option value="{{country.id}}" *ngFor="let country of country">
                                {{country.country_name}}
                            </option>
                        </select>
                        <span class="text-danger"
                            *ngIf="countryy && countryy.invalid && countryy.touched">Select country</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label> State</label>
                        <select formControlName="state" class="w-100 h-100 border" id="state"
                            [ngClass]="{'is-invalid': f['state'].touched && f['state'].invalid}" #stateValue
                            (change)="selectCity(stateValue.value)">
                            <option value="" selected disabled>State</option>
                            <option value="{{state.id}}" *ngFor="let state of state">{{state.state}}
                            </option>
                        </select>
                        <span class="text-danger"
                            *ngIf="statee && statee.invalid && statee.touched && state?.length>0">Select
                            state</span>
                        <span class="text-danger"
                            *ngIf="statee && statee.invalid && statee.touched && state?.length<=0">Data not
                            available</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label> City</label>
                        <select formControlName="city" class="w-100 h-100 border" id="city" [ngClass]="{
                            'is-invalid': f['city'].touched && f['city'].invalid}">
                            <option value="" selected disabled>City</option>
                            <option value="{{city.id}}" *ngFor="let city of city">{{city.city}}</option>
                        </select>
                        <span class="text-danger" *ngIf="cityy && cityy.invalid && cityy.touched && city?.length>0">Select city</span>
                        <span class="text-danger" *ngIf="cityy && cityy.invalid && cityy.touched && city?.length<=0">data not available</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Pincode</label>
                        <input type="text" formControlName="pincode" maxlength="6" minlength="6"
                            id="pincode"
                            [ngClass]="{'is-invalid': f['pincode'].touched && f['pincode'].invalid}">
                        <span class="text-danger"
                            *ngIf="pincode && pincode.invalid && pincode.touched">Enter your 6 digits
                            pincode number</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" formControlName="address" id="address" [ngClass]="{
                          'is-invalid': f['address'].touched && f['address'].invalid
                        }" class="textarea"></textarea>
                        <span class="text-danger"
                            *ngIf="address && address.invalid && address.touched">Enter your address</span>
                    </div>
                </div>

                <div class="col-lg-12">
                    <button class="btn btn-submit me-2" *ngIf="!loaders">Submit</button>
                    <button class="btn btn-submit me-2" type="submit" *ngIf="loaders" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">&nbsp;</span>Submit &nbsp;</button>
                 <a routerLink="///masters/branch" class="btn btn-cancel">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /add -->