
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" style="color: #13C5DD !important;">
            ANKLE PAIN
          </h5>
          <ul>
            <li><b></b> Ankle injuries can vary in type and severity, ranging from mild sprains to more complex fractures. Here are some common types of ankle injuries:</li>
          </ul>
         
        </div>
        <div class="row">
         <div class="col-md-7 col-sm-6">
       <h6>1.Ankle Sprains:</h6>
       <ul>
        <li> <b>Description:</b> Ligament injuries resulting from the stretching or tearing of ligaments. Commonly occurs when the ankle is twisted or rolled..</li>
        <li><b>Severity:</b> : Classified into three grades - mild (stretching of ligaments), moderate (partial tear), and severe (complete tear).</li>
       <li><b>•	Symptoms:</b> Pain, swelling, bruising, and difficulty moving the ankle.</li>
       </ul>
       <h6>2.Ankle Fractures:</h6>
       <ul>
        <li> <b>Description:</b>Breaks or cracks in the bones of the ankle, which can involve the tibia, fibula, or talus.</li>
        <li> <b>Severity:</b> Fractures can range from stable (bones remain in alignment) to displaced (bones shift out of place).</li>
        <li> <b>Symptoms:</b>Pain, swelling, deformity, and difficulty bearing weight.</li>
       </ul>
       <h6>3.Achilles Tendon Injuries::</h6>
       <ul>
        <li> <b>Description:</b> : Injuries to the Achilles tendon, which connects the calf muscles to the heel bone.</li>
        <li> <b>Types:</b>Tendonitis (inflammation), tendinosis (degeneration), or a partial or complete tear (rupture).</li>
      <li><b>•	Symptoms: </b> Pain, swelling, and difficulty with push-off movements.</li>
    </ul>
       <h6>4.Peroneal Tendon Injuries:</h6>
       <ul>
        <li> <b>Description:</b> : : Injuries to the peroneal tendons, which run behind the lateral malleolus (outer ankle bone).</li>
        <li> <b>Types:</b>Tendonitis, tears, or subluxation (tendons moving out of place).</li>
       <li><b>Symptoms</b>Pain, swelling, and instability on the outer side of the ankle.</li>
    </ul>
       <h6>5.High Ankle Sprain (Syndesmotic Injury):</h6>
       <ul>
        <li> <b>Description:</b> : Involves the ligaments that connect the tibia and fibula (syndesmosis). Often seen in sports-related injuries.</li>
        <li> <b>Symptoms:</b>: Pain above the ankle, swelling, and difficulty bearing weight.</li>
       </ul>
       <h6>6. Osteochondral Lesions:</h6>
       <ul>
        <li> <b>Description:</b> : Injuries involving the cartilage and underlying bone in the ankle joint.</li>
        <li> <b>Symptoms:</b>:Pain, swelling, and possible locking or catching sensations.</li>
      <li><b>Severity.</b> Ranges from small lesions to more extensive damage</li>
    </ul>
         </div>
         <div class="col-md-5 col-sm-6">
            <div class="py-2">
                <img src="../../../../assets/img/ankle.jpg" class="img-fluid shadow my-2"style="border-radius: 20px;  " alt="">
                <img src="../../../../assets/img/ank.jpg" class="img-fluid shadow my-2"style="border-radius: 20px;  " alt="">
                <img src="../../../../assets/img/ank6.jpg" class="img-fluid shadow my-2"style="border-radius: 20px;  " alt="">
                </div>
         </div>
         <div class="col-md-5">
            <div class="img mt-5 mb-2">
                <img src="../../../../assets/img/ankle2.jpg" class="img-fluid shadow 1px solid black  mb-4" style="border-radius: 20px;" alt="">
            </div>
         </div>
         <div class="col-md-7">
            <h6 class=" mt-5">1.Rest:</h6>
            <ul>
             <li>Avoid activities that worsen the pain and allow the wrist to rest.</li>
            </ul>
            <h6>2.Ice and Heat Therapy:</h6>
            <ul>
             <li>Apply ice packs to reduce inflammation in the acute phase.</li>
             <li>Use heat therapy for chronic pain to promote blood flow and relaxation..</li>
             <h6>Carpal Tunnel Syndrome:</h6>
            </ul>
            <h6>3.Compression and Elevation:</h6>
            <ul>
             <li> Use compression to control swelling</li>
             <li>Elevate the wrist to minimize swelling..</li>
            </ul>
              </div>
        </div>
        <p class="p-2">It's crucial for individuals with frozen shoulder or shoulder capsulitis to consult with a healthcare professional, including a physiotherapist, for a comprehensive assessment and personalized treatment plan. Physiotherapy is a key component in managing these conditions, aiming to reduce pain, improve range of motion, and enhance overall shoulder function.</p>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>