<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" style="color: #13C5DD !important;">
            Wrist Pain
          </h5>
          <ul>
            <li><b>Wrist</b> pain can result from various causes, including injuries, overuse, or medical conditions. Here are some common types and causes of wrist pain and general suggestions for managing it:</li>
          </ul>
         
        </div>
        <div class="row">
         <div class="col-md-7 col-sm-6">
       <h6>1. De Quervain's Tenosynovitis:</h6>
       <ul>
        <li> <b>Description:</b> Inflammation of the tendons on the thumb side of the wrist.</li>
        <li><b>Symptoms:</b> Pain and swelling at the base of the thumb, difficulty gripping or forming a fist.</li>
        <h6>Carpal Tunnel Syndrome:</h6>
       </ul>
       <h6>2.Carpal Tunnel Syndrome:</h6>
       <ul>
        <li> <b>Description:</b> Inflammation of the tendons on the thumb side of the wrist.</li>
        <li> <b>Symptoms:</b> Pain and swelling at the base of the thumb, difficulty gripping or forming a fist.</li>
        <h6>Carpal Tunnel Syndrome:</h6>
       </ul>
       <h6>3.Wrist Sprain:</h6>
       <ul>
        <li> <b>Description:</b> Stretching or tearing of ligaments in the wrist.</li>
        <li> <b>Symptoms:</b>Pain, swelling, and difficulty moving the wrist</li>
       </ul>
       <h6>4.TFCC (Triangular Fibrocartilage Complex) Injury:</h6>
       <ul>
        <li> <b>Description:</b> Injury to the cartilage and ligaments in the wrist.</li>
        <li> <b>Symptoms:</b>Pain on the pinky side of the wrist, clicking or popping sensations</li>
       </ul>
         </div>
         <div class="col-md-5 col-sm-6">
            <div class="py-5">
                <img src="../../../../assets/img/wrist.jpeg" class="img-fluid shadow "style="border-radius: 20px; " alt="">
                </div>
         </div>
         <div class="col-md-5 col-sm-6">
            <div class="img pt-5">
                <img src="../../../../assets/img/wrist-pain.png" class="img-fluid shadow 1px solid black  mb-4" style="border-radius: 20px;" alt="">
            </div>
         </div>
         <div class="col-md-7">
            <h6 class=" mt-2">1.	Pain Management:</h6>
            <ul>
             <li><b>Modalities:</b> Use of heat or cold therapy to manage pain and inflammation.</li>
             <li><b>Symptoms:</b> Pain and swelling at the base of the thumb, difficulty gripping or forming a fist.</li>
             <h6>Carpal Tunnel Syndrome:</h6>
            </ul>
            <h6>2. Range of Motion (ROM) Exercises:</h6>
            <ul>
             <li> <b>Gentle Stretching: </b>Controlled stretching exercises to improve flexibility.</li>
             <li> <b>Active and Passive ROM Exercises: Movements </b> Movements to maintain or restore normal joint function.</li>
             <h6>Carpal Tunnel Syndrome:</h6>
            </ul>
            <h6>3. Strengthening Exercises</h6>
            <ul>
             <li> <b>Isometric Exercises: </b> Exercises without joint movement to strengthen wrist muscles.</li>
             <li> <b>Isometric Exercises: </b> Exercises without joint movement to strengthen wrist muscles.</li>
            </ul>
            <h6>4. Splinting and Bracing:</h6>
            <ul>
             <li> <b>Orthotic Devices:</b> Custom or prefabricated splints to support and immobilize the wrist during healing.</li>
             <li> <b>Wrist Braces:</b>For conditions like De Quervain's tenosynovitis, providing support to the thumb and wrist.</li>
            </ul>
              </div>
        </div>
        <p class="p-2">It's crucial for individuals with frozen shoulder or shoulder capsulitis to consult with a healthcare professional, including a physiotherapist, for a comprehensive assessment and personalized treatment plan. Physiotherapy is a key component in managing these conditions, aiming to reduce pain, improve range of motion, and enhance overall shoulder function.</p>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
