<div class="page-header">
    <div class="page-title">
        <h4>Reciept Voucher Add</h4>
        <h6>New Reciept Voucher</h6>
    </div>
</div>

<!-- <mat-tab-group>
    <mat-tab label="Cash"> -->

<div class="card" *ngIf="isCash">
    <div class="card-body">
        <form [formGroup]="recieptVoucherForm" (ngSubmit)="onSubmit()">
            <div class="d-flex mb-5">
                <div class="d-flex mx-3">
                    <input type="radio" formControlName="receipt_type" [id]="'checkboxCash'" (click)="toggleCash()" [value]="'Cash'">
                    <label [for]="'checkboxCash'" class="d_flex" style="margin-bottom: 0; margin-left: 5px;">Cash</label>
                </div>
                <div class="d-flex mx-3">
                    <input type="radio" [id]="'checkbox-Bnak'" (click)="toggleBank()" [value]="'Bank'">
                    <label [for]="'checkbox-Bnak'" class="d_flex" style="margin-bottom: 0; margin-left: 5px;">Bank</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="form-group">
                        <label>Payment Account*</label>
                        <mat-form-field class="w-100" style="padding: 0;
                                    width: 100%;
                                    min-width: 100%;border-top: none;">
                            <input type="text" placeholder="Search Payment Account" aria-label="Payment Account" matInput
                                [formControl]="customerControl" [matAutocomplete]="auto" style="box-sizing: border-box;"
                                [ngClass]="{'is-invalid': h['payment_account'].touched && h['payment_account'].invalid}">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let customer of filteredCustomer | async"
                                    [value]="customer.account_id" (onSelectionChange)="oncheck(customer)"
                                    style="color:#FF9F43">{{ customer.account_id }}</mat-option>

                                <ng-container *ngIf="(filteredCustomer | async) as customers">
                                    <mat-option *ngIf="customers.length === 0" [value]="'No data found'">
                                        <a routerLink="//account/accountlist" style="color:#FF9F43">+ Add
                                            Account</a>
                                    </mat-option>
                                    <mat-option *ngIf="customerControl.value?.length < 3" class="is-loading">Please
                                        Enter 3 or more characters</mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                        <span class="text-danger" *ngIf="payment_account && payment_account.invalid && payment_account.touched">Select
                            Payment Account
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" formControlName="date" id="date"
                            [ngClass]="{'is-invalid': h['date'].touched && h['date'].invalid}">
                        <span class="text-danger" *ngIf="date && date.invalid && date.touched">Enter Date</span>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="card" (click)="setRadioValue('On Account')">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <input type="radio" formControlName="mode_type" [value]="'On Account'"id="on-account-radio" [ngStyle]="{'border': modeError ? '1px solid red' : ''}">
                                            <label for="on-account-radio" class="d_flex" style="margin-bottom: 0; margin-left: 15px;">On Account</label>
                                        </div>
                                        <span style="margin-left:33px;font-size: 12px;">Upfront Payment</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="card" (click)="setRadioValue('Advance Payment')">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <input type="radio" formControlName="mode_type" [value]="'Advance Payment'" id="advance-payment-radio" [ngStyle]="{'border': modeError ? '1px solid red' : ''}">
                                            <label for="advance-payment-radio" class="d_flex" style="margin-bottom: 0; margin-left: 15px;">Advance Payment</label>
                                        </div>
                                        <span style="margin-left:33px;font-size: 12px;">Will be offset by upcoming bills</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="card" (click)="setRadioValue('Against Bill')">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <input type="radio" formControlName="mode_type" [value]="'Against Bill'" id="against-bill-radio" [ngStyle]="{'border': modeError ? '1px solid red' : ''}">
                                            <label for="against-bill-radio" class="d_flex" style="margin-bottom: 0; margin-left: 15px;">Against Bill</label>
                                        </div>
                                        <span style="margin-left:33px;font-size: 12px;">Offset against Current Bills</span>
                                    </div>
                                </div>
                            </div>
                            <span class="text-danger" *ngIf="modeError">Select Mode Type</span>
                            <span class="text-danger" *ngIf="mode_type && mode_type.invalid && mode_type.touched">Enter Mode Type</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Receipt Voucher Series</label>
                        <!-- <input type="text" formControlName="receipt_voucher_no" id="receipt_voucher_no"
                            [ngModel]="prefixNo" readonly
                            [ngClass]="{'is-invalid': h['receipt_voucher_no'].touched && h['receipt_voucher_no'].invalid}"> -->
                            <select formControlName="receipt_voucher_no">
                                <option value="" selected disabled>Select Receipt Voucher Series
                                </option>
                                <option value="{{prefix.id}}" *ngFor="let prefix of prefixNo">{{prefix.prefix}}</option>
                            </select>
                        <span class="text-danger"
                            *ngIf="receipt_voucher_no && receipt_voucher_no.invalid && receipt_voucher_no.touched">Enter
                            Receipt Voucher Series</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="number" formControlName="amount" id="amount"
                            [ngClass]="{'is-invalid': h['amount'].touched && h['amount'].invalid}">
                        <span class="text-danger" *ngIf="amount && amount.invalid && amount.touched">Enter
                            Amount</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Payer*</label>
                        <mat-form-field class="w-100"
                            style="padding: 0; width: 100%; min-width: 100%;border-top: none;">
                            <input type="text" placeholder="Search Payer" aria-label="Payer" matInput
                                [formControl]="payerControl" [matAutocomplete]="Payerauto"
                                style="box-sizing: border-box;"
                                [ngClass]="{'is-invalid': h['payer'].touched && h['payer'].invalid}">
                            <mat-autocomplete #Payerauto="matAutocomplete">
                                <mat-option *ngFor="let customer of filteredPayer | async" [value]="customer.account_id"
                                    (onSelectionChange)="oncheck1(customer)" style="color:#FF9F43">{{
                                    customer.account_id }}</mat-option>
                                <ng-container *ngIf="(filteredPayer | async) as accounts">
                                    <mat-option *ngIf="accounts.length === 0" [value]="'No data found'">
                                        <a routerLink="//account/accountlist" style="color:#FF9F43">+ Add
                                            Account</a>
                                    </mat-option>
                                    <mat-option *ngIf="payerControl.value?.length < 3" class="is-loading">Please
                                        Enter 1 or more characters</mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                        <span class="text-danger" *ngIf="payer && payer.invalid && payer.touched">Select
                            Payer</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea formControlName="note" placeholder="Enter Description"
                            [ngClass]="{'is-invalid': h['note'].touched && h['note'].invalid}"></textarea>
                        <span class="text-danger" *ngIf="description && description.invalid && description.touched">Enter Description</span>
                    </div>
                </div>

                <div class="card" *ngIf="isAgainstBill">
                    <div class="card-body">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table datanew">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th></th>
                                            <th>Sale Bill</th>
                                            <th>Original Amount</th>
                                            <th>Paid Amount</th>
                                            <th>Pending Amount</th>
                                            <th>Payment</th>
                                            <!-- <th></th> -->
                                        </tr>
                                        <tr>
                                            <th colspan="3"> <span (click)="addCart()" class="debitIntoCart" *ngIf="isCart">Add Cart+</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container formArrayName="receipt_voucher_cart">
                                            <ng-container *ngFor="let d of getCart().controls; let i=index">
                                                <tr [formGroupName]="i">
                                                    <td>{{i+1+'.'}}</td>
                                                    <td>
                                                        <div>
                                                            <div class="me-2">
                                                                <svg (click)="removeCart(i)" style="color:red"
                                                                    xmlns="http://www.w3.org/2000/svg" width="16"
                                                                    height="16" fill="currentColor"
                                                                    class="bi bi-x-circle" viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                    <path
                                                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                                </svg>
                                                            </div>
                                                            <svg *ngIf="isLastCart(i)" (click)="addCart()"
                                                                style="color:green" xmlns="http://www.w3.org/2000/svg"
                                                                width="16" height="16" fill="currentColor"
                                                                class="bi bi-plus-circle" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                <path
                                                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                                            </svg>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom:-1%">
                                                            <mat-form-field class="w-100"
                                                                style="padding: 0; width: 100%; min-width: 100%; border-top: none;">
                                                                <input type="text" placeholder="Search saleBill"
                                                                    aria-label="Search saleBills" matInput
                                                                    [formControl]="myControls.at(i)"
                                                                    (input)="getFilter($event.target.value)"
                                                                    [matAutocomplete]="autos"
                                                                    style="box-sizing: border-box;" />
                                                                <mat-autocomplete #autos="matAutocomplete">
                                                                    <ng-container *ngFor="let option of filterSaleBill">
                                                                        <mat-option *ngIf="option?.is_active==true"
                                                                            [value]="option?.customer_bill_no"
                                                                            (onSelectionChange)="oncheck3(option,i)"
                                                                            style="color:#FF9F43">
                                                                            {{ option?.customer_bill_no}}
                                                                        </mat-option>
                                                                    </ng-container>
                                                                    <mat-option *ngIf="filterSaleBill?.length === 0"
                                                                        [value]="'No data found'">
                                                                        <a routerLink="//sales/addsalesbill"
                                                                            style="color:#FF9F43">+ Add Sale
                                                                            Bill</a>
                                                                    </mat-option>
                                                                    <mat-option
                                                                        *ngIf="myControls.at(i)?.value?.length < 1"
                                                                        class="is-loading">
                                                                        Please Enter 1 or more characters
                                                                    </mat-option>
                                                                </mat-autocomplete>
                                                            </mat-form-field>
                                                        </div>
                                                        <span class="text-danger" style="display: block;"
                                                            *ngIf="sale_bill(i) && sale_bill(i).invalid && sale_bill(i).touched">Select
                                                            Sale Bill</span>
                                                    </td>
                                                    <td>
                                                        <input type="number" formControlName="original_amount"
                                                            class="input">
                                                        <span class="text-danger" style="display: block;"
                                                            *ngIf="original_amount(i) && original_amount(i).invalid && original_amount(i).touched">Enter
                                                            Original
                                                            Amount </span>
                                                    </td>
                                                    <td><input type="number" formControlName="paid_amount"
                                                            class="input">
                                                        <span class="text-danger" style="display: block;"
                                                            *ngIf="paid_amount(i) && paid_amount(i).invalid && paid_amount(i).touched">Enter
                                                            debit Paid Amount</span>
                                                    </td>
                                                    <td><input type="number" formControlName="pending_amount"
                                                            class="input">
                                                        <span class="text-danger" style="display: block;"
                                                            *ngIf="pending_amount(i) && pending_amount(i).invalid && pending_amount(i).touched">Enter
                                                            Pending Amount</span>
                                                    </td>
                                                    <td><input type="number" formControlName="payment" class="input">
                                                        <span class="text-danger" style="display: block;"
                                                            *ngIf="payment(i) && payment(i).invalid && payment(i).touched">Enter
                                                            Payment</span>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button class="btn btn-submit me-2" *ngIf="!loaders">Submit</button>
                    <button class="btn btn-submit me-2" type="submit" *ngIf="loaders" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> &nbsp; Submit</button>
                    <button routerLink="//transaction/recieptVoucherList" type="button" class="btn btn-cancel">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- </mat-tab>
    <mat-tab label="Bank"> -->
<div class="card" *ngIf="isBank">
    <div class="card-body">
        <form [formGroup]="recieptVoucherBankForm" (ngSubmit)="onBankSubmit()">
            <div class="d-flex mb-5">
                <div class="d-flex mx-3">
                    <input type="radio" [id]="'checkboxCash'" (click)="toggleCash()">
                    <label [for]="'checkboxCash'" class="d_flex" style="margin-bottom: 0; margin-left: 5px;">Cash</label>
                </div>
                <div class="d-flex mx-3">
                    <input type="radio" formControlName="receipt_type" [id]="'checkbox-Bnak'" (click)="toggleBank()" [value]="'Bank'">
                    <label [for]="'checkbox-Bnak'" class="d_flex" style="margin-bottom: 0; margin-left: 5px;">Bank</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="form-group">
                        <label>Payment Account*</label>
                        <mat-form-field class="w-100" style="padding: 0; width: 100%; min-width: 100%;border-top: none;">
                            <input type="text" placeholder="Search Customer" aria-label="Customer" matInput
                                [formControl]="customerControl" [matAutocomplete]="autobank"
                                style="box-sizing: border-box;"
                                [ngClass]="{'is-invalid': g['payment_account'].touched && g['payment_account'].invalid}">
                            <mat-autocomplete #autobank="matAutocomplete">
                                <mat-option *ngFor="let customer of filteredCustomer | async"
                                    [value]="customer.account_id" (onSelectionChange)="oncheckBank(customer)"
                                    style="color:#FF9F43">{{ customer.account_id }}</mat-option>
                                <ng-container *ngIf="(filteredCustomer | async) as customers">
                                    <mat-option *ngIf="customers.length === 0" [value]="'No data found'">
                                        <a routerLink="//account/accountlist" style="color:#FF9F43">+ Add Account</a>
                                    </mat-option>
                                    <mat-option *ngIf="customerControl.value?.length < 3" class="is-loading">Please
                                        Enter 3 or more characters</mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                        <span class="text-danger" *ngIf="payment_account && payment_account.invalid && payment_account.touched">Select payment_account </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" formControlName="date" id="date" [ngClass]="{'is-invalid': g['date'].touched && g['date'].invalid}">
                        <span class="text-danger" *ngIf="date1 && date1.invalid && date1.touched">Select Date</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Transaction Date</label>
                        <input type="date" formControlName="transaction_date" id="transaction_date"[ngClass]="{'is-invalid': g['transaction_date'].touched && g['transaction_date'].invalid}">
                        <span class="text-danger" *ngIf="transaction_date && transaction_date.invalid && transaction_date.touched">Select Transaction Date</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Transaction Id</label>
                        <input type="text" formControlName="transaction_id" placeholder="Enter Transaction Id" id="transaction_id" [ngClass]="{'is-invalid': g['transaction_id'].touched && g['transaction_id'].invalid}">
                        <span class="text-danger" *ngIf="transaction_id && transaction_id.invalid && transaction_id.touched">Enter Receipt Voucher no.</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <div class="d-flex mt-4">
                            <input type="radio" formControlName="bank_payment" [id]="'checkboxMeasure-'" [value]="'Online'">
                            <label [for]="'checkboxMeasure-'" class="d_flex" style="margin-bottom: 0; margin-left: 5px;">Online</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="card" (click)="setRadioValue1('On Account')">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <input type="radio" formControlName="mode_type" [value]="'On Account'"id="on-account-radio">
                                            <label for="on-account-radio" class="d_flex"style="margin-bottom: 0; margin-left: 15px;">On Account</label>
                                        </div>
                                        <span style="margin-left: 33px;font-size: 12px;">Upfront Payment</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="card" (click)="setRadioValue1('Advance Payment')">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <input type="radio" formControlName="mode_type" [value]="'Advance Payment'" id="advance-payment-radio">
                                            <label for="advance-payment-radio" class="d_flex" style="margin-bottom: 0; margin-left: 15px;">Advance Payment</label>
                                        </div>
                                        <span style="margin-left: 33px;font-size: 12px;">Will be offset by upcoming bills</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="card" (click)="setRadioValue1('Against Bill')">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <input type="radio" formControlName="mode_type" [value]="'Against Bill'" id="against-bill-radio">
                                            <label for="against-bill-radio" class="d_flex" style="margin-bottom: 0; margin-left: 15px;">Against Bill</label>
                                        </div>
                                        <span style="margin-left: 33px;font-size: 12px;">Offset against Current Bills</span>
                                    </div>
                                </div>
                            </div>
                            <span class="text-danger" *ngIf="modeError">Select Mode Type</span>
                            <span class="text-danger" *ngIf="mode_type1 && mode_type1.invalid && mode_type1.touched">Select Mode Type</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Receipt Voucher Series</label>
                        <!-- <input type="text" formControlName="receipt_voucher_no" id="receipt_voucher_no"
                            [ngModel]="prefixNo" readonly
                            [ngClass]="{'is-invalid': g['receipt_voucher_no'].touched && g['receipt_voucher_no'].invalid}"> -->
                            <select formControlName="receipt_voucher_no">
                                <option value="" selected disabled>Select Receipt Voucher Series
                                </option>
                                <option value="{{prefix.id}}" *ngFor="let prefix of prefixNo">{{prefix.prefix}}</option>
                            </select>
                        <span class="text-danger"
                            *ngIf="receipt_voucher_no1 && receipt_voucher_no1.invalid && receipt_voucher_no1.touched">Enter
                            Receipt Voucher Series</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="number" formControlName="amount" placeholder="Enter Amount" id="amount"
                            [ngClass]="{'is-invalid': g['amount'].touched && g['amount'].invalid}">
                        <span class="text-danger" *ngIf="amount1 && amount1.invalid && amount1.touched">Enter Amount</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Payer*</label>
                        <mat-form-field class="w-100"
                            style="padding: 0; width: 100%; min-width: 100%;border-top: none;">
                            <input type="text" placeholder="Search Payer" aria-label="Payer" matInput
                                [formControl]="payerControl" [matAutocomplete]="Payerautobank"
                                style="box-sizing: border-box;"
                                [ngClass]="{'is-invalid': g['payer'].touched && g['payer'].invalid}">
                            <mat-autocomplete #Payerautobank="matAutocomplete">
                                <mat-option *ngFor="let customer of filteredPayer | async" [value]="customer.account_id"
                                    (onSelectionChange)="oncheckBank1(customer)" style="color:#FF9F43">{{
                                    customer.account_id }}</mat-option>
                                <ng-container *ngIf="(filteredPayer | async) as accounts">
                                    <mat-option *ngIf="accounts.length === 0" [value]="'No data found'">
                                        <a routerLink="//account/accountlist" style="color:#FF9F43">+ Add
                                            Account</a>
                                    </mat-option>
                                    <mat-option *ngIf="payerControl.value?.length < 3" class="is-loading">Please
                                        Enter 1 or more characters</mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                        <span class="text-danger" *ngIf="payer1 && payer1.invalid && payer1.touched">Select
                            Payer</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-4 col-12">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea formControlName="note" placeholder="Enter Description" [ngClass]="{'is-invalid': g['note'].touched && g['note'].invalid}"></textarea>
                        <span class="text-danger"
                            *ngIf="description1 && description1.invalid && description1.touched">Enter
                            Description</span>
                    </div>
                </div>

                <div class="card" *ngIf="isAgainstBillBank">
                    <div class="card-body">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table datanew">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th></th>
                                            <th>Sale Bill</th>
                                            <th>Original Amount</th>
                                            <th>Paid Amount</th>
                                            <th>Pending Amount</th>
                                            <th>Payment</th>
                                        </tr>
                                        <tr>
                                            <th colspan="3"> <span (click)="addCartBank()" class="debitIntoCart" *ngIf="isCartBank">Add Cart+</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container formArrayName="receipt_voucher_cart">
                                            <ng-container *ngFor="let d of getCartBank().controls; let i=index">
                                                <tr [formGroupName]="i">
                                                    <td>{{i+1+'.'}}</td>
                                                    <td>
                                                        <div>
                                                            <div class="me-2">
                                                                <svg (click)="removeCartBank(i)" style="color:red"
                                                                    xmlns="http://www.w3.org/2000/svg" width="16"
                                                                    height="16" fill="currentColor"
                                                                    class="bi bi-x-circle" viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                    <path
                                                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                                </svg>
                                                            </div>
                                                            <svg *ngIf="isLastCartBank(i)" (click)="addCartBank()"
                                                                style="color:green" xmlns="http://www.w3.org/2000/svg"
                                                                width="16" height="16" fill="currentColor"
                                                                class="bi bi-plus-circle" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                <path
                                                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                                            </svg>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom:-1%">
                                                            <mat-form-field class="w-100"
                                                                style="padding: 0; width: 100%; min-width: 100%; border-top: none;">
                                                                <input type="text" placeholder="Search saleBill"
                                                                    aria-label="Search saleBills" matInput
                                                                    [formControl]="myControls.at(i)"
                                                                    (input)="getFilter($event.target.value)"
                                                                    [matAutocomplete]="autosBankCart"
                                                                    style="box-sizing: border-box;" />
                                                                <mat-autocomplete #autosBankCart="matAutocomplete">
                                                                    <ng-container *ngFor="let option of filterSaleBill">
                                                                        <mat-option *ngIf="option?.is_active==true"
                                                                            [value]="option?.customer_bill_no"
                                                                            (onSelectionChange)="oncheckBank3(option,i)"
                                                                            style="color:#FF9F43">
                                                                            {{ option?.customer_bill_no}}
                                                                        </mat-option>
                                                                    </ng-container>
                                                                    <mat-option *ngIf="filterSaleBill?.length === 0"
                                                                        [value]="'No data found'">
                                                                        <a routerLink="//sales/addsalesbill"
                                                                            style="color:#FF9F43">+ Add Sale
                                                                            Bill</a>
                                                                    </mat-option>
                                                                    <mat-option *ngIf="myControls.at(i)?.value?.length < 1"
                                                                        class="is-loading">
                                                                        Please Enter 1 or more characters
                                                                    </mat-option>
                                                                </mat-autocomplete>
                                                            </mat-form-field>
                                                        </div>
                                                        <span class="text-danger" style="display: block;"
                                                            *ngIf="sale_bill1(i) && sale_bill1(i).invalid && sale_bill1(i).touched">Select Sale Bill</span>
                                                    </td>
                                                    <td>
                                                        <input type="number" formControlName="original_amount" class="input">
                                                        <span class="text-danger" style="display: block;" *ngIf="original_amount1(i) && original_amount1(i).invalid && original_amount1(i).touched">Enter Original Amount </span>
                                                    </td>
                                                    <td><input type="number" formControlName="paid_amount" class="input">
                                                        <span class="text-danger" style="display: block;" *ngIf="paid_amount1(i) && paid_amount1(i).invalid && paid_amount1(i).touched">Enter
                                                            Debit Paid Amount</span>
                                                    </td>
                                                    <td><input type="number" formControlName="pending_amount"
                                                            class="input">
                                                        <span class="text-danger" style="display: block;"
                                                            *ngIf="pending_amount1(i) && pending_amount1(i).invalid && pending_amount1(i).touched">Enter
                                                            Pending Amount</span>
                                                    </td>
                                                    <td><input type="number" formControlName="payment" class="input">
                                                        <span class="text-danger" style="display: block;"
                                                            *ngIf="payment1(i) && payment1(i).invalid && payment1(i).touched">Enter Payment</span>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button class="btn btn-submit me-2" *ngIf="!loaders">Submit</button>
                    <button class="btn btn-submit me-2" type="submit" *ngIf="loaders" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp; Submit</button>
                    <button routerLink="//transaction/recieptVoucherList" type="button" class="btn btn-cancel">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- </mat-tab>
</mat-tab-group> -->